Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

check-docs-and-schema:
  name: Check for outdated docs and Zarf schema
  entry: make test-docs-and-schema
  language: system
  pass_filenames: false

goimports:
  name: goimports
  entry: golangci-lint fmt
  language: golang
  pass_filenames: false

lint:
  name: golangci-lint go lint
  entry: golangci-lint run
  language: golang
  pass_filenames: false

Squash v1beta/schema-generation
  src/cmd/dev.go
  src/pkg/packager/generate_schema.go
  src/pkg/packager/generate_schema_test.go
  src/pkg/packager/load/component.go
  src/pkg/packager/packager.go
  src/pkg/packager/update.go
  src/pkg/packager/update_test.go
  src/test/e2e/14_zarf_package_generate_test.go
Due: check-docs-and-schema, goimports, lint

feat: implement zarf dev generate-schema for v1beta1 packages and component configs (#5442)
  src/cmd/dev.go
  src/pkg/packager/generate_schema.go
  src/pkg/packager/generate_schema_test.go
  src/pkg/packager/load/component.go
  src/pkg/packager/packager.go
  src/pkg/packager/update.go
  src/pkg/packager/update_test.go
  src/test/e2e/14_zarf_package_generate_test.go
Due: check-docs-and-schema, goimports, lint

fix: separate materialize helper
  src/pkg/archive/archive.go
  src/pkg/archive/archive_traversal_test.go
  src/pkg/helpers/files.go
  src/pkg/helpers/files_test.go
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/assemble/assemble_test.go
Due: goimports, lint

fix: revert removal of symlink test
  src/test/e2e/33_manifest_with_symlink_test.go
  src/test/packages/34-manifest-with-symlink/manifests/img/test.txt
  src/test/packages/34-manifest-with-symlink/manifests/resources/img
  src/test/packages/34-manifest-with-symlink/zarf.yaml
Due: goimports, lint

feat: support key retrieval for v1alpha1 sboms
  site/src/content/docs/commands/zarf_package_inspect_sbom.md
  src/cmd/package.go
  src/config/lang/english.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/layout/package_test.go
  src/pkg/packager/layout/sbom.go
  src/pkg/packager/layout/sbom_test.go
Due: check-docs-and-schema, goimports, lint

Squash v1beta1-e2e
  src/cmd/dev_upgrade.go
  src/internal/api/v1beta1/convert.go
  src/internal/git/fallback.go
  src/internal/git/repository.go
  src/internal/git/repository_test.go
  src/internal/packager/requirements/requirements.go
  src/internal/packager/requirements/requirements_test.go
  src/internal/pkgcfg/pkgcfg.go
  src/pkg/lint/schema.go
  src/pkg/lint/schema_test.go
  src/pkg/packager/actions/actions.go
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/assemble/assemble_test.go
  src/pkg/packager/deploy.go
  src/pkg/packager/deploy_test.go
  src/pkg/packager/load/import.go
  src/pkg/packager/load/import_v1beta1.go
  src/pkg/packager/load/import_v1beta1_test.go
  src/pkg/packager/load/load.go
  src/pkg/packager/load/load_test.go
  src/pkg/packager/remove.go
  src/test/e2e/52_v1beta1_deploy_test.go
  src/test/packages/00-dev-inspect-definition-v1beta1/zarf.yaml
  src/test/packages/52-v1beta1-deploy/README.md
  src/test/packages/52-v1beta1-deploy/chart-values.yaml
  src/test/packages/52-v1beta1-deploy/chart/Chart.yaml
  src/test/packages/52-v1beta1-deploy/chart/templates/configmap.yaml
  src/test/packages/52-v1beta1-deploy/chart/values.yaml
  src/test/packages/52-v1beta1-deploy/executable.txt
  src/test/packages/52-v1beta1-deploy/kustomize/configmap.yaml
  src/test/packages/52-v1beta1-deploy/kustomize/kustomization.yaml
  src/test/packages/52-v1beta1-deploy/manifest.yaml
  src/test/packages/52-v1beta1-deploy/optional.yaml
  src/test/packages/52-v1beta1-deploy/payload.txt
  src/test/packages/52-v1beta1-deploy/template.txt
  src/test/packages/52-v1beta1-deploy/values.schema.json
  src/test/packages/52-v1beta1-deploy/values.yaml
  src/test/packages/52-v1beta1-deploy/zarf.tpl.yaml
Due: check-docs-and-schema, goimports, lint

feat!: cleanup v1beta1 edge cases and add e2e test (#5443)
  src/cmd/dev_upgrade.go
  src/internal/api/v1beta1/convert.go
  src/internal/git/fallback.go
  src/internal/git/repository.go
  src/internal/git/repository_test.go
  src/internal/packager/requirements/requirements.go
  src/internal/packager/requirements/requirements_test.go
  src/internal/pkgcfg/pkgcfg.go
  src/pkg/lint/schema.go
  src/pkg/lint/schema_test.go
  src/pkg/packager/actions/actions.go
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/assemble/assemble_test.go
  src/pkg/packager/deploy.go
  src/pkg/packager/deploy_test.go
  src/pkg/packager/load/import.go
  src/pkg/packager/load/import_v1beta1.go
  src/pkg/packager/load/import_v1beta1_test.go
  src/pkg/packager/load/load.go
  src/pkg/packager/load/load_test.go
  src/pkg/packager/remove.go
  src/test/e2e/52_v1beta1_deploy_test.go
  src/test/packages/00-dev-inspect-definition-v1beta1/zarf.yaml
  src/test/packages/52-v1beta1-deploy/README.md
  src/test/packages/52-v1beta1-deploy/chart-values.yaml
  src/test/packages/52-v1beta1-deploy/chart/Chart.yaml
  src/test/packages/52-v1beta1-deploy/chart/templates/configmap.yaml
  src/test/packages/52-v1beta1-deploy/chart/values.yaml
  src/test/packages/52-v1beta1-deploy/executable.txt
  src/test/packages/52-v1beta1-deploy/kustomize/configmap.yaml
  src/test/packages/52-v1beta1-deploy/kustomize/kustomization.yaml
  src/test/packages/52-v1beta1-deploy/manifest.yaml
  src/test/packages/52-v1beta1-deploy/optional.yaml
  src/test/packages/52-v1beta1-deploy/payload.txt
  src/test/packages/52-v1beta1-deploy/template.txt
  src/test/packages/52-v1beta1-deploy/values.schema.json
  src/test/packages/52-v1beta1-deploy/values.yaml
  src/test/packages/52-v1beta1-deploy/zarf.tpl.yaml
Due: check-docs-and-schema, goimports, lint

component publish component layer
  src/pkg/component/publish.go
  src/pkg/component/publish_test.go
  src/pkg/packager/layout/oci.go
  src/pkg/packager/load/import_v1beta1.go
  src/pkg/packager/load/import_v1beta1_test.go
  src/pkg/packager/load/package.go
  src/test/e2e/15_component_publish_v1beta1_test.go
Due: goimports, lint

component publish layer
  src/pkg/packager/layout/oci.go
  src/pkg/packager/load/import_v1beta1.go
  src/pkg/packager/load/import_v1beta1_test.go
  src/pkg/packager/load/package.go
Due: goimports, lint

publish component
  src/pkg/component/publish.go
  src/pkg/component/publish_test.go
  src/pkg/packager/layout/oci.go
  src/pkg/packager/load/import_v1beta1.go
  src/pkg/packager/load/import_v1beta1_merge.go
  src/pkg/packager/load/import_v1beta1_test.go
  src/pkg/packager/load/package.go
  src/test/e2e/15_component_publish_v1beta1_test.go
Due: goimports, lint

layer
  src/pkg/component/publish.go
  src/pkg/component/publish_test.go
  src/pkg/packager/load/import_v1beta1.go
  src/pkg/packager/load/import_v1beta1_test.go
  src/pkg/packager/load/package.go
  src/test/e2e/15_component_publish_v1beta1_test.go
Due: goimports, lint

simplify
  src/pkg/component/publish.go
  src/pkg/component/publish_test.go
  src/pkg/packager/load/import_v1beta1.go
  src/pkg/packager/load/import_v1beta1_test.go
  src/pkg/packager/load/package.go
  src/test/e2e/15_component_publish_v1beta1_test.go
Due: goimports, lint

simplify
  src/pkg/component/publish.go
  src/pkg/packager/load/import_v1beta1.go
  src/pkg/packager/load/package.go
Due: goimports, lint

v1beta1 init config
  src/api/convert/convert_test.go
  src/api/v1beta1/package.go
  src/api/validation.go
  src/cmd/dev_template.go
  src/cmd/dev_template_test.go
  src/internal/api/v1alpha1/convert.go
  src/internal/api/v1beta1/convert.go
  src/internal/api/v1beta1/validate.go
  src/internal/api/v1beta1/validate_test.go
  src/pkg/packager/load/load_test.go
  src/pkg/packager/update.go
  src/pkg/schema/schema_test.go
  src/pkg/schema/zarf-v1beta1-package-schema.json
  src/pkg/schema/zarf.schema.json
  zarf.schema.json
Due: check-docs-and-schema, goimports, lint

image
  packages/v1beta1-init/README.md
  packages/v1beta1-init/agent/agent-state-values.yaml
  packages/v1beta1-init/registry/registry-state-values.yaml
  packages/v1beta1-init/registry/seed-registry-state-values.yaml
  site/src/content/docs/ref/package-values.mdx
  src/pkg/template/images.go
  src/pkg/template/images_test.go
  src/pkg/template/template.go
  src/test/e2e/16_init_v1beta1_test.go
Due: goimports, lint

fix version
  packages/zarf-agent/zarf.yaml
  packages/zarf-registry/zarf.yaml
Due: none

if statement
  Makefile
  packages/v1beta1-init/README.md
Due: none

dev time
  Makefile
  packages/v1beta1-init/.gitignore
  packages/v1beta1-init/README.md
  packages/v1beta1-init/agent/agent-state-values.yaml
  packages/v1beta1-init/agent/agent-values.yaml
  packages/v1beta1-init/agent/zarf.tpl.yaml
  packages/v1beta1-init/git-server/git-server-state-values.yaml
  packages/v1beta1-init/git-server/git-server-values.yaml
  packages/v1beta1-init/git-server/zarf.tpl.yaml
  packages/v1beta1-init/injector/zarf.tpl.yaml
  packages/v1beta1-init/k3s/k3s-values.yaml
  packages/v1beta1-init/k3s/k3s.service
  packages/v1beta1-init/k3s/zarf.tpl.yaml
  packages/v1beta1-init/registry/registry-base.tpl.yaml
  packages/v1beta1-init/registry/registry-common-state-values.yaml
  packages/v1beta1-init/registry/registry-configmap.yaml
  packages/v1beta1-init/registry/registry-state-values.yaml
  packages/v1beta1-init/registry/registry-values.yaml
  packages/v1beta1-init/registry/seed-registry-state-values.yaml
  packages/v1beta1-init/registry/seed-registry.tpl.yaml
  packages/v1beta1-init/registry/zarf.tpl.yaml
  packages/v1beta1-init/template-values.yaml
  packages/v1beta1-init/zarf.tpl.yaml
  src/cmd/internal.go
  src/test/e2e/16_init_v1beta1_test.go
  src/test/packages/16-init-v1beta1/values.yaml
Due: check-docs-and-schema, goimports, lint

v1beta1 init package
  packages/v1beta1-init/README.md
  packages/v1beta1-init/injector/amd64.tpl.yaml
  packages/v1beta1-init/injector/arm64.tpl.yaml
  packages/v1beta1-init/injector/zarf.tpl.yaml
  packages/v1beta1-init/k3s/amd64.tpl.yaml
  packages/v1beta1-init/k3s/arm64.tpl.yaml
  packages/v1beta1-init/k3s/common.tpl.yaml
  packages/v1beta1-init/k3s/zarf.tpl.yaml
  packages/v1beta1-init/zarf.tpl.yaml
  src/test/e2e/16_init_v1beta1_test.go
Due: goimports, lint

image reference
  packages/v1beta1-init/README.md
  packages/v1beta1-init/agent/agent-state-values.yaml
  packages/v1beta1-init/registry/registry-state-values.yaml
  packages/v1beta1-init/registry/seed-registry-state-values.yaml
  packages/zarf-agent/chart/Chart.yaml
  packages/zarf-agent/chart/templates/deployment.yaml
  packages/zarf-agent/chart/values.schema.json
  packages/zarf-agent/chart/values.yaml
  packages/zarf-agent/zarf.yaml
  packages/zarf-registry/chart/Chart.yaml
  packages/zarf-registry/chart/templates/_helpers.tpl
  packages/zarf-registry/chart/templates/deployment.yaml
  packages/zarf-registry/chart/templates/proxy-daemonset.yaml
  packages/zarf-registry/chart/values.schema.json
  packages/zarf-registry/chart/values.yaml
  packages/zarf-registry/zarf.yaml
  site/src/content/docs/ref/package-values.mdx
  src/pkg/template/images.go
  src/pkg/template/images_test.go
  src/pkg/template/template.go
  src/test/e2e/16_init_v1beta1_test.go
Due: goimports, lint

Path conditions:
  check-docs-and-schema: any of: ^src/(config|cmd)/ and \.go$
  goimports: any of: \.go$
  lint: any of: \.go$
