Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: check-merge-conflict
      - id: detect-aws-credentials
        args:
          - "--allow-missing-credentials"
      - id: detect-private-key
        exclude: "src/test/e2e/29_config_file_test.go"
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                src/internal/packager/images/testdata/.*|
                site/src/content/docs/commands/.*
            )$
      - id: fix-byte-order-marker
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
        exclude: site/src/content/docs/commands/.*
  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.4
    hooks:
      - id: fix-smartquotes
  - repo: local
    hooks:
      - id: check-docs-and-schema
        name: Check for outdated docs and Zarf schema
        entry: make test-docs-and-schema
        files: "^src/(config|cmd)/"
        types: [go]
        language: system
        pass_filenames: false
      - id: goimports
        name: goimports
        entry: golangci-lint fmt
        types: [go]
        language: golang
        pass_filenames: false
      - id: lint
        name: golangci-lint go lint
        entry: golangci-lint run
        types: [go]
        language: golang
        pass_filenames: false

filter argocd secrets
  src/internal/packager/helm/post-render.go
  src/internal/packager/helm/post-render_test.go
Due: goimports, lint

functional patterns
  src/pkg/cluster/zarf.go
  src/pkg/packager/deploy.go
  src/pkg/packager/load_test.go
  src/pkg/state/state.go
Due: goimports, lint

docs: update CONTRIBUTING to point to the correct slack channel (#4812)
  CONTRIBUTING.md
Due: none

fix(verify): deprecate PublicKeyPath in favor of VerifyBlobOptions (#4782)
  src/cmd/initialize.go
  src/cmd/package.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/layout/package_test.go
  src/pkg/packager/load.go
  src/pkg/packager/load_test.go
  src/pkg/packager/publish_test.go
  src/pkg/packager/pull.go
Due: check-docs-and-schema, goimports, lint

test exclude images
  src/pkg/packager/publish_test.go
  src/pkg/packager/pull.go
Due: goimports, lint

connected mode test
  src/test/e2e/47_connected_deploy_test.go
Due: goimports, lint

fix(init): validate agent tls on re-init
  src/cmd/initialize.go
Due: check-docs-and-schema, goimports, lint

Update src/cmd/zarf_tools.go
  src/cmd/zarf_tools.go
Due: check-docs-and-schema, goimports, lint

refactor(cluster): consolidate UpdateGiteaPVC into existence-based branches
  src/pkg/cluster/pvc.go
Due: goimports, lint

fix: moved validation logic for tools gen-key prior to any cosign logic
  src/cmd/zarf_tools.go
Due: check-docs-and-schema, goimports, lint

add new error type for uniquecomponentnames and add utils function to filter our error types from a joined error
  src/internal/api/v1alpha1/validate.go
  src/pkg/packager/lint_test.go
  src/pkg/packager/load/import_test.go
  src/pkg/packager/load/load.go
  src/pkg/packager/testdata/lint-with-imports/all-variants/zarf.yaml
  src/pkg/utils/error.go
  src/pkg/utils/error_test.go
Due: goimports, lint

feat(init): support for viper config agenttls
  src/cmd/initialize.go
  src/cmd/viper.go
Due: check-docs-and-schema, goimports, lint

add test to keep hook in sync
  src/internal/packager/helm/post-render_test.go
Due: goimports, lint

Apply suggestion from @AustinAbro321
  src/cmd/initialize.go
Due: check-docs-and-schema, goimports, lint

make docs-and-schema
  site/src/content/docs/commands/zarf_dev_lint.md
Due: none

fix(cache): support for default sdk cache path (#4765)
  src/pkg/packager/create.go
  src/pkg/packager/dev.go
  src/pkg/packager/find_images.go
  src/pkg/packager/inspect.go
  src/pkg/packager/lint.go
  src/pkg/packager/load.go
  src/pkg/packager/load/load.go
  src/pkg/packager/publish.go
  src/pkg/packager/pull.go
  src/pkg/utils/io.go
  src/pkg/utils/io_test.go
Due: goimports, lint

avoid extra field in state
  src/internal/packager/helm/post-render.go
  src/pkg/cluster/cluster.go
  src/pkg/packager/deploy.go
  src/pkg/packager/dev.go
  src/pkg/state/state.go
Due: goimports, lint

feat(tls): support for tls generation with duration (#4769)
  site/src/content/docs/commands/zarf_init.md
  site/src/content/docs/commands/zarf_tools_gen-pki.md
  site/src/content/docs/commands/zarf_tools_update-creds.md
  src/cmd/initialize.go
  src/cmd/viper.go
  src/cmd/zarf_tools.go
  src/pkg/cluster/cluster.go
  src/pkg/packager/deploy.go
  src/pkg/pki/pki.go
  src/pkg/pki/pki_test.go
  src/pkg/state/state.go
  src/pkg/state/state_test.go
Due: check-docs-and-schema, goimports, lint

feat(deploy)!: introduce connected mode (#4685)
  site/src/content/docs/commands/zarf_dev_deploy.md
  site/src/content/docs/commands/zarf_package_deploy.md
  src/cmd/dev.go
  src/cmd/package.go
  src/cmd/testdata/package-list/expected.json
  src/cmd/testdata/package-list/expected.yaml
  src/cmd/viper.go
  src/cmd/zarf_tools.go
  src/config/lang/english.go
  src/internal/packager/helm/chart.go
  src/internal/packager/helm/post-render.go
  src/internal/packager/helm/post-render_test.go
  src/pkg/packager/deploy.go
  src/pkg/packager/dev.go
  src/pkg/packager/load.go
  src/pkg/packager/publish_test.go
  src/pkg/packager/pull.go
  src/pkg/state/state.go
  src/test/e2e/47_connected_deploy_test.go
  src/test/e2e/99_appliance_remove_test.go
  src/test/e2e/99_yolo_test.go
  src/test/packages/47-connected-deploy/deployment.yaml
  src/test/packages/47-connected-deploy/zarf.yaml
Due: check-docs-and-schema, goimports, lint

remove 27.0 layout shim
  src/pkg/packager/deploy.go
Due: goimports, lint

parse generic api version
  src/internal/pkgcfg/pkgcfg.go
Due: goimports, lint

add unit tests
  src/internal/pkgcfg/pkgcfg.go
  src/internal/pkgcfg/pkgcfg_test.go
Due: goimports, lint

parse multi document files
  src/internal/pkgcfg/pkgcfg.go
  src/internal/pkgcfg/pkgcfg_test.go
Due: goimports, lint

separate built packages from zarf.yaml user fiels
  src/internal/pkgcfg/pkgcfg.go
  src/internal/pkgcfg/pkgcfg_test.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/load/import.go
  src/pkg/packager/load/import_test.go
  src/pkg/packager/load/load.go
Due: goimports, lint

remove warning
  src/internal/pkgcfg/pkgcfg.go
  src/internal/pkgcfg/pkgcfg_test.go
Due: goimports, lint

filter empty docs
  src/internal/pkgcfg/pkgcfg.go
Due: goimports, lint

add debug log
  src/internal/pkgcfg/pkgcfg.go
Due: goimports, lint

better naming
  src/internal/pkgcfg/pkgcfg.go
  src/internal/pkgcfg/pkgcfg_test.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/load/import.go
  src/pkg/packager/load/import_test.go
  src/pkg/packager/load/load.go
  src/pkg/zoci/fetch.go
Due: goimports, lint

parse
  src/internal/pkgcfg/pkgcfg.go
  src/internal/pkgcfg/pkgcfg_test.go
Due: goimports, lint

Apply suggestion from @brandtkeller
  src/cmd/zarf_tools_test.go
Due: check-docs-and-schema, goimports, lint

refactor(cluster pvc): consolidate branches, no lingering else
  src/pkg/cluster/pvc.go
Due: goimports, lint

fix!: remove 0.27.0 layout shim (#4826)
  src/pkg/packager/deploy.go
Due: goimports, lint

naming
  src/internal/pkgcfg/pkgcfg.go
  src/internal/pkgcfg/pkgcfg_test.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/load/import.go
  src/pkg/packager/load/import_test.go
  src/pkg/packager/load/load.go
  src/pkg/zoci/fetch.go
Due: goimports, lint

feat(init): adopt arbitrarily named gitea PVC (#4808)
  src/cmd/internal.go
  src/pkg/cluster/pvc.go
  src/pkg/cluster/pvc_test.go
Due: check-docs-and-schema, goimports, lint

better comment
  src/internal/pkgcfg/pkgcfg.go
Due: goimports, lint

Update src/internal/pkgcfg/pkgcfg.go
  src/internal/pkgcfg/pkgcfg.go
Due: goimports, lint

feat: add OCI support for Argo CD sources
  examples/argocd/baseline/values.yaml
  examples/argocd/oci-helm/values.yaml
  examples/argocd/oci-manifests/values.yaml
  examples/argocd/zarf.yaml
  packages/zarf-agent/chart/templates/webhook.yaml
  src/internal/agent/hooks/argocd-application.go
  src/internal/agent/hooks/argocd-application_test.go
  src/internal/agent/hooks/argocd-applicationset.go
  src/internal/agent/hooks/argocd-appproject.go
  src/internal/agent/hooks/argocd-appproject_test.go
  src/internal/agent/hooks/argocd-repository.go
  src/internal/agent/hooks/argocd-repository_test.go
  src/internal/agent/hooks/common.go
  src/internal/agent/hooks/flux-gitrepo.go
  src/internal/agent/hooks/flux-ocirepo.go
  src/test/e2e/22_git_and_gitops_test.go
  src/test/external/ext_in_cluster_test.go
  src/test/external/ext_out_cluster_test.go
Due: goimports, lint

test: add unit tests for shouldMutateURL function and improve documentation
  src/internal/agent/hooks/argocd-application.go
  src/internal/agent/hooks/argocd-application_test.go
  src/internal/agent/hooks/argocd-repository.go
Due: goimports, lint

feat(verfication): trusted root fetch command
  go.mod
  src/cmd/tools.go
  src/cmd/tools_trustedroot.go
  src/config/lang/english.go
  src/test/e2e/00_use_cli_test.go
Due: check-docs-and-schema, goimports, lint
