Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

check-docs-and-schema:
  name: Check for outdated docs and Zarf schema
  entry: make test-docs-and-schema
  language: system
  pass_filenames: false

goimports:
  name: goimports
  entry: golangci-lint fmt
  language: golang
  pass_filenames: false

lint:
  name: golangci-lint go lint
  entry: golangci-lint run
  language: golang
  pass_filenames: false

change init test
  packages/distros/k3s/zarf.yaml
  src/test/e2e/20_zarf_init_test.go
  src/test/packages/20-mismatched-arch-init/zarf.yaml
Due: goimports, lint

fix unpack to handle indexes
  src/pkg/images/unpack.go
  src/pkg/images/unpack_test.go
Due: goimports, lint

fix nested arch
  src/pkg/images/pull.go
  src/pkg/images/pull_test.go
  src/pkg/images/unpack.go
Due: goimports, lint

fix: ensure namespace override state has correct charts
  src/pkg/cluster/zarf_test.go
  src/pkg/packager/deploy.go
  src/test/e2e/40_namespace_override_test.go
Due: goimports, lint

include variants by default
  src/pkg/images/pull.go
  src/pkg/images/pull_test.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/layout/package_test.go
Due: goimports, lint

build architecture
  src/api/v1alpha1/package.go
  src/api/v1alpha1/package_test.go
  src/internal/api/v1alpha1/validate.go
  src/internal/api/v1alpha1/validate_test.go
Due: goimports, lint

sort architecture
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/layout/assemble_test.go
Due: goimports, lint

chore: pr feedback
  src/test/e2e/40_namespace_override_test.go
Due: goimports, lint

add and replace test
  src/test/e2e/00_use_cli_test.go
  src/test/e2e/20_zarf_init_test.go
  src/test/packages/00-mismatched-arch/zarf.yaml
Due: goimports, lint

multiple architectures in public API
  src/api/v1alpha1/package.go
  src/api/v1alpha1/package_test.go
  src/cmd/initialize.go
  src/cmd/package.go
  src/cmd/zarf_tools.go
  src/config/config.go
  src/config/lang/english.go
  src/internal/api/v1alpha1/validate.go
  src/pkg/packager/create.go
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/load.go
  src/pkg/packager/load/import.go
  src/pkg/packager/load/load.go
  src/pkg/packager/packager.go
  src/pkg/packager/publish.go
  src/pkg/packager/publish_test.go
  src/pkg/packager/pull.go
Due: check-docs-and-schema, goimports, lint

fixmes
  src/pkg/packager/layout/package.go
  src/test/e2e/48_multi_arch_test.go
Due: goimports, lint

config test
  src/config/config_test.go
Due: check-docs-and-schema, goimports, lint

fix: imports
  src/test/e2e/40_namespace_override_test.go
Due: goimports, lint

fixes
  src/config/lang/english.go
  src/pkg/packager/layout/assemble.go
  src/pkg/schema/zarf-v1alpha1-schema.json
  zarf.schema.json
Due: check-docs-and-schema, goimports, lint

more sensible package architectures
  src/api/v1alpha1/package.go
  src/api/v1alpha1/package_test.go
  src/pkg/packager/deploy.go
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/layout/package.go
Due: goimports, lint

fix(create): block skeleton imports with values
  src/pkg/packager/layout/assemble.go
Due: goimports, lint

return error properly
  src/pkg/images/common.go
Due: goimports, lint

fix test
  src/pkg/packager/layout/assemble_test.go
Due: goimports, lint

change architecture functions
  src/cmd/initialize.go
  src/cmd/package.go
  src/cmd/utils.go
  src/cmd/zarf_tools.go
  src/config/config.go
  src/config/config_test.go
  src/internal/api/v1alpha1/validate.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/load/import.go
  src/pkg/packager/packager.go
  src/pkg/packager/publish.go
  src/pkg/packager/publish_test.go
Due: check-docs-and-schema, goimports, lint

fix(skeleton) block import of skeleton component with values
  src/pkg/packager/load/import.go
Due: goimports, lint

chore(deps): bump init package and testing distribution version
  src/test/external/docker-registry-values.yaml
  zarf-config.toml
Due: none

shared template
  packages/init-v1beta1/zarf.tpl.yaml
Due: none

improve oci testing
  go.mod
  src/pkg/images/pull_test.go
  src/pkg/zoci/pull_test.go
  src/test/testutil/ociregistry.go
  src/test/testutil/registry.go
Due: goimports, lint

improve oci testing
  src/pkg/images/pull_test.go
  src/pkg/zoci/pull_test.go
  src/pkg/zoci/push_package_test.go
  src/test/testutil/registry.go
Due: goimports, lint

improve oci testing
  src/internal/agent/hooks/common_test.go
  src/internal/agent/hooks/flux-ocirepo_test.go
  src/pkg/images/push_test.go
  src/pkg/packager/publish_test.go
Due: goimports, lint

better naming
  src/internal/agent/hooks/common_test.go
  src/internal/agent/hooks/flux-ocirepo_test.go
Due: goimports, lint

remove testadata
  src/pkg/zoci/testdata/basic/README.md
  src/pkg/zoci/testdata/basic/pod.yaml
  src/pkg/zoci/testdata/basic/zarf.yaml
Due: none

inner looop assignment no longer needed
  src/internal/agent/hooks/argocd-applicationset_test.go
  src/pkg/images/pull_test.go
  src/test/testutil/ociregistry.go
Due: goimports, lint

WIP
  src/pkg/feature/feature.go
  src/pkg/images/common.go
  src/pkg/images/pull.go
  src/pkg/images/pull_test.go
  src/pkg/images/push.go
  src/pkg/images/push_test.go
  src/pkg/images/unpack.go
  src/pkg/images/unpack_test.go
  src/pkg/packager/deploy.go
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/layout/sbom.go
  src/pkg/packager/mirror.go
  src/test/e2e/48_multi_platform_image_test.go
  src/test/packages/48-multi-platform-image/pod.yaml
  src/test/packages/48-multi-platform-image/zarf.yaml
Due: goimports, lint

feat(inspect): evaluate schema during package inspect
  src/pkg/packager/inspect.go
Due: goimports, lint

fix(definition): validate path is not a built package for dev / create commands
  src/cmd/cmd.go
  src/cmd/cmd_test.go
  src/cmd/dev.go
  src/cmd/package.go
Due: check-docs-and-schema, goimports, lint

path->paths
  packages/init-v1beta1/import/zarf.yaml
  packages/init-v1beta1/k3s/k3s-amd64.yaml
  packages/init-v1beta1/k3s/k3s-arm64.yaml
  packages/init-v1beta1/k3s/k3s-common.yaml
  packages/init-v1beta1/k3s/k3s.yaml
  packages/init-v1beta1/zarf.tpl.yaml
Due: none

fix(inspect): update per review feedback
  src/cmd/cmd.go
  src/cmd/common.go
  src/cmd/dev.go
  src/cmd/package.go
  src/pkg/packager/inspect.go
Due: check-docs-and-schema, goimports, lint

fix pull and improve testing
  src/pkg/zoci/pull.go
  src/pkg/zoci/pull_test.go
Due: goimports, lint

remove feature flag
  src/pkg/feature/feature.go
  src/pkg/images/pull.go
  src/pkg/images/pull_test.go
  src/pkg/packager/layout/assemble.go
  src/pkg/zoci/pull_test.go
  src/test/e2e/48_multi_platform_image_test.go
  src/test/packages/48-multi-platform-image/zarf.yaml
Due: goimports, lint

record package metadata
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/layout/assemble_test.go
Due: goimports, lint

check for image index
  src/pkg/packager/deploy.go
  src/pkg/packager/layout/package.go
Due: goimports, lint

isIndex
  src/pkg/images/pull.go
Due: goimports, lint

display platforms
  src/pkg/images/pull.go
Due: goimports, lint

Path conditions:
  check-docs-and-schema: any of: ^src/(config|cmd)/ and \.go$
  goimports: any of: \.go$
  lint: any of: \.go$
