Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

check-docs-and-schema:
  name: Check for outdated docs and Zarf schema
  entry: make test-docs-and-schema
  language: system
  pass_filenames: false

goimports:
  name: goimports
  entry: golangci-lint fmt
  language: golang
  pass_filenames: false

lint:
  name: golangci-lint go lint
  entry: golangci-lint run
  language: golang
  pass_filenames: false

add todo notes for myself, add WRN if APPLIANCE_MODE set on macOS or if cluster not found
  site/src/content/docs/contribute/testing.mdx
  src/test/e2e/20_zarf_init_test.go
  src/test/e2e/main_test.go
Due: goimports, lint

comment out 20 test addition
  src/test/e2e/20_zarf_init_test.go
Due: goimports, lint

add verify local env section
  site/src/content/docs/contribute/testing.mdx
Due: none

remove custom logger
  site/src/content/docs/contribute/testing.mdx
  src/test/e2e/main_test.go
Due: goimports, lint

feat: address comments from pr
  src/pkg/images/pull.go
  src/pkg/packager/assemble/sbom.go
Due: goimports, lint

restore chnages from 4598-lint-without-flavor
  site/src/content/docs/commands/zarf_dev_lint.md
  src/cmd/dev.go
  src/config/lang/english.go
  src/internal/api/v1alpha1/validate.go
  src/internal/api/v1alpha1/validate_test.go
  src/pkg/packager/generate.go
  src/pkg/packager/lint.go
  src/pkg/packager/lint_test.go
  src/pkg/packager/load/import.go
  src/pkg/packager/load/import_test.go
  src/pkg/packager/load/load.go
  src/pkg/packager/load/load_test.go
  src/pkg/packager/load/testdata/import/all-variants/child/zarf.yaml
  src/pkg/packager/load/testdata/import/all-variants/expected.yaml
  src/pkg/packager/load/testdata/import/all-variants/zarf.yaml
  src/pkg/packager/load/testdata/package-without-flavors/zarf.yaml
  src/pkg/packager/testdata/lint-with-imports/all-variants/linted-import/zarf.yaml
  src/pkg/packager/testdata/lint-with-imports/all-variants/zarf.yaml
Due: check-docs-and-schema, goimports, lint

chore: update gitea chart to `12.7.0`
  packages/gitea/gitea-values.yaml
  packages/gitea/zarf.yaml
  src/test/e2e/06_create_sbom_test.go
  zarf-config.toml
Due: goimports, lint

feat: add oci pull retries for packages
  site/src/content/docs/commands/zarf_package_pull.md
  site/src/content/docs/commands/zarf_tools_download-init.md
  src/cmd/initialize.go
  src/cmd/package.go
  src/cmd/zarf_tools.go
  src/config/lang/english.go
  src/pkg/packager/load.go
  src/pkg/packager/pull.go
  src/pkg/utils/network.go
  src/pkg/zoci/common.go
  src/pkg/zoci/pull_retry.go
  src/pkg/zoci/pull_retry_test.go
Due: check-docs-and-schema, goimports, lint

test: fix typos in image discovery fixtures and test text (#4945)
  src/internal/api/v1alpha1/validate.go
  src/internal/api/v1alpha1/validate_test.go
  src/pkg/packager/publish_test.go
  src/pkg/packager/testdata/find-images/image-archives/deployment.yaml
  src/pkg/packager/testdata/find-images/multiple-image-archives/deployment-scratch-other.yaml
  src/pkg/packager/testdata/find-images/multiple-image-archives/deployment.yaml
  src/pkg/packager/testdata/find-images/valid-image-uri/deployment.yaml
Due: goimports, lint

feat: add index and count to deploy (#4170)
  src/pkg/images/pull.go
  src/pkg/images/push.go
  src/pkg/packager/assemble/sbom.go
Due: goimports, lint

fix: introduce more randomization in the fuzzers
  src/internal/api/v1alpha1/roundtrip_test.go
  src/internal/api/v1beta1/roundtrip_test.go
  src/test/testutil/fuzz.go
Due: goimports, lint

chore: update gitea chart to `12.7.0` (#5302)
  packages/gitea/gitea-values.yaml
  packages/gitea/zarf.yaml
  src/test/e2e/06_create_sbom_test.go
  zarf-config.toml
Due: goimports, lint

feat: reject extra arguments to destroy
  src/cmd/destroy.go
  src/cmd/destroy_test.go
Due: check-docs-and-schema, goimports, lint

feat: support listing a deployed package by name
  site/src/content/docs/commands/zarf_package.md
  site/src/content/docs/commands/zarf_package_list.md
  src/cmd/package.go
  src/cmd/package_test.go
  src/config/lang/english.go
Due: check-docs-and-schema, goimports, lint

docs: add S3-backed registry example to init package HA docs
  site/src/content/docs/ref/init-package.mdx
Due: none

fix: support random registry pod selection
  src/pkg/cluster/tunnel.go
  src/pkg/cluster/tunnel_test.go
Due: goimports, lint

feat: reject extra arguments to destroy (#5311)
  src/cmd/destroy.go
  src/cmd/destroy_test.go
Due: check-docs-and-schema, goimports, lint

fix: deduplicate logic and always random
  src/pkg/cluster/tunnel.go
  src/pkg/cluster/tunnel_test.go
Due: goimports, lint

feat(cluster): support random registry pod selection (#5317)
  src/pkg/cluster/tunnel.go
  src/pkg/cluster/tunnel_test.go
Due: goimports, lint

docs: rework S3 registry example per review
  site/src/content/docs/ref/init-package.mdx
Due: none

feat: auto-detect terminal color support
  go.mod
  src/cmd/color.go
  src/cmd/color_test.go
  src/cmd/root.go
Due: check-docs-and-schema, goimports, lint

chore(deps): bump golang.org/x/crypto from 0.55.0 to 0.56.0
  go.mod
  go.sum
  vendor/golang.org/x/crypto/acme/jws.go
  vendor/golang.org/x/crypto/ssh/certs.go
  vendor/golang.org/x/crypto/ssh/channel.go
  vendor/golang.org/x/crypto/ssh/knownhosts/knownhosts.go
  vendor/golang.org/x/crypto/ssh/transport.go
  vendor/modules.txt
Due: goimports, lint

feat: make function name cleaner
  src/cmd/cobra/root.go
  src/cmd/root.go
Due: check-docs-and-schema, goimports, lint

feat: move files
  src/cmd/completion/dev.go
  src/cmd/completion/root.go
Due: check-docs-and-schema, goimports, lint

fix(image-volume): correct symlink handling and non-reproducible digests
  examples/image-volume-archive/readme.md
  examples/image-volume-archive/zarf.yaml
  site/src/content/docs/commands/zarf_dev_image-volume-archive.md
  src/cmd/completion/completion_test.go
  src/cmd/completion/dev.go
  src/cmd/completion/root.go
  src/cmd/dev/iva.go
  src/cmd/dev/iva_test.go
  src/cmd/dev/zarf.yaml
  src/cmd/root.go
  src/config/lang/english.go
  src/pkg/zoci/archive/helper.go
  src/pkg/zoci/archive/store.go
  src/pkg/zoci/image/platform.go
  src/pkg/zoci/image/time.go
  src/pkg/zoci/image/volume.go
  src/pkg/zoci/image/volume_test.go
Due: check-docs-and-schema, goimports, lint

feat: remove riscv as it is not offical
  src/cmd/completion/completion_test.go
  src/cmd/completion/root.go
Due: check-docs-and-schema, goimports, lint

feat: introduce src/pkg/oci and src/pkg/helpers
  src/pkg/helpers/files.go
  src/pkg/helpers/files_test.go
  src/pkg/helpers/misc.go
  src/pkg/helpers/misc_test.go
  src/pkg/helpers/url.go
  src/pkg/helpers/url_test.go
  src/pkg/oci/cache/cache.go
  src/pkg/oci/common.go
  src/pkg/oci/fetch.go
  src/pkg/oci/manifest.go
  src/pkg/oci/pull.go
  src/pkg/oci/push.go
  src/pkg/oci/utils.go
Due: goimports, lint

chore(deps): drop github.com/defenseunicorns/pkg
  go.mod
  go.sum
  vendor/github.com/defenseunicorns/pkg/helpers/v2/LICENSE
  vendor/github.com/defenseunicorns/pkg/helpers/v2/files.go
  vendor/github.com/defenseunicorns/pkg/helpers/v2/hash.go
  vendor/github.com/defenseunicorns/pkg/helpers/v2/io.go
  vendor/github.com/defenseunicorns/pkg/helpers/v2/misc.go
  vendor/github.com/defenseunicorns/pkg/helpers/v2/progress.go
  vendor/github.com/defenseunicorns/pkg/helpers/v2/random.go
  vendor/github.com/defenseunicorns/pkg/helpers/v2/slice.go
  vendor/github.com/defenseunicorns/pkg/helpers/v2/text.go
  vendor/github.com/defenseunicorns/pkg/helpers/v2/transport.go
  vendor/github.com/defenseunicorns/pkg/helpers/v2/url.go
  vendor/github.com/defenseunicorns/pkg/oci/LICENSE
  vendor/github.com/defenseunicorns/pkg/oci/cache/cache.go
  vendor/github.com/defenseunicorns/pkg/oci/common.go
  vendor/github.com/defenseunicorns/pkg/oci/copier.go
  vendor/github.com/defenseunicorns/pkg/oci/fetch.go
  vendor/github.com/defenseunicorns/pkg/oci/manifest.go
  vendor/github.com/defenseunicorns/pkg/oci/progress.go
  vendor/github.com/defenseunicorns/pkg/oci/pull.go
  vendor/github.com/defenseunicorns/pkg/oci/push.go
  vendor/github.com/defenseunicorns/pkg/oci/utils.go
  vendor/modules.txt
Due: goimports, lint

chore: replace functions with golang built-ins
  src/cmd/internal.go
  src/internal/api/v1alpha1/validate_test.go
  src/internal/git/repository_test.go
  src/pkg/packager/dev_test.go
  src/pkg/packager/filters/deploy_test.go
  src/pkg/packager/generate.go
  src/pkg/transform/artifact.go
  src/pkg/transform/git.go
  src/pkg/transform/image.go
  src/pkg/zoci/pull.go
Due: check-docs-and-schema, goimports, lint

chore(deps): bump golang.org/x/crypto from 0.55.0 to 0.56.0 (#5322)
  go.mod
  go.sum
  vendor/golang.org/x/crypto/acme/jws.go
  vendor/golang.org/x/crypto/ssh/certs.go
  vendor/golang.org/x/crypto/ssh/channel.go
  vendor/golang.org/x/crypto/ssh/knownhosts/knownhosts.go
  vendor/golang.org/x/crypto/ssh/transport.go
  vendor/modules.txt
Due: goimports, lint

use services
  src/cmd/zarf_tools_test.go
  src/internal/packager/helm/zarf.go
  src/pkg/state/state.go
Due: check-docs-and-schema, goimports, lint

fix(image-volume): guard FIFO tests behind a unix build tag
  src/pkg/zoci/image/volume_test.go
  src/pkg/zoci/image/volume_unix_test.go
Due: goimports, lint

chore: address PR feedback
  src/pkg/packager/load.go
  src/pkg/packager/testdata/load-package/compressed/zarf-package-test-amd64-0.0.1.tar.zst
  src/pkg/utils/network.go
  src/pkg/zoci/pull_retry.go
  src/pkg/zoci/pull_retry_test.go
Due: goimports, lint

fix: restore deleted test fixture
  src/pkg/packager/testdata/load-package/compressed/zarf-package-test-amd64-0.0.1.tar.zst
Due: none

chore: bump grype version
  .github/workflows/nightly-scan-cve.yml
Due: none

conslidate into one type
  src/internal/packager/execution/execution.go
Due: goimports, lint

fix: update yaml parsing to resolve failing test
  src/pkg/utils/yaml.go
  src/pkg/utils/yaml_test.go
Due: goimports, lint

chore: update docs
  site/src/content/docs/commands/zarf_tools_kubectl.md
Due: none

fix: remove destroy parallel to fix race
  src/cmd/destroy_test.go
Due: check-docs-and-schema, goimports, lint

Path conditions:
  check-docs-and-schema: any of: ^src/(config|cmd)/ and \.go$
  goimports: any of: \.go$
  lint: any of: \.go$
