Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

check-docs-and-schema:
  name: Check for outdated docs and Zarf schema
  entry: make test-docs-and-schema
  language: system
  pass_filenames: false

goimports:
  name: goimports
  entry: golangci-lint fmt
  language: golang
  pass_filenames: false

lint:
  name: golangci-lint go lint
  entry: golangci-lint run
  language: golang
  pass_filenames: false

fix: ensure zarf dev generate-schema includes accurate values for imported components
  src/cmd/dev.go
  src/test/e2e/14_zarf_package_generate_test.go
  src/test/packages/14-generate-schema/common/values.yaml
  src/test/packages/14-generate-schema/common/zarf.yaml
Due: check-docs-and-schema, goimports, lint

fix(injection): support retry for toomanyrequests
  src/pkg/cluster/injector.go
  src/pkg/cluster/injector_retry_test.go
Due: goimports, lint

fix: ensure tmpls are filled
  src/cmd/dev.go
Due: check-docs-and-schema, goimports, lint

fix: revert non-configmap retries to reduce scope
  src/pkg/cluster/injector.go
  src/pkg/cluster/injector_retry_test.go
Due: goimports, lint

fix: minimal warn log on retry for observability
  src/pkg/cluster/injector.go
Due: goimports, lint

fix: reduce scope to deletion
  src/pkg/cluster/injector.go
  src/pkg/cluster/injector_retry_test.go
Due: goimports, lint

fix: remove and adjust tests
  src/pkg/cluster/injector_retry_test.go
Due: goimports, lint

fix(injection): support retry for toomanyrequests (#5095)
  src/pkg/cluster/injector.go
  src/pkg/cluster/injector_retry_test.go
Due: goimports, lint

WIP
  site/src/content/docs/commands/zarf_tools.md
  site/src/content/docs/commands/zarf_tools_update-creds.md
  site/src/content/docs/commands/zarf_tools_update-creds_agent.md
  site/src/content/docs/commands/zarf_tools_update-creds_git.md
  site/src/content/docs/commands/zarf_tools_update-creds_registry.md
  src/cmd/zarf_tools.go
  src/config/lang/english.go
  src/test/e2e/21_connect_creds_test.go
Due: check-docs-and-schema, goimports, lint

fix: cache root manifest and descriptor for remote
  src/pkg/zoci/common.go
  src/pkg/zoci/fetch.go
  src/pkg/zoci/pull_test.go
Due: goimports, lint

fix: ensure package and descriptor from same OCI manifest
  src/pkg/packager/pull.go
Due: goimports, lint

fix: use one remote for oci import
  src/pkg/packager/load/import.go
Due: goimports, lint

update
  src/test/e2e/21_connect_creds_test.go
Due: goimports, lint

fix cli parsing
  src/cmd/dev.go
  src/cmd/dev_test.go
  src/cmd/testdata/inspect-values-files/chart-with-values/expected-baked.yaml
  src/pkg/value/value.go
  src/pkg/value/value_test.go
  src/test/e2e/42_values_test.go
Due: check-docs-and-schema, goimports, lint

simplify test
  src/cmd/dev_test.go
  src/test/e2e/42_values_test.go
Due: check-docs-and-schema, goimports, lint

change name
  src/cmd/dev.go
  src/pkg/value/value.go
  src/pkg/value/value_test.go
Due: check-docs-and-schema, goimports, lint

helm like values
  site/src/content/docs/commands/zarf_dev_find-images.md
  site/src/content/docs/commands/zarf_dev_inspect_manifests.md
  site/src/content/docs/commands/zarf_dev_inspect_values-files.md
  site/src/content/docs/commands/zarf_package_deploy.md
  site/src/content/docs/commands/zarf_package_inspect_manifests.md
  site/src/content/docs/commands/zarf_package_inspect_values-files.md
  site/src/content/docs/commands/zarf_package_remove.md
  site/src/content/docs/ref/package-values.mdx
  src/cmd/common.go
  src/cmd/dev.go
  src/cmd/dev_test.go
  src/cmd/package.go
  src/cmd/package_test.go
  src/config/lang/english.go
  src/pkg/value/value.go
  src/pkg/value/value_test.go
Due: check-docs-and-schema, goimports, lint

add back precedence
  src/cmd/dev.go
  src/cmd/package.go
Due: check-docs-and-schema, goimports, lint

accept leading dot
  src/pkg/value/value.go
  src/pkg/value/value_test.go
  src/test/e2e/42_values_test.go
Due: goimports, lint

test
  src/pkg/value/value_test.go
Due: goimports, lint

docs
  site/src/content/docs/ref/package-values.mdx
Due: none

floats
  site/src/content/docs/ref/package-values.mdx
Due: none

list element type inference
  src/pkg/value/value_test.go
Due: goimports, lint

fix remove
  src/cmd/dev_test.go
  src/cmd/package.go
Due: check-docs-and-schema, goimports, lint

allow leading dot
  src/pkg/value/value.go
  src/pkg/value/value_test.go
Due: goimports, lint

chore(docs): add keyless signing documentation
  site/src/content/docs/ref/package-signing.mdx
  site/src/content/docs/tutorials/5-package-signing-and-verification.mdx
Due: none

chore(docs): use pre-existing issue for tracking
  site/src/content/docs/ref/package-signing.mdx
Due: none

chore(docs): add guidance for keyless signed package verification
  site/src/content/docs/ref/package-signing.mdx
Due: none

fix: updated language in the ref docs
  site/src/content/docs/ref/package-signing.mdx
Due: none

fix:tutorial language updates
  site/src/content/docs/tutorials/5-package-signing-and-verification.mdx
Due: none

fix: update surpressed findings via VEX
  .vex/zarf.cli.openvex.json
Due: none

switch to a custom approach
  site/src/content/docs/commands/zarf_dev_find-images.md
  site/src/content/docs/commands/zarf_dev_inspect_manifests.md
  site/src/content/docs/commands/zarf_dev_inspect_values-files.md
  site/src/content/docs/commands/zarf_package_deploy.md
  site/src/content/docs/commands/zarf_package_inspect_manifests.md
  site/src/content/docs/commands/zarf_package_inspect_values-files.md
  site/src/content/docs/commands/zarf_package_remove.md
  site/src/content/docs/ref/package-values.mdx
  src/cmd/common.go
  src/cmd/dev.go
  src/cmd/dev_test.go
  src/cmd/package.go
  src/cmd/package_test.go
  src/config/lang/english.go
  src/pkg/value/value.go
  src/pkg/value/value_test.go
Due: check-docs-and-schema, goimports, lint

turn off import test
  .github/workflows/test-import.yaml
Due: none

ci: remove import test (#5105)
  .github/workflows/test-import.yaml
Due: none

remove null and make the text shorter
  site/src/content/docs/commands/zarf_dev_find-images.md
  site/src/content/docs/commands/zarf_dev_inspect_manifests.md
  site/src/content/docs/commands/zarf_dev_inspect_values-files.md
  site/src/content/docs/commands/zarf_package_deploy.md
  site/src/content/docs/commands/zarf_package_inspect_manifests.md
  site/src/content/docs/commands/zarf_package_inspect_values-files.md
  site/src/content/docs/commands/zarf_package_remove.md
  site/src/content/docs/ref/package-values.mdx
  src/config/lang/english.go
  src/pkg/value/value.go
  src/pkg/value/value_test.go
Due: check-docs-and-schema, goimports, lint

add back to cobra docs
  src/cmd/dev.go
  src/cmd/package.go
Due: check-docs-and-schema, goimports, lint

comments
  src/cmd/dev.go
  src/cmd/package.go
Due: check-docs-and-schema, goimports, lint

fix: remove uneccessary information
  site/src/content/docs/ref/package-signing.mdx
  site/src/content/docs/tutorials/5-package-signing-and-verification.mdx
Due: none

Path conditions:
  check-docs-and-schema: any of: ^src/(config|cmd)/ and \.go$
  goimports: any of: \.go$
  lint: any of: \.go$
