Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

check-docs-and-schema:
  name: Check for outdated docs and Zarf schema
  entry: make test-docs-and-schema
  language: system
  pass_filenames: false

goimports:
  name: goimports
  entry: golangci-lint fmt
  language: golang
  pass_filenames: false

lint:
  name: golangci-lint go lint
  entry: golangci-lint run
  language: golang
  pass_filenames: false

fix moar moar moar
  src/pkg/packager/load/testdata/package-with-invalid-values/zarf.yaml
Due: none

fix moar moar moar moar
  src/cmd/testdata/inspect-manifests/manifest-with-package-values/zarf.yaml
  src/cmd/testdata/inspect-values-files/chart-remote/zarf.yaml
Due: none

fix moar moar moar moar moar
  src/internal/value/value_test.go
Due: goimports, lint

fix moar moar moar moar moar moar
  src/test/packages/42-values/schema-deploy-invalid/zarf.yaml
  src/test/packages/42-values/schema-invalid/zarf.yaml
  src/test/packages/42-values/schema-valid/zarf.yaml
Due: none

fix!: allow values files from any directory on Zarf package create (#4403)
  examples/values-templating/zarf.yaml
  src/cmd/testdata/inspect-manifests/manifest-with-package-values/zarf.yaml
  src/cmd/testdata/inspect-values-files/chart-remote/zarf.yaml
  src/internal/value/value.go
  src/internal/value/value_test.go
  src/pkg/packager/deploy.go
  src/pkg/packager/inspect.go
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/layout/layout.go
  src/pkg/packager/load/load.go
  src/pkg/packager/load/testdata/package-with-invalid-values/zarf.yaml
  src/pkg/packager/load/testdata/package-with-values-schema/zarf.yaml
  src/pkg/packager/testdata/inspect/manifest-with-package-values/zarf.yaml
  src/test/packages/42-values/schema-deploy-invalid/zarf.yaml
  src/test/packages/42-values/schema-invalid/zarf.yaml
  src/test/packages/42-values/schema-valid/zarf.yaml
  src/test/packages/42-values/zarf.yaml
Due: goimports, lint

write values.schema.json to a fixed location and load from there on deploy
  src/internal/value/value.go
  src/pkg/packager/deploy.go
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/load/load.go
Due: goimports, lint

make linter happy w/ doccomment on public fn
  src/internal/value/value.go
Due: goimports, lint

move schema dest filename to layout pkg
  src/pkg/packager/deploy.go
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/layout/layout.go
Due: goimports, lint

remove unused ref
  src/internal/value/value.go
Due: goimports, lint

fix formatting
  src/pkg/packager/layout/layout.go
Due: goimports, lint

remove unused var calculation
  src/pkg/packager/layout/assemble.go
Due: goimports, lint

fix(values): write and read values.schema.json from a fixed location (#4441)
  src/pkg/packager/deploy.go
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/layout/layout.go
  src/pkg/packager/load/load.go
Due: goimports, lint

add logs to k3s run
  .github/workflows/test-e2e.yml
  src/cmd/testdata/inspect-values-files/chart-remote/zarf.yaml
  src/internal/healthchecks/healthchecks.go
  src/internal/healthchecks/healthchecks_test.go
Due: goimports, lint

fix ignore
  .gitignore
  src/cmd/testdata/inspect-values-files/chart-remote/zarf.yaml
Due: none

add back to gitignore
  .gitignore
Due: none

run on failure
  .github/workflows/test-e2e.yml
Due: none

chore: ignore inspect values file (#4444)
  src/cmd/testdata/inspect-values-files/chart-remote/zarf.yaml
Due: none

feat: add support for Argo CD ApplicationSets
  packages/zarf-agent/chart/templates/webhook.yaml
  src/internal/agent/hooks/argocd-applicationset.go
  src/internal/agent/hooks/argocd-applicationset_test.go
  src/internal/agent/start.go
Due: goimports, lint

update proxy var
  packages/zarf-registry/registry-values.yaml
Due: none

fix!: correct proxy var (#4451)
  packages/zarf-registry/registry-values.yaml
Due: none

WIP working on a reproduction scearnio
  hack/configmap-test/README.md
  hack/configmap-test/go.mod
  hack/configmap-test/go.sum
  hack/configmap-test/main.go
  hack/configmap-test/script.sh
  packages/zarf-registry/zarf.yaml
  script.sh
  src/internal/healthchecks/healthchecks.go
  src/internal/packager/helm/chart.go
  zarf.yaml
Due: goimports, lint

delete configmaps also
  hack/configmap-test/main.go
Due: goimports, lint

add an http client with a timeout slightly shorter than waitInterval to wait.go
  src/pkg/utils/wait.go
  src/pkg/utils/wait_test.go
Due: goimports, lint

you make a great point there 'golangci-lint run'
  src/pkg/utils/wait.go
  src/pkg/utils/wait_test.go
Due: goimports, lint

refactor!: generate schema within Zarf (#4392)
  .github/dependabot.yaml
  .github/workflows/check-go-mod.yml
  Makefile
  go.mod
  go.sum
  hack/schema/README.md
  hack/schema/create-zarf-schema.sh
  hack/schema/go.mod
  hack/schema/go.sum
  hack/schema/main.go
  main.go
  src/cmd/dev_test.go
  src/cmd/package_test.go
  src/config/lang/english.go
  src/pkg/lint/schema.go
  src/pkg/lint/schema_test.go
  src/pkg/packager/create_test.go
  src/pkg/packager/find_images_test.go
  src/pkg/packager/inspect_test.go
  src/pkg/packager/layout/layout_test.go
  src/pkg/packager/lint_test.go
  src/pkg/packager/load/import_test.go
  src/pkg/packager/load/load_test.go
  src/pkg/packager/load_test.go
  src/pkg/packager/publish_test.go
  src/pkg/schema/generate.go
  src/pkg/schema/schema.go
  src/pkg/schema/zarf-v1alpha1-schema.json
  src/pkg/zoci/pull_test.go
  src/test/testutil/schema.go
Due: check-docs-and-schema, goimports, lint

created test case outside of Zarf kinda
  hack/configmap-test/.gitignore
  hack/configmap-test/README.md
  hack/configmap-test/go.mod
  hack/configmap-test/go.sum
  hack/configmap-test/main.go
  hack/configmap-test/script.sh
Due: goimports, lint

make more specific
  hack/configmap-test/main.go
Due: goimports, lint

cleanup
  hack/configmap-test/main.go
Due: goimports, lint

version requirements
  src/pkg/packager/layout/assemble.go
Due: goimports, lint

fix(tools,wait): add an http client with a timeout slightly shorter than waitInterval to wait.go (#4453)
  src/pkg/utils/wait.go
  src/pkg/utils/wait_test.go
Due: goimports, lint

make docs and schema
  src/pkg/schema/zarf-v1alpha1-schema.json
Due: none

remove more zarf specific code
  hack/configmap-test/go.mod
  hack/configmap-test/go.sum
  hack/configmap-test/main.go
  hack/configmap-test/script.sh
Due: goimports, lint

remove zarf dependency
  hack/configmap-test/go.mod
  hack/configmap-test/go.sum
  hack/configmap-test/main.go
Due: goimports, lint

test outside of zarf
  hack/configmap-test/main.go
Due: goimports, lint

lower selector criteria
  hack/configmap-test/main.go
  hack/configmap-test/script.sh
Due: goimports, lint

test working
  hack/configmap-test/main.go
Due: goimports, lint

simplify
  hack/configmap-test/main.go
Due: goimports, lint

error message
  hack/configmap-test/main.go
Due: goimports, lint

Path conditions:
  check-docs-and-schema: any of: ^src/(config|cmd)/ and \.go$
  goimports: any of: \.go$
  lint: any of: \.go$
