Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

check-docs-and-schema:
  name: Check for outdated docs and Zarf schema
  entry: make test-docs-and-schema
  language: system
  pass_filenames: false

goimports:
  name: goimports
  entry: golangci-lint fmt
  language: golang
  pass_filenames: false

lint:
  name: golangci-lint go lint
  entry: golangci-lint run
  language: golang
  pass_filenames: false

feat(verify): package verify command support (#4325)
  site/src/content/docs/commands/zarf_package.md
  site/src/content/docs/commands/zarf_package_verify.md
  src/cmd/package.go
  src/config/lang/english.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/layout/package_test.go
  src/test/e2e/12_package_signing_test.go
Due: check-docs-and-schema, goimports, lint

unique injector
  src/pkg/cluster/injector.go
Due: goimports, lint

initial helm 4 changes
  .github/workflows/nightly-release.yaml
  .github/workflows/release.yml
  .goreleaser.yaml
  Makefile
  go.mod
  questions.md
  src/internal/packager/helm/chart.go
  src/internal/packager/helm/common.go
  src/internal/packager/helm/destroy.go
  src/internal/packager/helm/images.go
  src/internal/packager/helm/images_test.go
  src/internal/packager/helm/post-render.go
  src/internal/packager/helm/repo.go
  src/internal/packager/helm/template.go
  src/internal/packager/helm/zarf.go
  src/pkg/packager/inspect.go
  src/pkg/packager/remove.go
  src/test/external/ext_out_cluster_test.go
Due: goimports, lint

chart path
  src/internal/packager/helm/repo.go
Due: goimports, lint

fix unit tests
  src/pkg/packager/find_images_test.go
Due: goimports, lint

fix
  src/test/e2e/13_find_images_test.go
Due: goimports, lint

force conflicts
  src/internal/packager/helm/chart.go
Due: goimports, lint

remove unncessary opt-in from users to apply templates on deploy. it's already opted-in by the package creator
  src/pkg/packager/actions/actions.go
Due: goimports, lint

fix(actions): make go-templates opt-in by default (#4344)
  examples/values-templating/zarf.yaml
  src/api/v1alpha1/component.go
  src/test/e2e/42_values_test.go
  src/test/packages/42-values/processed-template-configmap.yaml
  src/test/packages/42-values/zarf.yaml
Due: goimports, lint

feat: add flag to update images in zarf.yaml
  site/src/content/docs/commands/zarf_dev_find-images.md
  src/cmd/dev.go
  src/config/lang/english.go
  src/pkg/packager/update.go
  src/pkg/packager/update_test.go
Due: check-docs-and-schema, goimports, lint

feat(verify): opt-in to load package verification
  src/pkg/packager/layout/package.go
Due: goimports, lint

update init tutorial
  site/src/content/docs/tutorials/7-custom-init-packages.mdx
Due: none

fix: publish unique images in the injector (#4349)
  src/pkg/cluster/injector.go
Due: goimports, lint

improve err message
  src/internal/packager/images/unpack.go
  src/internal/packager/images/unpack_test.go
Due: goimports, lint

handle image indexes
  src/internal/packager/images/testdata/docker-containerd-image-store/index.json
  src/internal/packager/images/unpack.go
  src/internal/packager/images/unpack_test.go
Due: goimports, lint

improve test
  src/api/v1alpha1/component.go
  src/api/v1alpha1/component_test.go
  src/api/v1alpha1/package_test.go
  src/internal/packager/images/unpack.go
  src/internal/packager/images/unpack_test.go
  src/pkg/packager/dev.go
Due: goimports, lint

docs: update custom init tutorial (#4358)
  site/src/content/docs/tutorials/7-custom-init-packages.mdx
Due: none

better name
  src/internal/packager/images/testdata/docker-graph-driver-image-store/blobs/sha256/1b44b5a3e06a9aae883e7bf25e45c100be0bb81a0e01b32de604f3ac44711634
  src/internal/packager/images/testdata/docker-graph-driver-image-store/blobs/sha256/40dac9b7451f24939ec924338c7f40d2f10cda3a20b80977a10825cd5a125845
  src/internal/packager/images/testdata/docker-graph-driver-image-store/blobs/sha256/53d204b3dc5ddbc129df4ce71996b8168711e211274c785de5e0d4eb68ec3851
  src/internal/packager/images/testdata/docker-graph-driver-image-store/blobs/sha256/903fefa23e8c1af4ffe506477d70fbf7a356260029f72902b5b4db3beed3e2b2
  src/internal/packager/images/testdata/docker-graph-driver-image-store/index.json
  src/internal/packager/images/testdata/docker-graph-driver-image-store/manifest.json
  src/internal/packager/images/testdata/docker-graph-driver-image-store/oci-layout
  src/internal/packager/images/testdata/docker-graph-driver-image-store/repositories
  src/internal/packager/images/testdata/my-image/index.json
  src/internal/packager/images/unpack_test.go
Due: goimports, lint

test for no annotations
  src/internal/packager/images/testdata/non-annotated-layout/index.json
  src/internal/packager/images/unpack_test.go
Due: goimports, lint

better comment
  src/internal/packager/images/unpack.go
Due: goimports, lint

schema update
  zarf.schema.json
Due: none

feat: add flag to update images in zarf.yaml (#4335)
  site/src/content/docs/commands/zarf_dev_find-images.md
  src/cmd/dev.go
  src/config/lang/english.go
  src/pkg/packager/update.go
  src/pkg/packager/update_test.go
Due: check-docs-and-schema, goimports, lint

revert helm zarf.yaml
  examples/helm-charts/zarf.yaml
Due: none

revert zarf dos-games
  examples/dos-games/zarf.yaml
Due: none

improve docs
  site/src/content/docs/ref/components.mdx
  src/internal/packager/images/unpack.go
  src/internal/packager/images/unpack_test.go
Due: goimports, lint

improve docs
  site/src/content/docs/ref/components.mdx
Due: none

improve found images logic
  src/internal/packager/images/unpack.go
Due: goimports, lint

add version requirements
  src/pkg/packager/layout/assemble.go
Due: goimports, lint

add version check
  src/pkg/packager/layout/assemble.go
  src/test/e2e/44_image_tar_test.go
Due: goimports, lint

fix docs
  site/src/content/docs/ref/components.mdx
Due: none

wording in schema
  src/api/v1alpha1/component.go
  zarf.schema.json
Due: goimports, lint

wording in comment
  src/internal/packager/images/unpack.go
Due: goimports, lint

change log location
  src/internal/packager/images/unpack.go
Due: goimports, lint

comment
  src/internal/packager/images/unpack_test.go
Due: goimports, lint

archive image manifests
  src/pkg/packager/layout/assemble.go
  src/test/e2e/44_image_tar_test.go
Due: goimports, lint

update docs
  site/src/content/docs/ref/components.mdx
Due: none

chore(deps): update syft to resolve vuln findings
  go.mod
  go.sum
Due: none

chore(deps): replace containerd/selinux for vulnerabilities
  go.mod
  go.sum
Due: none

fix
  src/internal/packager/images/unpack_test.go
  src/pkg/archive/archive.go
Due: goimports, lint

Path conditions:
  check-docs-and-schema: any of: ^src/(config|cmd)/ and \.go$
  goimports: any of: \.go$
  lint: any of: \.go$
