Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

check-docs-and-schema:
  name: Check for outdated docs and Zarf schema
  entry: make test-docs-and-schema
  language: system
  pass_filenames: false

goimports:
  name: goimports
  entry: golangci-lint fmt
  language: golang
  pass_filenames: false

lint:
  name: golangci-lint go lint
  entry: golangci-lint run
  language: golang
  pass_filenames: false

zarf dev
  src/api/v1alpha1/package.go
  src/pkg/schema/zarf-v1alpha1-schema.json
  zarf.schema.json
Due: goimports, lint

authors
  src/api/v1alpha1/package.go
  src/pkg/schema/zarf-v1alpha1-schema.json
  zarf.schema.json
Due: goimports, lint

fix values with find-images
  src/cmd/dev.go
  src/pkg/packager/find_images.go
  src/pkg/packager/find_images_test.go
  src/pkg/packager/testdata/find-images/values-options/chart/Chart.yaml
  src/pkg/packager/testdata/find-images/values-options/chart/templates/pod.yaml
  src/pkg/packager/testdata/find-images/values-options/chart/values.yaml
  src/pkg/packager/testdata/find-images/values-options/zarf.yaml
  src/pkg/packager/testdata/find-images/values/chart/Chart.yaml
  src/pkg/packager/testdata/find-images/values/chart/templates/pod.yaml
  src/pkg/packager/testdata/find-images/values/chart/values.yaml
  src/pkg/packager/testdata/find-images/values/defaults.yaml
  src/pkg/packager/testdata/find-images/values/zarf.yaml
Due: check-docs-and-schema, goimports, lint

fix values with find images
  src/cmd/dev.go
  src/cmd/package.go
  src/pkg/packager/find_images.go
  src/pkg/packager/inspect.go
  src/pkg/packager/packager.go
Due: check-docs-and-schema, goimports, lint

chore: update kubectl per review
  src/cmd/kubectl.go
Due: check-docs-and-schema, goimports, lint

tests
  src/pkg/packager/find_images.go
  src/pkg/packager/find_images_test.go
  src/pkg/packager/inspect.go
Due: goimports, lint

autoformat
  site/src/components/SchemaReference.astro
Due: none

try to reproduce
  go.mod
  go.sum
Due: none

find images
  site/src/content/docs/commands/zarf_dev_find-images.md
Due: none

fix: set transport in `zarf tools registry catalog` when mtls is enabled (#4728)
  src/cmd/crane.go
  src/test/proxy/proxy_test.go
Due: check-docs-and-schema, goimports, lint

fix(image): migrate from deprecated function
  src/pkg/packager/layout/sbom.go
Due: goimports, lint

re-run
  src/internal/packager/helm/chart.go
Due: goimports, lint

lint
  src/internal/packager/helm/chart.go
Due: goimports, lint

Update src/pkg/packager/layout/sbom.go
  src/pkg/packager/layout/sbom.go
Due: goimports, lint

get crds
  .github/actions/debug-cluster/action.yaml
  .github/workflows/test-e2e.yml
  .github/workflows/test-external.yml
  .github/workflows/test-upgrade.yml
Due: none

fix: correct documentation structure
  examples/argocd/zarf.yaml
  examples/component-actions/zarf.yaml
  examples/composable-packages/zarf.yaml
  examples/git-data/zarf.yaml
  examples/helm-charts/zarf.yaml
  examples/kiwix/zarf.yaml
  examples/manifests/zarf.yaml
  examples/package-flavors/zarf.yaml
  examples/podinfo-flux/zarf.yaml
  examples/values-templating/zarf.yaml
  examples/variables/zarf.yaml
  examples/wordpress/zarf.yaml
  examples/yolo/zarf.yaml
  packages/gitea/zarf.yaml
  src/test/packages/23-data-injections/zarf.yaml
Due: none

fix: copy-examples and include longhorn example
  examples/longhorn/zarf.yaml
  site/hack/copy-examples.js
Due: none

docs: move x-mdx to document
  examples/argocd/readme.md
  examples/argocd/zarf.yaml
  examples/component-actions/readme.md
  examples/component-actions/zarf.yaml
  examples/composable-packages/readme.md
  examples/composable-packages/zarf.yaml
  examples/config-file/readme.md
  examples/dos-games/readme.md
  examples/dos-games/zarf.yaml
  examples/git-data/readme.md
  examples/git-data/zarf.yaml
  examples/helm-charts/readme.md
  examples/helm-charts/zarf.yaml
  examples/kiwix/readme.md
  examples/kiwix/zarf.yaml
  examples/longhorn/readme.md
  examples/longhorn/zarf.yaml
  examples/manifests/readme.md
  examples/manifests/zarf.yaml
  examples/package-flavors/readme.md
  examples/package-flavors/zarf.yaml
  examples/podinfo-flux/readme.md
  examples/podinfo-flux/zarf.yaml
  examples/values-templating/readme.md
  examples/values-templating/zarf.yaml
  examples/variables/readme.md
  examples/variables/zarf.yaml
  examples/wordpress/readme.md
  examples/wordpress/zarf.yaml
  examples/yolo/readme.md
  examples/yolo/zarf.yaml
  packages/gitea/readme.md
  packages/gitea/zarf.yaml
  site/hack/copy-examples.js
  src/test/packages/23-data-injections/readme.md
  src/test/packages/23-data-injections/zarf.yaml
Due: none

update the logic to be mor agnostic
  src/cmd/vendor.go
Due: check-docs-and-schema, goimports, lint

fix(cache): assemble image archive cachepath existence
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/layout/sbom.go
Due: goimports, lint

fix(sbom): specific cache existence for sbom ops
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/layout/sbom_test.go
Due: goimports, lint

feat: introduce page for schema on docs site (#4732)
  site/astro.config.ts
  site/src/components/SchemaReference.astro
  site/src/content/docs/schema/v1alpha1-package.mdx
  src/api/v1alpha1/component.go
  src/api/v1alpha1/package.go
  src/pkg/schema/zarf-v1alpha1-schema.json
  zarf.schema.json
Due: goimports, lint

fix(cache): support for default sdk cache path
  src/pkg/packager/create.go
  src/pkg/packager/dev.go
  src/pkg/packager/find_images.go
  src/pkg/packager/inspect.go
  src/pkg/packager/lint.go
  src/pkg/packager/load.go
  src/pkg/packager/load/load.go
  src/pkg/packager/publish.go
  src/pkg/packager/pull.go
  src/pkg/utils/io.go
  src/pkg/utils/io_test.go
Due: goimports, lint

fix(docs): update broken acknowledgment link for Naval Postgraduate School
  README.md
Due: none

fix(cache): sbom cachepath existence (#4762)
  src/pkg/packager/layout/sbom.go
  src/pkg/packager/layout/sbom_test.go
Due: goimports, lint

chore(docs): generate documentation
  site/src/content/docs/commands/zarf_tools_yq.md
  site/src/content/docs/commands/zarf_tools_yq_completion.md
  site/src/content/docs/commands/zarf_tools_yq_eval-all.md
  site/src/content/docs/commands/zarf_tools_yq_eval.md
Due: none

feat(state): deprecate "nodeport" in registry info in favor of "node" (#4729)
  packages/zarf-registry/chart/templates/_helpers.tpl
  packages/zarf-registry/chart/templates/proxy-daemonset.yaml
  packages/zarf-registry/chart/templates/service.yaml
  packages/zarf-registry/chart/values.yaml
  packages/zarf-registry/registry-values.yaml
  site/src/content/docs/commands/zarf_init.md
  site/src/content/docs/ref/values.mdx
  src/cmd/initialize.go
  src/cmd/viper.go
  src/config/lang/english.go
  src/internal/packager/template/template.go
  src/internal/packager/template/template_test.go
  src/pkg/cluster/cluster.go
  src/pkg/cluster/cluster_test.go
  src/pkg/packager/deploy.go
  src/pkg/state/state.go
  src/pkg/state/state_test.go
  src/test/e2e/29_config_file_test.go
  src/test/zarf-config-test.toml
Due: check-docs-and-schema, goimports, lint

feat(tls): support for tls generation with duration
  src/cmd/initialize.go
  src/cmd/zarf_tools.go
  src/pkg/cluster/cluster.go
  src/pkg/packager/deploy.go
  src/pkg/pki/pki.go
  src/pkg/pki/pki_test.go
  src/pkg/state/state.go
  src/pkg/state/state_test.go
Due: check-docs-and-schema, goimports, lint

chore(docs): generate documentation
  site/src/content/docs/commands/zarf_init.md
  site/src/content/docs/commands/zarf_tools_gen-pki.md
  site/src/content/docs/commands/zarf_tools_update-creds.md
Due: none

fix: values with zarf dev find-images (#4734)
  site/src/content/docs/commands/zarf_dev_find-images.md
  src/cmd/dev.go
  src/cmd/package.go
  src/pkg/packager/find_images.go
  src/pkg/packager/find_images_test.go
  src/pkg/packager/inspect.go
  src/pkg/packager/packager.go
  src/pkg/packager/testdata/find-images/values-options/chart/Chart.yaml
  src/pkg/packager/testdata/find-images/values-options/chart/templates/pod.yaml
  src/pkg/packager/testdata/find-images/values-options/chart/values.yaml
  src/pkg/packager/testdata/find-images/values-options/zarf.yaml
  src/pkg/packager/testdata/find-images/values/chart/Chart.yaml
  src/pkg/packager/testdata/find-images/values/chart/templates/pod.yaml
  src/pkg/packager/testdata/find-images/values/chart/values.yaml
  src/pkg/packager/testdata/find-images/values/defaults.yaml
  src/pkg/packager/testdata/find-images/values/zarf.yaml
Due: check-docs-and-schema, goimports, lint

fix(verification): deprecate PublicKeyPath in favor of VerifyBlobOptions
  src/cmd/initialize.go
  src/cmd/package.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/layout/package_test.go
  src/pkg/packager/load.go
  src/pkg/packager/load_test.go
  src/pkg/packager/publish_test.go
  src/pkg/packager/pull.go
Due: check-docs-and-schema, goimports, lint

fix(verify): formatting adjustments
  src/pkg/packager/publish_test.go
  src/pkg/packager/pull.go
Due: goimports, lint

feat: enable plugin support for vender-ed kubectl (#4705)
  src/cmd/kubectl.go
  src/cmd/vendor.go
Due: check-docs-and-schema, goimports, lint

fix(test): cleanup options test logic
  src/pkg/packager/publish_test.go
Due: goimports, lint

fix(resolve): updating naming for path operations
  src/pkg/packager/create.go
  src/pkg/packager/dev.go
  src/pkg/packager/find_images.go
  src/pkg/packager/inspect.go
  src/pkg/packager/lint.go
  src/pkg/packager/load.go
  src/pkg/packager/load/load.go
  src/pkg/packager/publish.go
  src/pkg/packager/pull.go
  src/pkg/utils/io.go
  src/pkg/utils/io_test.go
Due: goimports, lint

add --all-variants flag for lint
  src/cmd/dev.go
  src/config/lang/english.go
  src/pkg/packager/lint.go
  src/pkg/packager/load/import.go
  src/pkg/packager/load/load.go
Due: check-docs-and-schema, goimports, lint

feat: Add password flag for zarf tools gen-key
  src/cmd/zarf_tools.go
  src/config/lang/english.go
Due: check-docs-and-schema, goimports, lint

test: wrote tests for interaction between tools gen-key flags.
  site/src/content/docs/commands/zarf_tools_gen-key.md
  src/cmd/zarf_tools.go
  src/cmd/zarf_tools_test.go
  src/config/lang/english.go
Due: check-docs-and-schema, goimports, lint

Path conditions:
  check-docs-and-schema: any of: ^src/(config|cmd)/ and \.go$
  goimports: any of: \.go$
  lint: any of: \.go$
