Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: check-merge-conflict
      - id: detect-aws-credentials
        args:
          - "--allow-missing-credentials"
      - id: detect-private-key
        exclude: "src/test/e2e/29_config_file_test.go"
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                src/internal/packager/images/testdata/.*|
                site/src/content/docs/commands/.*
            )$
      - id: fix-byte-order-marker
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
        exclude: site/src/content/docs/commands/.*
  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.4
    hooks:
      - id: fix-smartquotes
  - repo: local
    hooks:
      - id: check-docs-and-schema
        name: Check for outdated docs and Zarf schema
        entry: make test-docs-and-schema
        files: "^src/(config|cmd)/"
        types: [go]
        language: system
        pass_filenames: false
      - id: goimports
        name: goimports
        entry: golangci-lint fmt
        types: [go]
        language: golang
        pass_filenames: false
      - id: lint
        name: golangci-lint go lint
        entry: golangci-lint run
        types: [go]
        language: golang
        pass_filenames: false

remove flakey test
  src/pkg/cluster/injector_retry_test.go
Due: goimports, lint

remove test
  src/pkg/cluster/injector_retry_test.go
Due: goimports, lint

remove reliance on example
  src/test/e2e/15_oci_compose_test.go
  src/test/packages/15-helm-charts/chart/Chart.yaml
  src/test/packages/15-helm-charts/chart/templates/configmap.yaml
  src/test/packages/15-helm-charts/zarf.yaml
  src/test/packages/15-import-everything/zarf.yaml
Due: goimports, lint

remove unnecessary values
  examples/component-actions/values.yaml
Due: none

add back
  examples/component-actions/values.yaml
Due: none

update example
  examples/component-actions/zarf.yaml
Due: none

fix remove state access
  src/pkg/packager/remove.go
  src/test/packages/42-values/zarf.yaml
Due: goimports, lint

multiline file
  src/test/e2e/29_config_file_test.go
Due: goimports, lint

add values file
  src/test/zarf-config-config-file.toml
Due: none

variables to values
  site/src/content/docs/best-practices/variables-to-values.mdx
Due: none

spell out constants
  site/src/content/docs/best-practices/variables-to-values.mdx
Due: none

versioned assets
  site/hack/build-versions.mjs
  site/src/plugins/remark-link-rewrite.test.ts
  site/src/plugins/remark-link-rewrite.ts
Due: none

versioned assets
  site/.gitignore
Due: none

move schema dir
  site/README.md
  site/hack/build-versions.mjs
  site/package.json
  site/src/lib/schema.ts
Due: none

versioned assets
  site/.gitignore
  site/hack/build-versions.mjs
  site/package.json
Due: none

generate schema
  site/hack/build-versions.mjs
Due: none

simplify example
  examples/package-flavors/values.yaml
  examples/package-flavors/zarf.yaml
Due: none

deprecate yolo
  site/src/content/docs/contribute/testing.mdx
  site/src/content/docs/faq.mdx
  site/src/content/docs/ref/deploy.mdx
  site/src/content/docs/ref/dev.mdx
  site/src/content/docs/ref/packages.mdx
  src/internal/pkgcfg/pkgcfg.go
Due: goimports, lint

change signature on assembleskeleton
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/assemble/assemble_test.go
  src/pkg/packager/load/load.go
  src/pkg/packager/publish.go
Due: goimports, lint

lower timeout risk
  src/pkg/wait/wait.go
  src/pkg/wait/wait_test.go
Due: goimports, lint

fix flake
  src/pkg/wait/wait.go
Due: goimports, lint

refactor test
  src/pkg/wait/wait.go
  src/pkg/wait/wait_test.go
Due: goimports, lint

better design
  src/pkg/wait/wait_test.go
Due: goimports, lint

wait
  src/pkg/wait/wait.go
  src/pkg/wait/wait_test.go
Due: goimports, lint

wanterrr
  src/pkg/wait/wait_test.go
Due: goimports, lint

remove tt:=tt
  src/pkg/wait/wait_test.go
Due: goimports, lint

feat: fix flag not being respected
  src/cmd/dev.go
Due: check-docs-and-schema, goimports, lint

npm test
  .github/workflows/commitlint.yml
  .github/workflows/test-site.yml
  site/package-lock.json
  site/package.json
Due: none

add back status code check
  src/pkg/wait/wait.go
  src/pkg/wait/wait_test.go
Due: goimports, lint

err contains
  src/pkg/wait/wait_test.go
Due: goimports, lint

docs: update Longhorn deployment instructions and add engine image deployment check
  examples/longhorn/readme.md
  examples/longhorn/zarf.yaml
Due: none

docs: update 1.0 roadmap to remove references to now unplanned work
  site/src/content/docs/roadmap.mdx
Due: none

feat(dev): evaluate helm chart schemas in dev generate-schema
  site/src/content/docs/commands/zarf_dev.md
  site/src/content/docs/commands/zarf_dev_generate-schema.md
  src/cmd/dev.go
  src/pkg/value/generate.go
  src/pkg/value/generate_test.go
  src/pkg/value/schema.go
  src/pkg/value/schema_test.go
  src/test/e2e/14_zarf_package_generate_test.go
  src/test/packages/14-generate-schema/chart/templates/configmap.yaml
  src/test/packages/14-generate-schema/chart/values.schema.json
  src/test/packages/14-generate-schema/chart/values.yaml
  src/test/packages/14-generate-schema/zarf.yaml
Due: check-docs-and-schema, goimports, lint

simplify assemble for now
  src/pkg/images/pull.go
  src/pkg/images/pull_test.go
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/values_preflight.go
Due: goimports, lint

docs: update 1.0 roadmap to remove references to now unplanned work (#5174)
  site/src/content/docs/roadmap.mdx
Due: none

chore: rework ref check
  src/pkg/value/schema.go
Due: goimports, lint

chore: extraneous diff
  src/cmd/dev.go
Due: check-docs-and-schema, goimports, lint
