Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

check-docs-and-schema:
  name: Check for outdated docs and Zarf schema
  entry: make test-docs-and-schema
  language: system
  pass_filenames: false

goimports:
  name: goimports
  entry: golangci-lint fmt
  language: golang
  pass_filenames: false

lint:
  name: golangci-lint go lint
  entry: golangci-lint run
  language: golang
  pass_filenames: false

fix(test): update testing and verification expectations
  site/src/content/docs/commands/zarf_package_inspect_documentation.md
  src/pkg/packager/load_test.go
Due: goimports, lint

set field manager
  src/internal/packager/helm/common.go
  src/internal/packager/helm/destroy.go
Due: goimports, lint

feat: add OCI support for Argo CD sources
  src/internal/agent/hooks/argocd-application.go
  src/internal/agent/hooks/argocd-application_test.go
  src/internal/agent/hooks/argocd-appproject.go
  src/internal/agent/hooks/argocd-appproject_test.go
  src/internal/agent/hooks/argocd-repository.go
  src/internal/agent/hooks/argocd-repository_test.go
  src/internal/agent/hooks/common.go
  src/internal/agent/hooks/flux-gitrepo.go
  src/internal/agent/hooks/flux-ocirepo.go
Due: goimports, lint

feat: refactor, add tests and docs
  examples/argocd/baseline/values.yaml
  examples/argocd/oci-helm/values.yaml
  examples/argocd/oci-manifests/values.yaml
  examples/argocd/zarf.yaml
  src/internal/agent/hooks/argocd-application.go
  src/internal/agent/hooks/argocd-application_test.go
  src/internal/agent/hooks/argocd-appproject_test.go
  src/internal/agent/hooks/argocd-repository.go
  src/internal/agent/hooks/argocd-repository_test.go
  src/test/e2e/22_git_and_gitops_test.go
  src/test/external/ext_in_cluster_test.go
  src/test/external/ext_out_cluster_test.go
Due: goimports, lint

feat: add url patch for argo cd repo-creds secrets
  packages/zarf-agent/chart/templates/webhook.yaml
  src/internal/agent/hooks/argocd-repository_test.go
Due: goimports, lint

switch back to helm charts
  src/test/e2e/25_helm_test.go
  src/test/packages/25-helm-ssa/zarf.yaml
Due: goimports, lint

add missing chart
  src/test/packages/25-helm-ssa/chart/Chart.yaml
  src/test/packages/25-helm-ssa/chart/templates/configmap.yaml
Due: none

copy from cache, rather than renaming from it
  src/internal/packager/helm/repo.go
Due: goimports, lint

test out why force conflits doesn't work in ci
  src/cmd/helm.go
  src/internal/packager/helm/chart.go
Due: check-docs-and-schema, goimports, lint

fix(verify): use verification strategy for PackageLayout
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/load.go
  src/pkg/packager/pull.go
Due: goimports, lint

fix(layout): update field naming
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/load.go
  src/pkg/packager/pull.go
Due: goimports, lint

chore: revert image from var to method
  src/pkg/packager/deploy.go
Due: goimports, lint

fix(test): review unit test coverage
  src/pkg/packager/layout/package_test.go
  src/pkg/packager/load_test.go
Due: goimports, lint

feat: update pr per comments
  src/pkg/cluster/injector.go
  src/pkg/cluster/injector_test.go
  src/pkg/cluster/testdata/expected-injection-pod.json
Due: goimports, lint

replicas
  packages/zarf-registry/chart/templates/deployment.yaml
  src/internal/packager/helm/chart.go
  src/internal/packager/helm/repo.go
Due: goimports, lint

use field manager when interacting with init package
  src/internal/packager/helm/common.go
  src/pkg/cluster/zarf.go
Due: goimports, lint

force conflicts option
  src/cmd/package.go
  src/config/lang/english.go
  src/internal/packager/helm/chart.go
  src/pkg/packager/deploy.go
Due: check-docs-and-schema, goimports, lint

force conflicts
  site/src/content/docs/commands/zarf_init.md
  site/src/content/docs/commands/zarf_package_deploy.md
  site/src/content/docs/commands/zarf_package_remove.md
  site/src/content/docs/commands/zarf_tools_update-creds.md
  src/cmd/initialize.go
  src/cmd/zarf_tools.go
  src/config/lang/english.go
Due: check-docs-and-schema, goimports, lint

figure out how to do ssa
  src/pkg/cluster/zarf.go
  src/pkg/packager/deploy.go
Due: goimports, lint

better ssa
  src/pkg/cluster/zarf.go
Due: goimports, lint

force conflicts
  src/test/e2e/21_connect_creds_test.go
Due: goimports, lint

fix unit tests
  src/pkg/cluster/zarf_test.go
Due: goimports, lint

fix registry proxy mutation
  src/internal/agent/hooks/flux-helmrepo.go
  src/internal/agent/hooks/flux-ocirepo.go
  src/pkg/cluster/secrets.go
  src/pkg/cluster/tunnel.go
  src/test/e2e/22_git_and_gitops_test.go
Due: goimports, lint

fix(cli): handle backwards compatibility
  site/src/content/docs/commands/zarf_package_inspect_documentation.md
  src/cmd/initialize.go
  src/cmd/package.go
Due: check-docs-and-schema, goimports, lint

fix(verify): invert location of VerifyNever strategy
  src/pkg/packager/layout/package.go
Due: goimports, lint

feat(create): allow arbitrarily named definition files on create
  src/cmd/package.go
  src/pkg/lint/schema.go
  src/pkg/packager/create.go
  src/pkg/packager/load/import.go
  src/pkg/packager/load/load.go
Due: check-docs-and-schema, goimports, lint

fix(load): remove SkipSignatureValidation option
  src/pkg/packager/layout/package.go
  src/pkg/packager/load.go
Due: goimports, lint

de-duplicate code
  src/pkg/cluster/secrets.go
Due: goimports, lint

feat: add git configuration for localhost resolution in repo server
  examples/argocd/baseline/values.yaml
Due: none

test: use arch of local machine in external tests
  src/test/external/ext_in_cluster_test.go
  src/test/external/ext_out_cluster_test.go
Due: goimports, lint

fix docker ref image archive duplication
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/layout/assemble_test.go
Due: goimports, lint

clearer function signature
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/layout/assemble_test.go
Due: goimports, lint

image archive improve test
  src/test/e2e/44_image_archive_test.go
Due: goimports, lint

slight improvement to docs
  site/src/content/docs/ref/components.mdx
Due: none

qualify domain names within archive also
  src/pkg/packager/layout/assemble.go
Due: goimports, lint

move validation to validate.go
  src/pkg/lint/validate.go
  src/pkg/lint/validate_test.go
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/layout/assemble_test.go
Due: goimports, lint

better de-dupe logic
  src/pkg/lint/validate.go
  src/pkg/lint/validate_test.go
Due: goimports, lint

unneeded code
  examples/dos-games/zarf.yaml
  src/pkg/lint/validate.go
Due: goimports, lint

reset dos-games
  examples/dos-games/zarf.yaml
Due: none

format
  src/pkg/packager/layout/assemble_test.go
Due: goimports, lint

Path conditions:
  check-docs-and-schema: any of: ^src/(config|cmd)/ and \.go$
  goimports: any of: \.go$
  lint: any of: \.go$
