Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: check-merge-conflict
      - id: detect-aws-credentials
        args:
          - "--allow-missing-credentials"
      - id: detect-private-key
        exclude: "src/test/e2e/29_config_file_test.go"
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                src/internal/packager/images/testdata/.*|
                site/src/content/docs/commands/.*
            )$
      - id: fix-byte-order-marker
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
        exclude: site/src/content/docs/commands/.*
  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.4
    hooks:
      - id: fix-smartquotes
  - repo: local
    hooks:
      - id: check-docs-and-schema
        name: Check for outdated docs and Zarf schema
        entry: make test-docs-and-schema
        files: "^src/(config|cmd)/"
        types: [go]
        language: system
        pass_filenames: false
      - id: goimports
        name: goimports
        entry: golangci-lint fmt
        types: [go]
        language: golang
        pass_filenames: false
      - id: lint
        name: golangci-lint go lint
        entry: golangci-lint run
        types: [go]
        language: golang
        pass_filenames: false

feat(agent): mutate read-only OCI volumes (#3235)
  .github/actions/k3d/action.yaml
  src/internal/agent/hooks/pods.go
  src/internal/agent/hooks/pods_test.go
  src/pkg/packager/find_images.go
  src/pkg/packager/find_images_test.go
  src/pkg/packager/testdata/find-images/pod-volume-image/deployment.yaml
  src/pkg/packager/testdata/find-images/pod-volume-image/zarf.yaml
  src/test/e2e/45_volume_image_test.go
Due: goimports, lint

feat: change application set example to use guestbook from argocd-example-apps
  examples/argocd/applicationset/values.yaml
  examples/argocd/baseline/values.yaml
  examples/argocd/zarf.yaml
Due: none

update data injection docs for oci volumes
  examples/kiwix/Dockerfile
  examples/kiwix/manifests/deployment.yaml
Due: none

Update src/internal/packager/helm/chart.go
  src/internal/packager/helm/chart.go
Due: goimports, lint

give ability to force conflicts
  src/api/v1alpha1/component.go
  src/internal/packager/helm/chart.go
Due: goimports, lint

remove fixme
  src/api/v1alpha1/component.go
  src/test/packages/25-helm-ssa/zarf.yaml
Due: goimports, lint

back to true
  src/test/packages/25-helm-ssa/zarf.yaml
Due: none

fix some flags and clarify sections
  site/src/content/docs/best-practices/package-values.mdx
  site/src/content/docs/ref/package-values.mdx
  site/src/content/docs/ref/templating.mdx
Due: none

fix(unit): resolve unit testing issue
  go.mod
  go.sum
  src/pkg/packager/layout/package_test.go
Due: goimports, lint

use maps.Copy for --set-values
  src/cmd/package.go
Due: check-docs-and-schema, goimports, lint

mark --set as deprecated
  src/cmd/package.go
Due: check-docs-and-schema, goimports, lint

add update creds functionality
  src/cmd/zarf_tools.go
  src/pkg/cluster/cluster.go
  src/pkg/cluster/secrets.go
  src/pkg/state/state.go
  src/test/proxy/proxy_test.go
Due: check-docs-and-schema, goimports, lint

feat(sign/verify): support sigstore bundle format
  src/pkg/packager/layout/layout.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/layout/package_test.go
Due: goimports, lint

update test to not rely on kubectl
  src/test/proxy/proxy_test.go
Due: goimports, lint

feat(bundle): update verification defaults and testing
  src/pkg/packager/layout/package_test.go
  src/pkg/utils/cosign.go
Due: goimports, lint

chore(docs): add tutorial for package signing
  site/src/content/docs/tutorials/5-package-signing-and-verification.mdx
  src/pkg/packager/layout/package.go
Due: goimports, lint

fix(sign): check for bundle existence properly
  src/pkg/packager/layout/package.go
Due: goimports, lint

mtls enabled
  packages/zarf-registry/registry-values.yaml
  src/internal/packager/template/template.go
Due: goimports, lint

better structure of transport
  src/internal/agent/hooks/common.go
  src/internal/agent/hooks/flux-ocirepo.go
  src/pkg/images/push.go
  src/pkg/pki/pki.go
Due: goimports, lint

unnecessary comment
  src/internal/agent/hooks/utils_test.go
Due: goimports, lint

feat: add support for Argo CD ApplicationSets (#4348)
  examples/argocd/applicationset/values.yaml
  examples/argocd/baseline/values.yaml
  examples/argocd/zarf.yaml
  packages/zarf-agent/chart/templates/webhook.yaml
  site/src/content/docs/ref/init-package.mdx
  src/internal/agent/hooks/argocd-applicationset.go
  src/internal/agent/hooks/argocd-applicationset_test.go
  src/internal/agent/start.go
Due: goimports, lint

update docs
  site/src/content/docs/best-practices/data-injections-migration.mdx
Due: none

update docs for spelling and grammar
  site/src/content/docs/best-practices/data-injections-migration.mdx
Due: none

capitalization
  site/src/content/docs/best-practices/data-injections-migration.mdx
Due: none

simpler wording
  site/src/content/docs/best-practices/data-injections-migration.mdx
Due: none

old after
  site/src/content/docs/best-practices/data-injections-migration.mdx
Due: none

update sentence
  site/src/content/docs/best-practices/data-injections-migration.mdx
Due: none

update with some more text
  examples/kiwix/zarf.yaml
  site/src/content/docs/best-practices/data-injections-migration.mdx
Due: none

capital letter
  site/src/content/docs/best-practices/data-injections-migration.mdx
Due: none

remove insecure flag
  src/cmd/internal.go
  src/cmd/package.go
  src/cmd/root.go
  src/cmd/viper.go
  src/config/lang/english.go
  src/pkg/images/common.go
  src/test/zarf-config-test.toml
  src/types/runtime.go
Due: check-docs-and-schema, goimports, lint

from sctach
  examples/kiwix/Dockerfile
  site/src/content/docs/best-practices/data-injections-migration.mdx
Due: none

correct version number
  site/src/content/docs/best-practices/data-injections-migration.mdx
Due: none

feat!: remove insecure flag (#4521)
  src/cmd/internal.go
  src/cmd/package.go
  src/cmd/root.go
  src/cmd/viper.go
  src/config/lang/english.go
  src/pkg/images/common.go
  src/test/zarf-config-test.toml
  src/types/runtime.go
Due: check-docs-and-schema, goimports, lint

Update examples/kiwix/zarf.yaml
  examples/kiwix/zarf.yaml
Due: none

make docs and schema
  site/src/content/docs/commands/zarf_package_create.md
Due: none

docs: update kiwix example and migration guide to use read-only oci volumes (#4520)
  examples/kiwix/Dockerfile
  examples/kiwix/manifests/deployment.yaml
  examples/kiwix/zarf.yaml
  site/src/content/docs/best-practices/data-injections-migration.mdx
Due: none

fix same credentials cause random value
  src/pkg/state/state.go
  src/pkg/state/state_test.go
Due: goimports, lint

fix(k8s): set WatchListClient feature to false for test
  src/internal/healthchecks/healthchecks_test.go
Due: goimports, lint

chore(docs): 2026 roadmap
  site/src/content/docs/roadmap.mdx
Due: none
