Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: check-merge-conflict
      - id: detect-aws-credentials
        args:
          - "--allow-missing-credentials"
      - id: detect-private-key
        exclude: "src/test/e2e/29_config_file_test.go"
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                src/internal/packager/images/testdata/.*|
                site/src/content/docs/commands/.*
            )$
      - id: fix-byte-order-marker
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
        exclude: site/src/content/docs/commands/.*
  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.4
    hooks:
      - id: fix-smartquotes
  - repo: local
    hooks:
      - id: check-docs-and-schema
        name: Check for outdated docs and Zarf schema
        entry: make test-docs-and-schema
        files: "^src/(config|cmd)/"
        types: [go]
        language: system
        pass_filenames: false
      - id: goimports
        name: goimports
        entry: golangci-lint fmt
        types: [go]
        language: golang
        pass_filenames: false
      - id: lint
        name: golangci-lint go lint
        entry: golangci-lint run
        types: [go]
        language: golang
        pass_filenames: false

feat(bundle): support for supplemental files tracking
  Makefile
  src/api/v1alpha1/package.go
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/layout/package_test.go
Due: goimports, lint

fix(docs): generate schema
  src/pkg/schema/zarf-v1alpha1-schema.json
  zarf.schema.json
Due: none

feat: add work flow for version delta
  .github/workflows/test-upgrade.yml
  .github/workflows/test-version-delta.yml
Due: none

feat: add ability to supply custom init package (#4562)
  .github/workflows/test-upgrade.yml
  .github/workflows/test-version-delta.yml
  site/src/content/docs/commands/zarf_init.md
  src/cmd/initialize.go
  src/config/lang/english.go
Due: check-docs-and-schema, goimports, lint

feedback
  go.mod
  src/pkg/wait/wait.go
Due: goimports, lint

correct remove chart logic
  src/pkg/packager/remove.go
Due: goimports, lint

WIP
  src/pkg/packager/actions/actions.go
  src/pkg/packager/actions/actions_test.go
  src/test/packages/31-component-actions-edgecases/zarf.yaml
Due: goimports, lint

WIP
  src/pkg/packager/actions/actions.go
  src/pkg/packager/actions/actions_test.go
Due: goimports, lint

fix wait variable template
  src/pkg/packager/actions/actions.go
  src/test/e2e/30_component_action_cluster_test.go
  src/test/packages/31-component-actions-edgecases/zarf.yaml
Due: goimports, lint

values
  src/test/packages/31-component-actions-edgecases/values.yaml
  src/test/packages/31-component-actions-edgecases/zarf.yaml
Due: none

comment and timeout
  src/pkg/wait/wait.go
Due: goimports, lint

fix(signing): add mitigation for supplementalfiles
  src/cmd/package.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/layout/package_test.go
  src/pkg/packager/load.go
  src/pkg/packager/pull.go
Due: check-docs-and-schema, goimports, lint

add additional test
  src/pkg/packager/actions/actions.go
  src/test/packages/31-component-actions-edgecases/zarf.yaml
Due: goimports, lint

also template strings in $ format
  src/pkg/packager/actions/actions.go
  src/pkg/packager/actions/actions_test.go
  src/test/e2e/30_component_action_cluster_test.go
  src/test/packages/31-component-actions-edgecases/values.yaml
  src/test/packages/31-component-actions-edgecases/zarf.yaml
Due: goimports, lint

add files
  src/test/packages/30-component-actions-edgecases/values.yaml
  src/test/packages/30-component-actions-edgecases/zarf.yaml
Due: none

fix(sign): remove bundle version requirement
  src/pkg/packager/deploy.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/layout/package_test.go
Due: goimports, lint

make wait work better with namespaces
  .gitignore
  src/pkg/wait/wait.go
  src/test/e2e/46_tools_wait_for_test.go
Due: goimports, lint

run tests in parallel
  src/test/e2e/46_tools_wait_for_test.go
Due: goimports, lint

comment and var names
  src/pkg/wait/wait.go
Due: goimports, lint

fixmes
  src/cmd/initialize.go
  src/pkg/cluster/cluster.go
  src/pkg/packager/deploy.go
  src/pkg/state/state.go
  src/test/proxy/proxy_test.go
Due: check-docs-and-schema, goimports, lint

replace wait-for
  src/test/e2e/46_tools_wait_for_test.go
Due: goimports, lint

fix(unit): update unit tests for removed requirement
  src/pkg/packager/layout/package_test.go
Due: goimports, lint

fix(sign): remove original version requirement definitions
  src/pkg/packager/layout/package.go
Due: goimports, lint

refactor(wait): avoid shelling out to kubectl during wait (#4567)
  .gitignore
  go.mod
  src/pkg/wait/wait.go
  src/pkg/wait/wait_test.go
  src/test/e2e/46_tools_wait_for_test.go
Due: goimports, lint

Update src/test/e2e/30_component_action_cluster_test.go
  src/test/e2e/30_component_action_cluster_test.go
Due: goimports, lint

fix lint
  src/api/internal/v1beta1/package.go
  src/api/v1alpha1/package.go
  src/pkg/packager/filters/deploy_test.go
Due: goimports, lint

allow switching between modes
  src/cmd/initialize.go
  src/pkg/cluster/cluster.go
  src/pkg/packager/deploy.go
  src/pkg/state/state.go
  src/test/proxy/proxy_test.go
Due: check-docs-and-schema, goimports, lint

fix fixme's
  src/cmd/initialize.go
  src/pkg/cluster/cluster.go
  src/pkg/packager/deploy.go
  src/test/e2e/46_tools_wait_for_test.go
Due: check-docs-and-schema, goimports, lint

make docs and schema
  site/src/content/docs/commands/zarf_init.md
Due: none

better test
  src/test/e2e/20_zarf_init_test.go
Due: goimports, lint

nodeport compatiable test
  .github/workflows/test-proxy.yml
  src/test/proxy/proxy_test.go
Due: goimports, lint

nodeport compatiable
  .github/workflows/test-proxy.yml
Due: none

allow manifests to use client server side
  examples/helm-charts/zarf.yaml
  src/api/v1alpha1/component.go
  src/internal/packager/helm/common.go
  src/pkg/schema/zarf-v1alpha1-schema.json
  src/test/e2e/25_helm_test.go
  src/test/packages/25-helm-ssa/configmap.yaml
  src/test/packages/25-helm-ssa/zarf.yaml
  zarf.schema.json
Due: goimports, lint

correctly set ipfamily
  src/pkg/cluster/cluster.go
Due: goimports, lint

fix: template variables and values in `.wait` actions (#4604)
  src/api/internal/v1beta1/package.go
  src/api/v1alpha1/package.go
  src/pkg/packager/actions/actions.go
  src/pkg/packager/actions/actions_test.go
  src/pkg/packager/filters/deploy_test.go
  src/test/e2e/30_component_action_cluster_test.go
  src/test/packages/30-component-actions-edgecases/values.yaml
  src/test/packages/30-component-actions-edgecases/zarf.yaml
  src/test/packages/31-component-actions-edgecases/zarf.yaml
Due: goimports, lint

feat: add OCI support for Argo CD sources
  src/internal/agent/hooks/argocd-application.go
  src/internal/agent/hooks/argocd-application_test.go
  src/internal/agent/hooks/argocd-appproject.go
  src/internal/agent/hooks/argocd-appproject_test.go
  src/internal/agent/hooks/argocd-repository.go
  src/internal/agent/hooks/argocd-repository_test.go
  src/internal/agent/hooks/common.go
  src/internal/agent/hooks/flux-gitrepo.go
  src/internal/agent/hooks/flux-ocirepo.go
Due: goimports, lint

feat: update to latest changes
  src/internal/agent/hooks/argocd-application.go
  src/internal/agent/hooks/argocd-applicationset.go
  src/internal/agent/hooks/argocd-appproject.go
  src/internal/agent/hooks/argocd-repository.go
  src/test/e2e/22_git_and_gitops_test.go
Due: goimports, lint

feat: add cluster ip and mtls in argo
  src/internal/agent/hooks/argocd-application.go
  src/internal/agent/hooks/argocd-application_test.go
  src/internal/agent/hooks/argocd-applicationset.go
  src/internal/agent/hooks/argocd-appproject.go
  src/internal/agent/hooks/argocd-appproject_test.go
  src/internal/agent/hooks/argocd-repository.go
  src/internal/agent/hooks/argocd-repository_test.go
Due: goimports, lint

feat: update registry address retrieval
  src/internal/agent/hooks/argocd-application.go
  src/internal/agent/hooks/argocd-applicationset.go
  src/internal/agent/hooks/argocd-appproject.go
  src/internal/agent/hooks/argocd-repository.go
  src/test/e2e/22_git_and_gitops_test.go
Due: goimports, lint

feat: add url patch for argo cd repo-creds secrets
  packages/zarf-agent/chart/templates/webhook.yaml
  src/internal/agent/hooks/argocd-repository_test.go
Due: goimports, lint
