Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: check-merge-conflict
      - id: detect-aws-credentials
        args:
          - "--allow-missing-credentials"
      - id: detect-private-key
        exclude: "src/test/e2e/29_config_file_test.go"
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                src/internal/packager/images/testdata/.*|
                site/src/content/docs/commands/.*
            )$
      - id: fix-byte-order-marker
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
        exclude: site/src/content/docs/commands/.*
  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.4
    hooks:
      - id: fix-smartquotes
  - repo: local
    hooks:
      - id: check-docs-and-schema
        name: Check for outdated docs and Zarf schema
        entry: make test-docs-and-schema
        files: "^src/(config|cmd)/"
        types: [go]
        language: system
        pass_filenames: false
      - id: goimports
        name: goimports
        entry: golangci-lint fmt
        types: [go]
        language: golang
        pass_filenames: false
      - id: lint
        name: golangci-lint go lint
        entry: golangci-lint run
        types: [go]
        language: golang
        pass_filenames: false

fix site
  site/src/content/docs/ref/packages.mdx
Due: none

updates
  examples/dos-games/zarf.yaml
  src/cmd/package.go
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/layout/package.go
  src/pkg/zoci/common.go
Due: check-docs-and-schema, goimports, lint

documentation
  examples/dos-games/zarf.yaml
Due: none

docs
  site/src/content/docs/ref/packages.mdx
Due: none

use constants in layer selector
  src/pkg/zoci/pull.go
Due: goimports, lint

make docs and schema
  site/src/content/docs/commands/zarf_package_inspect_documentation.md
Due: none

tabs
  examples/dos-games/zarf.yaml
Due: none

add validation for duplicate file names
  src/pkg/lint/validate.go
  src/pkg/lint/validate_test.go
Due: goimports, lint

wording
  site/src/content/docs/ref/packages.mdx
Due: none

unnecessary comments
  src/pkg/lint/validate.go
Due: goimports, lint

whitespace
  src/pkg/lint/validate.go
Due: goimports, lint

chore(feature): make feature package public (#4399)
  src/cmd/root.go
  src/pkg/feature/feature.go
  src/pkg/feature/feature_test.go
  src/pkg/packager/deploy.go
  src/pkg/packager/load/load.go
  src/pkg/packager/remove.go
Due: check-docs-and-schema, goimports, lint

pr feedback -- converted to unit test
  src/pkg/packager/publish_test.go
  src/pkg/packager/test
  src/test/e2e/50_oci_publish_deploy_test.go
Due: goimports, lint

removing erroneous file from debugging
  src/pkg/packager/test
Due: none

fix oci relative paths
  src/pkg/zoci/pull.go
  src/pkg/zoci/pull_test.go
  src/pkg/zoci/testdata/basic/zarf.yaml
Due: goimports, lint

override
  src/cmd/package.go
Due: check-docs-and-schema, goimports, lint

sync to main
  src/pkg/packager/load/load_test.go
Due: goimports, lint

better function definitions
  src/pkg/images/common.go
  src/pkg/images/pull.go
  src/pkg/images/pull_test.go
  src/pkg/images/push.go
  src/pkg/images/push_test.go
  src/pkg/packager/deploy.go
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/mirror.go
Due: goimports, lint

opts
  src/pkg/images/common.go
  src/pkg/images/pull.go
  src/pkg/images/pull_test.go
  src/pkg/images/push.go
  src/pkg/images/push_test.go
  src/pkg/packager/deploy.go
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/mirror.go
Due: goimports, lint

opts->options
  src/pkg/images/push.go
  src/pkg/images/push_test.go
  src/pkg/packager/deploy.go
  src/pkg/packager/mirror.go
Due: goimports, lint

var renames
  src/pkg/images/pull.go
  src/pkg/images/pull_test.go
  src/pkg/images/push_test.go
  src/pkg/packager/deploy.go
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/mirror.go
Due: goimports, lint

fix json files
  src/pkg/images/testdata/docker-containerd-image-store/blobs/sha256/1b44b5a3e06a9aae883e7bf25e45c100be0bb81a0e01b32de604f3ac44711634
  src/pkg/images/testdata/docker-containerd-image-store/blobs/sha256/2771e37a12b7bcb2902456ecf3f29bf9ee11ec348e66e8eb322d9780ad7fc2df
  src/pkg/images/testdata/docker-containerd-image-store/blobs/sha256/53cc1017c16ab2500aa5b5367e7650dbe2f753651d88792af1b522e5af328352
  src/pkg/images/testdata/docker-containerd-image-store/index.json
  src/pkg/images/testdata/docker-containerd-image-store/manifest.json
  src/pkg/images/testdata/docker-graph-driver-image-store/blobs/sha256/1b44b5a3e06a9aae883e7bf25e45c100be0bb81a0e01b32de604f3ac44711634
  src/pkg/images/testdata/docker-graph-driver-image-store/blobs/sha256/40dac9b7451f24939ec924338c7f40d2f10cda3a20b80977a10825cd5a125845
  src/pkg/images/testdata/docker-graph-driver-image-store/blobs/sha256/903fefa23e8c1af4ffe506477d70fbf7a356260029f72902b5b4db3beed3e2b2
  src/pkg/images/testdata/docker-graph-driver-image-store/manifest.json
Due: none

fix: properly find images containing underscores (#4391)
  src/pkg/packager/find_images.go
  src/pkg/packager/find_images_test.go
  src/pkg/packager/testdata/find-images/fuzzy/configmap-image-with-underscores.yaml
  src/pkg/packager/testdata/find-images/fuzzy/zarf.yaml
Due: goimports, lint

move to flux cli utils
  go.mod
Due: none

removed unneeded import
  src/pkg/zoci/push.go
Due: goimports, lint

go mod tidy
  go.mod
  go.sum
Due: none

secrets.md
  examples/dos-games/zarf.yaml
Due: none

fixed some lints
  src/pkg/packager/publish_test.go
  src/pkg/zoci/push.go
Due: goimports, lint

make documentation use the key name
  src/cmd/package_test.go
  src/pkg/lint/validate.go
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/layout/layout_test.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/layout/package_test.go
  src/pkg/packager/layout/testdata/zarf-package/zarf.yaml
  src/pkg/zoci/pull.go
  src/pkg/zoci/pull_test.go
  src/test/e2e/11_oci_pull_inspect_test.go
  src/test/packages/11-simple-package/zarf.yaml
Due: check-docs-and-schema, goimports, lint

delete validate case
  src/pkg/lint/validate.go
  src/pkg/lint/validate_test.go
Due: goimports, lint

update checksums
  hack/examples-checksums/zarf-package-dos-games-amd64-1.2.0.txt
Due: none

fix: publish breaks when Zarf package name and existing directory nam… (#4402)
  src/pkg/packager/publish_test.go
  src/pkg/zoci/push.go
Due: goimports, lint

separate import logic
  src/pkg/packager/load/import.go
  src/pkg/packager/load/import_test.go
  src/pkg/packager/load/testdata/import/variables/expected.yaml
  src/pkg/packager/load/testdata/import/variables/import/zarf.yaml
  src/pkg/packager/load/testdata/import/variables/secondImport/zarf.yaml
  src/pkg/packager/load/testdata/import/variables/zarf.yaml
Due: goimports, lint

feat: implement import logic for Zarf Values
  src/pkg/packager/load/import.go
  src/pkg/packager/load/import_test.go
  src/pkg/packager/load/testdata/import/variables/expected.yaml
  src/pkg/packager/load/testdata/import/variables/import/zarf.yaml
  src/pkg/packager/load/testdata/import/variables/secondImport/zarf.yaml
  src/pkg/packager/load/testdata/import/variables/zarf.yaml
Due: goimports, lint

add docs
  site/src/content/docs/ref/components.mdx
Due: none

add back validation
  src/pkg/lint/validate.go
  src/pkg/lint/validate_test.go
Due: goimports, lint

create documentation.tar
  src/pkg/archive/archive.go
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/layout/layout.go
  src/pkg/packager/layout/layout_test.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/layout/package_test.go
  src/pkg/zoci/pull.go
  src/pkg/zoci/pull_test.go
Due: goimports, lint

fix unit tests
  src/pkg/zoci/pull_test.go
Due: goimports, lint

readme
  src/pkg/zoci/testdata/basic/zarf.yaml
Due: none
