Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: check-merge-conflict
      - id: detect-aws-credentials
        args:
          - "--allow-missing-credentials"
      - id: detect-private-key
        exclude: "src/test/e2e/29_config_file_test.go"
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                src/internal/packager/images/testdata/.*|
                site/src/content/docs/commands/.*
            )$
      - id: fix-byte-order-marker
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
        exclude: site/src/content/docs/commands/.*
  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.4
    hooks:
      - id: fix-smartquotes
  - repo: local
    hooks:
      - id: check-docs-and-schema
        name: Check for outdated docs and Zarf schema
        entry: make test-docs-and-schema
        files: "^src/(config|cmd)/"
        types: [go]
        language: system
        pass_filenames: false
      - id: goimports
        name: goimports
        entry: golangci-lint fmt
        types: [go]
        language: golang
        pass_filenames: false
      - id: lint
        name: golangci-lint go lint
        entry: golangci-lint run
        types: [go]
        language: golang
        pass_filenames: false

update to 67
  src/pkg/packager/layout/assemble.go
Due: goimports, lint

feat!: respenct component selector ordering
  site/src/content/docs/ref/components.mdx
  src/pkg/packager/filters/utils.go
  src/pkg/packager/filters/utils_test.go
Due: goimports, lint

chore(deps): replace containerd/selinux for vulnerabilities (#4363)
  go.mod
  go.sum
Due: none

feat: add support for Argo CD ApplicationSets
  packages/zarf-agent/chart/templates/webhook.yaml
  src/internal/agent/hooks/argocd-applicationset.go
  src/internal/agent/hooks/argocd-applicationset_test.go
  src/internal/agent/start.go
Due: goimports, lint

feat: add OCI support for Argo CD sources
  src/internal/agent/hooks/argocd-application.go
  src/internal/agent/hooks/argocd-application_test.go
  src/internal/agent/hooks/argocd-appproject.go
  src/internal/agent/hooks/argocd-appproject_test.go
  src/internal/agent/hooks/argocd-repository.go
  src/internal/agent/hooks/argocd-repository_test.go
  src/internal/agent/hooks/common.go
  src/internal/agent/hooks/flux-gitrepo.go
  src/internal/agent/hooks/flux-ocirepo.go
Due: goimports, lint

feat: refactor, add tests and docs
  examples/argocd/baseline/values.yaml
  examples/argocd/oci-helm/values.yaml
  examples/argocd/oci-manifests/values.yaml
  examples/argocd/zarf.yaml
  src/internal/agent/hooks/argocd-application.go
  src/internal/agent/hooks/argocd-application_test.go
  src/internal/agent/hooks/argocd-appproject_test.go
  src/internal/agent/hooks/argocd-repository.go
  src/internal/agent/hooks/argocd-repository_test.go
  src/test/e2e/22_git_and_gitops_test.go
  src/test/external/ext_in_cluster_test.go
  src/test/external/ext_out_cluster_test.go
Due: goimports, lint

remove init from cmd
  src/cmd/root.go
Due: check-docs-and-schema, goimports, lint

correct comment
  src/cmd/root.go
Due: check-docs-and-schema, goimports, lint

feat(verify): update pkg for verify option
  src/pkg/packager/create.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/load.go
  src/pkg/packager/load_test.go
  src/pkg/packager/pull.go
Due: goimports, lint

feat(test): update test and docs
  site/src/content/docs/commands/zarf_init.md
  site/src/content/docs/commands/zarf_package_deploy.md
  site/src/content/docs/commands/zarf_package_inspect.md
  site/src/content/docs/commands/zarf_package_inspect_definition.md
  site/src/content/docs/commands/zarf_package_inspect_images.md
  site/src/content/docs/commands/zarf_package_inspect_manifests.md
  site/src/content/docs/commands/zarf_package_inspect_sbom.md
  site/src/content/docs/commands/zarf_package_inspect_values-files.md
  site/src/content/docs/commands/zarf_package_mirror-resources.md
  site/src/content/docs/commands/zarf_package_publish.md
  site/src/content/docs/commands/zarf_package_pull.md
  site/src/content/docs/commands/zarf_package_remove.md
  src/cmd/initialize.go
  src/cmd/package.go
  src/cmd/root.go
  src/cmd/viper.go
  src/config/lang/english.go
  src/test/e2e/11_oci_pull_inspect_test.go
  src/test/e2e/31_checksum_and_signature_test.go
  src/test/e2e/34_custom_init_package_test.go
  src/test/nightly/ecr_publish_test.go
Due: check-docs-and-schema, goimports, lint

auto ssa
  src/internal/packager/helm/chart.go
Due: goimports, lint

WIP, many decision points
  src/cmd/helm.go
  src/internal/packager/helm/chart.go
  src/internal/packager/helm/common.go
  src/internal/packager/helm/destroy.go
  src/internal/packager/helm/post-render.go
  src/internal/packager/helm/template.go
  src/internal/packager/helm/zarf.go
  src/test/e2e/25_helm_test.go
Due: check-docs-and-schema, goimports, lint

fix upgrade logs
  .github/workflows/test-upgrade.yml
Due: none

notes
  src/cmd/helm.go
  src/internal/packager/helm/chart.go
Due: check-docs-and-schema, goimports, lint

fix log
  .github/workflows/test-upgrade.yml
Due: none

rough draft of new docs reference pages
  site/src/content/docs/ref/package-values.mdx
  site/src/content/docs/ref/templating.mdx
Due: none

update helm mappings section and edit for flow
  site/src/content/docs/ref/package-values.mdx
Due: none

refactor: remove init from src/cmd (#4365)
  src/cmd/root.go
Due: check-docs-and-schema, goimports, lint

give users an overview but lean on examples more by linking out to them rather than duplicating the same content
  site/src/content/docs/ref/templating.mdx
Due: none

unused imports
  site/src/content/docs/ref/package-values.mdx
Due: none

update ref/templating.md for flow
  site/src/content/docs/ref/templating.mdx
Due: none

fix build, some of those imports were used
  site/src/content/docs/ref/package-values.mdx
Due: none

update package-values.mdx with schema guidance and more info on CLI and config file imports and --set-values
  site/src/content/docs/ref/package-values.mdx
Due: none

add package values best practices
  site/src/content/docs/best-practices/package-values.mdx
  site/src/content/docs/ref/package-values.mdx
Due: none

make templating best practices
  site/src/content/docs/best-practices/templating.mdx
  site/src/content/docs/ref/templating.mdx
Due: none

feat(load): add verified metadata to build data
  src/api/v1alpha1/package.go
  src/pkg/packager/layout/package.go
Due: goimports, lint

feat(sign): support for sigstore bundle format
  src/pkg/packager/layout/layout.go
  src/pkg/packager/layout/package.go
  src/pkg/utils/cosign.go
Due: goimports, lint

feat: add --no-git-checksum flag to mirror-resources command
  src/cmd/dev.go
  src/cmd/package.go
  src/config/lang/english.go
  src/internal/agent/hooks/argocd-application.go
  src/internal/agent/hooks/argocd-repository.go
  src/internal/agent/hooks/flux-gitrepo.go
  src/internal/agent/http/proxy.go
  src/internal/git/repository.go
  src/pkg/packager/mirror.go
  src/pkg/transform/git.go
  src/pkg/transform/git_test.go
Due: check-docs-and-schema, goimports, lint

fix(sign): update testing to reflect bundle addition
  src/pkg/packager/layout/package_test.go
Due: goimports, lint

chore(docs): add tutorial documentation for signing and verification
  site/src/content/docs/tutorials/5-package-signing-and-verification.mdx
  src/pkg/packager/layout/package.go
Due: goimports, lint

fix(ci): add debug logging for upgrade test
  .github/workflows/test-upgrade.yml
Due: none

always run
  .github/workflows/test-upgrade.yml
Due: none

remove package
  .github/workflows/test-upgrade.yml
Due: none

ensure that example/values-templating is tested in the Makefile build
  Makefile
Due: none

fix(ci): add support for using a custom tmpdir in testing/actions
  .github/actions/cleanup-files/action.yaml
  .github/workflows/test-e2e.yml
  .github/workflows/test-external.yml
  .github/workflows/test-upgrade.yml
  src/test/common.go
Due: goimports, lint

update exmamples to apply at the correct step, and enable templating on the remove exmaple
  examples/values-templating/zarf.yaml
Due: none

fix(ci): test pruning registry
  src/test/common.go
  src/test/e2e/22_git_and_gitops_test.go
  src/test/e2e/25_helm_test.go
  src/test/e2e/31_checksum_and_signature_test.go
  src/test/e2e/50_oci_publish_deploy_test.go
  src/test/e2e/99_yolo_test.go
Due: goimports, lint

clear init package after it's used
  .github/workflows/test-upgrade.yml
Due: none

add a note about maintaining examples
  CONTRIBUTING.md
Due: none

ensure users don't set template: true during onCreate actions
  src/pkg/lint/validate.go
  src/pkg/lint/validate_test.go
Due: goimports, lint
