Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: check-merge-conflict
      - id: detect-aws-credentials
        args:
          - "--allow-missing-credentials"
      - id: detect-private-key
        exclude: "src/test/e2e/29_config_file_test.go"
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                src/internal/packager/images/testdata/.*|
                site/src/content/docs/commands/.*
            )$
      - id: fix-byte-order-marker
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
        exclude: site/src/content/docs/commands/.*
  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.4
    hooks:
      - id: fix-smartquotes
  - repo: local
    hooks:
      - id: check-docs-and-schema
        name: Check for outdated docs and Zarf schema
        entry: make test-docs-and-schema
        files: "^src/(config|cmd)/"
        types: [go]
        language: system
        pass_filenames: false
      - id: goimports
        name: goimports
        entry: golangci-lint fmt
        types: [go]
        language: golang
        pass_filenames: false
      - id: lint
        name: golangci-lint go lint
        entry: golangci-lint run
        types: [go]
        language: golang
        pass_filenames: false

fix: return the correct error on io.CopyN failure (#4652)
  src/internal/split/split.go
Due: goimports, lint

WIP
  src/pkg/zoci/push.go
  src/pkg/zoci/push_test.go
Due: goimports, lint

feat: add retries on create operations
  src/config/config.go
  src/internal/packager/helm/repo.go
  src/pkg/images/pull.go
  src/pkg/utils/network.go
Due: check-docs-and-schema, goimports, lint

Update StopReporting doc comment
  src/pkg/images/progress.go
Due: goimports, lint

fix: preserve error chains by using `%w` instead of `%s` (#4658)
  src/cmd/zarf_tools.go
  src/config/lang/english.go
  src/internal/git/repository.go
  src/internal/packager/helm/repo.go
  src/pkg/archive/archive.go
  src/pkg/cluster/tunnel.go
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/remove.go
  src/pkg/utils/network.go
Due: check-docs-and-schema, goimports, lint

require valid manifests
  src/pkg/zoci/push.go
  src/pkg/zoci/push_test.go
Due: goimports, lint

fix: prevent panic on double call to `Tracker.StopReporting` (#4655)
  src/pkg/images/progress.go
  src/pkg/images/progress_test.go
Due: goimports, lint

fix: check `svc.Spec.Ports` bounds before indexing in tunnel code (#4654)
  src/pkg/cluster/tunnel.go
  src/pkg/cluster/tunnel_test.go
Due: goimports, lint

fix: buffer `errChan` in `Tunnel.establish` to prevent goroutine leak (#4653)
  src/pkg/cluster/tunnel.go
Due: goimports, lint

fix: close chunk file descriptors per iteration in `SplitFile`
  src/internal/split/split.go
Due: goimports, lint

chore: rebase, add rate limit max
  go.mod
  go.sum
  src/cmd/zarf_tools.go
  src/config/lang/english.go
  src/internal/git/repository.go
  src/internal/packager/helm/repo.go
  src/internal/split/split.go
  src/pkg/archive/archive.go
  src/pkg/cluster/tunnel.go
  src/pkg/cluster/tunnel_test.go
  src/pkg/images/progress.go
  src/pkg/images/progress_test.go
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/remove.go
  src/pkg/utils/network.go
Due: check-docs-and-schema, goimports, lint

fix: import ordering
  src/pkg/images/pull.go
Due: goimports, lint

feat(agent): add mutate-if-exists conditional image mutation
  packages/zarf-agent/chart/templates/clusterrole.yaml
  site/src/content/docs/ref/init-package.mdx
  src/internal/agent/hooks/pods.go
  src/internal/agent/hooks/pods_mutate_if_exists_test.go
  src/internal/agent/hooks/pods_mutate_if_image_exists.go
Due: goimports, lint

WIP
  src/pkg/zoci/push.go
Due: goimports, lint

fix(archive): resolve symlink traversal paths
  src/pkg/archive/archive.go
  src/pkg/archive/archive_traversal_test.go
Due: goimports, lint

chore(deps): bump go version to v1.25.7
  go.mod
Due: none

chore(deps): bump go version to v1.25.7 (#4672)
  go.mod
Due: none

fix: retry on error for waitForSingleResourceMatchingCriteria
  src/pkg/wait/wait.go
  src/pkg/wait/wait_test.go
Due: goimports, lint

fix(archive): update to use os.root API (#4674)
  src/pkg/archive/archive.go
  src/pkg/archive/archive_traversal_test.go
Due: goimports, lint

chore: address PR feedback
  src/internal/packager/helm/repo.go
  src/pkg/images/pull.go
  src/pkg/utils/network.go
Due: goimports, lint

add test
  src/pkg/zoci/pull_test.go
Due: goimports, lint

remove images from archiveImages that are not referenced in image scans, reorganize imageArchivesScans, create common patchComponent function
  src/cmd/dev.go
  src/config/lang/english.go
  src/pkg/packager/find_images.go
  src/pkg/packager/update.go
Due: check-docs-and-schema, goimports, lint

update docs
  site/src/content/docs/commands/zarf_dev.md
  site/src/content/docs/commands/zarf_dev_find-images.md
  src/config/lang/english.go
Due: check-docs-and-schema, goimports, lint

update unit tests
  src/pkg/packager/find_images.go
  src/pkg/packager/find_images_test.go
  src/pkg/packager/testdata/find-images/multiple-image-archives/deployment-alpine.yaml
  src/pkg/packager/testdata/find-images/multiple-image-archives/deployment-scratch-other.yaml
  src/pkg/packager/testdata/find-images/multiple-image-archives/deployment.yaml
  src/pkg/packager/testdata/find-images/multiple-image-archives/scratch-other.tar
  src/pkg/packager/testdata/find-images/multiple-image-archives/sub/scratch.tar
  src/pkg/packager/testdata/find-images/multiple-image-archives/zarf.yaml
  src/pkg/packager/update.go
  src/pkg/packager/update_test.go
Due: goimports, lint

comment cleanup
  src/pkg/packager/find_images.go
  src/pkg/packager/update.go
Due: goimports, lint

chore(test): update external testing for local development (#4638)
  src/test/external/README.md
  src/test/external/docker-compose.yml
  src/test/external/ext_out_cluster_test.go
Due: goimports, lint

chore(deps): update k9s to v0.50.18 (#4648)
  go.mod
  go.sum
  site/src/content/docs/commands/zarf_tools_monitor.md
Due: none

fix: close leaked file handles in `pull_test.go` HTTP handlers (#4657)
  src/pkg/packager/pull_test.go
Due: goimports, lint

unnecessary line
  src/pkg/zoci/pull_test.go
Due: goimports, lint

fix: close chunk file descriptors per iteration in `SplitFile` (#4656)
  src/internal/split/split.go
Due: goimports, lint

split up connect command
  src/cmd/connect.go
  src/config/lang/english.go
Due: check-docs-and-schema, goimports, lint

docs
  site/src/content/docs/commands/zarf_connect.md
  site/src/content/docs/commands/zarf_connect_resource.md
Due: none

fix(cmd): honor --insecure-skip-tls-verify for registry tools
  src/cmd/crane.go
  src/cmd/crane_test.go
Due: check-docs-and-schema, goimports, lint

update for v1beta1
  src/api/internal/v1beta1/component.go
  src/api/internal/v1beta1/package.go
  src/api/internal/v1beta1/package_test.go
  src/api/internal/v1beta1/translate.go
  src/api/internal/v1beta1/translate_test.go
Due: goimports, lint

update for v1beta1
  src/api/internal/v1beta1/component.go
Due: goimports, lint

fix duplicate component printing
  src/cmd/dev.go
  src/pkg/packager/find_images.go
Due: check-docs-and-schema, goimports, lint

connected mode wip
  src/cmd/package.go
  src/internal/packager/helm/chart.go
  src/internal/packager/helm/post-render.go
  src/pkg/packager/deploy.go
  src/pkg/packager/load.go
  src/pkg/zoci/common.go
  src/pkg/zoci/pull.go
  src/test/e2e/99_connected_deploy_test.go
  src/test/packages/99-connected-deploy/deployment.yaml
  src/test/packages/99-connected-deploy/zarf.yaml
Due: check-docs-and-schema, goimports, lint

always add the image
  src/internal/packager/helm/post-render.go
  src/internal/packager/helm/post-render_test.go
Due: goimports, lint
