Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

check-docs-and-schema:
  name: Check for outdated docs and Zarf schema
  entry: make test-docs-and-schema
  language: system
  pass_filenames: false

goimports:
  name: goimports
  entry: golangci-lint fmt
  language: golang
  pass_filenames: false

lint:
  name: golangci-lint go lint
  entry: golangci-lint run
  language: golang
  pass_filenames: false

feat(values): support intermediate file namespacing on import
  src/api/v1alpha1/component.go
  src/cmd/dev.go
  src/pkg/packager/create.go
  src/pkg/packager/dev.go
  src/pkg/packager/find_images.go
  src/pkg/packager/inspect.go
  src/pkg/packager/layout/layout_test.go
  src/pkg/packager/lint.go
  src/pkg/packager/load/import.go
  src/pkg/packager/load/import_test.go
  src/pkg/packager/load/load.go
  src/pkg/packager/publish.go
  src/test/e2e/42_values_test.go
Due: check-docs-and-schema, goimports, lint

ci: test installing latest release package with local built binary
  .github/workflows/test-upgrade.yml
Due: none

ci: fixed variable name
  .github/workflows/test-upgrade.yml
Due: none

ci: update tests for installing package
  .github/workflows/test-upgrade.yml
Due: none

ci: testing version that is not latest
  .github/workflows/test-upgrade.yml
Due: none

ci: revert to using latest package
  .github/workflows/test-upgrade.yml
Due: none

ci: upgrade to the built version
  .github/workflows/test-upgrade.yml
Due: none

chore: clean up code for review
  .github/workflows/test-upgrade.yml
  src/cmd/initialize.go
Due: check-docs-and-schema, goimports, lint

move build machine info test
  .github/workflows/test-e2e.yml
  .github/workflows/test-external.yml
  .github/workflows/test-proxy.yml
  .github/workflows/test-upgrade.yml
  src/test/e2e/00_use_cli_test.go
  src/test/e2e/32_build_machine_info_test.go
Due: goimports, lint

helm 4
  go.mod
  go.sum
Due: none

test: move build machine info test to e2e-without-cluster (#4597)
  .github/workflows/test-e2e.yml
  .github/workflows/test-external.yml
  .github/workflows/test-proxy.yml
  .github/workflows/test-upgrade.yml
  src/test/e2e/00_use_cli_test.go
  src/test/e2e/32_build_machine_info_test.go
Due: goimports, lint

add findimagesinarchive, unit tests, and add found images to FindImages output
  src/pkg/images/unpack.go
  src/pkg/images/unpack_test.go
  src/pkg/packager/find_images.go
Due: goimports, lint

update help text, create PackageDefinitionWithoutValidation, add placeholder images list, add skipimagearchivesimages definition option
  src/config/lang/english.go
  src/pkg/packager/find_images.go
  src/pkg/packager/load/load.go
Due: check-docs-and-schema, goimports, lint

chore: update dos-games references to 1.3 (#4557)
  examples/composable-packages/zarf.yaml
  site/src/content/docs/commands/zarf_package_pull.md
  site/src/content/docs/getting-started/index.mdx
  site/src/content/docs/ref/deploy.mdx
  site/src/content/docs/tutorials/3-deploy-a-retro-arcade.mdx
  src/config/lang/english.go
  src/test/e2e/05_tarball_test.go
  src/test/e2e/09_component_compose_test.go
Due: check-docs-and-schema, goimports, lint

docs: fix grammatical error in OnlyHasImageLayers doc comment (#4552)
  src/pkg/images/common.go
Due: goimports, lint

chore: update dos games package 1.3.0 (#4555)
  .github/workflows/publish-application-packages.yml
  Makefile
  examples/dos-games/zarf.yaml
  hack/examples-checksums/zarf-package-dos-games-amd64-1.3.0.txt
  src/test/e2e/05_tarball_test.go
  src/test/e2e/06_create_sbom_test.go
  src/test/e2e/25_helm_test.go
  src/test/e2e/26_simple_packages_test.go
  src/test/e2e/31_checksum_and_signature_test.go
  src/test/e2e/32_build_machine_info_test.go
Due: goimports, lint

update find_images unit tests, add test for image archive
  src/pkg/packager/find_images.go
  src/pkg/packager/find_images_test.go
  src/pkg/packager/testdata/find-images/image-archives/scratch.tar
  src/pkg/packager/testdata/find-images/image-archives/zarf.yaml
Due: goimports, lint

remove PackageDefinitionWithoutValidation, unexport validate(), add DefinitionOption for skipping imagearchives images schema findings
  src/pkg/packager/find_images.go
  src/pkg/packager/load/load.go
Due: goimports, lint

update unit test
  src/pkg/packager/find_images_test.go
Due: goimports, lint

finish updates to find-images, update unit tests, begin work on find-images --update
  src/cmd/dev.go
  src/pkg/images/unpack.go
  src/pkg/images/unpack_test.go
  src/pkg/packager/find_images.go
  src/pkg/packager/find_images_test.go
  src/pkg/packager/testdata/find-images/image-archives/deployment-alpine.yaml
  src/pkg/packager/testdata/find-images/image-archives/deployment.yaml
  src/pkg/packager/testdata/find-images/image-archives/zarf.yaml
  src/pkg/packager/update.go
Due: check-docs-and-schema, goimports, lint

reduce redundancy, add unit tests for split out functions
  src/pkg/images/common.go
  src/pkg/images/unpack.go
  src/pkg/images/unpack_test.go
  src/pkg/packager/find_images.go
Due: goimports, lint

fix linting issues
  src/pkg/images/unpack.go
  src/pkg/packager/find_images_test.go
Due: goimports, lint

docs: clarify data injections deprecation timeline (#4556)
  site/src/content/docs/best-practices/data-injections-migration.mdx
Due: none

update docs
  site/src/content/docs/commands/zarf_dev.md
  site/src/content/docs/commands/zarf_dev_find-images.md
Due: none

add back condition quote check
  src/pkg/wait/wait.go
Due: goimports, lint

refactor code to move configflag call out
  src/pkg/wait/wait.go
Due: goimports, lint

refactor client and config call
  src/pkg/wait/wait.go
Due: goimports, lint

wait for crd'
  src/test/e2e/46_tools_wait_for_test.go
Due: goimports, lint

WIP
  src/test/e2e/46_tools_wait_for_test.go
Due: goimports, lint

fix(schema): remove schema changes
  src/api/v1alpha1/component.go
Due: goimports, lint

feat: add OCI support for Argo CD sources
  src/internal/agent/hooks/argocd-application.go
  src/internal/agent/hooks/argocd-application_test.go
  src/internal/agent/hooks/argocd-appproject.go
  src/internal/agent/hooks/argocd-appproject_test.go
  src/internal/agent/hooks/argocd-repository.go
  src/internal/agent/hooks/argocd-repository_test.go
  src/internal/agent/hooks/common.go
  src/internal/agent/hooks/flux-gitrepo.go
  src/internal/agent/hooks/flux-ocirepo.go
Due: goimports, lint

feat: add url patch for argo cd repo-creds secrets
  packages/zarf-agent/chart/templates/webhook.yaml
  src/internal/agent/hooks/argocd-repository_test.go
Due: goimports, lint

feat: refactor, add tests and docs
  examples/argocd/baseline/values.yaml
  examples/argocd/oci-helm/values.yaml
  examples/argocd/oci-manifests/values.yaml
  examples/argocd/zarf.yaml
  src/internal/agent/hooks/argocd-application.go
  src/internal/agent/hooks/argocd-application_test.go
  src/internal/agent/hooks/argocd-appproject_test.go
  src/internal/agent/hooks/argocd-repository.go
  src/internal/agent/hooks/argocd-repository_test.go
  src/test/e2e/22_git_and_gitops_test.go
  src/test/external/ext_in_cluster_test.go
  src/test/external/ext_out_cluster_test.go
Due: goimports, lint

feat: update to latest changes
  src/internal/agent/hooks/argocd-application.go
  src/internal/agent/hooks/argocd-applicationset.go
  src/internal/agent/hooks/argocd-appproject.go
  src/internal/agent/hooks/argocd-repository.go
  src/test/e2e/22_git_and_gitops_test.go
Due: goimports, lint

feat: add custom upgrade version
  .github/workflows/test-upgrade.yml
Due: none

feat!(values): support values merge on import
  src/api/v1alpha1/component.go
  src/cmd/dev.go
  src/pkg/packager/create.go
  src/pkg/packager/dev.go
  src/pkg/packager/find_images.go
  src/pkg/packager/inspect.go
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/layout/layout_test.go
  src/pkg/packager/lint.go
  src/pkg/packager/load/import.go
  src/pkg/packager/load/import_test.go
  src/pkg/packager/load/load.go
  src/pkg/packager/publish.go
  src/pkg/value/value.go
Due: check-docs-and-schema, goimports, lint

fix!(bundle): bundle feature flag and version requirement
  src/pkg/feature/feature.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/layout/package_test.go
Due: goimports, lint

add short name for test
  src/test/e2e/46_tools_wait_for_test.go
Due: goimports, lint

use short names
  src/pkg/wait/wait.go
Due: goimports, lint

feat(bundle) add version & shift version check
  src/cmd/package.go
  src/pkg/feature/feature.go
  src/pkg/packager/deploy.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/layout/package_test.go
  src/pkg/packager/load.go
  src/pkg/packager/pull.go
Due: check-docs-and-schema, goimports, lint

Path conditions:
  check-docs-and-schema: any of: ^src/(config|cmd)/ and \.go$
  goimports: any of: \.go$
  lint: any of: \.go$
