Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

check-docs-and-schema:
  name: Check for outdated docs and Zarf schema
  entry: make test-docs-and-schema
  language: system
  pass_filenames: false

goimports:
  name: goimports
  entry: golangci-lint fmt
  language: golang
  pass_filenames: false

lint:
  name: golangci-lint go lint
  entry: golangci-lint run
  language: golang
  pass_filenames: false

refactor: remove init from src/cmd (#4365)
  src/cmd/root.go
Due: check-docs-and-schema, goimports, lint

chore(deps): update deps to remove replace directive (#4381)
  go.mod
  go.sum
  site/src/content/docs/commands/zarf_tools_sbom.md
  site/src/content/docs/commands/zarf_tools_sbom_attest.md
  site/src/content/docs/commands/zarf_tools_sbom_scan.md
Due: none

fix/docs(values/templating): fix and test values-templating example (#4377)
  CONTRIBUTING.md
  Makefile
  examples/values-templating/zarf.yaml
  src/pkg/lint/validate.go
  src/pkg/lint/validate_test.go
Due: goimports, lint

ci: cleanup pre-installed tools more aggressively and always log cluster info in test-upgrade (#4367)
  .github/actions/cleanup-files/action.yaml
  .github/workflows/test-upgrade.yml
Due: none

feat!: allow setting static injector nodeport (#4382)
  site/src/content/docs/commands/zarf_init.md
  src/cmd/initialize.go
  src/cmd/viper.go
  src/pkg/cluster/cluster.go
  src/pkg/cluster/injector.go
  src/pkg/cluster/injector_test.go
  src/pkg/packager/deploy.go
  src/pkg/state/state.go
  src/test/e2e/20_zarf_init_test.go
Due: check-docs-and-schema, goimports, lint

fix: publish breaks when Zarf package name and existing directory name collide
  src/pkg/zoci/push.go
  src/pkg/zoci/push_test.go
  src/pkg/zoci/testdata/simple-no-images/test-file.txt
  src/pkg/zoci/testdata/simple-no-images/zarf.yaml
Due: goimports, lint

refactor: generate schema purely through go (#4385)
  hack/schema/create-zarf-schema.sh
  hack/schema/main.go
  zarf.schema.json
Due: goimports, lint

docs(examples): fix misleading comment in examples/values-templating (#4386)
  examples/values-templating/zarf.yaml
Due: none

make docs and schema
  site/src/content/docs/commands/zarf_tools_yq.md
  site/src/content/docs/commands/zarf_tools_yq_completion.md
  site/src/content/docs/commands/zarf_tools_yq_eval-all.md
  site/src/content/docs/commands/zarf_tools_yq_eval.md
Due: none

feat!: respect component selector ordering
  site/src/content/docs/ref/components.mdx
  src/pkg/packager/filters/utils.go
  src/pkg/packager/filters/utils_test.go
Due: goimports, lint

fix: find the agent release when deployed with a custom named init package (#4398)
  src/internal/packager/helm/zarf.go
Due: goimports, lint

make work with skeletons
  src/pkg/packager/layout/assemble.go
Due: goimports, lint

add tests
  src/pkg/packager/layout/layout_test.go
  src/pkg/packager/layout/testdata/zarf-package/doc.md
  src/pkg/packager/layout/testdata/zarf-package/zarf.yaml
  src/pkg/packager/layout/testdata/zarf-skeleton-package/doc.md
  src/pkg/packager/layout/testdata/zarf-skeleton-package/zarf.yaml
Due: goimports, lint

docs
  src/pkg/packager/layout/layout_test.go
Due: goimports, lint

add tests for documentation
  src/cmd/package.go
  src/pkg/zoci/common.go
  src/pkg/zoci/pull.go
  src/pkg/zoci/pull_test.go
  src/pkg/zoci/testdata/basic/README.md
  src/pkg/zoci/testdata/basic/zarf.yaml
Due: check-docs-and-schema, goimports, lint

fix checksums
  hack/examples-checksums/zarf-package-dos-games-amd64-1.2.0.txt
Due: none

refactor flow and test
  src/cmd/package.go
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/layout/layout_test.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/layout/package_test.go
Due: check-docs-and-schema, goimports, lint

add e2e tests
  src/cmd/package_test.go
  src/cmd/testdata/inspect-documentation/simple/CONTRIBUTE.md
  src/cmd/testdata/inspect-documentation/simple/README.md
  src/cmd/testdata/inspect-documentation/simple/zarf.yaml
  src/pkg/packager/layout/package.go
  src/test/e2e/11_oci_pull_inspect_test.go
  src/test/packages/11-simple-package/zarf.yaml
Due: check-docs-and-schema, goimports, lint

move internal/feature to src/pkg
  src/cmd/root.go
  src/pkg/feature/feature.go
  src/pkg/feature/feature_test.go
  src/pkg/packager/deploy.go
  src/pkg/packager/load/load.go
  src/pkg/packager/remove.go
Due: check-docs-and-schema, goimports, lint

add documentation
  site/src/content/docs/ref/packages.mdx
  src/cmd/package.go
Due: check-docs-and-schema, goimports, lint

fix: publish breaks when Zarf package name and existing directory name collide
  src/pkg/zoci/push.go
  src/test/e2e/43_oci_publish_deploy_test.go
  src/test/packages/43-oci-publish-collision/README.md
  src/test/packages/43-oci-publish-collision/zarf.yaml
Due: goimports, lint

fix: publish breaks when Zarf package name and existing directory name collide
  src/test/e2e/50_oci_publish_deploy_test.go
Due: goimports, lint

fix!: allow values files from any directory on Zarf package create
  examples/values-templating/zarf.yaml
  src/internal/value/value.go
  src/internal/value/value_test.go
  src/pkg/packager/deploy.go
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/layout/layout.go
  src/pkg/zoci/pull_test.go
  src/test/packages/42-values/zarf.yaml
Due: goimports, lint

fix checksums
  hack/examples-checksums/zarf-package-component-actions-amd64.txt
  hack/examples-checksums/zarf-package-dos-games-amd64-1.2.0.txt
  hack/examples-checksums/zarf-package-manifests-amd64-0.0.1.txt
  hack/examples-checksums/zarf-package-variables-amd64.txt
  hack/examples-checksums/zarf-package-yolo-amd64.txt
Due: none

i knows how to sort sort i swears
  hack/examples-checksums/zarf-package-manifests-amd64-0.0.1.txt
Due: none

chore: add push alias for publish
  src/cmd/package.go
Due: check-docs-and-schema, goimports, lint

chore: add `push` alias for `zarf package publish` (#4404)
  src/cmd/package.go
Due: check-docs-and-schema, goimports, lint

feat: update injector to use Opt Struct
  .github/workflows/nightly-eks-multi-arch.yml
  src/pkg/cluster/injector.go
  src/pkg/cluster/injector_test.go
  src/pkg/cluster/testdata/expected-injection-pod.json
  src/pkg/packager/deploy.go
Due: goimports, lint

add import logic
  src/pkg/packager/load/import.go
  src/pkg/packager/load/import_test.go
  src/pkg/packager/load/testdata/import/variables/expected.yaml
  src/pkg/packager/load/testdata/import/variables/import/zarf.yaml
  src/pkg/packager/load/testdata/import/variables/secondImport/zarf.yaml
  src/pkg/packager/load/testdata/import/variables/zarf.yaml
Due: goimports, lint

if I could go back in time and change one thing - Xenix and Unix compatibility in MS-DOS 2 should never have been removed
  src/pkg/packager/load/testdata/import/variables/expected.yaml
  src/pkg/packager/load/testdata/import/variables/import/zarf.yaml
  src/pkg/packager/load/testdata/import/variables/secondImport/zarf.yaml
Due: none

docs(examples): add required flag to zarf dev generate command example
  site/src/content/docs/commands/zarf_dev_generate.md
  src/config/lang/english.go
Due: check-docs-and-schema, goimports, lint

docs(examples): add required flag to zarf dev generate command example (#4415)
  site/src/content/docs/commands/zarf_dev_generate.md
  src/config/lang/english.go
Due: check-docs-and-schema, goimports, lint

feat: add external data injection and fix registry prune resilience
  src/api/internal/v1beta1/component.go
  src/api/v1alpha1/component.go
  src/cmd/crane.go
  src/pkg/cluster/data.go
  src/pkg/packager/deploy.go
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/layout/sbom.go
  src/pkg/variables/templates.go
  src/test/e2e/23_data_injection_external_test.go
  zarf.schema.json
Due: check-docs-and-schema, goimports, lint

chore(docs): generate documentation for updates
  site/src/content/docs/commands/zarf_tools_yq.md
  site/src/content/docs/commands/zarf_tools_yq_completion.md
  site/src/content/docs/commands/zarf_tools_yq_eval-all.md
  site/src/content/docs/commands/zarf_tools_yq_eval.md
Due: none

feat: update inject opts to validate required settings
  src/pkg/cluster/injector.go
  src/pkg/cluster/injector_test.go
  src/pkg/packager/deploy.go
Due: goimports, lint

feat: update injector init testing
  src/pkg/cluster/injector.go
  src/pkg/cluster/injector_test.go
  src/pkg/packager/deploy.go
Due: goimports, lint

make images package public
  src/pkg/images/common.go
  src/pkg/images/progress.go
  src/pkg/images/pull.go
  src/pkg/images/pull_test.go
  src/pkg/images/push.go
  src/pkg/images/push_test.go
  src/pkg/images/testdata/crane-oci-layout/images/blobs/sha256/03b62250a3cb1abd125271d393fc08bf0cc713391eda6b57c02d1ef85efcc25c
  src/pkg/images/testdata/crane-oci-layout/images/blobs/sha256/36d1d40a06b50801a6a61e0d77839ddcb1fad96236bc9bb0b054a0a88ddee6d2
  src/pkg/images/testdata/crane-oci-layout/images/blobs/sha256/388644128f73336edd09211c3d96cfa150d79ad3c37cd6a1a1daced62e832015
  src/pkg/images/testdata/crane-oci-layout/images/blobs/sha256/3e84ea487b4c52a3299cf2996f70e7e1721236a0998da33a0e30107108486b3e
  src/pkg/images/testdata/crane-oci-layout/images/blobs/sha256/527f371018c97e284c0bdafe15473f36fe9cea21f461d1c46628df7dbae25e01
  src/pkg/images/testdata/crane-oci-layout/images/blobs/sha256/6162308b7421163281afe8bd1c69ae16d50e675cbe93ff8b34f8ad5efb71a866
  src/pkg/images/testdata/crane-oci-layout/images/blobs/sha256/74cc54e27dc41bb10dc4b2226072d469509f2f22f1a3ce74f4a59661a1d44602
  src/pkg/images/testdata/crane-oci-layout/images/blobs/sha256/9a4fb3c3a1b9efd437f8dc47ea37ea64fcd81a08591f4343271a57f39cd4639f
  src/pkg/images/testdata/crane-oci-layout/images/blobs/sha256/b28556176ff21acc94aeecd721dc335722f98fe36c480ce9efe35a4987571cec
  src/pkg/images/testdata/crane-oci-layout/images/blobs/sha256/cb03d9ef0fc8b4a5669cdcf652c23670f93bd1bd4f1431a57ad4917d894a90e2
  src/pkg/images/testdata/crane-oci-layout/images/blobs/sha256/dfd1d516bc666aa249eb62a4ad12460d77b1db3ce6f27b129e8462b6ee8170cb
  src/pkg/images/testdata/crane-oci-layout/images/blobs/sha256/e6590344b1a5dc518829d6ea1524fc12f8bcd14ee9a02aa6ad8360cce3a9a9e9
  src/pkg/images/testdata/crane-oci-layout/images/index.json
  src/pkg/images/testdata/crane-oci-layout/images/oci-layout
  src/pkg/images/testdata/oras-oci-layout/images/blobs/sha256/03b62250a3cb1abd125271d393fc08bf0cc713391eda6b57c02d1ef85efcc25c
  src/pkg/images/testdata/oras-oci-layout/images/blobs/sha256/388644128f73336edd09211c3d96cfa150d79ad3c37cd6a1a1daced62e832015
  src/pkg/images/testdata/oras-oci-layout/images/blobs/sha256/3e84ea487b4c52a3299cf2996f70e7e1721236a0998da33a0e30107108486b3e
  src/pkg/images/testdata/oras-oci-layout/images/blobs/sha256/527f371018c97e284c0bdafe15473f36fe9cea21f461d1c46628df7dbae25e01
  src/pkg/images/testdata/oras-oci-layout/images/blobs/sha256/6162308b7421163281afe8bd1c69ae16d50e675cbe93ff8b34f8ad5efb71a866
  src/pkg/images/testdata/oras-oci-layout/images/blobs/sha256/6a88822e787d1df28b83ebd72eb348569fc44351b84bba25c0bc566f6083965b
  src/pkg/images/testdata/oras-oci-layout/images/blobs/sha256/74cc54e27dc41bb10dc4b2226072d469509f2f22f1a3ce74f4a59661a1d44602
  src/pkg/images/testdata/oras-oci-layout/images/blobs/sha256/9a4fb3c3a1b9efd437f8dc47ea37ea64fcd81a08591f4343271a57f39cd4639f
  src/pkg/images/testdata/oras-oci-layout/images/blobs/sha256/b28556176ff21acc94aeecd721dc335722f98fe36c480ce9efe35a4987571cec
  src/pkg/images/testdata/oras-oci-layout/images/blobs/sha256/cb03d9ef0fc8b4a5669cdcf652c23670f93bd1bd4f1431a57ad4917d894a90e2
  src/pkg/images/testdata/oras-oci-layout/images/blobs/sha256/dfd1d516bc666aa249eb62a4ad12460d77b1db3ce6f27b129e8462b6ee8170cb
  src/pkg/images/testdata/oras-oci-layout/images/blobs/sha256/e6590344b1a5dc518829d6ea1524fc12f8bcd14ee9a02aa6ad8360cce3a9a9e9
  src/pkg/images/testdata/oras-oci-layout/images/index.json
  src/pkg/images/testdata/oras-oci-layout/images/oci-layout
Due: goimports, lint

Path conditions:
  check-docs-and-schema: any of: ^src/(config|cmd)/ and \.go$
  goimports: any of: \.go$
  lint: any of: \.go$
