Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

check-docs-and-schema:
  name: Check for outdated docs and Zarf schema
  entry: make test-docs-and-schema
  language: system
  pass_filenames: false

goimports:
  name: goimports
  entry: golangci-lint fmt
  language: golang
  pass_filenames: false

lint:
  name: golangci-lint go lint
  entry: golangci-lint run
  language: golang
  pass_filenames: false

fix: modify tests to not use src/pkg/zoci package inside src/pkg/oci
  src/pkg/oci/index_test.go
Due: goimports, lint

chore(deps): drop github.com/defenseunicorns/pkg
  go.mod
  go.sum
  vendor/github.com/defenseunicorns/pkg/helpers/v2/LICENSE
  vendor/github.com/defenseunicorns/pkg/helpers/v2/files.go
  vendor/github.com/defenseunicorns/pkg/helpers/v2/hash.go
  vendor/github.com/defenseunicorns/pkg/helpers/v2/io.go
  vendor/github.com/defenseunicorns/pkg/helpers/v2/misc.go
  vendor/github.com/defenseunicorns/pkg/helpers/v2/progress.go
  vendor/github.com/defenseunicorns/pkg/helpers/v2/random.go
  vendor/github.com/defenseunicorns/pkg/helpers/v2/slice.go
  vendor/github.com/defenseunicorns/pkg/helpers/v2/text.go
  vendor/github.com/defenseunicorns/pkg/helpers/v2/transport.go
  vendor/github.com/defenseunicorns/pkg/helpers/v2/url.go
  vendor/github.com/defenseunicorns/pkg/oci/LICENSE
  vendor/github.com/defenseunicorns/pkg/oci/cache/cache.go
  vendor/github.com/defenseunicorns/pkg/oci/common.go
  vendor/github.com/defenseunicorns/pkg/oci/copier.go
  vendor/github.com/defenseunicorns/pkg/oci/fetch.go
  vendor/github.com/defenseunicorns/pkg/oci/manifest.go
  vendor/github.com/defenseunicorns/pkg/oci/progress.go
  vendor/github.com/defenseunicorns/pkg/oci/pull.go
  vendor/github.com/defenseunicorns/pkg/oci/push.go
  vendor/github.com/defenseunicorns/pkg/oci/utils.go
  vendor/modules.txt
Due: goimports, lint

chore: replace functions with golang built-ins
  src/cmd/internal.go
  src/internal/api/v1alpha1/validate_test.go
  src/internal/git/repository_test.go
  src/pkg/packager/dev_test.go
  src/pkg/packager/filters/deploy_test.go
  src/pkg/packager/generate.go
  src/pkg/transform/artifact.go
  src/pkg/transform/git.go
  src/pkg/transform/image.go
  src/pkg/zoci/pull.go
Due: check-docs-and-schema, goimports, lint

validation
  src/api/validation.go
  src/api/validation_test.go
Due: goimports, lint

git tls introduction
  packages/gitea/connect.yaml
  packages/gitea/gitea-values.yaml
  site/src/content/docs/commands/zarf_init.md
  site/src/content/docs/commands/zarf_tools_update-creds_git.md
  src/cmd/initialize.go
  src/cmd/internal.go
  src/cmd/viper.go
  src/cmd/zarf_tools.go
  src/config/lang/english.go
  src/internal/git/repository.go
  src/internal/gitea/gitea.go
  src/internal/packager/helm/post-render.go
  src/internal/packager/helm/zarf.go
  src/internal/packager/template/template.go
  src/pkg/cluster/cluster.go
  src/pkg/cluster/cluster_test.go
  src/pkg/cluster/secrets.go
  src/pkg/cluster/secrets_test.go
  src/pkg/cluster/tunnel.go
  src/pkg/cluster/zarf.go
  src/pkg/packager/deploy.go
  src/pkg/packager/mirror.go
  src/pkg/state/state.go
  src/pkg/state/state_test.go
  src/test/e2e/20_zarf_init_test.go
  src/test/proxy/proxy_test.go
Due: check-docs-and-schema, goimports, lint

tls in chart
  packages/gitea/git-tls-values.yaml
  packages/gitea/readme.md
  packages/gitea/tls-chart/Chart.yaml
  packages/gitea/tls-chart/templates/secret.yaml
  packages/gitea/tls-chart/values.yaml
  packages/gitea/zarf.yaml
  site/src/content/docs/commands/zarf_init.md
  src/cmd/initialize.go
  src/cmd/zarf_tools.go
  src/config/lang/english.go
  src/internal/packager/helm/zarf.go
  src/pkg/cluster/cluster.go
  src/pkg/cluster/cluster_test.go
  src/pkg/cluster/secrets.go
  src/pkg/packager/deploy.go
  src/test/e2e/20_zarf_init_test.go
Due: check-docs-and-schema, goimports, lint

fix(helm)!: only label pod templates of built-in workload kinds (#5360)
  src/internal/packager/helm/post-render.go
  src/internal/packager/helm/post-render_test.go
Due: goimports, lint

verify rotation
  src/cmd/zarf_tools.go
  src/internal/packager/helm/zarf.go
  src/pkg/packager/deploy.go
  src/test/e2e/20_zarf_init_test.go
Due: check-docs-and-schema, goimports, lint

delete helpers
  src/cmd/dev.go
  src/internal/checksum/checksum.go
  src/pkg/helpers/files.go
  src/pkg/images/pull.go
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/assemble/assemble_test.go
  src/pkg/packager/layout/oci.go
  src/pkg/packager/pull.go
  src/pkg/utils/network.go
  src/pkg/utils/network_test.go
  src/test/e2e/05_tarball_test.go
Due: check-docs-and-schema, goimports, lint

delete helpers
  src/internal/checksum/checksum.go
Due: goimports, lint

de-duplicate
  src/internal/checksum/checksum.go
Due: goimports, lint

fix!: remove images and repositories from package secret during connected deploys (#5402)
  src/cmd/crane.go
  src/cmd/crane_test.go
  src/cmd/package.go
  src/pkg/packager/deploy.go
  src/test/e2e/47_connected_deploy_test.go
  src/test/testutil/registry.go
Due: check-docs-and-schema, goimports, lint

get hashes
  src/internal/checksum/checksum.go
Due: goimports, lint

unit tests
  src/internal/checksum/checksum_test.go
Due: goimports, lint

fix helpers
  go.mod
  go.sum
  src/pkg/packager/load/import_v1beta1.go
  vendor/modules.txt
Due: goimports, lint

fix vendoring
  go.mod
  go.sum
  vendor/modules.txt
Due: none

change in how it works
  packages/gitea/git-tls-values.yaml
  packages/gitea/readme.md
  packages/gitea/tls-chart/templates/secret.yaml
  packages/gitea/tls-chart/values.yaml
  packages/gitea/zarf.yaml
  site/src/content/docs/commands/zarf_init.md
  site/src/content/docs/commands/zarf_tools_update-creds_git.md
  src/cmd/initialize.go
  src/cmd/zarf_tools.go
  src/config/lang/english.go
  src/internal/packager/helm/chart.go
  src/internal/packager/helm/post-render.go
  src/internal/packager/helm/post-render_test.go
  src/internal/packager/helm/zarf.go
  src/pkg/cluster/secrets.go
  src/pkg/cluster/secrets_test.go
  src/pkg/cluster/zarf.go
  src/pkg/packager/deploy.go
  src/pkg/state/state.go
  src/test/e2e/20_zarf_init_test.go
Due: check-docs-and-schema, goimports, lint

feat: add validation for api package (#5393)
  src/api/convert/convert_test.go
  src/api/package.go
  src/api/validation.go
  src/api/validation_test.go
  src/internal/api/v1alpha1/convert.go
  src/internal/api/v1alpha1/roundtrip_test.go
  src/internal/api/v1beta1/convert.go
  src/internal/api/v1beta1/roundtrip_test.go
  src/internal/pkgcfg/pkgcfg.go
  src/pkg/cluster/zarf.go
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/layout/package_test.go
  src/pkg/packager/remove.go
Due: goimports, lint

add validity to agent
  src/cmd/initialize.go
Due: check-docs-and-schema, goimports, lint

chore: simplify branch changes
  src/pkg/oci/common.go
  src/pkg/utils/network.go
  src/pkg/zoci/common.go
  src/pkg/zoci/pull_retry.go
  src/pkg/zoci/pull_retry_test.go
Due: goimports, lint

fix(values): preserve inferred types across null overlays (#5412)
  src/cmd/dev.go
  src/pkg/value/generate.go
  src/pkg/value/generate_test.go
  src/test/e2e/14_zarf_package_generate_test.go
  src/test/packages/14-generate-schema/chart/values.yaml
  src/test/packages/14-generate-schema/common/chart-values.yaml
  src/test/packages/14-generate-schema/common/values.yaml
  src/test/packages/14-generate-schema/common/zarf.yaml
  src/test/packages/14-generate-schema/values.yaml
Due: check-docs-and-schema, goimports, lint

feat(v1beta1): componet import validation (#5384)
  src/internal/api/v1beta1/validate.go
  src/pkg/component/publish.go
  src/pkg/component/publish_test.go
  src/pkg/component/resource_normalizer.go
  src/pkg/packager/load/import_v1beta1.go
  src/pkg/packager/load/import_v1beta1_test.go
  src/pkg/packager/load/package.go
Due: goimports, lint

isset
  src/api/package.go
Due: goimports, lint

introduce v1beta1 init config
  src/api/convert/convert_test.go
  src/api/v1beta1/package.go
  src/api/validation.go
  src/api/validation_test.go
  src/cmd/dev_template.go
  src/cmd/dev_template_test.go
  src/internal/api/v1alpha1/convert.go
  src/internal/api/v1beta1/convert.go
  src/internal/api/v1beta1/validate.go
  src/internal/api/v1beta1/validate_test.go
  src/pkg/packager/load/load_test.go
  src/pkg/schema/schema_test.go
  src/pkg/schema/zarf-v1beta1-package-schema.json
  src/pkg/schema/zarf.schema.json
  zarf.schema.json
Due: check-docs-and-schema, goimports, lint

unnecessary validation
  src/api/validation.go
Due: goimports, lint

unnecessary validation
  src/api/validation_test.go
Due: goimports, lint

load components
  src/pkg/packager/find_images.go
  src/pkg/packager/load/component.go
Due: goimports, lint

definition header
  src/cmd/dev.go
  src/pkg/packager/find_images.go
  src/pkg/packager/load/load.go
  src/pkg/packager/update.go
Due: check-docs-and-schema, goimports, lint

feat: add init chart values schemas (#5347)
  packages/zarf-agent/chart/Chart.yaml
  packages/zarf-agent/chart/values.schema.json
  packages/zarf-agent/zarf.yaml
  packages/zarf-registry/chart/Chart.yaml
  packages/zarf-registry/chart/values.schema.json
  packages/zarf-registry/zarf.yaml
Due: none

cleaer tests
  src/pkg/packager/find_images.go
  src/pkg/packager/update.go
  src/pkg/packager/update_test.go
Due: goimports, lint

fix: rename to files and handle extraction
  src/pkg/packager/layout/package.go
  src/pkg/packager/layout/package_test.go
  src/pkg/packager/layout/resource.go
  src/pkg/packager/layout/resource_test.go
Due: goimports, lint

e2e for find images
  src/pkg/packager/update_test.go
  src/test/e2e/13_find_images_test.go
  src/test/packages/13-find-images-formats/component.yaml
  src/test/packages/13-find-images-formats/pod.yaml
  src/test/packages/13-find-images-formats/zarf-v1beta1.yaml
  src/test/packages/13-find-images-formats/zarf.yaml
Due: goimports, lint

component options
  src/pkg/packager/find_images.go
  src/pkg/packager/load/component.go
  src/pkg/packager/load/import_v1beta1.go
Due: goimports, lint

cachepath to component publish
  src/cmd/component.go
  src/pkg/component/publish.go
  src/pkg/packager/load/component.go
  src/pkg/packager/load/import_v1beta1.go
Due: check-docs-and-schema, goimports, lint

load values
  src/pkg/packager/load/component.go
  src/pkg/packager/load/component_test.go
  src/pkg/packager/load/package.go
  src/pkg/packager/load/values.go
Due: goimports, lint

fix regression
  src/pkg/packager/update.go
  src/pkg/packager/update_test.go
Due: goimports, lint

Add SELinuxOptions to registry schema and template all of seLinuxOptions in registry chart template
  packages/zarf-registry/chart/templates/deployment.yaml
  packages/zarf-registry/chart/values.schema.json
  packages/zarf-registry/registry-values.yaml
  packages/zarf-registry/zarf.yaml
Due: none

fix image archive bug
  src/pkg/packager/update.go
  src/pkg/packager/update_test.go
Due: goimports, lint

Path conditions:
  check-docs-and-schema: any of: ^src/(config|cmd)/ and \.go$
  goimports: any of: \.go$
  lint: any of: \.go$
