Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: check-merge-conflict
      - id: detect-aws-credentials
        args:
          - "--allow-missing-credentials"
      - id: detect-private-key
        exclude: "src/test/e2e/29_config_file_test.go"
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                src/internal/packager/images/testdata/.*|
                site/src/content/docs/commands/.*
            )$
      - id: fix-byte-order-marker
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
        exclude: site/src/content/docs/commands/.*
  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.4
    hooks:
      - id: fix-smartquotes
  - repo: local
    hooks:
      - id: check-docs-and-schema
        name: Check for outdated docs and Zarf schema
        entry: make test-docs-and-schema
        files: "^src/(config|cmd)/"
        types: [go]
        language: system
        pass_filenames: false
      - id: goimports
        name: goimports
        entry: golangci-lint fmt
        types: [go]
        language: golang
        pass_filenames: false
      - id: lint
        name: golangci-lint go lint
        entry: golangci-lint run
        types: [go]
        language: golang
        pass_filenames: false

serviceValues
  packages/init-v1beta1/agent/values-schema.json
  packages/init-v1beta1/agent/zarf-agent.yaml
  packages/init-v1beta1/git-server/gitea.yaml
  packages/init-v1beta1/git-server/values-schema.json
  packages/init-v1beta1/registry/values-schema.json
  packages/init-v1beta1/registry/zarf-injector-common.yaml
  packages/init-v1beta1/registry/zarf-registry.yaml
  packages/init-v1beta1/values-schema.json
  packages/init-v1beta1/zarf.tpl.yaml
Due: none

example deploy values
  packages/init-v1beta1/README.md
  packages/init-v1beta1/example-deploy-values.yaml
Due: none

fix: proper binary scan location for nightly cve scan
  .github/workflows/nightly-scan-cve.yml
  Makefile
Due: none

fix: update contrib docs
  CONTRIBUTING.md
Due: none

fix: core team reference
  CONTRIBUTING.md
Due: none

feat(update-creds): separate commands for each service (#5106)
  site/src/content/docs/commands/zarf_tools.md
  site/src/content/docs/commands/zarf_tools_update-creds.md
  site/src/content/docs/commands/zarf_tools_update-creds_agent.md
  site/src/content/docs/commands/zarf_tools_update-creds_git.md
  site/src/content/docs/commands/zarf_tools_update-creds_registry.md
  src/cmd/zarf_tools.go
  src/cmd/zarf_tools_test.go
  src/config/lang/english.go
  src/internal/gitea/gitea.go
  src/internal/gitea/gitea_test.go
  src/test/e2e/21_connect_creds_test.go
Due: check-docs-and-schema, goimports, lint

fix site flakes
  .github/workflows/test-site.yml
  site/hack/build-versions.mjs
Due: none

get from git tags
  .github/workflows/test-site.yml
  site/README.md
  site/hack/build-versions.mjs
Due: none

make docs and schema
  site/src/content/docs/commands/zarf_tools_yq.md
  site/src/content/docs/commands/zarf_tools_yq_completion.md
  site/src/content/docs/commands/zarf_tools_yq_eval-all.md
  site/src/content/docs/commands/zarf_tools_yq_eval.md
Due: none

package api
  src/api/api.go
  src/pkg/packager/load/load.go
Due: goimports, lint

remove automount for registry
  packages/zarf-registry/chart/templates/deployment.yaml
Due: none

minio s3 test
  src/test/e2e/20_zarf_init_test.go
Due: goimports, lint

minio changes
  src/test/e2e/20_zarf_init_test.go
  src/test/packages/20-init-minio-registry/minio.yaml
  src/test/packages/20-init-minio-registry/zarf-config.yaml
Due: goimports, lint

docs: update contrib docs (#5121)
  CONTRIBUTING.md
Due: none

run against zarf git repo
  site/hack/build-versions.mjs
Due: none

fix: proper binary scan location for nightly cve scan (#5120)
  .github/workflows/nightly-scan-cve.yml
  Makefile
Due: none

ci: mitigate 403 errors when building docs site (#5127)
  site/README.md
  site/hack/build-versions.mjs
Due: none

fix test
  src/pkg/packager/assemble/assemble_test.go
Due: goimports, lint

pkg
  src/api/api.go
  src/cmd/dev.go
  src/pkg/packager/assemble/assemble_test.go
  src/pkg/packager/create.go
  src/pkg/packager/dev.go
  src/pkg/packager/find_images.go
  src/pkg/packager/inspect.go
  src/pkg/packager/lint.go
  src/pkg/packager/load/load.go
  src/pkg/packager/load/load_test.go
  src/pkg/packager/publish.go
  src/pkg/packager/values_preflight_test.go
Due: check-docs-and-schema, goimports, lint

concrete type
  src/api/api.go
Due: goimports, lint

api
  src/api/api.go
  src/cmd/dev.go
  src/pkg/packager/assemble/assemble_test.go
  src/pkg/packager/create.go
  src/pkg/packager/dev.go
  src/pkg/packager/find_images.go
  src/pkg/packager/inspect.go
  src/pkg/packager/lint.go
  src/pkg/packager/load/load.go
  src/pkg/packager/load/load_test.go
  src/pkg/packager/publish.go
  src/pkg/packager/values_preflight_test.go
Due: check-docs-and-schema, goimports, lint

change defined package to loaded package
  src/pkg/packager/load/load.go
Due: goimports, lint

resolve package
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/assemble/assemble_test.go
  src/pkg/packager/create.go
  src/pkg/packager/dev.go
  src/pkg/packager/values_preflight_test.go
Due: goimports, lint

setbasepath
  src/cmd/dev_upgrade.go
Due: check-docs-and-schema, goimports, lint

Update src/cmd/dev_upgrade.go
  src/cmd/dev_upgrade.go
Due: check-docs-and-schema, goimports, lint

upgrade logisitics
  src/cmd/dev_upgrade.go
Due: check-docs-and-schema, goimports, lint

component import version
  src/cmd/dev_upgrade.go
Due: check-docs-and-schema, goimports, lint

select version
  src/cmd/dev_upgrade.go
Due: check-docs-and-schema, goimports, lint

test with import
  src/test/packages/00-dev-inspect-definition-v1beta1/expected-zarf.yaml
  src/test/packages/00-dev-inspect-definition-v1beta1/imported-component.yaml
  src/test/packages/00-dev-inspect-definition-v1beta1/zarf.yaml
Due: none

WIP
  site/src/content/docs/commands/zarf_component.md
  site/src/content/docs/commands/zarf_component_publish.md
  src/cmd/component.go
  src/cmd/component_test.go
  src/cmd/root.go
  src/config/lang/english.go
  src/pkg/lint/schema.go
  src/pkg/packager/component/component.go
  src/pkg/packager/component/component_test.go
  src/pkg/packager/load/import_v1beta1.go
  src/pkg/packager/load/import_v1beta1_test.go
  src/pkg/packager/load/load.go
  src/pkg/schema/schema.go
Due: check-docs-and-schema, goimports, lint

publish test
  src/pkg/packager/load/import_v1beta1.go
  src/test/e2e/15_oci_compose_test.go
  src/test/packages/15-remote-component/charts/remote-chart/Chart.yaml
  src/test/packages/15-remote-component/charts/remote-chart/templates/configmap.yaml
  src/test/packages/15-remote-component/files/remote.txt
  src/test/packages/15-remote-component/kustomize/configmap.yaml
  src/test/packages/15-remote-component/kustomize/kustomization.yaml
  src/test/packages/15-remote-component/manifests/raw-configmap.yaml
  src/test/packages/15-remote-component/remote-component.yaml
  src/test/packages/15-remote-component/values/chart-values.yaml
  src/test/packages/15-remote-component/values/global.yaml
  src/test/packages/15-remote-component/values/schema.json
  src/test/packages/15-remote-component/zarf.yaml
Due: goimports, lint

remote component
  REMOTE_COMPONENT_IMPORT_PLAN.md
Due: none

component actions to values
  examples/component-actions/test.txt
  examples/component-actions/values.yaml
  examples/component-actions/zarf.yaml
  site/src/content/docs/ref/actions.mdx
  site/src/content/docs/ref/components.mdx
  src/test/e2e/02_component_actions_test.go
Due: goimports, lint

versioned import
  site/.gitignore
  site/hack/build-versions.mjs
  site/src/content/docs/ref/actions.mdx
Due: none

link rewriting
  site/hack/build-versions.mjs
  site/src/plugins/remark-link-rewrite.test.ts
  site/src/plugins/remark-link-rewrite.ts
Due: none

fix failing tests
  examples/component-actions/zarf.yaml
  src/test/e2e/02_component_actions_test.go
Due: goimports, lint

old variables test
  src/test/e2e/02_component_actions_test.go
  src/test/packages/02-component-action-variables/test.txt
  src/test/packages/02-component-action-variables/zarf.yaml
Due: goimports, lint

wordpress to values
  examples/wordpress/values.schema.json
  examples/wordpress/values.yaml
  examples/wordpress/wordpress-values.yaml
  examples/wordpress/zarf.yaml
Due: none

WIP
  src/api/api.go
  src/internal/api/v1alpha1/convert.go
  src/internal/pkgcfg/pkgcfg.go
  src/pkg/images/pull.go
  src/pkg/images/pull_test.go
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/assemble/assemble_test.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/layout/package_test.go
Due: goimports, lint
