Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: check-merge-conflict
      - id: detect-aws-credentials
        args:
          - "--allow-missing-credentials"
      - id: detect-private-key
        exclude: "src/test/e2e/29_config_file_test.go"
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                src/internal/packager/images/testdata/.*|
                site/src/content/docs/commands/.*
            )$
      - id: fix-byte-order-marker
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
        exclude: site/src/content/docs/commands/.*
  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.4
    hooks:
      - id: fix-smartquotes
  - repo: local
    hooks:
      - id: check-docs-and-schema
        name: Check for outdated docs and Zarf schema
        entry: make test-docs-and-schema
        files: "^src/(config|cmd)/"
        types: [go]
        language: system
        pass_filenames: false
      - id: goimports
        name: goimports
        entry: golangci-lint fmt
        types: [go]
        language: golang
        pass_filenames: false
      - id: lint
        name: golangci-lint go lint
        entry: golangci-lint run
        types: [go]
        language: golang
        pass_filenames: false

simplify code
  src/internal/packager/helm/repo.go
  src/internal/packager/helm/repo_test.go
Due: goimports, lint

chore: initial AGENTS.md file
  AGENTS.md
Due: none

remove unnecessary comment
  src/internal/packager/helm/repo_test.go
Due: goimports, lint

chore: add version requirements guidance
  AGENTS.md
Due: none

target to selector
  src/pkg/packager/load/import_v1beta1.go
  src/pkg/packager/load/import_v1beta1_merge.go
  src/pkg/packager/load/testdata/import-v1beta1/variants/components/web-apache.yaml
  src/pkg/packager/load/testdata/import-v1beta1/variants/components/web-nginx.yaml
Due: goimports, lint

fix: shift KnownPlainHTTP to registry method
  src/internal/agent/hooks/common.go
  src/pkg/images/push.go
  src/pkg/ocischeme/ocischeme.go
  src/pkg/ocischeme/ocischeme_test.go
  src/pkg/state/state.go
  src/pkg/state/state_test.go
Due: goimports, lint

fix tests
  src/pkg/packager/layout/oci_test.go
Due: goimports, lint

fix(helm): create registry client for http chart with OCI re-direct (#5067)
  src/internal/packager/helm/repo.go
  src/internal/packager/helm/repo_test.go
Due: goimports, lint

fix: simplify and error
  src/internal/agent/hooks/common.go
  src/internal/agent/hooks/common_test.go
  src/internal/agent/hooks/flux-ocirepo.go
  src/pkg/images/push.go
  src/pkg/images/push_test.go
  src/pkg/state/state.go
  src/pkg/state/state_test.go
Due: goimports, lint

send package path
  src/pkg/packager/load/import_v1beta1.go
  src/pkg/packager/load/import_v1beta1_test.go
  src/pkg/packager/load/load.go
Due: goimports, lint

fix name
  src/pkg/packager/load/import_v1beta1.go
  src/pkg/packager/load/import_v1beta1_test.go
Due: goimports, lint

comment
  src/pkg/packager/load/import_v1beta1_merge.go
Due: goimports, lint

fix original api version
  src/cmd/dev.go
  src/internal/api/v1alpha1/convert.go
  src/internal/api/v1alpha1/roundtrip_test.go
  src/internal/api/v1beta1/convert.go
  src/internal/api/v1beta1/roundtrip_test.go
  src/test/e2e/00_use_cli_test.go
Due: check-docs-and-schema, goimports, lint

expected zarf.yaml
  src/test/packages/00-dev-inspect-definition-v1beta1/expected-zarf.yaml
Due: none

v1beta1 validate
  src/internal/api/v1beta1/validate.go
  src/internal/api/v1beta1/validate_test.go
  src/pkg/packager/load/load.go
Due: goimports, lint

reduce duplication
  src/pkg/schema/generate.go
Due: goimports, lint

generate schema
  src/pkg/schema/generate.go
Due: goimports, lint

set required to optional
  src/api/convert/convert_test.go
  src/internal/api/v1alpha1/convert.go
  src/internal/api/v1beta1/convert.go
Due: goimports, lint

set required from api version
  src/api/convert/convert_test.go
  src/internal/api/v1alpha1/convert.go
  src/internal/api/v1alpha1/roundtrip_test.go
Due: goimports, lint

add roundtrip test
  src/internal/api/v1alpha1/roundtrip_test.go
Due: goimports, lint

fix(mTLS): prevent negotiation when portforward with mTLS (#5054)
  src/internal/agent/hooks/common.go
  src/pkg/cluster/tunnel.go
  src/pkg/cluster/tunnel_test.go
  src/pkg/images/push.go
  src/pkg/images/push_test.go
  src/pkg/state/state.go
  src/pkg/state/state_test.go
Due: goimports, lint

exclude paths
  src/api/convert/convert_test.go
  src/api/v1beta1/component.go
  src/internal/api/types/package.go
  src/internal/api/v1alpha1/convert.go
  src/internal/api/v1alpha1/roundtrip_test.go
  src/internal/api/v1beta1/convert.go
  src/pkg/schema/zarf-v1beta1-component-schema.json
  src/pkg/schema/zarf-v1beta1-package-schema.json
Due: goimports, lint

fix template fields
  src/internal/api/types/package.go
  src/internal/api/v1alpha1/convert.go
  src/internal/api/v1alpha1/roundtrip_test.go
Due: goimports, lint

full round trip
  src/internal/api/types/package.go
  src/internal/api/v1alpha1/convert.go
  src/internal/api/v1alpha1/roundtrip_test.go
Due: goimports, lint

simplify required conversion
  src/api/convert/convert_test.go
  src/internal/api/v1alpha1/convert.go
  src/internal/api/v1alpha1/roundtrip_test.go
Due: goimports, lint

chore: upgrade oras-go to v2.6.2 (#5057)
  go.mod
  go.sum
  vendor/golang.org/x/sync/semaphore/semaphore.go
  vendor/modules.txt
  vendor/oras.land/oras-go/v2/content/file/utils.go
  vendor/oras.land/oras-go/v2/content/reader.go
  vendor/oras.land/oras-go/v2/errdef/errors.go
  vendor/oras.land/oras-go/v2/registry/remote/repository.go
  vendor/oras.land/oras-go/v2/registry/remote/utils.go
Due: goimports, lint

roundtrip
  src/internal/api/v1alpha1/roundtrip_test.go
  src/internal/api/v1beta1/roundtrip_test.go
  src/test/testutil/fuzz.go
Due: goimports, lint

templated values files
  src/api/convert/convert_test.go
  src/api/v1beta1/component.go
  src/internal/api/types/package.go
  src/internal/api/v1alpha1/convert.go
  src/internal/api/v1beta1/convert.go
  src/internal/api/v1beta1/roundtrip_test.go
  src/pkg/schema/zarf-v1beta1-component-schema.json
  src/pkg/schema/zarf-v1beta1-package-schema.json
Due: goimports, lint

fix git logic
  src/api/convert/convert_test.go
  src/internal/api/v1alpha1/convert.go
  src/internal/api/v1beta1/convert.go
Due: goimports, lint

keep existing annotations
  src/api/convert/convert_test.go
  src/internal/api/v1beta1/convert.go
Due: goimports, lint

set original api version correctly
  src/api/convert/convert_test.go
  src/internal/api/v1alpha1/convert.go
  src/internal/api/v1alpha1/roundtrip_test.go
  src/internal/api/v1beta1/convert.go
  src/internal/api/v1beta1/roundtrip_test.go
Due: goimports, lint

fix(proxy): support for system CA with mTLS certs
  src/pkg/pki/pki.go
  src/pkg/pki/pki_test.go
Due: goimports, lint

take ownership
  site/public/tutorials/resource_adoption_deploy.html
Due: none

fix: change adoptExistingResources to takeOwnership (#5010)
  site/public/tutorials/resource_adoption_deploy.html
  site/src/content/docs/commands/zarf_dev_deploy.md
  site/src/content/docs/commands/zarf_init.md
  site/src/content/docs/commands/zarf_package_deploy.md
  site/src/content/docs/ref/init-package.mdx
  site/src/content/docs/tutorials/8-resource-adoption.mdx
  src/cmd/dev.go
  src/cmd/initialize.go
  src/cmd/package.go
  src/config/lang/english.go
  src/internal/packager/helm/chart.go
  src/internal/packager/helm/post-render.go
  src/pkg/packager/deploy.go
  src/pkg/packager/dev.go
  src/test/e2e/25_helm_test.go
  src/test/e2e/49_helm_adopt_ns_test.go
  src/test/packages/25-manifest-adoption/existing-resources.yaml
  src/test/packages/25-manifest-adoption/manifests/clusterrole.yaml
  src/test/packages/25-manifest-adoption/manifests/deployment.yaml
  src/test/packages/25-manifest-adoption/zarf.yaml
Due: check-docs-and-schema, goimports, lint

fix: updated guidance for agents
  AGENTS.md
Due: none

fix: update make target
  Makefile
Due: none

fix(proxy): support for system CA with mTLS certs (#5074)
  src/pkg/pki/pki.go
  src/pkg/pki/pki_test.go
Due: goimports, lint

feat: keep comments concise
  AGENTS.md
Due: none

paths
  src/pkg/packager/load/import_v1beta1_merge.go
Due: goimports, lint

fix values files
  src/pkg/packager/load/import_v1beta1_test.go
  src/pkg/packager/load/testdata/import-v1beta1/single/components/logging.yaml
Due: goimports, lint
