Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: check-merge-conflict
      - id: detect-aws-credentials
        args:
          - "--allow-missing-credentials"
      - id: detect-private-key
        exclude: "src/test/e2e/29_config_file_test.go"
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                src/internal/packager/images/testdata/.*|
                site/src/content/docs/commands/.*
            )$
      - id: fix-byte-order-marker
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
        exclude: site/src/content/docs/commands/.*
  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.4
    hooks:
      - id: fix-smartquotes
  - repo: local
    hooks:
      - id: check-docs-and-schema
        name: Check for outdated docs and Zarf schema
        entry: make test-docs-and-schema
        files: "^src/(config|cmd)/"
        types: [go]
        language: system
        pass_filenames: false
      - id: goimports
        name: goimports
        entry: golangci-lint fmt
        types: [go]
        language: golang
        pass_filenames: false
      - id: lint
        name: golangci-lint go lint
        entry: golangci-lint run
        types: [go]
        language: golang
        pass_filenames: false

report disk space
  .github/workflows/release.yml
  .github/workflows/test-e2e.yml
  .github/workflows/test-upgrade.yml
Due: none

remove more in cleanup
  .github/actions/cleanup-files/action.yaml
Due: none

fix(ci): prune registry where possible
  .github/workflows/test-upgrade.yml
  src/test/e2e/37_component_status_test.go
  src/test/e2e/50_oci_publish_deploy_test.go
  src/test/e2e/99_yolo_test.go
Due: goimports, lint

removing github tools
  .github/actions/cleanup-files/action.yaml
Due: none

fix(ci): cleanup testing for CI Disk space
  .github/workflows/test-upgrade.yml
  src/test/common.go
  src/test/e2e/22_git_and_gitops_test.go
  src/test/e2e/25_helm_test.go
  src/test/e2e/31_checksum_and_signature_test.go
  src/test/e2e/37_component_status_test.go
Due: goimports, lint

remove more aggressively
  .github/workflows/release.yml
  .github/workflows/test-e2e.yml
  .github/workflows/test-upgrade.yml
Due: none

ci: cleanup pre-installed tools more aggressively and always log cluster info in test-upgrade (#4367)
  .github/actions/cleanup-files/action.yaml
  .github/workflows/test-upgrade.yml
Due: none

fix(ci): revert removal of existing registry-prune operations
  src/test/e2e/22_git_and_gitops_test.go
Due: goimports, lint

feat(TUF): implement a trusted root embedding strategy
  go.mod
  hack/tuf/README.md
  hack/tuf/go.mod
  hack/tuf/go.sum
  hack/tuf/main.go
  src/pkg/utils/cosign.go
  src/pkg/utils/trustedroot.go
  src/pkg/utils/trustedroot_test.go
Due: goimports, lint

fix(trust): add trusted root to proper location for embedding
  src/pkg/utils/root/trusted_root.json
  src/pkg/utils/trustedroot.go
Due: goimports, lint

chore(deps): update deps to remove replace directive
  go.mod
  go.sum
Due: none

chore(docs): generate updated documentation
  site/src/content/docs/commands/zarf_tools_sbom.md
  site/src/content/docs/commands/zarf_tools_sbom_attest.md
  site/src/content/docs/commands/zarf_tools_sbom_scan.md
Due: none

fix/docs(values/templating): fix and test values-templating example (#4377)
  CONTRIBUTING.md
  Makefile
  examples/values-templating/zarf.yaml
  src/pkg/lint/validate.go
  src/pkg/lint/validate_test.go
Due: goimports, lint

customizable injector port
  src/cmd/initialize.go
  src/cmd/viper.go
  src/pkg/cluster/injector.go
  src/pkg/cluster/injector_test.go
  src/pkg/packager/deploy.go
  src/pkg/state/state.go
Due: check-docs-and-schema, goimports, lint

docs and schema
  site/src/content/docs/commands/zarf_init.md
  src/cmd/initialize.go
Due: check-docs-and-schema, goimports, lint

better wording
  site/src/content/docs/commands/zarf_init.md
  src/cmd/initialize.go
Due: check-docs-and-schema, goimports, lint

chore(deps): update deps to remove replace directive (#4381)
  go.mod
  go.sum
  site/src/content/docs/commands/zarf_tools_sbom.md
  site/src/content/docs/commands/zarf_tools_sbom_attest.md
  site/src/content/docs/commands/zarf_tools_sbom_scan.md
Due: none

test and save over time
  site/src/content/docs/commands/zarf_init.md
  src/cmd/initialize.go
  src/pkg/cluster/cluster.go
  src/pkg/packager/deploy.go
  src/test/e2e/20_zarf_init_test.go
Due: check-docs-and-schema, goimports, lint

fix(verify): only use trusted root path when bundle present
  hack/tuf/README.md
  src/pkg/packager/layout/package.go
  src/pkg/utils/cosign.go
Due: goimports, lint

docs
  site/src/content/docs/commands/zarf_init.md
  src/cmd/initialize.go
Due: check-docs-and-schema, goimports, lint

update test-upgrade
  .github/workflows/test-upgrade.yml
Due: none

change where we set injector port
  .github/workflows/test-upgrade.yml
  src/pkg/cluster/cluster.go
Due: goimports, lint

refactor yaml extensions
  hack/schema/create-zarf-schema.sh
  hack/schema/main.go
  zarf.schema.json
Due: goimports, lint

schema output
  hack/schema/main.go
Due: goimports, lint

move injector nodeport to start
  src/pkg/cluster/injector.go
Due: goimports, lint

use proper errors
  hack/schema/main.go
Due: goimports, lint

delete unnecessary comment
  hack/schema/main.go
Due: goimports, lint

remove newline
  hack/schema/main.go
Due: goimports, lint

move schema generation to zarf
  .github/dependabot.yaml
  .github/workflows/check-go-mod.yml
  Makefile
  go.mod
  go.sum
  hack/schema/README.md
  hack/schema/create-zarf-schema.sh
  hack/schema/go.mod
  hack/schema/go.sum
  hack/schema/main.go
  main.go
  src/cmd/dev_test.go
  src/cmd/internal.go
  src/cmd/package_test.go
  src/pkg/lint/schema.go
  src/pkg/lint/schema_test.go
  src/pkg/packager/create_test.go
  src/pkg/packager/find_images_test.go
  src/pkg/packager/layout/layout_test.go
  src/pkg/packager/lint_test.go
  src/pkg/packager/load/import_test.go
  src/pkg/packager/load/load_test.go
  src/pkg/packager/load_test.go
  src/pkg/packager/publish_test.go
  src/pkg/schema/schema.go
  src/pkg/zoci/pull_test.go
  src/test/testutil/schema.go
Due: check-docs-and-schema, goimports, lint

feat!: allow setting static injector nodeport (#4382)
  site/src/content/docs/commands/zarf_init.md
  src/cmd/initialize.go
  src/cmd/viper.go
  src/pkg/cluster/cluster.go
  src/pkg/cluster/injector.go
  src/pkg/cluster/injector_test.go
  src/pkg/packager/deploy.go
  src/pkg/state/state.go
  src/test/e2e/20_zarf_init_test.go
Due: check-docs-and-schema, goimports, lint

refactor: generate schema purely through go (#4385)
  hack/schema/create-zarf-schema.sh
  hack/schema/main.go
  zarf.schema.json
Due: goimports, lint

fix a confusing example comment
  examples/values-templating/zarf.yaml
Due: none

docs(examples): fix misleading comment in examples/values-templating (#4386)
  examples/values-templating/zarf.yaml
Due: none

make docs-and-schema
  zarf.schema.json
Due: none

make imports work
  src/pkg/packager/load/import.go
  src/pkg/packager/load/import_test.go
  src/pkg/packager/load/testdata/import/archives/expected.yaml
  src/pkg/packager/load/testdata/import/archives/import/zarf.yaml
  src/pkg/packager/load/testdata/import/archives/zarf.yaml
Due: goimports, lint

check for duplicate images
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/layout/assemble_test.go
Due: goimports, lint

check for duplicate images
  src/pkg/packager/layout/assemble_test.go
Due: goimports, lint

test: add failing test for fuzzy find images with underscores
  src/pkg/packager/find_images_test.go
  src/pkg/packager/testdata/find-images/fuzzy/configmap-image-with-underscores.yaml
  src/pkg/packager/testdata/find-images/fuzzy/zarf.yaml
Due: goimports, lint

fix: properly find images whose names contain underscores
  src/pkg/packager/find_images.go
Due: goimports, lint

add podinfo
  src/test/e2e/44_image_tar_test.go
  src/test/packages/44-image-tar/pod.yaml
  src/test/packages/44-image-tar/zarf.yaml
Due: goimports, lint
