Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

check-docs-and-schema:
  name: Check for outdated docs and Zarf schema
  entry: make test-docs-and-schema
  language: system
  pass_filenames: false

goimports:
  name: goimports
  entry: golangci-lint fmt
  language: golang
  pass_filenames: false

lint:
  name: golangci-lint go lint
  entry: golangci-lint run
  language: golang
  pass_filenames: false

minor edits
  site/src/content/docs/ref/init-package.mdx
Due: none

doc improvements
  site/src/content/docs/ref/init-package.mdx
Due: none

grammar fixes
  site/src/content/docs/ref/init-package.mdx
Due: none

more clear line
  site/src/content/docs/ref/init-package.mdx
Due: none

docs
  site/src/content/docs/commands/zarf_tools_wait-for_resource.md
  src/config/lang/english.go
  src/pkg/wait/wait.go
Due: check-docs-and-schema, goimports, lint

feat: split wait-for command (#4614)
  site/src/content/docs/commands/zarf_tools_wait-for.md
  site/src/content/docs/commands/zarf_tools_wait-for_network.md
  site/src/content/docs/commands/zarf_tools_wait-for_resource.md
  src/cmd/wait.go
  src/config/lang/english.go
  src/pkg/wait/wait.go
  src/test/e2e/46_tools_wait_for_test.go
  src/test/packages/46-manifests/zarf-cr.yaml
  src/test/packages/46-manifests/zarf-crd.yaml
Due: check-docs-and-schema, goimports, lint

fix wait conflict
  src/pkg/wait/wait.go
  src/test/e2e/46_tools_wait_for_test.go
  src/test/packages/46-manifests/zarf-svc-cr.yaml
  src/test/packages/46-manifests/zarf-svc-crd.yaml
Due: goimports, lint

prove that versions can be different with no problem
  src/test/e2e/46_tools_wait_for_test.go
  src/test/packages/46-manifests/zarf-svc-crd.yaml
  src/test/packages/46-manifests/zarf-svc-v2-cr.yaml
Due: goimports, lint

better test
  src/test/e2e/46_tools_wait_for_test.go
Due: goimports, lint

fix(wait): properly resolve kind when group conflicts between resources (#4628)
  src/pkg/wait/wait.go
  src/test/e2e/46_tools_wait_for_test.go
  src/test/packages/46-manifests/zarf-svc-cr.yaml
  src/test/packages/46-manifests/zarf-svc-crd.yaml
  src/test/packages/46-manifests/zarf-svc-v2-cr.yaml
Due: goimports, lint

feat: Let zarf packages define requirements
  examples/REQUIREMENTS/REQUIREMENTS
  site/src/content/docs/commands/zarf_package_deploy.md
  src/cmd/package.go
  src/internal/packager/requirements/agent.go
  src/internal/packager/requirements/cluster.go
  src/internal/packager/requirements/package_requirements.go
  src/internal/packager/requirements/package_requirements_test.go
  src/internal/packager/requirements/types.go
  src/pkg/packager/deploy.go
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/layout/layout.go
Due: check-docs-and-schema, goimports, lint

examples are expected to be zarf package create-able
  examples/REQUIREMENTS/REQUIREMENTS
  examples/REQUIREMENTS/manifests/namespace.yaml
  examples/REQUIREMENTS/zarf.yaml
Due: none

turn REQUIREMENTS into requirements
  examples/REQUIREMENTS/requirements.yaml
  examples/REQUIREMENTS/zarf.yaml
  src/cmd/package.go
  src/internal/packager/requirements/package_requirements_test.go
  src/pkg/packager/layout/layout.go
Due: check-docs-and-schema, goimports, lint

Fix package for unit test
  src/internal/packager/requirements/package_requirements.go
Due: goimports, lint

follow convention for skipRequirementsCheck
  src/cmd/package.go
Due: check-docs-and-schema, goimports, lint

import apiextensions directly now
  go.mod
Due: none

chore(test): update external testing for local development
  src/test/external/README.md
  src/test/external/docker-compose.yml
  src/test/external/ext_out_cluster_test.go
Due: goimports, lint

chore(deps): update npm deps for vulns
  site/package-lock.json
Due: none

chore(deps): bump moby to compatible version
  go.mod
  go.sum
Due: none

feat(publish): support for tag specification separate from metadata.version
  src/cmd/package.go
  src/config/lang/english.go
  src/pkg/packager/publish.go
  src/pkg/packager/publish_test.go
  src/pkg/zoci/utils.go
Due: check-docs-and-schema, goimports, lint

chore(docs): update documentation for publish command
  site/src/content/docs/commands/zarf_package_publish.md
Due: none

chore(deps): update npm deps for vulns (#4639)
  site/package-lock.json
Due: none

chore(docs): generate command documentation
  site/src/content/docs/commands/zarf_tools_sbom_cataloger_list.md
Due: none

fix(tests): update unit tests and doccomments
  src/pkg/packager/publish.go
  src/pkg/packager/publish_test.go
Due: goimports, lint

fix(import): update schema and general code comments
  src/pkg/packager/create.go
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/load/import.go
  src/pkg/packager/load/load.go
  src/pkg/schema/zarf-v1alpha1-schema.json
  zarf.schema.json
Due: goimports, lint

chore(deps): update k9s to v0.50.18
  go.mod
  go.sum
Due: none

chore(docs): generate cli docs
  site/src/content/docs/commands/zarf_tools_monitor.md
Due: none

fix: return the correct error
  src/internal/split/split.go
Due: goimports, lint

remove imagearchives logic from findimages, move into filterimagesfoundinarchives
  src/cmd/dev.go
  src/pkg/packager/find_images.go
  src/pkg/packager/update.go
Due: check-docs-and-schema, goimports, lint

fix(assemble): required parameter for values
  src/pkg/packager/create.go
  src/pkg/packager/dev.go
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/layout/layout_test.go
Due: goimports, lint

fix(assemble): resolve nil-reciever merge
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/load/import.go
Due: goimports, lint

update updateNeeded to account for archive images
  src/pkg/packager/update.go
Due: goimports, lint

fix: buffer `errChan` in `Tunnel.establish` to prevent goroutine leak
  src/pkg/cluster/tunnel.go
Due: goimports, lint

fix: check `svc.Spec.Ports` bounds before indexing in tunnel code
  src/pkg/cluster/tunnel.go
  src/pkg/cluster/tunnel_test.go
Due: goimports, lint

fix: prevent panic on double call to `Tracker.StopReporting`
  src/pkg/images/progress.go
  src/pkg/images/progress_test.go
Due: goimports, lint

fix: close chunk file descriptors per iteration in `SplitFile`
  src/internal/split/split.go
  src/internal/split/split_fd_leak_test.go
Due: goimports, lint

fix: close leaked file handles in `pull_test.go` HTTP handlers
  src/pkg/packager/pull_test.go
Due: goimports, lint

fix: preserve error chains by using `%w` instead of `%s`
  src/cmd/zarf_tools.go
  src/config/lang/english.go
  src/internal/git/repository.go
  src/internal/packager/helm/repo.go
  src/pkg/archive/archive.go
  src/pkg/cluster/tunnel.go
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/remove.go
  src/pkg/utils/network.go
Due: check-docs-and-schema, goimports, lint

fix: suppress `errcheck` lint on deferred `file.Close` in test handlers
  src/pkg/packager/pull_test.go
Due: goimports, lint

fix: check `Setrlimit` error in FD leak test cleanup
  src/internal/split/split_fd_leak_test.go
Due: goimports, lint

Path conditions:
  check-docs-and-schema: any of: ^src/(config|cmd)/ and \.go$
  goimports: any of: \.go$
  lint: any of: \.go$
