Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: check-merge-conflict
      - id: detect-aws-credentials
        args:
          - "--allow-missing-credentials"
      - id: detect-private-key
        exclude: "src/test/e2e/29_config_file_test.go"
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                src/internal/packager/images/testdata/.*|
                site/src/content/docs/commands/.*
            )$
      - id: fix-byte-order-marker
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
        exclude: site/src/content/docs/commands/.*
  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.4
    hooks:
      - id: fix-smartquotes
  - repo: local
    hooks:
      - id: check-docs-and-schema
        name: Check for outdated docs and Zarf schema
        entry: make test-docs-and-schema
        files: "^src/(config|cmd)/"
        types: [go]
        language: system
        pass_filenames: false
      - id: goimports
        name: goimports
        entry: golangci-lint fmt
        types: [go]
        language: golang
        pass_filenames: false
      - id: lint
        name: golangci-lint go lint
        entry: golangci-lint run
        types: [go]
        language: golang
        pass_filenames: false

feat: refactor, add tests and docs
  examples/argocd/baseline/values.yaml
  examples/argocd/oci-helm/values.yaml
  examples/argocd/oci-manifests/values.yaml
  examples/argocd/zarf.yaml
  src/internal/agent/hooks/argocd-application.go
  src/internal/agent/hooks/argocd-application_test.go
  src/internal/agent/hooks/argocd-appproject_test.go
  src/internal/agent/hooks/argocd-repository.go
  src/internal/agent/hooks/argocd-repository_test.go
  src/test/e2e/22_git_and_gitops_test.go
  src/test/external/ext_in_cluster_test.go
  src/test/external/ext_out_cluster_test.go
Due: goimports, lint

don't create ns twice
  src/pkg/cluster/cluster.go
Due: goimports, lint

paren
  .github/workflows/test-proxy.yml
  src/pkg/cluster/cluster.go
Due: goimports, lint

fix(sign): update supplemental files to provenance files
  src/api/v1alpha1/package.go
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/layout/package_test.go
  src/pkg/schema/zarf-v1alpha1-schema.json
  zarf.schema.json
Due: goimports, lint

fix(sign): check for existing provenance files
  src/pkg/packager/layout/package.go
Due: goimports, lint

fix(make): make sure to always run tests with -race flag
  Makefile
Due: none

fix flake
  src/pkg/images/pull.go
  src/pkg/images/push.go
Due: goimports, lint

fix(make): always run unit tests with -race flag (#4610)
  Makefile
  src/pkg/images/pull.go
  src/pkg/images/push.go
Due: goimports, lint

fix(bundle)!: bundle feature flag and version requirement (#4600)
  Makefile
  src/api/v1alpha1/package.go
  src/cmd/package.go
  src/pkg/feature/feature.go
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/layout/package_test.go
  src/pkg/schema/zarf-v1alpha1-schema.json
  zarf.schema.json
Due: check-docs-and-schema, goimports, lint

fix(skeleton): better error for missing skeleton
  src/pkg/packager/load/import.go
Due: goimports, lint

first iteration of wait for resource default ready
  src/cmd/wait.go
  src/pkg/wait/wait.go
  src/test/e2e/46_tools_wait_for_test.go
Due: check-docs-and-schema, goimports, lint

fix(skeleton): better error for missing skeleton (#4611)
  src/pkg/packager/load/import.go
Due: goimports, lint

chore(docs): update signing deprecation notice
  site/src/content/docs/ref/package-signing.mdx
Due: none

chore(docs): update signing deprecation notice (#4612)
  site/src/content/docs/ref/package-signing.mdx
Due: none

init: support config components fallback for init command
  site/src/content/docs/ref/config-files.mdx
  src/cmd/initialize.go
  src/test/e2e/29_config_file_test.go
Due: check-docs-and-schema, goimports, lint

add wait for resource words
  src/cmd/wait.go
  src/config/lang/english.go
Due: check-docs-and-schema, goimports, lint

wait for network words
  src/cmd/wait.go
  src/config/lang/english.go
Due: check-docs-and-schema, goimports, lint

add deprecated notice
  src/cmd/wait.go
Due: check-docs-and-schema, goimports, lint

english
  site/src/content/docs/commands/zarf_tools.md
  site/src/content/docs/commands/zarf_tools_wait-for.md
  src/config/lang/english.go
  src/pkg/wait/wait.go
Due: check-docs-and-schema, goimports, lint

better naming
  src/pkg/wait/wait.go
Due: goimports, lint

comments
  src/pkg/wait/wait.go
Due: goimports, lint

cleanup
  src/cmd/wait.go
  src/test/e2e/46_tools_wait_for_test.go
  src/test/packages/46-manifests/zarf-cr.yaml
  src/test/packages/46-manifests/zarf-crd.yaml
Due: check-docs-and-schema, goimports, lint

better docs
  src/cmd/wait.go
  src/config/lang/english.go
  src/pkg/wait/wait.go
Due: check-docs-and-schema, goimports, lint

better deprecation warning
  site/src/content/docs/commands/zarf_tools.md
  site/src/content/docs/commands/zarf_tools_wait-for.md
  site/src/content/docs/commands/zarf_tools_wait-for_network.md
  site/src/content/docs/commands/zarf_tools_wait-for_resource.md
  src/cmd/wait.go
Due: check-docs-and-schema, goimports, lint

case
  src/cmd/wait.go
Due: check-docs-and-schema, goimports, lint

avoid exit in main
  main.go
  src/cmd/root.go
Due: check-docs-and-schema, goimports, lint

correct examples
  src/cmd/wait.go
  src/config/lang/english.go
  src/test/e2e/46_tools_wait_for_test.go
Due: check-docs-and-schema, goimports, lint

ensure cluster is connectable
  src/pkg/wait/wait.go
Due: goimports, lint

unnecessary arch set
  src/pkg/packager/layout/package_test.go
Due: goimports, lint

fix: use cli tmpdir arg for image unpacks
  src/pkg/images/unpack.go
Due: goimports, lint

chore(deps): bump cosign to v3.0.5
  go.mod
  go.sum
Due: none

fix: use cli tmpdir arg for image unpacks (#4618)
  src/pkg/images/unpack.go
Due: goimports, lint

Apply suggestion from @brandtkeller
  src/pkg/wait/wait.go
Due: goimports, lint

chore(deps): bump cosign to v3.0.5 (#4619)
  go.mod
  go.sum
Due: none

fix(wait): ensure cluster is connectable in loop (#4616)
  src/pkg/packager/layout/package_test.go
  src/pkg/wait/wait.go
Due: goimports, lint

start docs
  site/src/content/docs/ref/init-package.mdx
Due: none

remove imagearchives logic from findimages, move into filterimagesfoundinarchives
  src/cmd/dev.go
  src/pkg/packager/find_images.go
  src/pkg/packager/update.go
Due: check-docs-and-schema, goimports, lint

start docs
  site/src/content/docs/commands/zarf_tools_wait-for_network.md
  site/src/content/docs/commands/zarf_tools_wait-for_resource.md
  src/config/lang/english.go
  src/pkg/wait/wait.go
Due: check-docs-and-schema, goimports, lint

feat(SDK)!: avoid os exit in cmd (#4615)
  main.go
  src/cmd/root.go
Due: check-docs-and-schema, goimports, lint
