Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

check-docs-and-schema:
  name: Check for outdated docs and Zarf schema
  entry: make test-docs-and-schema
  language: system
  pass_filenames: false

goimports:
  name: goimports
  entry: golangci-lint fmt
  language: golang
  pass_filenames: false

lint:
  name: golangci-lint go lint
  entry: golangci-lint run
  language: golang
  pass_filenames: false

tests
  src/api/api_test.go
Due: goimports, lint

revert load
  src/pkg/packager/load/load.go
  src/pkg/packager/load/load_test.go
Due: goimports, lint

find images behavior and unit tests
  src/pkg/packager/find_images.go
  src/pkg/packager/find_images_test.go
Due: goimports, lint

fix windows test
  src/pkg/packager/find_images_test.go
  src/pkg/packager/remove.go
  src/test/e2e/51_v1alpha1_package_compatibility_test.go
Due: goimports, lint

better url
  src/pkg/packager/find_images_test.go
Due: goimports, lint

help text
  src/config/lang/english.go
Due: check-docs-and-schema, goimports, lint

add timeout context
  src/pkg/signing/cosign.go
Due: goimports, lint

remove check overwrite
  src/pkg/signing/cosign.go
Due: goimports, lint

simpler struct
  src/cmd/component.go
  src/pkg/signing/cosign.go
  src/pkg/signing/cosign_test.go
Due: check-docs-and-schema, goimports, lint

verify opts
  src/cmd/component.go
  src/cmd/package.go
Due: check-docs-and-schema, goimports, lint

add back timeout
  src/cmd/component.go
  src/pkg/signing/cosign.go
Due: check-docs-and-schema, goimports, lint

use package
  src/api/api.go
  src/cmd/crane.go
  src/cmd/package.go
  src/internal/packager/helm/zarf.go
  src/pkg/cluster/zarf_test.go
  src/pkg/packager/load.go
  src/pkg/state/state.go
  src/pkg/state/state_test.go
Due: check-docs-and-schema, goimports, lint

constructor
  src/pkg/cluster/zarf.go
  src/pkg/state/state.go
  src/pkg/state/state_test.go
Due: goimports, lint

component service
  src/api/convert/convert_test.go
  src/api/package.go
  src/internal/api/v1alpha1/convert.go
  src/internal/api/v1beta1/convert.go
  src/internal/packager/helm/zarf.go
Due: goimports, lint

fix
  src/api/convert/convert_test.go
  src/internal/api/v1beta1/convert.go
Due: goimports, lint

server side apply as an enum
  src/api/api.go
  src/api/api_test.go
  src/api/package.go
  src/internal/api/v1alpha1/convert.go
  src/internal/api/v1beta1/convert.go
  src/internal/packager/helm/chart.go
Due: goimports, lint

feat: component sign and verify (#5358)
  src/cmd/component.go
  src/cmd/package.go
  src/config/lang/english.go
  src/pkg/signing/bundle.go
  src/pkg/signing/cosign.go
  src/pkg/signing/cosign_test.go
  src/pkg/signing/trustedroot.go
  src/test/e2e/15_component_publish_v1beta1_test.go
Due: check-docs-and-schema, goimports, lint

feat: cmd layer package signing parity
  src/cmd/component.go
  src/cmd/package.go
  src/cmd/package_test.go
  src/cmd/usage_test.go
  src/cmd/viper.go
Due: check-docs-and-schema, goimports, lint

chore: docs generation
  site/src/content/docs/commands/zarf_package_create.md
  site/src/content/docs/commands/zarf_package_publish.md
Due: none

feat: remove from publishing and refactor
  site/src/content/docs/commands/zarf_package_publish.md
  src/cmd/package.go
  src/cmd/package_test.go
  src/cmd/usage_test.go
  src/cmd/viper.go
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/create.go
  src/pkg/packager/create_test.go
  src/pkg/packager/publish.go
  src/pkg/packager/publish_test.go
  src/pkg/zoci/pull_test.go
  src/test/e2e/12_package_signing_test.go
  src/test/e2e/50_oci_publish_deploy_test.go
Due: check-docs-and-schema, goimports, lint

feat: support sign on component publish
  src/cmd/component.go
  src/cmd/package.go
  src/cmd/usage_test.go
  src/pkg/component/publish.go
  src/pkg/component/publish_test.go
  src/pkg/packager/assemble/assemble.go
  src/pkg/signing/cosign.go
  src/test/e2e/15_component_publish_v1beta1_test.go
Due: check-docs-and-schema, goimports, lint

fix: deprecate current logic on publish
  src/cmd/package.go
  src/cmd/usage_test.go
  src/cmd/viper.go
  src/pkg/packager/publish.go
  src/pkg/packager/publish_test.go
  src/test/e2e/50_oci_publish_deploy_test.go
Due: check-docs-and-schema, goimports, lint

fix: remove grouping from componentsign
  src/cmd/component.go
  src/cmd/package.go
  src/cmd/usage_test.go
Due: check-docs-and-schema, goimports, lint

fix: resolve explicit descriptors for publish
  src/pkg/component/publish.go
  src/pkg/component/publish_test.go
  src/pkg/oci/index.go
  src/pkg/oci/index_test.go
Due: goimports, lint

fix: cli input validation fix
  src/cmd/package.go
  src/cmd/package_test.go
Due: check-docs-and-schema, goimports, lint

fix: support confirm flag
  src/cmd/component.go
  src/cmd/package_test.go
Due: check-docs-and-schema, goimports, lint

fix: restore skeleton signing
  src/cmd/package.go
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/publish.go
  src/pkg/packager/publish_test.go
  src/test/e2e/10_component_flavor_test.go
Due: check-docs-and-schema, goimports, lint

fix: restore deprecated entries until removal
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/create.go
  src/pkg/packager/create_test.go
Due: goimports, lint

fix: signing intent for verification
  src/cmd/package.go
  src/test/e2e/12_package_signing_test.go
Due: check-docs-and-schema, goimports, lint

remove helm validation
  src/internal/packager/helm/repo.go
  src/internal/packager/helm/repo_test.go
Due: goimports, lint

component import validation
  src/internal/api/v1beta1/validate.go
  src/internal/componentartifact/validate.go
  src/pkg/component/publish.go
  src/pkg/component/publish_test.go
  src/pkg/packager/layout/oci.go
  src/pkg/packager/load/import_v1beta1.go
  src/pkg/packager/load/import_v1beta1_test.go
Due: goimports, lint

validate
  src/internal/componentartifact/validate.go
  src/pkg/component/publish.go
  src/pkg/component/publish_test.go
  src/pkg/packager/layout/oci.go
  src/pkg/packager/load/import_v1beta1.go
  src/pkg/packager/load/import_v1beta1_test.go
Due: goimports, lint

validate
  src/pkg/packager/load/import_v1beta1.go
  src/pkg/packager/load/import_v1beta1_test.go
Due: goimports, lint

remote components
  src/pkg/packager/load/import_v1beta1.go
Due: goimports, lint

git tls introduction
  packages/gitea/connect.yaml
  packages/gitea/gitea-values.yaml
  site/src/content/docs/commands/zarf_init.md
  site/src/content/docs/commands/zarf_tools_update-creds_git.md
  src/cmd/initialize.go
  src/cmd/internal.go
  src/cmd/viper.go
  src/cmd/zarf_tools.go
  src/internal/agent/http/proxy.go
  src/internal/git/repository.go
  src/internal/gitea/gitea.go
  src/internal/packager/helm/post-render.go
  src/internal/packager/helm/zarf.go
  src/internal/packager/template/template.go
  src/pkg/cluster/cluster.go
  src/pkg/cluster/secrets.go
  src/pkg/cluster/secrets_test.go
  src/pkg/cluster/tunnel.go
  src/pkg/cluster/zarf.go
  src/pkg/packager/deploy.go
  src/pkg/packager/mirror.go
  src/pkg/state/state.go
  src/pkg/state/state_test.go
Due: check-docs-and-schema, goimports, lint

add validation for api package
  src/api/validation.go
  src/api/validation_test.go
  src/cmd/package.go
  src/internal/pkgcfg/pkgcfg.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/layout/package_test.go
  src/pkg/packager/load/load.go
Due: check-docs-and-schema, goimports, lint

Fix typo in README header from 'Packager' to 'Package'
  README.md
Due: none

chore: typo in README header from Packager to Package (#5389)
  README.md
Due: none

remove migrated fields on public type
  src/api/convert/convert_test.go
  src/api/package.go
  src/internal/api/v1alpha1/convert.go
  src/internal/api/v1alpha1/roundtrip_test.go
  src/internal/api/v1beta1/roundtrip_test.go
  src/pkg/packager/publish_test.go
Due: goimports, lint

Path conditions:
  check-docs-and-schema: any of: ^src/(config|cmd)/ and \.go$
  goimports: any of: \.go$
  lint: any of: \.go$
