Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

check-docs-and-schema:
  name: Check for outdated docs and Zarf schema
  entry: make test-docs-and-schema
  language: system
  pass_filenames: false

goimports:
  name: goimports
  entry: golangci-lint fmt
  language: golang
  pass_filenames: false

lint:
  name: golangci-lint go lint
  entry: golangci-lint run
  language: golang
  pass_filenames: false

fix
  site/src/components/Search.astro
Due: none

feat: add registry logout function (#4976)
  site/src/content/docs/commands/zarf_tools_registry.md
  site/src/content/docs/commands/zarf_tools_registry_logout.md
  src/cmd/crane.go
  src/config/lang/english.go
Due: check-docs-and-schema, goimports, lint

version de-duplication
  site/astro.config.ts
  site/src/components/MarkdownContent.astro
  site/src/components/Search.astro
  site/src/lib/version.ts
Due: none

search
  site/src/components/Search.astro
Due: none

chore(examples): refresh longhorn example to v1.11.2 (#4923)
  examples/longhorn/readme.md
  examples/longhorn/values.yaml
  examples/longhorn/zarf.yaml
Due: none

feat: negotiator added to retrieval operations
  modified-config.json
  src/cmd/root.go
  src/internal/agent/hooks/common.go
  src/internal/packager/helm/repo.go
  src/internal/packager/helm/template.go
  src/internal/transport/transport.go
  src/internal/transport/transport_test.go
  src/pkg/images/common.go
  src/pkg/images/pull.go
  src/pkg/images/pull_test.go
  src/pkg/images/push.go
  src/pkg/images/unpack_test.go
  src/pkg/packager/find_images.go
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/load/import.go
  src/pkg/utils/oci_artifacts.go
Due: check-docs-and-schema, goimports, lint

fix: mTLS and shared singleton
  src/internal/agent/hooks/common.go
  src/internal/transport/transport.go
  src/internal/transport/transport_test.go
  src/pkg/images/push.go
Due: goimports, lint

docs: update Azure KeyVault URL for package signing
  site/src/content/docs/ref/package-signing.mdx
Due: none

docs: update Azure KeyVault URL for package signing (#5040)
  site/src/content/docs/ref/package-signing.mdx
Due: none

begin artifact server deprecation
  site/src/content/docs/commands/zarf_init.md
  src/cmd/initialize.go
  src/cmd/zarf_tools.go
  src/config/lang/english.go
Due: check-docs-and-schema, goimports, lint

additional deprecation message
  src/internal/agent/start.go
Due: goimports, lint

additional deprecation message
  site/src/content/docs/commands/zarf_init.md
  site/src/content/docs/commands/zarf_tools_update-creds.md
  src/cmd/initialize.go
  src/cmd/zarf_tools.go
  src/config/lang/english.go
Due: check-docs-and-schema, goimports, lint

warn on artifact server
  src/cmd/zarf_tools.go
  src/cmd/zarf_tools_test.go
Due: check-docs-and-schema, goimports, lint

move artifact warning
  src/cmd/zarf_tools.go
Due: check-docs-and-schema, goimports, lint

revert tools test
  src/cmd/zarf_tools_test.go
Due: check-docs-and-schema, goimports, lint

only to selector
  src/api/v1beta1/component.go
  src/api/v1beta1/component_config.go
  src/pkg/schema/zarf-v1beta1-component-schema.json
  src/pkg/schema/zarf-v1beta1-package-schema.json
Due: goimports, lint

fix: re-enagle PlainHTTP gate for negotiation
  src/internal/packager/helm/repo.go
  src/pkg/images/pull.go
  src/pkg/images/pull_test.go
  src/pkg/images/unpack_test.go
  src/pkg/packager/find_images.go
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/load/import.go
  src/pkg/utils/oci_artifacts.go
Due: goimports, lint

fix: general cleanup
  modified-config.json
  src/cmd/root.go
  src/internal/agent/hooks/common.go
  src/internal/packager/helm/repo.go
  src/internal/packager/helm/template.go
  src/internal/transport/transport.go
Due: check-docs-and-schema, goimports, lint

fix: export transport package
  src/cmd/root.go
  src/internal/agent/hooks/common.go
  src/internal/packager/helm/repo.go
  src/pkg/images/pull.go
  src/pkg/images/push.go
  src/pkg/packager/load/import.go
  src/pkg/transport/transport.go
  src/pkg/transport/transport_test.go
  src/pkg/utils/oci_artifacts.go
Due: check-docs-and-schema, goimports, lint

fix: renegotiate and retry handling
  src/internal/agent/hooks/common.go
  src/internal/agent/hooks/common_test.go
  src/pkg/images/pull.go
  src/pkg/images/push.go
  src/pkg/transport/transport.go
  src/pkg/transport/transport_test.go
Due: goimports, lint

fix: restore localhost plainhttp negotiation
  src/pkg/images/pull.go
  src/pkg/images/pull_test.go
  src/pkg/packager/load/import.go
  src/pkg/transport/transport.go
Due: goimports, lint

fix: helm negotiator removal
  src/internal/packager/helm/template.go
  src/internal/packager/helm/template_test.go
  src/pkg/transport/transport.go
  src/pkg/utils/oci_artifacts.go
Due: goimports, lint

fix: check redirects exclusion
  src/pkg/transport/transport.go
  src/pkg/transport/transport_test.go
Due: goimports, lint

fix: additional test coverage
  src/pkg/transport/transport_test.go
Due: goimports, lint

chore: doccoment for helm logic handling
  src/internal/packager/helm/repo.go
Due: goimports, lint

deprecate sbom viewer
  src/pkg/packager/layout/viewer/styles.css
  src/pkg/packager/layout/viewer/template.gohtml
Due: none

feat: deprecate artifact server (#5041)
  site/src/content/docs/commands/zarf_init.md
  site/src/content/docs/commands/zarf_tools_update-creds.md
  src/cmd/initialize.go
  src/cmd/zarf_tools.go
  src/config/lang/english.go
  src/internal/agent/start.go
Due: check-docs-and-schema, goimports, lint

fix: update oras-go and mitigate auto-unpack via annotation
  go.mod
  go.sum
  src/pkg/zoci/pull.go
  vendor/modules.txt
  vendor/oras.land/oras-go/v2/.goreleaser.yaml
  vendor/oras.land/oras-go/v2/CODEOWNERS
  vendor/oras.land/oras-go/v2/OWNERS.md
  vendor/oras.land/oras-go/v2/README.md
  vendor/oras.land/oras-go/v2/RELEASES.md
  vendor/oras.land/oras-go/v2/content/file/file.go
  vendor/oras.land/oras-go/v2/content/oci/storage.go
  vendor/oras.land/oras-go/v2/content/reader.go
  vendor/oras.land/oras-go/v2/internal/cas/memory.go
  vendor/oras.land/oras-go/v2/internal/graph/memory.go
  vendor/oras.land/oras-go/v2/internal/syncutil/once.go
  vendor/oras.land/oras-go/v2/registry/remote/auth/cache.go
  vendor/oras.land/oras-go/v2/registry/remote/auth/client.go
  vendor/oras.land/oras-go/v2/registry/remote/auth/scope.go
  vendor/oras.land/oras-go/v2/registry/remote/credentials/internal/config/config.go
  vendor/oras.land/oras-go/v2/registry/remote/credentials/registry.go
  vendor/oras.land/oras-go/v2/registry/remote/manifest.go
  vendor/oras.land/oras-go/v2/registry/remote/referrers.go
  vendor/oras.land/oras-go/v2/registry/remote/repository.go
Due: goimports, lint

Path conditions:
  check-docs-and-schema: any of: ^src/(config|cmd)/ and \.go$
  goimports: any of: \.go$
  lint: any of: \.go$
