Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: check-merge-conflict
      - id: detect-aws-credentials
        args:
          - "--allow-missing-credentials"
      - id: detect-private-key
        exclude: "src/test/e2e/29_config_file_test.go"
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                src/internal/packager/images/testdata/.*|
                site/src/content/docs/commands/.*
            )$
      - id: fix-byte-order-marker
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
        exclude: site/src/content/docs/commands/.*
  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.4
    hooks:
      - id: fix-smartquotes
  - repo: local
    hooks:
      - id: check-docs-and-schema
        name: Check for outdated docs and Zarf schema
        entry: make test-docs-and-schema
        files: "^src/(config|cmd)/"
        types: [go]
        language: system
        pass_filenames: false
      - id: goimports
        name: goimports
        entry: golangci-lint fmt
        types: [go]
        language: golang
        pass_filenames: false
      - id: lint
        name: golangci-lint go lint
        entry: golangci-lint run
        types: [go]
        language: golang
        pass_filenames: false

chore: update docs
  site/src/content/docs/commands/zarf_dev_generate-schema.md
Due: none

chore: add a digest command to zarf package inspect
  src/cmd/package.go
  src/pkg/packager/digest.go
  src/pkg/zoci/digest.go
Due: check-docs-and-schema, goimports, lint

chore: generate command documentation
  site/src/content/docs/commands/zarf_init.md
  site/src/content/docs/commands/zarf_package_deploy.md
  site/src/content/docs/commands/zarf_package_inspect_definition.md
  site/src/content/docs/commands/zarf_package_inspect_documentation.md
  site/src/content/docs/commands/zarf_package_inspect_images.md
  site/src/content/docs/commands/zarf_package_inspect_manifests.md
  site/src/content/docs/commands/zarf_package_inspect_sbom.md
  site/src/content/docs/commands/zarf_package_inspect_values-files.md
  site/src/content/docs/commands/zarf_package_mirror-resources.md
  site/src/content/docs/commands/zarf_package_publish.md
  site/src/content/docs/commands/zarf_package_pull.md
  site/src/content/docs/commands/zarf_package_remove.md
  site/src/content/docs/commands/zarf_package_sign.md
  site/src/content/docs/commands/zarf_package_verify.md
Due: none

fix: verify command flags
  src/cmd/package.go
Due: check-docs-and-schema, goimports, lint

fix: add test case for flagset
  src/cmd/package_test.go
Due: check-docs-and-schema, goimports, lint

fix: reduce perrun sprawl
  src/cmd/initialize.go
  src/cmd/package.go
Due: check-docs-and-schema, goimports, lint

fix: condense flag use for each command
  src/cmd/initialize.go
  src/cmd/package.go
Due: check-docs-and-schema, goimports, lint

chore: update command docs
  site/src/content/docs/commands/zarf_package_verify.md
Due: none

direct docker daemon pull
  src/pkg/feature/feature.go
  src/pkg/images/pull.go
Due: goimports, lint

fix and de-duplicate
  src/pkg/images/pull.go
  src/pkg/images/unpack.go
Due: goimports, lint

add platform is right version for it
  src/pkg/images/pull.go
Due: goimports, lint

better comments and descriptions
  src/pkg/feature/feature.go
  src/pkg/images/pull.go
Due: goimports, lint

cleanup comments
  src/pkg/images/pull.go
Due: goimports, lint

warn
  src/pkg/images/pull.go
Due: goimports, lint

chore: cleanup code and lint
  site/src/content/docs/commands/zarf_package_inspect_digest.md
  src/pkg/packager/digest.go
  src/pkg/zoci/digest.go
  src/pkg/zoci/manifest.go
  src/pkg/zoci/push.go
Due: goimports, lint

chore: fix regression
  src/pkg/zoci/manifest.go
Due: goimports, lint

add state access and change repos
  src/api/v1beta1/component.go
  src/api/v1beta1/component_config.go
  src/pkg/schema/zarf-v1beta1-component-schema.json
  src/pkg/schema/zarf-v1beta1-package-schema.json
Due: goimports, lint

fix tests
  src/api/convert/convert_test.go
  src/internal/api/types/package.go
  src/internal/api/v1alpha1/convert.go
  src/internal/api/v1beta1/convert.go
Due: goimports, lint

mark lint
  src/api/convert/convert_test.go
  src/internal/api/v1beta1/convert.go
Due: goimports, lint

change convert function names
  src/api/convert/convert.go
  src/api/convert/convert_test.go
  src/cmd/internal_convert.go
Due: check-docs-and-schema, goimports, lint

service conversion logic
  src/api/convert/convert_test.go
  src/internal/api/v1alpha1/convert.go
  src/internal/api/v1beta1/convert.go
Due: goimports, lint

feat(package): support verification on all CLI package load operations (#4996)
  site/src/content/docs/commands/zarf_init.md
  site/src/content/docs/commands/zarf_package_deploy.md
  site/src/content/docs/commands/zarf_package_inspect_definition.md
  site/src/content/docs/commands/zarf_package_inspect_documentation.md
  site/src/content/docs/commands/zarf_package_inspect_images.md
  site/src/content/docs/commands/zarf_package_inspect_manifests.md
  site/src/content/docs/commands/zarf_package_inspect_sbom.md
  site/src/content/docs/commands/zarf_package_inspect_values-files.md
  site/src/content/docs/commands/zarf_package_mirror-resources.md
  site/src/content/docs/commands/zarf_package_publish.md
  site/src/content/docs/commands/zarf_package_pull.md
  site/src/content/docs/commands/zarf_package_remove.md
  site/src/content/docs/commands/zarf_package_sign.md
  src/cmd/initialize.go
  src/cmd/package.go
  src/cmd/package_test.go
Due: check-docs-and-schema, goimports, lint

log agent failures
  .github/workflows/test-e2e.yml
Due: none

WIP, being loading v1beta1
  src/internal/pkgcfg/pkgcfg.go
  src/internal/pkgcfg/pkgcfg_test.go
  src/pkg/lint/schema.go
  src/pkg/packager/load/load.go
  src/pkg/packager/load/load_test.go
  src/pkg/packager/load/testdata/v1beta1-package/zarf.yaml
  src/pkg/packager/load/testdata/v1beta1-with-import/zarf.yaml
  src/pkg/schema/schema.go
  src/test/e2e/00_use_cli_test.go
  src/test/packages/00-dev-inspect-definition-v1beta1/zarf.yaml
Due: goimports, lint

work with multi doc files
  src/internal/pkgcfg/pkgcfg.go
  src/internal/pkgcfg/pkgcfg_test.go
Due: goimports, lint

introduce generic parse as
  src/internal/pkgcfg/pkgcfg.go
  src/internal/pkgcfg/pkgcfg_test.go
  src/pkg/packager/load/load.go
Due: goimports, lint

chore: implement cluster source and refactor layout
  src/cmd/package.go
  src/pkg/cluster/zarf.go
  src/pkg/packager/deploy.go
  src/pkg/packager/digest.go
  src/pkg/packager/layout/oci.go
  src/pkg/packager/layout/oci_test.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/load_test.go
  src/pkg/packager/pull.go
  src/pkg/state/state.go
  src/pkg/zoci/common.go
  src/pkg/zoci/manifest.go
  src/pkg/zoci/push.go
  src/pkg/zoci/push_package_test.go
Due: check-docs-and-schema, goimports, lint

chore: lint
  src/pkg/packager/layout/oci.go
Due: goimports, lint

chore: add more tests for the remainder of the interface
  src/pkg/packager/layout/oci_test.go
Due: goimports, lint

chore: docs
  site/src/content/docs/commands/zarf_package_inspect_digest.md
Due: none

chore: add some more digest shifting tests
  src/pkg/packager/digest_test.go
Due: goimports, lint

chore: add some e2e protection for tar -> oci and tar -> cluster
  src/test/e2e/11_oci_pull_inspect_test.go
  src/test/e2e/31_checksum_and_signature_test.go
Due: goimports, lint

feat(lint): warn on images without a domain and archive images without .internal
  site/src/content/docs/ref/components.mdx
  src/pkg/lint/rules.go
  src/pkg/lint/rules_test.go
  src/pkg/packager/lint_test.go
Due: goimports, lint

ci: log agent failures (#5002)
  .github/workflows/test-e2e.yml
Due: none

improve convert functionality
  src/internal/pkgcfg/pkgcfg.go
  src/internal/pkgcfg/pkgcfg_test.go
  src/pkg/packager/load/load.go
Due: goimports, lint

cleaner
  src/internal/pkgcfg/pkgcfg.go
  src/internal/pkgcfg/pkgcfg_test.go
Due: goimports, lint

move migrate functionality
  src/internal/api/v1alpha1/migrate.go
  src/internal/api/v1alpha1/migrate_test.go
  src/internal/pkgcfg/pkgcfg.go
  src/internal/pkgcfg/pkgcfg_test.go
Due: goimports, lint

align -u functionality with zarf dev find-images
  src/cmd/dev.go
  src/pkg/packager/update.go
  src/pkg/packager/update_test.go
Due: check-docs-and-schema, goimports, lint

WIP
  src/internal/api/types/package.go
  src/internal/api/v1alpha1/convert.go
  src/internal/api/v1alpha1/roundtrip_test.go
  src/internal/api/v1beta1/convert.go
  src/internal/pkgcfg/pkgcfg.go
  src/internal/pkgcfg/pkgcfg_test.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/load/import.go
  src/pkg/packager/load/import_test.go
  src/pkg/zoci/fetch.go
Due: goimports, lint

round trip updates to package
  src/internal/api/types/package.go
Due: goimports, lint
