Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

check-docs-and-schema:
  name: Check for outdated docs and Zarf schema
  entry: make test-docs-and-schema
  language: system
  pass_filenames: false

goimports:
  name: goimports
  entry: golangci-lint fmt
  language: golang
  pass_filenames: false

lint:
  name: golangci-lint go lint
  entry: golangci-lint run
  language: golang
  pass_filenames: false

test: fix scratch name in secondary archive fixture
  src/pkg/packager/testdata/find-images/multiple-image-archives/deployment-scratch-other.yaml
Due: none

test: fix scratch name in multiple archives fixture
  src/pkg/packager/testdata/find-images/multiple-image-archives/deployment.yaml
Due: none

test: fix container name in valid image fixture
  src/pkg/packager/testdata/find-images/valid-image-uri/deployment.yaml
Due: none

fix(viper): revert package.verify viper config
  src/cmd/initialize.go
  src/cmd/package.go
  src/cmd/viper.go
Due: check-docs-and-schema, goimports, lint

fix(viper): formatting and grouping
  src/cmd/viper.go
Due: check-docs-and-schema, goimports, lint

fix(test): update testing to be more targeted
  src/pkg/signing/cosign_test.go
Due: goimports, lint

fix(viper): update streamline options for viper inclusion
  src/cmd/package.go
  src/cmd/package_test.go
  src/cmd/viper.go
Due: check-docs-and-schema, goimports, lint

fix: align fall back wording in chart validation
  src/internal/api/v1alpha1/validate.go
Due: goimports, lint

fix(signing)!: resolve auth flow for CI environments (#4939)
  site/src/content/docs/commands/zarf_package_sign.md
  src/cmd/package.go
  src/pkg/signing/cosign.go
  src/pkg/signing/cosign_test.go
Due: check-docs-and-schema, goimports, lint

prefer image without pull creds
  src/pkg/cluster/injector.go
  src/pkg/cluster/injector_test.go
Due: goimports, lint

more advanced fallback logic
  src/pkg/cluster/injector.go
  src/pkg/cluster/injector_test.go
Due: goimports, lint

remove manual injector logic
  src/cmd/initialize.go
  src/pkg/cluster/injector.go
  src/pkg/packager/deploy.go
  src/test/e2e/20_zarf_init_test.go
Due: check-docs-and-schema, goimports, lint

docs
  site/src/content/docs/commands/zarf_init.md
Due: none

v1beta1 changes
  src/api/v1beta1/component.go
  src/api/v1beta1/componentConfig.go
  src/api/v1beta1/component_test.go
  src/api/v1beta1/package.go
  src/api/v1beta1/package_test.go
  src/pkg/schema/generate.go
  src/pkg/schema/zarf-v1beta1-component-schema.json
Due: goimports, lint

add deprecated fields
  src/api/v1beta1/component.go
  src/api/v1beta1/package.go
Due: goimports, lint

feat(init): prefer injector image without imagePullSecrets (#4935)
  src/pkg/cluster/injector.go
  src/pkg/cluster/injector_test.go
  src/pkg/packager/deploy.go
Due: goimports, lint

add in missing fields
  src/api/v1alpha1/package.go
  src/api/v1beta1/package.go
  src/pkg/schema/zarf-v1alpha1-schema.json
  src/pkg/schema/zarf-v1beta1-schema.json
Due: goimports, lint

fix convert logic with latest for schema
  src/api/convert/convert.go
  src/api/convert/convert_test.go
  src/internal/api/types/package.go
  src/internal/api/v1alpha1/convert.go
  src/internal/api/v1beta1/convert.go
Due: goimports, lint

Drop #4630 from the commit list
  site/src/content/docs/roadmap.mdx
Due: none

docs: 2026 roadmap (#4932)
  site/src/content/docs/roadmap.mdx
Due: none

docs and schema
  zarf.schema.json
Due: none

component spec
  src/api/v1beta1/component.go
  src/api/v1beta1/componentConfig.go
  src/api/v1beta1/component_test.go
  src/api/v1beta1/package_test.go
  src/pkg/schema/zarf-v1beta1-component-schema.json
Due: goimports, lint

fix tests
  src/api/convert/convert_test.go
  src/internal/api/v1beta1/convert.go
Due: goimports, lint

cast
  src/internal/api/v1alpha1/convert.go
Due: goimports, lint

original API version
  src/api/v1alpha1/package.go
  src/api/v1beta1/package.go
Due: goimports, lint

original api verison
  src/api/convert/convert_test.go
  src/internal/api/types/package.go
  src/internal/api/v1alpha1/convert.go
  src/internal/api/v1beta1/convert.go
Due: goimports, lint

improve codecov accuracy
  Makefile
Due: none

fix codecov
  .github/.codecov.yml
Due: none

correct coverpkg
  Makefile
Due: none

test out coverpkg
  Makefile
Due: none

fix(examples/longhorn): package preflight checker image and fix registry config
  examples/longhorn/values.yaml
  examples/longhorn/zarf.yaml
Due: none

multiple api version schema
  Makefile
  src/pkg/schema/generate.go
  src/pkg/schema/schema.go
  src/pkg/schema/schema_test.go
  src/pkg/schema/zarf.schema.json
Due: goimports, lint

ci: improve codecov accuracy (#4948)
  .github/.codecov.yml
  Makefile
Due: none

fix(tools,wait): handle context propagation for networking calls
  src/pkg/wait/wait.go
  src/pkg/wait/wait_test.go
Due: goimports, lint

feat(values): support schema merge on imports
  src/api/v1alpha1/package.go
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/load/import.go
  src/pkg/packager/load/import_test.go
  src/pkg/packager/load/testdata/import/values/schema-deep/middle/bottom/zarf.yaml
  src/pkg/packager/load/testdata/import/values/schema-deep/middle/zarf.yaml
  src/pkg/packager/load/testdata/import/values/schema-deep/zarf.yaml
  src/pkg/value/schema.go
  src/pkg/value/schema_test.go
Due: goimports, lint

fix(viper): race condition in viper testing
  site/src/content/docs/commands/zarf_package_sign.md
  src/cmd/package_test.go
  src/cmd/viper.go
Due: check-docs-and-schema, goimports, lint

chore(examples/longhorn): remove longhornctl component to simplify multi-arch support
  examples/longhorn/readme.md
  examples/longhorn/zarf.yaml
Due: none

chore(examples/longhorn): maintain full values.yaml copy with v1.11.2 overrides
  examples/longhorn/values.yaml
Due: none

fix(tools,wait): handle context propagation for networking calls (#4925)
  src/pkg/wait/wait.go
  src/pkg/wait/wait_test.go
Due: goimports, lint

Path conditions:
  check-docs-and-schema: any of: ^src/(config|cmd)/ and \.go$
  goimports: any of: \.go$
  lint: any of: \.go$
