Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: check-merge-conflict
      - id: detect-aws-credentials
        args:
          - "--allow-missing-credentials"
      - id: detect-private-key
        exclude: "src/test/e2e/29_config_file_test.go"
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                src/internal/packager/images/testdata/.*|
                site/src/content/docs/commands/.*
            )$
      - id: fix-byte-order-marker
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
        exclude: site/src/content/docs/commands/.*
  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.4
    hooks:
      - id: fix-smartquotes
  - repo: local
    hooks:
      - id: check-docs-and-schema
        name: Check for outdated docs and Zarf schema
        entry: make test-docs-and-schema
        files: "^src/(config|cmd)/"
        types: [go]
        language: system
        pass_filenames: false
      - id: goimports
        name: goimports
        entry: golangci-lint fmt
        types: [go]
        language: golang
        pass_filenames: false
      - id: lint
        name: golangci-lint go lint
        entry: golangci-lint run
        types: [go]
        language: golang
        pass_filenames: false

fix checksums
  hack/examples-checksums/zarf-package-dos-games-amd64-1.2.0.txt
Due: none

keep windows/linux checksums the same
  src/pkg/packager/layout/assemble.go
Due: goimports, lint

update version of helm 4
  go.mod
  go.sum
Due: none

get rid of helm 3
  go.mod
  src/cmd/helm.go
Due: check-docs-and-schema, goimports, lint

address nit
  src/pkg/packager/deploy.go
Due: goimports, lint

adopt existing resources tied to force conflicts
  src/internal/packager/helm/chart.go
Due: goimports, lint

log correct variable during pull
  src/pkg/images/pull.go
Due: goimports, lint

fix: log correct image count (#4430)
  src/pkg/images/pull.go
Due: goimports, lint

actually stop combining stdout and stderr when stdout isn't needed
  src/test/e2e/42_values_test.go
Due: goimports, lint

skip required values on skeleton package publish
  src/pkg/packager/publish.go
Due: goimports, lint

simplify error wrapping on schema path prep or load error
  src/internal/value/value.go
Due: goimports, lint

fix(archive): clear attributes and sort files on archive creation
  src/pkg/archive/archive.go
  src/test/e2e/05_tarball_test.go
Due: goimports, lint

Update src/pkg/packager/inspect.go
  src/pkg/packager/inspect.go
Due: goimports, lint

validate schema file before copying to buildir
  src/internal/value/value.go
  src/pkg/packager/layout/assemble.go
Due: goimports, lint

update for public pkg via main
  src/cmd/dev_test.go
  src/pkg/packager/inspect_test.go
Due: check-docs-and-schema, goimports, lint

validate and copy values schema files
  src/pkg/packager/layout/assemble.go
Due: goimports, lint

store and load values schemas from the package root
  src/pkg/packager/deploy.go
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/load/load.go
  src/pkg/packager/load/testdata/package-with-invalid-values/values.schema.json
  src/pkg/packager/load/testdata/package-with-values-schema/values.schema.json
  src/test/packages/42-values/schema-deploy-invalid/values.schema.json
  src/test/packages/42-values/schema-invalid/values.schema.json
  src/test/packages/42-values/schema-valid/values.schema.json
Due: goimports, lint

update reference to example values schema
  examples/values-templating/zarf.yaml
Due: none

review feedback
  hack/examples-checksums/zarf-package-component-actions-amd64.txt
  hack/examples-checksums/zarf-package-dos-games-amd64-1.2.0.txt
  hack/examples-checksums/zarf-package-manifests-amd64-0.0.1.txt
  hack/examples-checksums/zarf-package-variables-amd64.txt
  hack/examples-checksums/zarf-package-yolo-amd64.txt
  src/internal/value/value.go
  src/pkg/packager/deploy.go
  src/pkg/packager/layout/assemble.go
  src/pkg/zoci/pull_test.go
Due: goimports, lint

feat: allow custom security context
  packages/zarf-registry/chart/templates/deployment.yaml
  packages/zarf-registry/chart/values.yaml
  packages/zarf-registry/registry-values.yaml
  packages/zarf-registry/zarf.yaml
Due: none

actually use kstatus
  go.mod
  go.sum
  src/internal/healthchecks/healthchecks.go
  src/internal/healthchecks/healthchecks_test.go
  src/internal/packager/helm/zarf.go
  src/pkg/cluster/cluster.go
  src/pkg/cluster/cluster_test.go
  src/pkg/cluster/injector_test.go
  src/test/external/ext_in_cluster_test.go
Due: goimports, lint

fix(archive): clear attributes and sort files on archive creation (#4432)
  src/pkg/archive/archive.go
  src/test/e2e/05_tarball_test.go
Due: goimports, lint

update k3s version
  packages/distros/k3s/zarf.yaml
  src/pkg/packager/layout/assemble.go
Due: goimports, lint

correct k3s version in test
  src/test/e2e/20_zarf_init_test.go
Due: goimports, lint

add conflict force
  src/internal/packager/helm/chart.go
Due: goimports, lint

add cachepath
  src/internal/packager/helm/repo.go
Due: goimports, lint

comment
  src/internal/packager/helm/repo.go
Due: goimports, lint

chore(deps): bump helm, k9s, and grype to resolve vulns
  go.mod
  go.sum
Due: none

get rid of the managed fields
  src/internal/packager/helm/chart.go
  src/internal/packager/helm/post-render.go
Due: goimports, lint

chore(docs): generate documentation
  site/src/content/docs/commands/zarf_tools_monitor.md
Due: none

chore(deps): bump helm, k9s, and grype to resolve vulns (#4438)
  go.mod
  go.sum
  site/src/content/docs/commands/zarf_tools_monitor.md
Due: none

remove unused err and Unwrap on value.SchemaValidationError
  src/internal/value/value.go
Due: goimports, lint

feat: allow custom security context (#4434)
  packages/zarf-registry/chart/templates/deployment.yaml
  packages/zarf-registry/chart/values.yaml
  packages/zarf-registry/registry-values.yaml
  packages/zarf-registry/zarf.yaml
Due: none

feat(values): dev inspect (#4268)
  examples/values-templating/zarf.yaml
  site/src/content/docs/commands/zarf_dev_inspect_manifests.md
  site/src/content/docs/commands/zarf_dev_inspect_values-files.md
  src/cmd/dev.go
  src/cmd/dev_test.go
  src/cmd/testdata/inspect-manifests/manifest-with-package-values/deployment.yaml
  src/cmd/testdata/inspect-manifests/manifest-with-package-values/expected-default.yaml
  src/cmd/testdata/inspect-manifests/manifest-with-package-values/expected-override.yaml
  src/cmd/testdata/inspect-manifests/manifest-with-package-values/values/default-values.yaml
  src/cmd/testdata/inspect-manifests/manifest-with-package-values/zarf.yaml
  src/cmd/testdata/inspect-manifests/manifest-with-values/deployment.yaml
  src/cmd/testdata/inspect-manifests/manifest-with-values/expected.yaml
  src/cmd/testdata/inspect-manifests/manifest-with-values/user-values.yaml
  src/cmd/testdata/inspect-manifests/manifest-with-values/zarf.yaml
  src/cmd/testdata/inspect-values-files/chart-remote/zarf.yaml
  src/cmd/testdata/inspect-values-files/chart-with-values/chart/Chart.yaml
  src/cmd/testdata/inspect-values-files/chart-with-values/chart/templates/deployment.yaml
  src/cmd/testdata/inspect-values-files/chart-with-values/chart/values.yaml
  src/cmd/testdata/inspect-values-files/chart-with-values/expected.yaml
  src/cmd/testdata/inspect-values-files/chart-with-values/user-values.yaml
  src/cmd/testdata/inspect-values-files/chart-with-values/zarf.yaml
  src/internal/value/value.go
  src/pkg/packager/find_images.go
  src/pkg/packager/inspect.go
  src/pkg/packager/inspect_test.go
  src/pkg/packager/testdata/inspect/chart-with-helm-values/chart/Chart.yaml
  src/pkg/packager/testdata/inspect/chart-with-helm-values/chart/templates/deployment.yaml
  src/pkg/packager/testdata/inspect/chart-with-helm-values/chart/values.yaml
  src/pkg/packager/testdata/inspect/chart-with-helm-values/zarf.yaml
  src/pkg/packager/testdata/inspect/chart/chart/Chart.yaml
  src/pkg/packager/testdata/inspect/chart/chart/templates/deployment.yaml
  src/pkg/packager/testdata/inspect/chart/chart/values.yaml
  src/pkg/packager/testdata/inspect/chart/zarf.yaml
  src/pkg/packager/testdata/inspect/manifest-with-package-values/deployment.yaml
  src/pkg/packager/testdata/inspect/manifest-with-package-values/values/default-values.yaml
  src/pkg/packager/testdata/inspect/manifest-with-package-values/zarf.yaml
  src/pkg/packager/testdata/inspect/manifest-with-values/deployment.yaml
  src/pkg/packager/testdata/inspect/manifest-with-values/zarf.yaml
Due: check-docs-and-schema, goimports, lint

schema should allow for dot only sourcepath targetpath
  src/api/v1alpha1/component.go
  zarf.schema.json
Due: goimports, lint

fix test
  src/internal/value/value_test.go
Due: goimports, lint

feat(values): add schema validation (#4252)
  examples/values-templating/values/values.schema.json
  examples/values-templating/zarf.yaml
  src/api/v1alpha1/component.go
  src/api/v1alpha1/package.go
  src/internal/value/testdata/schema/invalid-range.yaml
  src/internal/value/testdata/schema/invalid-values.yaml
  src/internal/value/testdata/schema/simple.schema.json
  src/internal/value/testdata/schema/valid-values.yaml
  src/internal/value/value.go
  src/internal/value/value_test.go
  src/pkg/packager/create.go
  src/pkg/packager/deploy.go
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/load/load.go
  src/pkg/packager/load/load_test.go
  src/pkg/packager/load/testdata/package-with-invalid-values/manifest.yaml
  src/pkg/packager/load/testdata/package-with-invalid-values/values.schema.json
  src/pkg/packager/load/testdata/package-with-invalid-values/values/values.yaml
  src/pkg/packager/load/testdata/package-with-invalid-values/zarf.yaml
  src/pkg/packager/load/testdata/package-with-values-schema/manifest.yaml
  src/pkg/packager/load/testdata/package-with-values-schema/values.schema.json
  src/pkg/packager/load/testdata/package-with-values-schema/values/values.yaml
  src/pkg/packager/load/testdata/package-with-values-schema/zarf.yaml
  src/pkg/packager/publish.go
  src/test/e2e/42_values_test.go
  src/test/packages/42-values/schema-deploy-invalid/configmap.yaml
  src/test/packages/42-values/schema-deploy-invalid/override-invalid.yaml
  src/test/packages/42-values/schema-deploy-invalid/values.schema.json
  src/test/packages/42-values/schema-deploy-invalid/values/values.yaml
  src/test/packages/42-values/schema-deploy-invalid/zarf.yaml
  src/test/packages/42-values/schema-invalid/configmap.yaml
  src/test/packages/42-values/schema-invalid/values.schema.json
  src/test/packages/42-values/schema-invalid/values/values.yaml
  src/test/packages/42-values/schema-invalid/zarf.yaml
  src/test/packages/42-values/schema-valid/configmap.yaml
  src/test/packages/42-values/schema-valid/values.schema.json
  src/test/packages/42-values/schema-valid/values/values.yaml
  src/test/packages/42-values/schema-valid/zarf.yaml
  zarf.schema.json
Due: goimports, lint

fix merge from main
  src/pkg/packager/deploy.go
  src/pkg/packager/inspect.go
  src/pkg/packager/testdata/inspect/manifest-with-package-values/zarf.yaml
Due: goimports, lint

fix moar
  src/pkg/packager/load/load.go
Due: goimports, lint

fix moar moar
  src/pkg/packager/load/testdata/package-with-values-schema/zarf.yaml
Due: none
