Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: check-merge-conflict
      - id: detect-aws-credentials
        args:
          - "--allow-missing-credentials"
      - id: detect-private-key
        exclude: "src/test/e2e/29_config_file_test.go"
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                src/internal/packager/images/testdata/.*|
                site/src/content/docs/commands/.*
            )$
      - id: fix-byte-order-marker
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
        exclude: site/src/content/docs/commands/.*
  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.4
    hooks:
      - id: fix-smartquotes
  - repo: local
    hooks:
      - id: check-docs-and-schema
        name: Check for outdated docs and Zarf schema
        entry: make test-docs-and-schema
        files: "^src/(config|cmd)/"
        types: [go]
        language: system
        pass_filenames: false
      - id: goimports
        name: goimports
        entry: golangci-lint fmt
        types: [go]
        language: golang
        pass_filenames: false
      - id: lint
        name: golangci-lint go lint
        entry: golangci-lint run
        types: [go]
        language: golang
        pass_filenames: false

fix: add cluster wait actions to RequiresCluster
  src/api/v1alpha1/component.go
  src/api/v1beta1/component.go
Due: goimports, lint

feat: add mutation exclusions to values and template
  packages/zarf-agent/agent-values.yaml
  packages/zarf-agent/chart/templates/webhook.yaml
  packages/zarf-agent/chart/values.yaml
  packages/zarf-agent/zarf.yaml
Due: none

chore: clean up docs
  site/src/content/docs/ref/init-package.mdx
Due: none

temp fix
  src/pkg/packager/load/load.go
Due: goimports, lint

fixme
  src/pkg/packager/load/load.go
Due: goimports, lint

Add test that fires a real HTTP request to verify user-agent
  src/pkg/zoci/common_test.go
Due: goimports, lint

Set user-agent value for oci-client
  src/pkg/zoci/common.go
  src/pkg/zoci/common_test.go
Due: goimports, lint

fix: replace mimetype with archives
  go.mod
  src/pkg/packager/pull.go
  src/pkg/packager/pull_test.go
Due: goimports, lint

fix: windows semantics for file handling
  src/pkg/packager/pull.go
Due: goimports, lint

chore: bump go version
  go.mod
Due: none

improve architecture of loading and pulling
  src/cmd/dev.go
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/assemble/assemble_test.go
  src/pkg/packager/assemble/differential_test.go
  src/pkg/packager/assemble/remote_component_resources.go
  src/pkg/packager/create.go
  src/pkg/packager/deploy_test.go
  src/pkg/packager/dev.go
  src/pkg/packager/find_images.go
  src/pkg/packager/inspect.go
  src/pkg/packager/inspect_test.go
  src/pkg/packager/lint.go
  src/pkg/packager/load/import_v1beta1.go
  src/pkg/packager/load/load.go
  src/pkg/packager/load/load_test.go
  src/pkg/packager/load/package.go
  src/pkg/packager/packager.go
  src/pkg/packager/publish.go
  src/pkg/packager/publish_component_test.go
  src/pkg/packager/values_preflight_test.go
  src/pkg/value/schema.go
Due: check-docs-and-schema, goimports, lint

chore: bump go version (#5229)
  go.mod
Due: none

fix race?
  go.mod
  go.sum
  vendor/github.com/defenseunicorns/pkg/oci/common.go
  vendor/modules.txt
Due: goimports, lint

hidden
  src/cmd/component.go
Due: check-docs-and-schema, goimports, lint

fix: set plainhttp directly
  src/pkg/zoci/common.go
Due: goimports, lint

fix: update testing
  src/pkg/packager/create_test.go
  src/pkg/packager/publish_test.go
Due: goimports, lint

fixme
  src/pkg/packager/load/import_v1beta1.go
  src/pkg/packager/publish_component.go
Due: goimports, lint

allow image archives
  src/pkg/packager/load/import_v1beta1.go
Due: goimports, lint

component publish
  src/cmd/component.go
  src/pkg/component/publish.go
  src/pkg/component/publish_test.go
  src/pkg/component/resource_normalizer.go
  src/pkg/component/testdata/publish-component-v1beta1/component-flavor.yaml
  src/pkg/component/testdata/publish-component-v1beta1/component-values.schema.json
  src/pkg/component/testdata/publish-component-v1beta1/component-values.yaml
  src/pkg/component/testdata/publish-component-v1beta1/component.yaml
  src/pkg/component/testdata/publish-component-v1beta1/local-chart-values.yaml
  src/pkg/component/testdata/publish-component-v1beta1/local-chart/Chart.yaml
  src/pkg/component/testdata/publish-component-v1beta1/local-chart/templates/configmap.yaml
  src/pkg/component/testdata/publish-component-v1beta1/local-file.txt
  src/pkg/component/testdata/publish-component-v1beta1/local-manifest.yaml
Due: check-docs-and-schema, goimports, lint

delete mutex
  src/pkg/packager/load/package.go
Due: goimports, lint

cache and test
  src/pkg/component/publish_test.go
  src/pkg/images/unpack.go
  src/pkg/images/unpack_test.go
  src/pkg/packager/load/load_test.go
  src/pkg/packager/load/package.go
  src/pkg/zoci/common.go
  src/test/e2e/00_component_publish_v1beta1_test.go
Due: goimports, lint

oci cache modifier
  src/pkg/packager/load/import_v1beta1.go
  src/pkg/packager/load/load_test.go
  src/pkg/packager/load/package.go
  src/pkg/zoci/cache.go
  src/pkg/zoci/common.go
Due: goimports, lint

cache
  src/pkg/component/publish_test.go
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/load/import_v1beta1.go
  src/pkg/packager/load/package.go
  src/pkg/zoci/cache.go
  src/pkg/zoci/common.go
Due: goimports, lint

test improvements
  src/pkg/component/publish_test.go
  src/test/e2e/00_component_publish_v1beta1_test.go
Due: goimports, lint

fix: registry mode not handled properly in update-creds
  src/cmd/zarf_tools.go
  src/cmd/zarf_tools_test.go
  src/pkg/cluster/registry.go
  src/pkg/cluster/registry_test.go
  src/pkg/cluster/tunnel.go
  src/pkg/state/state.go
  src/pkg/state/state_test.go
Due: check-docs-and-schema, goimports, lint

note
  src/pkg/component/resource_normalizer.go
  src/pkg/packager/load/load.go
Due: goimports, lint

simplify function
  src/pkg/packager/load/import_v1beta1.go
  src/pkg/packager/load/import_v1beta1_test.go
  src/pkg/packager/load/load.go
Due: goimports, lint

fix(cmd): default short image names to docker.io in registry ls
  src/cmd/registry_list.go
  src/cmd/registry_list_test.go
Due: check-docs-and-schema, goimports, lint

add values flags to dev
  site/src/content/docs/commands/zarf_dev_deploy.md
  src/cmd/dev.go
  src/pkg/packager/deploy.go
  src/pkg/packager/dev.go
  src/pkg/packager/dev_test.go
Due: check-docs-and-schema, goimports, lint

values
  site/src/content/docs/commands/zarf_dev_deploy.md
  site/src/content/docs/commands/zarf_init.md
  src/cmd/dev.go
  src/cmd/initialize.go
  src/pkg/packager/dev.go
Due: check-docs-and-schema, goimports, lint

refocus tests
  src/pkg/packager/load/import_v1beta1.go
  src/pkg/packager/load/import_v1beta1_test.go
  src/pkg/packager/load/load.go
Due: goimports, lint

test
  src/test/e2e/00_component_publish_v1beta1_test.go
  src/test/e2e/15_component_publish_v1beta1_test.go
  src/test/packages/15-component-publish-v1beta1/component-values.schema.json
  src/test/packages/15-component-publish-v1beta1/component-values.yaml
  src/test/packages/15-component-publish-v1beta1/component.yaml
  src/test/packages/15-component-publish-v1beta1/kustomization/configmap.yaml
  src/test/packages/15-component-publish-v1beta1/kustomization/kustomization.yaml
  src/test/packages/15-component-publish-v1beta1/local-chart-values.yaml
  src/test/packages/15-component-publish-v1beta1/local-chart/Chart.yaml
  src/test/packages/15-component-publish-v1beta1/local-chart/templates/configmap.yaml
  src/test/packages/15-component-publish-v1beta1/local-file.txt
  src/test/packages/15-component-publish-v1beta1/local-manifest.yaml
  src/test/packages/15-component-publish-v1beta1/zarf.yaml
Due: goimports, lint

zarf dev template
  src/test/e2e/15_component_publish_v1beta1_test.go
  src/test/packages/15-component-publish-v1beta1/zarf.tpl.yaml
Due: goimports, lint

publish
  src/pkg/component/publish.go
  src/pkg/component/publish_test.go
  src/pkg/component/resource_normalizer.go
  src/pkg/packager/layout/oci.go
  src/pkg/packager/load/import_v1beta1.go
Due: goimports, lint

fix publish bug
  src/pkg/component/publish.go
  src/pkg/component/publish_test.go
  src/pkg/component/resource_normalizer.go
  src/pkg/packager/load/import_v1beta1.go
Due: goimports, lint

lint
  src/pkg/component/publish_test.go
Due: goimports, lint

test: decode SBOMs into syft's document model
  src/pkg/packager/assemble/sbom_test.go
Due: goimports, lint

refactor how architecture and flavor work in components
  src/api/convert/convert_test.go
  src/api/v1beta1/component.go
  src/api/v1beta1/component_config.go
  src/cmd/component.go
  src/config/lang/english.go
  src/internal/api/v1beta1/convert.go
  src/internal/api/v1beta1/roundtrip_test.go
  src/pkg/component/publish.go
  src/pkg/component/publish_test.go
  src/pkg/component/resource_normalizer.go
  src/pkg/component/testdata/publish-component-v1beta1/component-flavor.yaml
  src/pkg/packager/load/import_v1beta1.go
  src/pkg/packager/load/import_v1beta1_merge.go
  src/pkg/packager/load/import_v1beta1_test.go
  src/pkg/packager/load/testdata/import-v1beta1/single-incompatible/components/web-apache.yaml
  src/pkg/packager/load/testdata/import-v1beta1/variants/components/web-apache.yaml
  src/pkg/packager/load/testdata/import-v1beta1/variants/components/web-nginx.yaml
  src/pkg/schema/zarf-v1beta1-component-schema.json
  src/test/e2e/15_component_publish_v1beta1_test.go
Due: check-docs-and-schema, goimports, lint

import v1beta1 packages
  src/pkg/packager/load/import_v1beta1.go
  src/pkg/packager/load/import_v1beta1_test.go
Due: goimports, lint

unit test
  src/pkg/component/publish_test.go
  src/pkg/images/unpack.go
  src/test/e2e/15_component_publish_v1beta1_test.go
Due: goimports, lint
