Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

check-docs-and-schema:
  name: Check for outdated docs and Zarf schema
  entry: make test-docs-and-schema
  language: system
  pass_filenames: false

goimports:
  name: goimports
  entry: golangci-lint fmt
  language: golang
  pass_filenames: false

lint:
  name: golangci-lint go lint
  entry: golangci-lint run
  language: golang
  pass_filenames: false

tag based version pipeline
  .gitignore
  netlify.toml
  site/astro.config.ts
  site/hack/build-versions.mjs
  site/package.json
  site/src/components/Sidebar.astro
  site/src/components/VersionSelect.astro
  site/src/content/docs/contribute/documentation-versioning.mdx
  site/versions.json
Due: none

yolo and group
  src/api/v1beta1/component.go
  src/api/v1beta1/package.go
Due: goimports, lint

docs: add Dynamia.ai to ADOPTERS.md (#4936)
  ADOPTERS.md
Due: none

schema
  site/.gitignore
  site/package.json
  site/src/components/SchemaReference.astro
  site/src/content/docs/schema/v1alpha1-package.mdx
Due: none

schema
  site/src/components/SchemaItemProperties.astro
Due: none

better label
  site/astro.config.ts
  site/hack/build-versions.mjs
  site/src/components/Sidebar.astro
  site/src/components/VersionSelect.astro
Due: none

better label
  site/src/components/ThemeSelect.astro
Due: none

version docs content
  .gitignore
  site/astro.config.ts
  site/hack/build-versions.mjs
  site/package.json
  site/src/components/ThemeSelect.astro
  site/src/components/VersionSelect.astro
  site/versions.json
Due: none

set netlify token
  netlify.toml
Due: none

stay on current page
  site/src/components/VersionSelect.astro
  site/versions.json
Due: none

separate out latest
  site/hack/build-versions.mjs
  site/versions.json
Due: none

upgrade starlight version
  .github/workflows/test-site.yml
  netlify.toml
  site/astro.config.ts
  site/hack/build-versions.mjs
  site/package-lock.json
  site/package.json
  site/src/components/SkipLink.astro
  site/src/components/ThemeSelect.astro
  site/src/content.config.ts
Due: none

fix
  .github/workflows/test-site.yml
  site/hack/build-versions.mjs
Due: none

build versions
  site/hack/build-versions.mjs
Due: none

delete verisons.json
  site/.gitignore
  site/versions.json
Due: none

better name
  site/hack/build-versions.mjs
Due: none

comments
  site/hack/build-versions.mjs
Due: none

unneeded env
  site/hack/build-versions.mjs
Due: none

astro
  site/astro.config.ts
  site/hack/build-versions.mjs
Due: none

disable heading links
  site/astro.config.ts
Due: none

fix(values): update scheam handling logic
  adr/0027-values-schema-merge-on-import.md
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/layout/assemble_test.go
  src/pkg/packager/layout/testdata/schema-merge/child-with-ref.schema.json
  src/pkg/packager/layout/testdata/schema-merge/child.schema.json
  src/pkg/packager/layout/testdata/schema-merge/parent-no-required.schema.json
  src/pkg/packager/layout/testdata/schema-merge/parent-overlapping-required.schema.json
  src/pkg/packager/layout/testdata/schema-merge/parent-with-required.schema.json
  src/pkg/value/schema_test.go
  src/test/e2e/42_values_test.go
  src/test/packages/42-values/schema-merge/expected-merged-schema.json
  src/test/packages/42-values/schema-merge/override-invalid.yaml
  src/test/packages/42-values/schema-merge/values.schema.json
  src/test/packages/42-values/schema-merge/values/values.yaml
  src/test/packages/42-values/schema-merge/zarf.yaml
Due: goimports, lint

Remove temporary values files
  adr/0027-values-schema-merge-on-import.md
Due: none

fix(values): brutal review
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/layout/assemble_test.go
  src/pkg/packager/layout/testdata/schema-merge/child2.schema.json
  src/pkg/packager/load/import.go
  src/pkg/packager/load/import_test.go
  src/pkg/packager/load/testdata/import/values/schema-deep/middle/bottom/bottom-values.schema.json
  src/pkg/packager/load/testdata/import/values/schema-deep/middle/middle-values.schema.json
  src/pkg/packager/load/testdata/import/values/schema-parent-empty/import/child-values.schema.json
  src/pkg/packager/load/testdata/import/values/schema-parent-wins/import/child-values.schema.json
  src/pkg/packager/load/testdata/import/values/schema-parent-wins/parent-values.schema.json
  src/pkg/value/schema.go
  src/pkg/value/value.go
  src/test/e2e/42_values_test.go
Due: goimports, lint

fix(values): security and lint reviews
  src/pkg/value/schema.go
Due: goimports, lint

feat(values): support state builtsin
  src/api/v1alpha1/component.go
  src/internal/packager/template/template.go
  src/internal/packager/template/template_test.go
  src/internal/template/template.go
  src/internal/template/template_test.go
  src/pkg/packager/actions/actions.go
  src/pkg/packager/deploy.go
  src/pkg/packager/find_images.go
  src/pkg/packager/inspect.go
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/remove.go
  src/pkg/schema/zarf-v1alpha1-schema.json
  zarf.schema.json
Due: goimports, lint

feat(values); support intermediary type for schemas
  src/api/v1alpha1/package.go
  src/cmd/dev.go
  src/pkg/packager/create.go
  src/pkg/packager/dev.go
  src/pkg/packager/find_images.go
  src/pkg/packager/inspect.go
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/layout/layout_test.go
  src/pkg/packager/lint.go
  src/pkg/packager/load/import.go
  src/pkg/packager/load/import_test.go
  src/pkg/packager/load/load.go
  src/pkg/packager/load/testdata/import/values/schema-deep/expected-merged-schema.json
  src/pkg/packager/load/testdata/import/values/schema-parent-empty/expected-merged-schema.json
  src/pkg/packager/load/testdata/import/values/schema-parent-wins/expected-merged-schema.json
  src/pkg/packager/publish.go
Due: check-docs-and-schema, goimports, lint

fix(test): test coverage for import
  src/pkg/packager/load/load_test.go
Due: goimports, lint

stop importing v1alpha1
  src/api/v1beta1/component.go
  src/api/v1beta1/deprecated.go
  src/api/v1beta1/package.go
Due: goimports, lint

remove parse pod
  src/internal/agent/hooks/pods.go
Due: goimports, lint

mutation policy flag
  src/cmd/initialize.go
  src/cmd/viper.go
Due: check-docs-and-schema, goimports, lint

mutation policy flag
  site/src/content/docs/commands/zarf_init.md
Due: none

fix agent context
  src/internal/agent/hooks/argocd-application.go
  src/internal/agent/hooks/argocd-application_test.go
  src/internal/agent/hooks/argocd-applicationset.go
  src/internal/agent/hooks/argocd-applicationset_test.go
  src/internal/agent/hooks/argocd-appproject.go
  src/internal/agent/hooks/argocd-appproject_test.go
  src/internal/agent/hooks/argocd-repository.go
  src/internal/agent/hooks/argocd-repository_test.go
  src/internal/agent/hooks/common.go
  src/internal/agent/hooks/flux-gitrepo.go
  src/internal/agent/hooks/flux-gitrepo_test.go
  src/internal/agent/hooks/flux-helmrepo.go
  src/internal/agent/hooks/flux-helmrepo_test.go
  src/internal/agent/hooks/flux-ocirepo.go
  src/internal/agent/hooks/flux-ocirepo_test.go
  src/internal/agent/hooks/git_mutation_guard_test.go
  src/internal/agent/hooks/pods.go
  src/internal/agent/hooks/pods_test.go
  src/internal/agent/http/admission/handler.go
  src/internal/agent/operations/hook.go
  src/internal/agent/start.go
Due: goimports, lint

package schema
  src/pkg/schema/generate.go
  src/pkg/schema/zarf-v1beta1-package-schema.json
Due: goimports, lint

snake case
  src/api/v1beta1/component_config.go
Due: goimports, lint

value was unused
  src/api/v1beta1/component.go
Due: goimports, lint

omit empty
  src/api/v1beta1/package.go
Due: goimports, lint

fix(values): review comments
  src/pkg/packager/deploy.go
  src/pkg/packager/inspect.go
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/layout/assemble_test.go
  src/pkg/packager/layout/layout_test.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/layout/package_test.go
  src/pkg/packager/layout/testdata/schema-merge/child-no-dialect.schema.json
  src/pkg/packager/layout/testdata/schema-merge/child-wrong-version.schema.json
  src/pkg/packager/publish.go
  src/pkg/value/schema.go
  src/test/e2e/42_values_test.go
  src/test/packages/42-values/schema-merge/expected-merged-schema.json
Due: goimports, lint

fix(schema): proper deepcopy
  src/pkg/value/schema.go
Due: goimports, lint

fix(values): codecov updates
  src/pkg/packager/layout/assemble_test.go
Due: goimports, lint

fix(values): cleanup previous scope of changes
  src/internal/packager/template/template.go
  src/internal/packager/template/template_test.go
  src/internal/template/template.go
Due: goimports, lint

Path conditions:
  check-docs-and-schema: any of: ^src/(config|cmd)/ and \.go$
  goimports: any of: \.go$
  lint: any of: \.go$
