Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

check-docs-and-schema:
  name: Check for outdated docs and Zarf schema
  entry: make test-docs-and-schema
  language: system
  pass_filenames: false

goimports:
  name: goimports
  entry: golangci-lint fmt
  language: golang
  pass_filenames: false

lint:
  name: golangci-lint go lint
  entry: golangci-lint run
  language: golang
  pass_filenames: false

feat(v1beta1): sha256/sha512 verification checksum verification (#5399)
  src/api/convert/convert_test.go
  src/api/package.go
  src/cmd/dev.go
  src/internal/api/v1alpha1/convert.go
  src/internal/api/v1beta1/convert.go
  src/internal/api/v1beta1/roundtrip_test.go
  src/internal/api/v1beta1/validate.go
  src/internal/api/v1beta1/validate_test.go
  src/internal/checksum/checksum.go
  src/internal/checksum/checksum_test.go
  src/pkg/helpers/files.go
  src/pkg/images/pull.go
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/assemble/assemble_test.go
  src/pkg/packager/deploy.go
  src/pkg/packager/layout/oci.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/load.go
  src/pkg/packager/load_test.go
  src/pkg/packager/pull.go
  src/pkg/utils/network.go
  src/pkg/utils/network_test.go
  src/test/e2e/05_tarball_test.go
Due: check-docs-and-schema, goimports, lint

feat: sbom mediatype
  src/pkg/packager/layout/oci.go
  src/pkg/packager/layout/oci_test.go
  src/pkg/packager/layout/sbom.go
  src/pkg/zoci/pull.go
  src/pkg/zoci/resource_test.go
Due: goimports, lint

fix: prevent errors from concurrent package load race
  src/pkg/oci/cache/cache.go
  src/pkg/oci/cache/cache_test.go
Due: goimports, lint

test: make TestFetchCachePushError test a little clearer
  src/pkg/oci/cache/cache_test.go
Due: goimports, lint

fix: test flake
  src/pkg/images/push_test.go
Due: goimports, lint

feat: log the manifest descriptor size
  src/pkg/zoci/push.go
Due: goimports, lint

fix: ensure no write outside of tempdir v1beta1
  src/api/v1beta1/component.go
  src/internal/api/v1beta1/validate.go
  src/internal/api/v1beta1/validate_test.go
  src/pkg/lint/schema_test.go
  src/pkg/schema/zarf-v1beta1-component-schema.json
  src/pkg/schema/zarf-v1beta1-package-schema.json
  src/pkg/schema/zarf.schema.json
  zarf.schema.json
Due: goimports, lint

fix: v1alpha1 staging directory writes
  src/internal/api/v1alpha1/validate.go
  src/internal/api/v1alpha1/validate_test.go
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/assemble/assemble_test.go
Due: goimports, lint

fix: documentation key write boundary
  src/internal/api/v1alpha1/validate.go
  src/internal/api/v1alpha1/validate_test.go
  src/internal/api/v1beta1/validate.go
  src/internal/api/v1beta1/validate_test.go
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/assemble/assemble_test.go
Due: goimports, lint

fix: export validation
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/layout/package_test.go
  src/pkg/packager/load/load.go
  src/pkg/packager/load/load_test.go
Due: goimports, lint

fix: common handling for layout and chart/values
  src/internal/packager/helm/common.go
  src/internal/packager/helm/repo.go
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/assemble/assemble_test.go
  src/pkg/packager/layout/layout.go
  src/pkg/packager/layout/layout_test.go
Due: goimports, lint

Squash v1beta1/find-images
  site/src/content/docs/commands/zarf_dev_find-images.md
  src/cmd/component.go
  src/cmd/dev.go
  src/config/lang/english.go
  src/pkg/component/publish.go
  src/pkg/packager/find_images.go
  src/pkg/packager/find_images_test.go
  src/pkg/packager/generate.go
  src/pkg/packager/load/component.go
  src/pkg/packager/load/component_test.go
  src/pkg/packager/load/import_v1beta1.go
  src/pkg/packager/load/load.go
  src/pkg/packager/load/package.go
  src/pkg/packager/load/values.go
  src/pkg/packager/packager.go
  src/pkg/packager/update.go
  src/pkg/packager/update_test.go
  src/test/e2e/13_find_images_test.go
  src/test/packages/13-find-images-formats/component.yaml
  src/test/packages/13-find-images-formats/pod.yaml
  src/test/packages/13-find-images-formats/zarf-v1beta1.yaml
  src/test/packages/13-find-images-formats/zarf.yaml
Due: check-docs-and-schema, goimports, lint

fix: prevent cache race from causing errors in concurrent zarf process OCI package loads (#5439)
  src/pkg/oci/cache/cache.go
  src/pkg/oci/cache/cache_test.go
Due: goimports, lint

fix: helper default symlink rejection
  src/pkg/helpers/files.go
  src/pkg/helpers/files_test.go
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/assemble/assemble_test.go
Due: goimports, lint

ca bundle
  src/internal/git/repository.go
  src/internal/gitea/gitea.go
  src/internal/gitea/gitea_test.go
  src/pkg/packager/mirror.go
  src/test/e2e/22_git_and_gitops_test.go
Due: goimports, lint

switch statement
  src/pkg/packager/update.go
  src/pkg/packager/update_test.go
Due: goimports, lint

fix: cleanup helpers
  src/pkg/helpers/files.go
  src/pkg/helpers/files_test.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/layout/package_test.go
Due: goimports, lint

rip out capability
  site/src/content/docs/ref/init-package.mdx
  src/api/package.go
  src/cmd/initialize.go
  src/cmd/zarf_tools.go
  src/internal/packager/requirements/requirements_test.go
  src/pkg/cluster/zarf.go
  src/pkg/cluster/zarf_test.go
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/assemble/assemble_test.go
  src/pkg/packager/deploy.go
  zarf.yaml
Due: check-docs-and-schema, goimports, lint

fix: preserve healthcheck result during watcher cancellation (#5437)
  src/internal/healthchecks/healthchecks.go
  src/internal/healthchecks/healthchecks_test.go
Due: goimports, lint

fix: remove field parameter
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/assemble/assemble_test.go
  src/pkg/packager/layout/layout.go
  src/pkg/packager/layout/layout_test.go
Due: goimports, lint

feat!: implement find images for v1beta1 package and component config (#5428)
  site/src/content/docs/commands/zarf_dev_find-images.md
  src/cmd/component.go
  src/cmd/dev.go
  src/config/lang/english.go
  src/pkg/component/publish.go
  src/pkg/packager/find_images.go
  src/pkg/packager/find_images_test.go
  src/pkg/packager/generate.go
  src/pkg/packager/load/component.go
  src/pkg/packager/load/component_test.go
  src/pkg/packager/load/import_v1beta1.go
  src/pkg/packager/load/load.go
  src/pkg/packager/load/package.go
  src/pkg/packager/load/values.go
  src/pkg/packager/packager.go
  src/pkg/packager/update.go
  src/pkg/packager/update_test.go
  src/test/e2e/13_find_images_test.go
  src/test/packages/13-find-images-formats/component.yaml
  src/test/packages/13-find-images-formats/pod.yaml
  src/test/packages/13-find-images-formats/zarf-v1beta1.yaml
  src/test/packages/13-find-images-formats/zarf.yaml
Due: check-docs-and-schema, goimports, lint

git tls introduction
  site/src/content/docs/commands/zarf_init.md
  site/src/content/docs/commands/zarf_tools_update-creds_git.md
  src/cmd/initialize.go
  src/cmd/zarf_tools.go
  src/config/lang/english.go
  src/pkg/feature/feature.go
  src/pkg/packager/deploy.go
  src/pkg/packager/deploy_test.go
Due: check-docs-and-schema, goimports, lint

fix: chart name schema validation
  src/api/v1beta1/component.go
  src/pkg/lint/schema_test.go
  src/pkg/schema/zarf-v1beta1-component-schema.json
  src/pkg/schema/zarf-v1beta1-package-schema.json
  src/pkg/schema/zarf.schema.json
  zarf.schema.json
Due: goimports, lint

fix: clean path and traversal key
  src/internal/api/v1alpha1/validate.go
  src/internal/api/v1alpha1/validate_test.go
  src/internal/api/v1beta1/validate.go
  src/internal/api/v1beta1/validate_test.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/layout/package_test.go
  src/pkg/packager/load/load_test.go
Due: goimports, lint

Squash v1beta1/lint
  src/pkg/lint/rules_common.go
  src/pkg/lint/rules_v1alpha1.go
  src/pkg/lint/rules_v1beta1.go
  src/pkg/packager/lint.go
  src/pkg/packager/lint_test.go
  src/pkg/packager/load/component.go
  src/test/e2e/00_use_cli_test.go
Due: goimports, lint

git tls introduction
  packages/gitea/gitea-values.yaml
  src/internal/packager/helm/zarf.go
  src/internal/packager/template/template.go
  src/pkg/cluster/cluster.go
  src/pkg/cluster/cluster_test.go
  src/test/e2e/21_connect_creds_test.go
  src/test/proxy/proxy_test.go
Due: goimports, lint

git tls
  src/internal/packager/helm/zarf.go
Due: goimports, lint

git tls
  src/cmd/zarf_tools.go
  src/test/e2e/21_connect_creds_test.go
Due: check-docs-and-schema, goimports, lint

feat: implement zarf dev lint for v1beta1 packages and component configs (#5431)
  src/pkg/lint/rules_common.go
  src/pkg/lint/rules_v1alpha1.go
  src/pkg/lint/rules_v1beta1.go
  src/pkg/packager/lint.go
  src/pkg/packager/lint_test.go
  src/pkg/packager/load/component.go
  src/test/e2e/00_use_cli_test.go
Due: goimports, lint

fix: remove symlink e2e test
  src/pkg/packager/deploy_test.go
  src/test/e2e/33_manifest_with_symlink_test.go
  src/test/packages/34-manifest-with-symlink/manifests/img/test.txt
  src/test/packages/34-manifest-with-symlink/manifests/resources/img
  src/test/packages/34-manifest-with-symlink/zarf.yaml
Due: goimports, lint

feat: add ability to skip arch check on package deploy
  site/src/content/docs/commands/zarf_package_deploy.md
  site/src/content/docs/ref/deploy.mdx
  src/cmd/package.go
  src/cmd/package_test.go
  src/config/lang/english.go
  src/pkg/packager/deploy.go
  src/pkg/packager/deploy_test.go
  src/test/e2e/27_deploy_regression_test.go
Due: check-docs-and-schema, goimports, lint

fix: reject symlinks in archives
  src/pkg/archive/archive.go
  src/pkg/archive/archive_traversal_test.go
Due: goimports, lint

git tls
  packages/gitea/connect.yaml
  packages/gitea/gitea-values.yaml
  packages/gitea/zarf.yaml
  site/src/content/docs/ref/package-values.mdx
  src/internal/packager/template/template.go
  src/pkg/template/template.go
Due: goimports, lint

gitea test
  src/pkg/packager/gitea_test.go
Due: goimports, lint

docs: clarify architecture selection for package deployment
  site/src/content/docs/ref/deploy.mdx
Due: none

Squash v1beta1/inspect-all
  site/src/content/docs/commands/zarf_dev.md
  site/src/content/docs/commands/zarf_dev_find-images.md
  site/src/content/docs/commands/zarf_dev_generate-schema.md
  site/src/content/docs/commands/zarf_dev_inspect.md
  site/src/content/docs/commands/zarf_dev_inspect_definition.md
  site/src/content/docs/commands/zarf_dev_inspect_manifests.md
  site/src/content/docs/commands/zarf_dev_inspect_values-files.md
  site/src/content/docs/commands/zarf_dev_lint.md
  site/src/content/docs/commands/zarf_package.md
  site/src/content/docs/commands/zarf_package_create.md
  src/cmd/dev.go
  src/cmd/dev_template.go
  src/cmd/package.go
  src/config/lang/english.go
  src/pkg/packager/inspect.go
  src/pkg/packager/inspect_test.go
  src/pkg/packager/packager.go
  src/test/e2e/00_use_cli_test.go
  src/test/packages/15-component-publish-v1beta1/zarf-inspect.yaml
Due: check-docs-and-schema, goimports, lint

test: simplify architecture override tests and docs
  site/src/content/docs/ref/deploy.mdx
  src/cmd/package_test.go
  src/test/e2e/27_deploy_regression_test.go
Due: check-docs-and-schema, goimports, lint

feat: v1beta1 and component config `zarf dev inspect` implementations (#5438)
  site/src/content/docs/commands/zarf_dev.md
  site/src/content/docs/commands/zarf_dev_find-images.md
  site/src/content/docs/commands/zarf_dev_generate-schema.md
  site/src/content/docs/commands/zarf_dev_inspect.md
  site/src/content/docs/commands/zarf_dev_inspect_definition.md
  site/src/content/docs/commands/zarf_dev_inspect_manifests.md
  site/src/content/docs/commands/zarf_dev_inspect_values-files.md
  site/src/content/docs/commands/zarf_dev_lint.md
  site/src/content/docs/commands/zarf_package.md
  site/src/content/docs/commands/zarf_package_create.md
  src/cmd/dev.go
  src/cmd/dev_template.go
  src/cmd/package.go
  src/config/lang/english.go
  src/pkg/packager/inspect.go
  src/pkg/packager/inspect_test.go
  src/pkg/packager/packager.go
  src/test/e2e/00_use_cli_test.go
  src/test/packages/15-component-publish-v1beta1/zarf-inspect.yaml
Due: check-docs-and-schema, goimports, lint

feat: support architecture override in dev deploy
  site/src/content/docs/commands/zarf_dev_deploy.md
  site/src/content/docs/ref/deploy.mdx
  site/src/content/docs/ref/dev.mdx
  src/cmd/dev.go
  src/pkg/packager/dev.go
  src/pkg/packager/dev_test.go
Due: check-docs-and-schema, goimports, lint

Path conditions:
  check-docs-and-schema: any of: ^src/(config|cmd)/ and \.go$
  goimports: any of: \.go$
  lint: any of: \.go$
