Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: check-merge-conflict
      - id: detect-aws-credentials
        args:
          - "--allow-missing-credentials"
      - id: detect-private-key
        exclude: "src/test/e2e/29_config_file_test.go"
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                src/internal/packager/images/testdata/.*|
                site/src/content/docs/commands/.*
            )$
      - id: fix-byte-order-marker
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
        exclude: site/src/content/docs/commands/.*
  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.4
    hooks:
      - id: fix-smartquotes
  - repo: local
    hooks:
      - id: check-docs-and-schema
        name: Check for outdated docs and Zarf schema
        entry: make test-docs-and-schema
        files: "^src/(config|cmd)/"
        types: [go]
        language: system
        pass_filenames: false
      - id: goimports
        name: goimports
        entry: golangci-lint fmt
        types: [go]
        language: golang
        pass_filenames: false
      - id: lint
        name: golangci-lint go lint
        entry: golangci-lint run
        types: [go]
        language: golang
        pass_filenames: false

refactor: moved checking for tools key-gen mutally exclusive flags into cobra logic
  site/src/content/docs/commands/zarf_tools_gen-key.md
  src/cmd/zarf_tools.go
  src/cmd/zarf_tools_test.go
  src/config/lang/english.go
Due: check-docs-and-schema, goimports, lint

fix: fixed an issue with --password-stdin flag
  src/cmd/zarf_tools.go
Due: check-docs-and-schema, goimports, lint

Update src/cmd/zarf_tools.go
  src/cmd/zarf_tools.go
Due: check-docs-and-schema, goimports, lint

fix: validated password for bad chars in tools gen-key
  src/cmd/zarf_tools.go
  src/cmd/zarf_tools_test.go
Due: check-docs-and-schema, goimports, lint

test: fixed the test for password-std in zarf tools key-gen
  src/cmd/zarf_tools.go
  src/cmd/zarf_tools_test.go
Due: check-docs-and-schema, goimports, lint

fix: disallow implicit empty password for tools gen-key
  src/cmd/zarf_tools.go
  src/config/lang/english.go
Due: check-docs-and-schema, goimports, lint

feat: added `--force` flag for overwriting cosign keys when not interactive
  site/src/content/docs/commands/zarf_tools_gen-key.md
  src/cmd/zarf_tools.go
  src/cmd/zarf_tools_test.go
  src/config/lang/english.go
Due: check-docs-and-schema, goimports, lint

docs: Updated command docs on site for zarf tools gen-key with password and password-stdin flags
  site/src/content/docs/commands/zarf_tools_gen-key.md
Due: none

fix: disallow empty string passed into tools key-gen --pasword-stdin
  src/cmd/zarf_tools.go
  src/cmd/zarf_tools_test.go
Due: check-docs-and-schema, goimports, lint

fix: converted password to bytes sooner to not convert back and forth
  src/cmd/zarf_tools.go
Due: check-docs-and-schema, goimports, lint

chore: add documentation tar checksums
  hack/examples-checksums/zarf-package-component-actions-amd64.txt
  hack/examples-checksums/zarf-package-manifests-amd64-0.0.1.txt
  hack/examples-checksums/zarf-package-variables-amd64.txt
  hack/examples-checksums/zarf-package-yolo-amd64.txt
Due: none

fix signature
  src/pkg/packager/pull.go
  src/pkg/zoci/pull.go
  src/pkg/zoci/push_package_test.go
Due: goimports, lint

update registry image
  src/test/external/docker-registry-values.yaml
  zarf-config.toml
Due: none

fix: dos-games example and revert 23-data changes
  examples/dos-games/zarf.yaml
  src/test/packages/23-data-injections/readme.md
  src/test/packages/23-data-injections/zarf.yaml
Due: none

chore: update dos-games checksum
  hack/examples-checksums/zarf-package-dos-games-amd64-1.3.0.txt
Due: none

sanitize path
  src/cmd/package.go
  src/pkg/packager/create.go
Due: check-docs-and-schema, goimports, lint

avoid git url path traversal
  src/pkg/transform/git.go
  src/pkg/transform/git_test.go
Due: goimports, lint

avoid git url traversal
  src/pkg/transform/git.go
  src/pkg/transform/git_test.go
Due: goimports, lint

feat: expose sbom generation tools
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/layout/assemble_test.go
  src/pkg/packager/layout/package_test.go
  src/pkg/packager/layout/sbom.go
  src/pkg/packager/layout/sbom_test.go
Due: goimports, lint

ci: add comments
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/layout/sbom.go
Due: goimports, lint

chore(dependencies): update init package registry image from 3.0.0 to 3.1.0 (#4792)
  src/test/external/docker-registry-values.yaml
  zarf-config.toml
Due: none

fix credential matching
  src/pkg/utils/auth.go
  src/pkg/utils/auth_test.go
Due: goimports, lint

add tests for port
  src/pkg/utils/auth_test.go
Due: goimports, lint

fix: git host matching (#4801)
  src/pkg/utils/auth.go
  src/pkg/utils/auth_test.go
Due: goimports, lint

sanatize layout
  src/pkg/packager/layout/package.go
  src/pkg/packager/layout/package_test.go
Due: goimports, lint

fix: sanitize inspect output path (#4793)
  src/cmd/package.go
  src/pkg/packager/create.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/layout/package_test.go
Due: check-docs-and-schema, goimports, lint

fix(pki): update for review revisions
  src/cmd/initialize.go
  src/cmd/zarf_tools.go
  src/pkg/pki/pki.go
  src/pkg/pki/pki_test.go
Due: check-docs-and-schema, goimports, lint

fix(verify): move option to pointer for unset discoverability
  src/cmd/package.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/layout/package_test.go
  src/pkg/packager/load.go
  src/pkg/packager/load_test.go
  src/pkg/packager/publish_test.go
  src/pkg/packager/pull.go
Due: check-docs-and-schema, goimports, lint

fix(sign): update sign command to use default verify options
  src/cmd/package.go
Due: check-docs-and-schema, goimports, lint

fix unit tests for findimages
  src/pkg/packager/find_images_test.go
Due: goimports, lint

refactor(cluster): change UpdateGiteaPVC return type from string to bool
  src/cmd/internal.go
  src/pkg/cluster/pvc.go
Due: check-docs-and-schema, goimports, lint

docs: move x-mdx to documentation (#4753)
  examples/argocd/readme.md
  examples/argocd/zarf.yaml
  examples/component-actions/readme.md
  examples/component-actions/zarf.yaml
  examples/composable-packages/readme.md
  examples/composable-packages/zarf.yaml
  examples/config-file/readme.md
  examples/dos-games/readme.md
  examples/dos-games/zarf.yaml
  examples/git-data/readme.md
  examples/git-data/zarf.yaml
  examples/helm-charts/readme.md
  examples/helm-charts/zarf.yaml
  examples/kiwix/readme.md
  examples/kiwix/zarf.yaml
  examples/longhorn/readme.md
  examples/longhorn/zarf.yaml
  examples/manifests/readme.md
  examples/manifests/zarf.yaml
  examples/package-flavors/readme.md
  examples/package-flavors/zarf.yaml
  examples/podinfo-flux/readme.md
  examples/podinfo-flux/zarf.yaml
  examples/values-templating/readme.md
  examples/values-templating/zarf.yaml
  examples/variables/readme.md
  examples/variables/zarf.yaml
  examples/wordpress/readme.md
  examples/wordpress/zarf.yaml
  examples/yolo/readme.md
  examples/yolo/zarf.yaml
  hack/examples-checksums/zarf-package-component-actions-amd64.txt
  hack/examples-checksums/zarf-package-dos-games-amd64-1.3.0.txt
  hack/examples-checksums/zarf-package-manifests-amd64-0.0.1.txt
  hack/examples-checksums/zarf-package-variables-amd64.txt
  hack/examples-checksums/zarf-package-yolo-amd64.txt
  packages/gitea/readme.md
  packages/gitea/zarf.yaml
  site/hack/copy-examples.js
  src/test/packages/23-data-injections/zarf.yaml
Due: none

fix!: only pull required layers during OCI deploy (#4699)
  src/cmd/initialize.go
  src/cmd/package.go
  src/pkg/packager/create.go
  src/pkg/packager/load.go
  src/pkg/packager/pull.go
  src/pkg/zoci/common.go
  src/pkg/zoci/pull.go
  src/pkg/zoci/pull_test.go
  src/pkg/zoci/push_package_test.go
  src/pkg/zoci/testdata/multi-component/pod-alpine.yaml
  src/pkg/zoci/testdata/multi-component/pod-nginx.yaml
  src/pkg/zoci/testdata/multi-component/zarf.yaml
Due: check-docs-and-schema, goimports, lint

test(cluster): update TestUpdateGiteaPVC for bool return type
  src/pkg/cluster/pvc_test.go
Due: goimports, lint

fix unit tests
  src/cmd/testdata/package-list/expected.json
  src/cmd/testdata/package-list/expected.yaml
Due: none

docs: fix slack link to new current zarf channel on kubernetes slack.
  CONTRIBUTING.md
Due: none

docs: Update CONTRIBUTING to point to the correct slack channel
  CONTRIBUTING.md
Due: none

fixes
  src/internal/packager/helm/post-render.go
  src/pkg/packager/deploy.go
  src/pkg/state/state.go
Due: goimports, lint

add viper flag
  src/cmd/package.go
  src/cmd/viper.go
Due: check-docs-and-schema, goimports, lint

fix testl
  src/internal/packager/helm/post-render_test.go
Due: goimports, lint
