Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: check-merge-conflict
      - id: detect-aws-credentials
        args:
          - "--allow-missing-credentials"
      - id: detect-private-key
        exclude: "src/test/e2e/29_config_file_test.go"
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                src/internal/packager/images/testdata/.*|
                site/src/content/docs/commands/.*
            )$
      - id: fix-byte-order-marker
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
        exclude: site/src/content/docs/commands/.*
  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.4
    hooks:
      - id: fix-smartquotes
  - repo: local
    hooks:
      - id: check-docs-and-schema
        name: Check for outdated docs and Zarf schema
        entry: make test-docs-and-schema
        files: "^src/(config|cmd)/"
        types: [go]
        language: system
        pass_filenames: false
      - id: goimports
        name: goimports
        entry: golangci-lint fmt
        types: [go]
        language: golang
        pass_filenames: false
      - id: lint
        name: golangci-lint go lint
        entry: golangci-lint run
        types: [go]
        language: golang
        pass_filenames: false

english
  src/config/lang/english.go
Due: check-docs-and-schema, goimports, lint

correctly pass through connected
  src/pkg/packager/load.go
  src/pkg/packager/pull.go
Due: goimports, lint

fix(deploy): update action override logic to packager
  src/api/v1alpha1/component.go
  src/api/v1alpha1/package.go
  src/api/v1alpha1/package_test.go
  src/cmd/package.go
  src/pkg/packager/deploy.go
  src/pkg/packager/packager.go
  src/pkg/packager/packager_test.go
Due: check-docs-and-schema, goimports, lint

fix(unit): update test case for known scenario
  src/pkg/packager/packager_test.go
Due: goimports, lint

feat: update logic
  src/cmd/kubectl.go
Due: check-docs-and-schema, goimports, lint

feat: update support for plugins
  src/cmd/kubectl.go
Due: check-docs-and-schema, goimports, lint

ci: fix linting issue
  src/cmd/kubectl.go
Due: check-docs-and-schema, goimports, lint

comments and helm test
  src/api/v1alpha1/component.go
  src/test/e2e/25_helm_test.go
Due: goimports, lint

schema
  src/pkg/schema/zarf-v1alpha1-schema.json
  zarf.schema.json
Due: none

renames
  src/internal/packager/helm/post-render.go
  src/pkg/cluster/cluster.go
  src/pkg/packager/deploy.go
  src/pkg/packager/dev.go
  src/pkg/state/state.go
Due: goimports, lint

cleaner code
  src/pkg/packager/deploy.go
Due: goimports, lint

fix(override): treat empty ns as distinct
  src/api/v1alpha1/package.go
  src/pkg/packager/packager.go
  src/pkg/packager/packager_test.go
Due: goimports, lint

connectivity
  src/cmd/package.go
  src/pkg/cluster/zarf.go
  src/pkg/state/state.go
  src/test/e2e/47_connected_deploy_test.go
Due: check-docs-and-schema, goimports, lint

include data injections
  src/api/internal/v1beta1/component.go
Due: goimports, lint

add in missing fields
  src/api/internal/v1beta1/component.go
  src/api/internal/v1beta1/package.go
Due: goimports, lint

generate schema and move out of internal
  src/api/v1beta1/component.go
  src/api/v1beta1/package.go
  src/api/v1beta1/package_test.go
  src/pkg/schema/generate.go
Due: goimports, lint

generate v1beta1
  src/pkg/schema/generate.go
  src/pkg/schema/zarf-v1beta1-schema.json
Due: goimports, lint

fix(deploy)!: override actions wait commands (#4531)
  src/api/v1alpha1/package.go
  src/api/v1alpha1/package_test.go
  src/cmd/package.go
  src/pkg/packager/deploy.go
  src/pkg/packager/packager.go
  src/pkg/packager/packager_test.go
  src/test/packages/40-namespace-override/zarf.yaml
Due: check-docs-and-schema, goimports, lint

fix(agent): support create idempotency for mutation operations (#4691)
  src/internal/agent/hooks/argocd-application.go
  src/internal/agent/hooks/argocd-application_test.go
  src/internal/agent/hooks/argocd-applicationset.go
  src/internal/agent/hooks/argocd-appproject.go
  src/internal/agent/hooks/flux-gitrepo.go
  src/internal/agent/hooks/flux-gitrepo_test.go
  src/internal/agent/hooks/flux-helmrepo.go
  src/internal/agent/hooks/flux-helmrepo_test.go
Due: goimports, lint

more unit test fixes - remove need for fulylqualifiedmatchedimages
  src/pkg/packager/find_images.go
  src/pkg/packager/find_images_test.go
  src/pkg/packager/update_test.go
Due: goimports, lint

feat: fix logic for kubectl
  src/cmd/kubectl.go
Due: check-docs-and-schema, goimports, lint

feat(init): clarify --registry-secret or --registry-url (#4694)
  site/src/content/docs/commands/zarf_init.md
  src/cmd/initialize.go
  src/config/lang/english.go
Due: check-docs-and-schema, goimports, lint

docs: add conda-forge community install method
  site/src/content/docs/getting-started/install.mdx
Due: none

docs: update conda-forge install wording
  site/src/content/docs/getting-started/install.mdx
Due: none

helm upgrade
  go.mod
  go.sum
Due: none

add server side apply
  src/api/v1beta1/component.go
  src/pkg/schema/zarf-v1beta1-schema.json
Due: goimports, lint

set managed fields manager on init
  src/internal/packager/helm/common.go
Due: goimports, lint

set in main instead
  main.go
  src/internal/packager/helm/common.go
Due: goimports, lint

set field manager in cmd and test
  main.go
  src/cmd/root.go
  src/test/e2e/25_helm_test.go
Due: check-docs-and-schema, goimports, lint

fix: set field manager once during pre-run to avoid data race (#4707)
  src/cmd/root.go
  src/internal/packager/helm/common.go
  src/test/e2e/25_helm_test.go
Due: check-docs-and-schema, goimports, lint

feat: update args offset
  src/cmd/kubectl.go
Due: check-docs-and-schema, goimports, lint

fix golagnci-lint findings
  src/cmd/dev.go
  src/pkg/images/unpack_test.go
  src/pkg/packager/find_images.go
Due: check-docs-and-schema, goimports, lint

fix(values): improve baseline import behavior and logging
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/load/import.go
Due: goimports, lint

update function name
  src/cmd/initialize.go
  src/pkg/state/state.go
Due: check-docs-and-schema, goimports, lint

add test for current behavior
  src/pkg/cluster/cluster_test.go
Due: goimports, lint

more logical flow
  src/pkg/cluster/cluster.go
  src/pkg/cluster/cluster_test.go
Due: goimports, lint

cleanup logic again
  src/pkg/cluster/cluster.go
  src/pkg/cluster/cluster_test.go
Due: goimports, lint

delete unnecessary init
  src/cmd/initialize.go
Due: check-docs-and-schema, goimports, lint

opt out of the test rather than opt into test
  .github/workflows/test-proxy.yml
  src/test/proxy/proxy_test.go
Due: goimports, lint
