Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: check-merge-conflict
      - id: detect-aws-credentials
        args:
          - "--allow-missing-credentials"
      - id: detect-private-key
        exclude: "src/test/e2e/29_config_file_test.go"
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                src/internal/packager/images/testdata/.*|
                site/src/content/docs/commands/.*
            )$
      - id: fix-byte-order-marker
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
        exclude: site/src/content/docs/commands/.*
  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.4
    hooks:
      - id: fix-smartquotes
  - repo: local
    hooks:
      - id: check-docs-and-schema
        name: Check for outdated docs and Zarf schema
        entry: make test-docs-and-schema
        files: "^src/(config|cmd)/"
        types: [go]
        language: system
        pass_filenames: false
      - id: goimports
        name: goimports
        entry: golangci-lint fmt
        types: [go]
        language: golang
        pass_filenames: false
      - id: lint
        name: golangci-lint go lint
        entry: golangci-lint run
        types: [go]
        language: golang
        pass_filenames: false

types
  src/internal/packager/execution/execution.go
  src/pkg/packager/actions/types.go
Due: goimports, lint

runtime package
  src/internal/packager/runtime/runtime.go
  src/internal/packager/runtime/runtime_test.go
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/deploy.go
  src/pkg/packager/deploy_test.go
  src/pkg/packager/dev.go
  src/pkg/packager/remove.go
  src/pkg/packager/values_preflight.go
Due: goimports, lint

feat: migrate `zarf tools registry ls` from crane to oras-go (#5199)
  site/src/content/docs/commands/zarf_tools_registry_ls.md
  src/cmd/crane.go
  src/cmd/registry_list.go
  src/cmd/registry_list_test.go
Due: check-docs-and-schema, goimports, lint

fix(values): infer integer and unknown schema types
  src/pkg/value/generate.go
  src/pkg/value/generate_test.go
  src/test/e2e/14_zarf_package_generate_test.go
  src/test/packages/14-generate-schema/chart/values.yaml
  src/test/packages/14-generate-schema/values.schema.json
  src/test/packages/14-generate-schema/zarf.yaml
Due: goimports, lint

feat: debug log container runtime for diagnostics - warn on cri-o
  src/pkg/packager/deploy.go
  src/pkg/packager/deploy_diagnostics.go
  src/pkg/packager/deploy_diagnostics_test.go
Due: goimports, lint

feat: debug log container runtime for diagnostics - warn on cri-o (#5333)
  src/pkg/packager/deploy.go
  src/pkg/packager/deploy_diagnostics.go
  src/pkg/packager/deploy_diagnostics_test.go
Due: goimports, lint

unused files
  src/api/actions.go
  src/api/normalized.go
  src/api/package.go
Due: goimports, lint

fix: introduce more randomization in the fuzzers (#5275)
  src/internal/api/v1alpha1/roundtrip_test.go
  src/internal/api/v1beta1/roundtrip_test.go
  src/test/testutil/fuzz.go
Due: goimports, lint

feat: support listing a deployed package by name
  site/src/content/docs/commands/zarf_package.md
  site/src/content/docs/commands/zarf_package_list.md
  src/cmd/package.go
  src/cmd/package_test.go
  src/config/lang/english.go
Due: check-docs-and-schema, goimports, lint

Update Documentation to fix typo
  site/src/content/docs/faq.mdx
Due: none

fix(helm): label the items of list kinds instead of the list
  src/internal/packager/helm/post-render.go
  src/internal/packager/helm/post-render_test.go
Due: goimports, lint

test(e2e): cover charts that render list kinds
  src/test/e2e/25_helm_test.go
  src/test/packages/25-list-kinds/chart/Chart.yaml
  src/test/packages/25-list-kinds/chart/templates/configmaps.yaml
  src/test/packages/25-list-kinds/chart/templates/generic-list.yaml
  src/test/packages/25-list-kinds/zarf.yaml
Due: goimports, lint

fixme
  src/api/api.go
Due: goimports, lint

action set
  src/pkg/cluster/data.go
  src/pkg/packager/actions/actions.go
  src/pkg/packager/actions/actions_test.go
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/deploy.go
  src/pkg/packager/remove.go
  src/pkg/utils/exec/exec.go
Due: goimports, lint

docs: fix typo in airgap git URL rewrite sentence (#5342)
  site/src/content/docs/faq.mdx
Due: none

actions.go
  src/api/actions.go
  src/api/package.go
Due: goimports, lint

package kind
  src/api/api.go
  src/api/package.go
  src/internal/api/v1alpha1/convert.go
  src/internal/api/v1beta1/convert.go
Due: goimports, lint

fix(helm): use IsList alone to detect list documents
  src/internal/packager/helm/post-render.go
  src/internal/packager/helm/post-render_test.go
Due: goimports, lint

fix(helm): find zarf-connect services inside list kinds
  src/internal/packager/helm/post-render.go
  src/internal/packager/helm/post-render_test.go
Due: goimports, lint

take away unnecessary fields
  AGENTS.md
  src/api/api.go
  src/api/api_test.go
  src/api/convert/convert_test.go
  src/api/package.go
  src/internal/api/v1alpha1/convert.go
  src/internal/api/v1alpha1/roundtrip_test.go
  src/internal/api/v1beta1/convert.go
  src/internal/api/v1beta1/roundtrip_test.go
Due: goimports, lint

fix(helm): track namespaces named by list items
  src/internal/packager/helm/post-render.go
  src/internal/packager/helm/post-render_test.go
  src/test/e2e/25_helm_test.go
  src/test/packages/25-list-kinds/chart/templates/configmaps.yaml
Due: goimports, lint

version
  src/api/convert/convert_test.go
  src/api/package.go
  src/internal/api/v1alpha1/convert.go
  src/internal/api/v1alpha1/roundtrip_test.go
Due: goimports, lint

spacing
  src/api/api.go
  src/api/convert/convert.go
  src/api/normalized.go
  src/api/package.go
  src/internal/api/v1beta1/roundtrip_test.go
Due: goimports, lint

feat(tools): add aliases subcommand to generate sourcable alias output
  site/src/content/docs/commands/zarf_tools.md
  site/src/content/docs/commands/zarf_tools_aliases.md
  site/src/content/docs/ref/tools.mdx
  src/cmd/tools.go
  src/cmd/tools_aliases.go
  src/cmd/tools_aliases_test.go
  src/config/lang/english.go
  src/test/e2e/00_use_cli_test.go
Due: check-docs-and-schema, goimports, lint

no need for orignal api version
  src/api/api.go
  src/api/api_test.go
  src/api/convert/convert_test.go
  src/api/normalized.go
  src/api/package.go
  src/api/v1alpha1/package.go
  src/api/v1alpha1/package_test.go
  src/api/v1beta1/package.go
  src/api/v1beta1/package_test.go
  src/cmd/dev.go
  src/internal/api/v1alpha1/convert.go
  src/internal/api/v1alpha1/roundtrip_test.go
  src/internal/api/v1beta1/convert.go
  src/internal/api/v1beta1/roundtrip_test.go
  src/internal/pkgcfg/pkgcfg.go
  src/internal/pkgcfg/pkgcfg_test.go
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/assemble/differential.go
  src/pkg/packager/assemble/differential_test.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/load/load_test.go
Due: check-docs-and-schema, goimports, lint

simplify
  src/api/api.go
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/assemble/differential.go
  src/pkg/packager/assemble/differential_test.go
  src/pkg/variables/variables.go
Due: goimports, lint

api
  src/api/api.go
  src/cmd/package.go
  src/pkg/packager/deploy.go
  src/pkg/packager/layout/oci_test.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/layout/package_test.go
  src/pkg/packager/load.go
  src/pkg/packager/values_preflight_test.go
Due: check-docs-and-schema, goimports, lint

check action
  src/pkg/packager/layout/package.go
  src/pkg/packager/values_preflight_test.go
Due: goimports, lint

operational type
  src/api/normalized.go
  src/pkg/packager/load/load_test.go
Due: goimports, lint

boolptrs
  src/api/convert/convert_test.go
  src/internal/api/v1alpha1/convert.go
  src/internal/api/v1alpha1/roundtrip_test.go
Due: goimports, lint

oci type
  src/api/api.go
  src/api/v1alpha1/package.go
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/assemble/assemble_test.go
  src/pkg/packager/layout/oci.go
  src/pkg/packager/layout/oci_test.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/layout/package_test.go
  src/pkg/packager/publish_test.go
Due: goimports, lint

comment
  src/internal/api/v1beta1/roundtrip_test.go
Due: goimports, lint

actions
  src/api/package.go
Due: goimports, lint

comment
  src/internal/api/v1alpha1/roundtrip_test.go
Due: goimports, lint

fix(sbom)!: correct image detection for SBOM generation
  src/pkg/images/common.go
  src/pkg/images/common_test.go
  src/pkg/packager/assemble/sbom.go
  src/test/e2e/06_create_sbom_test.go
Due: goimports, lint

feat: add init chart values schemas
  packages/zarf-agent/chart/values.schema.json
  packages/zarf-registry/chart/values.schema.json
Due: none

fix: allow null values in init chart schemas
  packages/zarf-agent/chart/values.schema.json
  packages/zarf-registry/chart/values.schema.json
Due: none

feat(zoci): add OCI archive content store helpers
  go.mod
  src/pkg/zoci/archive/helper.go
  src/pkg/zoci/archive/helper_test.go
  src/pkg/zoci/archive/store.go
  src/pkg/zoci/archive/store_test.go
Due: goimports, lint
