Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: check-merge-conflict
      - id: detect-aws-credentials
        args:
          - "--allow-missing-credentials"
      - id: detect-private-key
        exclude: "src/test/e2e/29_config_file_test.go"
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                src/internal/packager/images/testdata/.*|
                site/src/content/docs/commands/.*
            )$
      - id: fix-byte-order-marker
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
        exclude: site/src/content/docs/commands/.*
  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.4
    hooks:
      - id: fix-smartquotes
  - repo: local
    hooks:
      - id: check-docs-and-schema
        name: Check for outdated docs and Zarf schema
        entry: make test-docs-and-schema
        files: "^src/(config|cmd)/"
        types: [go]
        language: system
        pass_filenames: false
      - id: goimports
        name: goimports
        entry: golangci-lint fmt
        types: [go]
        language: golang
        pass_filenames: false
      - id: lint
        name: golangci-lint go lint
        entry: golangci-lint run
        types: [go]
        language: golang
        pass_filenames: false

mtls strategy
  src/pkg/cluster/cluster.go
Due: goimports, lint

fix tests
  src/pkg/cluster/cluster_test.go
Due: goimports, lint

feat: update logic for vendor-ed tools
  src/cmd/vendor.go
Due: check-docs-and-schema, goimports, lint

introduce api conversions
  src/api/convert/convert.go
  src/api/convert/convert_test.go
  src/internal/api/types/package.go
  src/internal/api/v1alpha1/convert.go
  src/internal/api/v1beta1/convert.go
Due: goimports, lint

convert v1beta1 to v1alpha1
  src/api/convert/convert.go
  src/api/convert/convert_test.go
  src/internal/api/v1alpha1/convert.go
  src/internal/api/v1beta1/convert.go
Due: goimports, lint

is git url
  src/internal/api/v1beta1/convert.go
Due: goimports, lint

features
  src/api/convert/convert_test.go
  src/internal/api/v1alpha1/convert.go
  src/internal/api/v1beta1/convert.go
Due: goimports, lint

spell out names
  src/api/convert/convert_test.go
Due: goimports, lint

convert corrections
  src/api/convert/convert_test.go
  src/internal/api/types/package.go
  src/internal/api/v1alpha1/convert.go
  src/internal/api/v1beta1/convert.go
Due: goimports, lint

temporary convert command
  src/cmd/internal.go
  src/cmd/internal_convert.go
Due: check-docs-and-schema, goimports, lint

make allow namespace overrides a boolptr field
  src/api/v1beta1/package.go
Due: goimports, lint

docs(install): add conda-forge community install method (#4706)
  site/src/content/docs/getting-started/install.mdx
Due: none

implement suggestions, clarify updateNeeded
  src/cmd/dev.go
  src/pkg/images/unpack.go
  src/pkg/packager/find_images.go
  src/pkg/packager/update.go
Due: check-docs-and-schema, goimports, lint

feat(values): migrate zarf registry to values from variables
  packages/zarf-registry/registry-values.yaml
  packages/zarf-registry/values/defaults.yaml
  packages/zarf-registry/zarf.yaml
Due: none

fix(values): work on the values to assembly process
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/load/import.go
Due: goimports, lint

allow namespace override
  src/api/convert/convert_test.go
  src/internal/api/v1beta1/convert.go
Due: goimports, lint

unnecessary path
  src/internal/api/v1beta1/convert.go
Due: goimports, lint

Add 2026 community meeting notes link
  COMMUNITY.md
Due: none

add healthchecks as on deploy actions
  src/api/convert/convert_test.go
  src/internal/api/v1beta1/convert.go
Due: goimports, lint

handle health checks
  src/api/convert/convert_test.go
  src/internal/api/v1beta1/convert.go
Due: goimports, lint

hide command
  src/cmd/internal_convert.go
Due: check-docs-and-schema, goimports, lint

add default
  src/api/convert/convert_test.go
  src/api/v1beta1/component.go
  src/internal/api/v1beta1/convert.go
Due: goimports, lint

debug log podinfo flux
  src/test/e2e/22_git_and_gitops_test.go
  src/test/external/ext_in_cluster_test.go
  src/test/external/ext_out_cluster_test.go
Due: goimports, lint

update v1beta1 with default
  src/api/v1beta1/component.go
  src/pkg/schema/zarf-v1beta1-schema.json
Due: goimports, lint

add get images
  src/api/v1beta1/component.go
  src/api/v1beta1/component_test.go
Due: goimports, lint

get crds
  .github/workflows/test-external.yml
Due: none

run again
  .github/workflows/test-external.yml
Due: none

docs: add 2026 community meeting notes link (#4715)
  COMMUNITY.md
Due: none

error on removed fields
  src/cmd/internal_convert.go
Due: check-docs-and-schema, goimports, lint

WIP loading
  src/cmd/dev.go
  src/internal/pkgcfg/pkgcfg.go
  src/pkg/lint/schema.go
  src/pkg/schema/schema.go
Due: check-docs-and-schema, goimports, lint

build api version
  src/api/v1alpha1/package.go
  src/api/v1beta1/package.go
  src/pkg/schema/zarf-v1alpha1-schema.json
  src/pkg/schema/zarf-v1beta1-schema.json
  zarf.schema.json
Due: goimports, lint

add api version
  src/api/convert/convert_test.go
  src/internal/api/types/package.go
  src/internal/api/v1alpha1/convert.go
  src/internal/api/v1beta1/convert.go
Due: goimports, lint

use require instead of assert
  src/api/convert/convert_test.go
Due: goimports, lint

failure
  .github/workflows/test-external.yml
Due: none

load v1beta1 package
  src/internal/pkgcfg/pkgcfg.go
  src/pkg/lint/schema.go
  src/pkg/packager/load/load.go
  src/pkg/packager/load/load_test.go
  src/pkg/packager/load/testdata/v1beta1-package/zarf.yaml
Due: goimports, lint

add json schema
  src/api/v1beta1/component.go
  src/api/v1beta1/package.go
  src/pkg/schema/zarf-v1beta1-schema.json
Due: goimports, lint

proxy mode
  site/src/content/docs/ref/init-package.mdx
Due: none

feat(init): enable switching between nodeport and proxy mode (#4608)
  .github/workflows/test-proxy.yml
  site/src/content/docs/commands/zarf_init.md
  src/cmd/initialize.go
  src/pkg/cluster/cluster.go
  src/pkg/cluster/cluster_test.go
  src/pkg/state/state.go
  src/test/e2e/20_zarf_init_test.go
  src/test/proxy/proxy_test.go
Due: check-docs-and-schema, goimports, lint

more clarifications
  site/src/content/docs/ref/init-package.mdx
  src/cmd/initialize.go
Due: check-docs-and-schema, goimports, lint

subsequent
  site/src/content/docs/ref/init-package.mdx
Due: none
