Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: check-merge-conflict
      - id: detect-aws-credentials
        args:
          - "--allow-missing-credentials"
      - id: detect-private-key
        exclude: "src/test/e2e/29_config_file_test.go"
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                src/internal/packager/images/testdata/.*|
                site/src/content/docs/commands/.*
            )$
      - id: fix-byte-order-marker
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
        exclude: site/src/content/docs/commands/.*
  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.4
    hooks:
      - id: fix-smartquotes
  - repo: local
    hooks:
      - id: check-docs-and-schema
        name: Check for outdated docs and Zarf schema
        entry: make test-docs-and-schema
        files: "^src/(config|cmd)/"
        types: [go]
        language: system
        pass_filenames: false
      - id: goimports
        name: goimports
        entry: golangci-lint fmt
        types: [go]
        language: golang
        pass_filenames: false
      - id: lint
        name: golangci-lint go lint
        entry: golangci-lint run
        types: [go]
        language: golang
        pass_filenames: false

change imageWithManifests struct
  src/pkg/images/pull.go
  src/pkg/images/pull_test.go
  src/pkg/images/unpack.go
  src/pkg/images/unpack_test.go
  src/pkg/packager/layout/assemble.go
Due: goimports, lint

improving testing
  src/pkg/images/common.go
  src/pkg/images/pull.go
  src/pkg/images/pull_test.go
  src/pkg/utils/image.go
  src/pkg/utils/image_test.go
  src/pkg/zoci/pull_test.go
  src/test/e2e/48_multi_arch_test.go
  src/test/testutil/ociregistry.go
Due: goimports, lint

wording
  examples/wordpress/zarf.yaml
  site/src/content/docs/ref/components.mdx
Due: none

feat: stop adding Zarf service default values to state when the service does not exist (#4832)
  src/cmd/zarf_tools.go
  src/internal/agent/hooks/argocd-application.go
  src/internal/agent/hooks/argocd-applicationset.go
  src/internal/agent/hooks/argocd-appproject.go
  src/internal/agent/hooks/argocd-repository.go
  src/internal/agent/hooks/flux-gitrepo.go
  src/internal/agent/hooks/git_mutation_guard_test.go
  src/pkg/cluster/cluster.go
  src/pkg/cluster/cluster_test.go
  src/pkg/packager/deploy.go
  src/pkg/packager/deploy_test.go
  src/pkg/state/state.go
  src/pkg/state/state_test.go
Due: check-docs-and-schema, goimports, lint

eliminate unnecessary test
  src/pkg/images/pull.go
  src/pkg/images/pull_test.go
Due: goimports, lint

feat(verfication): trusted root fetch command (#4829)
  go.mod
  site/src/content/docs/commands/zarf_tools.md
  site/src/content/docs/commands/zarf_tools_trusted-root.md
  site/src/content/docs/commands/zarf_tools_trusted-root_create.md
  src/cmd/tools.go
  src/cmd/tools_trustedroot.go
  src/cmd/tools_trustedroot_test.go
  src/config/lang/english.go
  src/test/e2e/00_use_cli_test.go
Due: check-docs-and-schema, goimports, lint

feat: add OCI support for Argo CD sources
  examples/argocd/baseline/values.yaml
  examples/argocd/oci-helm/values.yaml
  examples/argocd/oci-manifests/values.yaml
  examples/argocd/zarf.yaml
  packages/zarf-agent/chart/templates/webhook.yaml
  src/internal/agent/hooks/argocd-application.go
  src/internal/agent/hooks/argocd-application_test.go
  src/internal/agent/hooks/argocd-applicationset.go
  src/internal/agent/hooks/argocd-appproject.go
  src/internal/agent/hooks/argocd-appproject_test.go
  src/internal/agent/hooks/argocd-repository.go
  src/internal/agent/hooks/argocd-repository_test.go
  src/internal/agent/hooks/common.go
  src/internal/agent/hooks/flux-gitrepo.go
  src/internal/agent/hooks/flux-ocirepo.go
  src/test/e2e/22_git_and_gitops_test.go
  src/test/external/ext_in_cluster_test.go
  src/test/external/ext_out_cluster_test.go
Due: goimports, lint

build: enable values feature for argocd example
  Makefile
Due: none

feat: add extraObjects and repoServer to values
  examples/argocd/values/values.yaml
  examples/argocd/zarf.yaml
  src/test/e2e/22_git_and_gitops_test.go
  src/test/external/ext_in_cluster_test.go
  src/test/external/ext_out_cluster_test.go
Due: goimports, lint

test: add unit tests for shouldMutateURL function and improve documentation
  src/internal/agent/hooks/argocd-application.go
  src/internal/agent/hooks/argocd-application_test.go
  src/internal/agent/hooks/argocd-repository.go
Due: goimports, lint

fix: honor klog -stderrthreshold even when -logtostderr is true
  src/cmd/k9s.go
Due: check-docs-and-schema, goimports, lint

move sbom image logic
  src/pkg/packager/layout/sbom.go
  src/pkg/packager/layout/sbom_test.go
  src/pkg/utils/image.go
  src/pkg/utils/image_test.go
Due: goimports, lint

disallow multi arch
  src/pkg/images/pull.go
  src/pkg/images/pull_test.go
  src/pkg/packager/layout/assemble.go
Due: goimports, lint

make unpack work with multi arch
  src/pkg/images/unpack.go
  src/pkg/images/unpack_test.go
Due: goimports, lint

move logic for determining sbomable image to sbom layer
  src/pkg/images/pull.go
  src/pkg/images/pull_test.go
  src/pkg/images/unpack.go
  src/pkg/images/unpack_test.go
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/layout/sbom.go
  src/pkg/packager/layout/sbom_test.go
  src/test/e2e/48_multi_arch_test.go
Due: goimports, lint

more specific validation function
  src/internal/api/v1alpha1/validate.go
  src/pkg/packager/deploy.go
Due: goimports, lint

add image archive validation
  src/internal/api/v1alpha1/validate.go
  src/internal/api/v1alpha1/validate_test.go
Due: goimports, lint

simplify deploy test
  src/test/e2e/48_multi_arch_test.go
Due: goimports, lint

simpler test
  src/test/e2e/48_multi_arch_test.go
Due: goimports, lint

sensible ordering
  src/pkg/images/common.go
Due: goimports, lint

use wordpress digests
  examples/wordpress/wordpress-values.yaml
Due: none

add test helpers
  src/pkg/images/pull_test.go
  src/pkg/images/unpack_test.go
Due: goimports, lint

add version requirements test function
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/layout/assemble_test.go
Due: goimports, lint

simplify check
  src/pkg/packager/layout/sbom.go
Due: goimports, lint

switch statement
  src/pkg/zoci/pull.go
Due: goimports, lint

isindex
  src/pkg/images/unpack.go
Due: goimports, lint

unnecessary cleanup
  src/pkg/zoci/pull_test.go
Due: goimports, lint

better tests
  src/pkg/zoci/pull_test.go
  src/test/testutil/ociregistry.go
Due: goimports, lint

cleaner test
  src/pkg/packager/publish_test.go
  src/test/testutil/ociregistry.go
  src/test/testutil/registry.go
Due: goimports, lint

unnecessary ns
  src/test/packages/48-multi-arch/pod.yaml
Due: none

no number
  src/pkg/images/pull_test.go
  src/pkg/zoci/pull_test.go
  src/test/testutil/ociregistry.go
Due: goimports, lint

fix tests
  src/pkg/zoci/pull_test.go
  src/test/e2e/13_find_images_test.go
Due: goimports, lint

add variant support
  src/pkg/packager/layout/sbom.go
Due: goimports, lint

feat: update to new state handling
  src/internal/agent/hooks/argocd-application.go
  src/internal/agent/hooks/argocd-application_test.go
Due: goimports, lint

fix(template): add to dissallowed functions
  src/internal/template/template.go
  src/internal/template/template_test.go
Due: goimports, lint

chore(docs): update code docs
  src/internal/template/template.go
Due: goimports, lint

allow multi arch without digests
  site/src/content/docs/ref/components.mdx
  src/internal/api/v1alpha1/validate.go
  src/internal/api/v1alpha1/validate_test.go
  src/pkg/images/common.go
  src/pkg/images/pull.go
  src/pkg/images/pull_test.go
  src/test/e2e/48_multi_arch_test.go
  src/test/packages/48-multi-arch/pod.yaml
  src/test/packages/48-multi-arch/zarf.yaml
Due: goimports, lint

chore(docs): update slack url
  COMMUNITY.md
Due: none

only log platforms for multi arch
  src/pkg/images/common.go
  src/pkg/images/pull.go
  src/pkg/images/pull_test.go
Due: goimports, lint
