Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

check-docs-and-schema:
  name: Check for outdated docs and Zarf schema
  entry: make test-docs-and-schema
  language: system
  pass_filenames: false

goimports:
  name: goimports
  entry: golangci-lint fmt
  language: golang
  pass_filenames: false

lint:
  name: golangci-lint go lint
  entry: golangci-lint run
  language: golang
  pass_filenames: false

find images
  src/pkg/packager/update.go
  src/pkg/packager/update_test.go
Due: goimports, lint

source images
  src/cmd/dev.go
  src/pkg/packager/find_images.go
  src/test/e2e/13_find_images_test.go
  src/test/packages/13-find-images-formats/zarf-v1beta1.yaml
Due: check-docs-and-schema, goimports, lint

fix
  src/cmd/dev.go
  src/test/e2e/13_find_images_test.go
Due: check-docs-and-schema, goimports, lint

matches
  src/cmd/dev.go
  src/pkg/packager/find_images.go
  src/pkg/packager/find_images_test.go
  src/pkg/packager/generate.go
  src/pkg/packager/update.go
  src/pkg/packager/update_test.go
Due: check-docs-and-schema, goimports, lint

find images
  src/pkg/packager/find_images_test.go
  src/pkg/packager/update_test.go
Due: goimports, lint

fix
  site/src/content/docs/commands/zarf_dev_find-images.md
  src/config/lang/english.go
  src/pkg/packager/update.go
  src/pkg/packager/update_test.go
Due: check-docs-and-schema, goimports, lint

feat(get-creds): only print credentials for configured services (#5418)
  src/cmd/zarf_tools.go
  src/cmd/zarf_tools_test.go
Due: check-docs-and-schema, goimports, lint

rename and move function
  src/pkg/packager/find_images.go
  src/pkg/packager/packager.go
Due: goimports, lint

component test
  src/pkg/packager/find_images_test.go
Due: goimports, lint

image source
  src/api/convert/convert_test.go
  src/api/validation.go
  src/api/validation_test.go
Due: goimports, lint

Add seLinuxOption variable map for registry chart, add null type for schema and bump chart version
  packages/zarf-registry/chart/Chart.yaml
  packages/zarf-registry/chart/values.schema.json
  packages/zarf-registry/chart/values.yaml
  packages/zarf-registry/registry-values.yaml
  packages/zarf-registry/zarf.yaml
Due: none

Fix registry chart version to match chart version in zarf.yaml
  packages/zarf-registry/zarf.yaml
Due: none

image source must be daemon registry fallback
  src/api/validation.go
Due: goimports, lint

fix api
  src/api/validation_test.go
Due: goimports, lint

fix: reduce surface area of layer and items selection
  src/cmd/package.go
  src/pkg/packager/create.go
  src/pkg/packager/load.go
  src/pkg/packager/pull.go
  src/pkg/zoci/common.go
  src/pkg/zoci/pull.go
  src/pkg/zoci/resource_test.go
Due: check-docs-and-schema, goimports, lint

init capability
  src/api/package.go
  src/cmd/initialize.go
  src/internal/packager/requirements/requirements_test.go
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/assemble/assemble_test.go
  src/pkg/packager/deploy.go
  zarf.yaml
Due: check-docs-and-schema, goimports, lint

capability
  src/cmd/zarf_tools.go
  src/pkg/cluster/zarf.go
  src/pkg/cluster/zarf_test.go
Due: check-docs-and-schema, goimports, lint

supports capabilities
  site/src/content/docs/ref/init-package.mdx
  src/api/package.go
  src/cmd/zarf_tools.go
  src/internal/packager/requirements/requirements_test.go
  src/pkg/cluster/zarf.go
  src/pkg/cluster/zarf_test.go
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/assemble/assemble_test.go
  src/pkg/packager/deploy.go
  zarf.yaml
Due: check-docs-and-schema, goimports, lint

chore: clarify retrieval in docs
  site/src/content/docs/commands/zarf_package_inspect_sbom.md
  src/cmd/package.go
  src/config/lang/english.go
Due: check-docs-and-schema, goimports, lint

docs(values): clarify schema inference and typed defaults
  site/src/content/docs/ref/package-values.mdx
Due: none

v1beta1 lint
  src/pkg/lint/rules.go
  src/pkg/packager/lint.go
  src/pkg/packager/lint_test.go
  src/test/e2e/00_use_cli_test.go
Due: goimports, lint

component
  src/pkg/packager/load/component.go
  src/pkg/packager/load/component_test.go
Due: goimports, lint

unnecessary load
  src/pkg/packager/lint.go
Due: goimports, lint

fix: broader handling of sbom creation
  src/pkg/packager/assemble/sbom.go
  src/pkg/packager/assemble/sbom_test.go
Due: goimports, lint

repository is not pinned to a commit
  src/pkg/lint/rules.go
  src/pkg/packager/lint_test.go
Due: goimports, lint

is pinned image
  src/pkg/lint/rules.go
  src/pkg/lint/rules_v1beta1.go
Due: goimports, lint

fix: validate documentation keys and isolate documentation mapping
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/assemble/assemble_test.go
  src/pkg/packager/layout/oci.go
  src/pkg/packager/layout/oci_test.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/layout/package_test.go
Due: goimports, lint

resolve component
  src/pkg/packager/lint.go
  src/pkg/packager/load/component.go
Due: goimports, lint

fix: human readable filenaming schema
  src/pkg/packager/assemble/sbom.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/layout/package_test.go
  src/pkg/packager/layout/resource.go
Due: goimports, lint

fix: allow key from non-canonical reference
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/assemble/sbom.go
  src/pkg/packager/assemble/sbom_test.go
  src/pkg/packager/layout/package_test.go
Due: goimports, lint

fix: normalized slash separated path
  src/pkg/packager/layout/package.go
Due: goimports, lint

fix: apply color detection to the axolotl-mode logo
  src/cmd/root.go
  src/cmd/say.go
  src/cmd/say_test.go
Due: check-docs-and-schema, goimports, lint

docs: apply S3 registry review feedback
  site/src/content/docs/ref/init-package.mdx
Due: none

pull conditional up
  src/pkg/images/pull.go
Due: goimports, lint

fix: resolve dependency conflicts
  site/package-lock.json
  site/package.json
Due: none

feat(v1beta1): honor image sources (#5394)
  src/api/convert/convert_test.go
  src/api/package.go
  src/api/v1beta1/component.go
  src/api/v1beta1/package.go
  src/api/v1beta1/package_test.go
  src/api/validation.go
  src/api/validation_test.go
  src/internal/api/v1alpha1/convert.go
  src/internal/api/v1beta1/convert.go
  src/internal/api/v1beta1/validate.go
  src/pkg/images/pull.go
  src/pkg/images/pull_test.go
  src/pkg/images/unpack_test.go
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/load/load_test.go
  src/pkg/wait/wait_test.go
Due: goimports, lint

fix: race condition around healthcheck cancellation
  src/internal/healthchecks/healthchecks.go
  src/internal/healthchecks/healthchecks_test.go
Due: goimports, lint

convert
  src/api/convert/convert_test.go
  src/internal/api/v1alpha1/convert.go
  src/internal/api/v1beta1/roundtrip_test.go
  src/internal/checksum/checksum.go
Due: goimports, lint

fix: align to ImageRequest and fold into implementation
  src/pkg/images/pull.go
  src/pkg/images/pull_test.go
  src/pkg/images/unpack.go
  src/pkg/images/unpack_test.go
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/assemble/sbom.go
  src/pkg/packager/assemble/sbom_test.go
Due: goimports, lint

fix: reorganize resource logic
  src/pkg/packager/layout/oci.go
  src/pkg/packager/layout/resource.go
  src/pkg/packager/layout/resource_test.go
  src/pkg/packager/layout/sbom.go
  src/pkg/packager/layout/sbom_test.go
Due: goimports, lint

Path conditions:
  check-docs-and-schema: any of: ^src/(config|cmd)/ and \.go$
  goimports: any of: \.go$
  lint: any of: \.go$
