Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: check-merge-conflict
      - id: detect-aws-credentials
        args:
          - "--allow-missing-credentials"
      - id: detect-private-key
        exclude: "src/test/e2e/29_config_file_test.go"
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                src/internal/packager/images/testdata/.*|
                site/src/content/docs/commands/.*
            )$
      - id: fix-byte-order-marker
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
        exclude: site/src/content/docs/commands/.*
  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.4
    hooks:
      - id: fix-smartquotes
  - repo: local
    hooks:
      - id: check-docs-and-schema
        name: Check for outdated docs and Zarf schema
        entry: make test-docs-and-schema
        files: "^src/(config|cmd)/"
        types: [go]
        language: system
        pass_filenames: false
      - id: goimports
        name: goimports
        entry: golangci-lint fmt
        types: [go]
        language: golang
        pass_filenames: false
      - id: lint
        name: golangci-lint go lint
        entry: golangci-lint run
        types: [go]
        language: golang
        pass_filenames: false

error on non-configured
  src/cmd/zarf_tools.go
Due: check-docs-and-schema, goimports, lint

feat(values)!: type inference in set-values cli parsing (#5103)
  site/src/content/docs/commands/zarf_dev_find-images.md
  site/src/content/docs/commands/zarf_dev_inspect_manifests.md
  site/src/content/docs/commands/zarf_dev_inspect_values-files.md
  site/src/content/docs/commands/zarf_package_deploy.md
  site/src/content/docs/commands/zarf_package_inspect_manifests.md
  site/src/content/docs/commands/zarf_package_inspect_values-files.md
  site/src/content/docs/commands/zarf_package_remove.md
  site/src/content/docs/ref/package-values.mdx
  src/cmd/dev.go
  src/cmd/dev_test.go
  src/cmd/package.go
  src/cmd/testdata/inspect-values-files/chart-with-values/expected-baked.yaml
  src/config/lang/english.go
  src/pkg/value/value.go
  src/pkg/value/value_test.go
  src/test/e2e/42_values_test.go
Due: check-docs-and-schema, goimports, lint

fix: supress grpc finding
  .vex/zarf.cli.openvex.json
Due: none

fix: rename workflow file for consistency
  .github/workflows/nightly-scan-cve.yml
  Makefile
Due: none

fix: refresh documentation language and structure
  site/src/content/docs/contribute/vulnerability-management.mdx
Due: none

chore: refactor chart naming and expose other useful library functions
  src/cmd/dev.go
  src/internal/packager/helm/chart.go
  src/internal/packager/helm/chartpaths_test.go
  src/internal/packager/helm/common.go
  src/internal/packager/helm/common_test.go
  src/internal/packager/helm/repo.go
  src/internal/packager/helm/repo_test.go
  src/internal/packager/helm/template_test.go
  src/pkg/images/push.go
  src/pkg/packager/deploy.go
  src/pkg/packager/find_images.go
  src/pkg/packager/inspect.go
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/layout/layout.go
  src/pkg/packager/values_preflight.go
  src/pkg/state/state.go
  src/pkg/state/state_test.go
  src/pkg/transform/image.go
  src/pkg/transform/image_test.go
  src/test/e2e/15_oci_compose_test.go
Due: check-docs-and-schema, goimports, lint

make docs and schema
  src/pkg/schema/zarf.schema.json
  zarf.schema.json
Due: none

feat: add util for reference from digest
  src/pkg/zoci/utils.go
  src/pkg/zoci/utils_test.go
Due: goimports, lint

fix: version aware topic assignments for hidden pages
  site/astro.config.ts
Due: none

more refactors - oci and service port
  go.mod
  go.sum
  src/pkg/cluster/secrets.go
  src/pkg/cluster/tunnel.go
  src/pkg/cluster/tunnel_test.go
  src/pkg/packager/layout/oci.go
  src/pkg/zoci/fetch.go
  src/pkg/zoci/pull.go
  vendor/github.com/defenseunicorns/pkg/oci/fetch.go
  vendor/github.com/defenseunicorns/pkg/oci/pull.go
  vendor/modules.txt
Due: goimports, lint

fix #4518 as it could confuse consumers of ServiceInfoFromNodePortURL
  src/internal/dns/dns.go
  src/internal/dns/dns_test.go
  src/pkg/cluster/tunnel.go
  src/pkg/cluster/tunnel_test.go
  src/pkg/images/pull.go
  src/pkg/state/state.go
Due: goimports, lint

split FetchZarfYAML similar to AssembleLayers
  src/pkg/zoci/fetch.go
  src/pkg/zoci/pull.go
Due: goimports, lint

fix: version aware topic assignments for hidden pages (#5108)
  site/astro.config.ts
Due: none

oneof required
  src/api/v1beta1/component.go
  src/pkg/schema/zarf-v1beta1-component-schema.json
  src/pkg/schema/zarf-v1beta1-package-schema.json
  src/pkg/schema/zarf.schema.json
Due: goimports, lint

docs and schema
  zarf.schema.json
Due: none

make docs and schema
  site/src/content/docs/commands/zarf_tools_update-creds.md
  src/cmd/zarf_tools.go
Due: check-docs-and-schema, goimports, lint

no force conflicts
  src/test/e2e/21_connect_creds_test.go
Due: goimports, lint

add rollback
  src/cmd/zarf_tools.go
Due: check-docs-and-schema, goimports, lint

wip
  src/cmd/zarf_tools_test.go
Due: check-docs-and-schema, goimports, lint

fix: duplicitive guidance
  site/src/content/docs/ref/package-signing.mdx
Due: none

comments
  src/cmd/zarf_tools.go
Due: check-docs-and-schema, goimports, lint

Update site/src/content/docs/contribute/vulnerability-management.mdx
  site/src/content/docs/contribute/vulnerability-management.mdx
Due: none

move out registry cert handling as well
  src/internal/agent/hooks/flux-helmrepo.go
  src/internal/agent/hooks/flux-ocirepo.go
  src/internal/agent/hooks/flux-ocirepo_test.go
  src/pkg/cluster/cluster.go
  src/pkg/state/state.go
  src/pkg/state/state_test.go
  src/test/proxy/proxy_test.go
Due: goimports, lint

fix test
  src/cmd/zarf_tools_test.go
Due: check-docs-and-schema, goimports, lint

mtls certs
  src/cmd/zarf_tools.go
Due: check-docs-and-schema, goimports, lint

irrelevant test
  src/cmd/zarf_tools_test.go
Due: check-docs-and-schema, goimports, lint

gitea status code
  src/config/lang/english.go
  src/internal/gitea/gitea.go
  src/internal/gitea/gitea_test.go
Due: check-docs-and-schema, goimports, lint

chore(docs): add keyless signing documentation (#4940)
  site/src/content/docs/ref/package-signing.mdx
  site/src/content/docs/tutorials/5-package-signing-and-verification.mdx
Due: none

make it not rely on zarf definition api surface
  src/internal/packager/helm/chartpaths_test.go
  src/internal/packager/helm/common.go
  src/internal/packager/helm/common_test.go
  src/internal/packager/helm/repo.go
  src/internal/packager/helm/repo_test.go
  src/pkg/packager/find_images.go
  src/pkg/packager/inspect.go
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/layout/layout.go
  src/pkg/packager/values_preflight.go
  src/test/e2e/15_oci_compose_test.go
Due: goimports, lint

more cleanup
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/find_images.go
  src/pkg/packager/layout/layout.go
  src/pkg/packager/layout/layout_test.go
  src/pkg/packager/layout/oci.go
  src/test/e2e/15_oci_compose_test.go
Due: goimports, lint

change error message
  src/cmd/zarf_tools.go
Due: check-docs-and-schema, goimports, lint

default secure init settings
  packages/gitea/gitea-values.yaml
  packages/zarf-agent/chart/templates/deployment.yaml
  packages/zarf-registry/chart/templates/deployment.yaml
  packages/zarf-registry/chart/templates/injector-daemonset.yaml
  packages/zarf-registry/chart/templates/proxy-daemonset.yaml
  src/pkg/cluster/injector.go
  src/pkg/cluster/testdata/expected-injection-pod.json
Due: goimports, lint

redudant changes
  packages/gitea/gitea-values.yaml
Due: none

test feedback
  src/pkg/packager/assemble/assemble_external_test.go
  src/pkg/packager/assemble/assemble_test.go
  src/pkg/packager/layout/package_test.go
Due: goimports, lint

default secure init settings
  packages/gitea/gitea-values.yaml
  packages/gitea/zarf.yaml
Due: none

update
  packages/init-v1beta1/agent/zarf-agent.yaml
  packages/init-v1beta1/git-server/gitea.yaml
  packages/init-v1beta1/import/zarf.yaml
  packages/init-v1beta1/k3s/k3s-amd64.yaml
  packages/init-v1beta1/k3s/k3s-arm64.yaml
  packages/init-v1beta1/k3s/k3s-common.yaml
  packages/init-v1beta1/registry/zarf-injector-amd64.yaml
  packages/init-v1beta1/registry/zarf-injector-arm64.yaml
  packages/init-v1beta1/registry/zarf-injector.yaml
  packages/init-v1beta1/registry/zarf-registry.yaml
  packages/init-v1beta1/registry/zarf-seed-registry.yaml
  packages/init-v1beta1/zarf.tpl.yaml
Due: none

common injector
  packages/init-v1beta1/registry/zarf-injector-amd64.yaml
  packages/init-v1beta1/registry/zarf-injector-arm64.yaml
  packages/init-v1beta1/registry/zarf-injector-common.yaml
Due: none
