Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

check-docs-and-schema:
  name: Check for outdated docs and Zarf schema
  entry: make test-docs-and-schema
  language: system
  pass_filenames: false

goimports:
  name: goimports
  entry: golangci-lint fmt
  language: golang
  pass_filenames: false

lint:
  name: golangci-lint go lint
  entry: golangci-lint run
  language: golang
  pass_filenames: false

api changes
  src/api/api.go
  src/internal/pkgcfg/pkgcfg.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/layout/package_test.go
Due: goimports, lint

diffenetial package
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/assemble/differential_test.go
  src/pkg/packager/create.go
Due: goimports, lint

git ref
  src/api/convert/convert_test.go
  src/internal/api/v1alpha1/convert.go
  src/internal/api/v1beta1/convert.go
Due: goimports, lint

simplify
  src/pkg/packager/filters/deploy.go
  src/pkg/packager/filters/deploy_test.go
Due: goimports, lint

fixes
  src/api/api.go
  src/api/package.go
  src/internal/api/v1alpha1/convert.go
  src/internal/api/v1beta1/convert.go
  src/internal/pkgcfg/pkgcfg.go
  src/internal/pkgcfg/pkgcfg_test.go
  src/pkg/packager/layout/oci.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/layout/package_test.go
Due: goimports, lint

convert
  src/internal/api/v1beta1/convert.go
  src/internal/api/v1beta1/roundtrip_test.go
Due: goimports, lint

annotations
  src/api/convert/convert_test.go
  src/api/package.go
  src/internal/api/v1alpha1/convert.go
  src/internal/api/v1alpha1/roundtrip_test.go
  src/internal/api/v1beta1/convert.go
  src/internal/api/v1beta1/roundtrip_test.go
  src/pkg/packager/create_test.go
  src/pkg/packager/layout/oci.go
  src/pkg/packager/layout/oci_test.go
Due: goimports, lint

load test
  src/pkg/packager/load/load_test.go
Due: goimports, lint

add expected fields
  src/test/packages/00-dev-inspect-definition/expected-zarf.yaml
Due: none

tls nodeport zarf registry
  packages/zarf-registry/chart/Chart.yaml
  packages/zarf-registry/chart/templates/_helpers.tpl
  packages/zarf-registry/chart/templates/deployment.yaml
  packages/zarf-registry/chart/templates/mtls-service.yaml
  packages/zarf-registry/chart/templates/service.yaml
  packages/zarf-registry/zarf.yaml
  site/src/content/docs/commands/zarf_init.md
  site/src/content/docs/commands/zarf_tools_update-creds_registry.md
  src/cmd/crane.go
  src/cmd/initialize.go
  src/cmd/registry_list.go
  src/cmd/viper.go
  src/cmd/zarf_tools.go
  src/internal/agent/hooks/flux-ocirepo.go
  src/pkg/cluster/cluster.go
  src/pkg/cluster/secrets.go
  src/pkg/cluster/tunnel.go
  src/pkg/images/push.go
  src/pkg/packager/deploy.go
  src/pkg/pki/pki.go
  src/pkg/state/state.go
  src/pkg/state/state_test.go
Due: check-docs-and-schema, goimports, lint

state
  packages/zarf-registry/chart/templates/deployment.yaml
  packages/zarf-registry/chart/templates/mtls-service.yaml
Due: none

zarf registry update
  packages/zarf-registry/chart/Chart.yaml
  packages/zarf-registry/chart/templates/deployment.yaml
  packages/zarf-registry/zarf.yaml
  site/src/content/docs/commands/zarf_tools_update-creds_registry.md
  src/cmd/zarf_tools.go
  src/pkg/cluster/secrets.go
  src/pkg/cluster/secrets_test.go
  src/pkg/pki/pki.go
Due: check-docs-and-schema, goimports, lint

feat: support listing a deployed package by name (#5310)
  site/src/content/docs/commands/zarf_package.md
  site/src/content/docs/commands/zarf_package_list.md
  src/cmd/package.go
  src/cmd/package_test.go
  src/config/lang/english.go
Due: check-docs-and-schema, goimports, lint

fix: move sbom viewer behind disabled feature flag
  src/pkg/feature/feature.go
  src/pkg/packager/assemble/assemble_test.go
  src/pkg/packager/assemble/sbom.go
  src/test/e2e/04_create_templating_test.go
  src/test/e2e/06_create_sbom_test.go
Due: goimports, lint

kustomize
  src/api/package.go
  src/api/v1beta1/component.go
  src/internal/api/v1alpha1/convert.go
  src/internal/api/v1beta1/convert.go
  src/internal/api/v1beta1/roundtrip_test.go
  src/internal/api/v1beta1/validate.go
  src/internal/api/v1beta1/validate_test.go
  src/pkg/component/publish_test.go
  src/pkg/component/resource_normalizer.go
  src/pkg/packager/load/import_v1beta1_merge.go
  src/pkg/packager/load/import_v1beta1_test.go
Due: goimports, lint

state access as a type
  src/api/package.go
  src/internal/api/v1alpha1/convert.go
  src/internal/api/v1beta1/convert.go
Due: goimports, lint

fix: update testing scope and assertions
  src/test/e2e/04_create_templating_test.go
  src/test/e2e/05_tarball_test.go
  src/test/e2e/06_create_sbom_test.go
  src/test/e2e/23_data_injection_test.go
Due: goimports, lint

fix: feature flag description
  src/pkg/feature/feature.go
Due: goimports, lint

feat(zoci): add OCI archive content store helpers
  go.mod
  src/pkg/zoci/archive/helper.go
  src/pkg/zoci/archive/helper_test.go
  src/pkg/zoci/archive/store.go
  src/pkg/zoci/archive/store_test.go
Due: goimports, lint

feat: remove containerd requirement
  go.mod
  src/cmd/zarf_tools_test.go
  src/internal/agent/hooks/argocd-repository_test.go
  src/internal/agent/http/proxy.go
  src/pkg/cluster/cluster_test.go
  src/pkg/zoci/archive/export.go
  src/pkg/zoci/archive/export_test.go
  src/pkg/zoci/archive/store.go
  src/pkg/zoci/archive/store_test.go
Due: check-docs-and-schema, goimports, lint

fix!: move sbom viewer behind disabled feature flag (#5368)
  src/pkg/feature/feature.go
  src/pkg/packager/assemble/assemble_test.go
  src/pkg/packager/assemble/sbom.go
  src/test/e2e/04_create_templating_test.go
  src/test/e2e/05_tarball_test.go
  src/test/e2e/06_create_sbom_test.go
  src/test/e2e/23_data_injection_test.go
Due: goimports, lint

fix: Add in templating to allow setting SELinux MCS level on zarf-registry
  packages/zarf-registry/chart/templates/deployment.yaml
  packages/zarf-registry/chart/values.yaml
  packages/zarf-registry/registry-values.yaml
  packages/zarf-registry/zarf.yaml
Due: none

merge
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/deploy.go
  src/pkg/packager/inspect.go
  src/pkg/packager/load/import.go
  src/pkg/template/template.go
  src/pkg/template/template_test.go
Due: goimports, lint

revert import
  src/pkg/packager/load/import.go
  src/pkg/packager/load/import_test.go
  src/pkg/packager/load/load.go
Due: goimports, lint

chore(lint): exclude unused staticcheck nolint directives in tests
  .golangci.yaml
Due: none

feat: continue refactor
  src/cmd/completion/completion_test.go
  src/cmd/completion/dev.go
Due: check-docs-and-schema, goimports, lint

feat(cmd): add shell completion helpers for architecture
  src/cmd/completion/completion_test.go
  src/cmd/completion/dev.go
  src/cmd/completion/root.go
  src/cmd/root.go
Due: check-docs-and-schema, goimports, lint

feat: refactor into using option pattern
  src/pkg/zoci/image/builder.go
  src/pkg/zoci/image/platform.go
  src/pkg/zoci/image/volume.go
  src/pkg/zoci/image/volume_test.go
Due: goimports, lint

feat: continue rework
  src/cmd/completion/completion_test.go
  src/cmd/completion/dev.go
  src/cmd/dev/iva.go
  src/cmd/dev/iva_test.go
Due: check-docs-and-schema, goimports, lint

feat(cmd): add zarf dev image-volume-archive command
  examples/image-volume-archive/readme.md
  examples/image-volume-archive/zarf.yaml
  site/src/content/docs/commands/zarf_dev.md
  site/src/content/docs/commands/zarf_dev_image-volume-archive.md
  src/cmd/dev.go
  src/cmd/dev/iva.go
  src/cmd/dev/iva_test.go
  src/config/lang/english.go
Due: check-docs-and-schema, goimports, lint

feat(zoci): add image volume archive builder
  go.mod
  src/config/consts.go
  src/pkg/zoci/image/builder.go
  src/pkg/zoci/image/platform.go
  src/pkg/zoci/image/platform_test.go
  src/pkg/zoci/image/roundtrip_test.go
  src/pkg/zoci/image/time.go
  src/pkg/zoci/image/volume.go
  src/pkg/zoci/image/volume_test.go
  src/pkg/zoci/image/volume_unix_test.go
Due: check-docs-and-schema, goimports, lint

feat: update examples and tutorial
  README.md
  examples/dos-games/readme.md
  examples/image-volume-archive/fluxcd/deploy/ks-podinfo.yaml
  examples/image-volume-archive/fluxcd/deploy/kustomization.yaml
  examples/image-volume-archive/fluxcd/deploy/ns-podinfo.yaml
  examples/image-volume-archive/fluxcd/deploy/or-iva.yaml
  examples/image-volume-archive/fluxcd/podinfo/deployment.yaml
  examples/image-volume-archive/fluxcd/podinfo/hpa.yaml
  examples/image-volume-archive/fluxcd/podinfo/kustomization.yaml
  examples/image-volume-archive/fluxcd/podinfo/service.yaml
  examples/image-volume-archive/zarf.yaml
  examples/wordpress/readme.md
  netlify.toml
  site/src/content/docs/best-practices/upgrading-zarf.mdx
  site/src/content/docs/getting-started/install.mdx
  site/src/content/docs/index.mdx
  site/src/content/docs/ref/create.mdx
  site/src/content/docs/ref/deploy.mdx
  site/src/content/docs/ref/init-package.mdx
  site/src/content/docs/ref/package-signing.mdx
  site/src/content/docs/ref/packages.mdx
  site/src/content/docs/tutorials/00-creating-a-zarf-package.mdx
  site/src/content/docs/tutorials/01-initializing-a-k8s-cluster.mdx
  site/src/content/docs/tutorials/02-deploying-zarf-packages.mdx
  site/src/content/docs/tutorials/03-deploy-a-retro-arcade.mdx
  site/src/content/docs/tutorials/04-creating-a-k8s-cluster-with-zarf.mdx
  site/src/content/docs/tutorials/05-package-signing-and-verification.mdx
  site/src/content/docs/tutorials/06-publish-and-deploy.mdx
  site/src/content/docs/tutorials/07-custom-init-packages.mdx
  site/src/content/docs/tutorials/08-resource-adoption.mdx
  site/src/content/docs/tutorials/09-package-create-differential.mdx
  site/src/content/docs/tutorials/10-image-volume-mount.mdx
  site/src/content/docs/tutorials/index.mdx
Due: none

chore(examples): regenerate dos-games checksum fixture
  hack/examples-checksums/zarf-package-dos-games-amd64-1.3.0.txt
Due: none

docs: expand offline wiki example
  examples/image-volume-archive/nginx/configmap.yaml
  examples/image-volume-archive/nginx/deployment.yaml
  examples/image-volume-archive/nginx/service.yaml
  examples/image-volume-archive/readme.md
  examples/image-volume-archive/zarf.yaml
  site/hack/build-in-docker.sh
  site/src/content/docs/tutorials/10-image-volume-mount.mdx
Due: none

move seLinuxOptions level to pod level securityContext
  packages/zarf-registry/chart/templates/deployment.yaml
Due: none

feat: remove unsupported CLI paths from verification
  src/pkg/packager/layout/package.go
  src/pkg/packager/layout/package_test.go
  src/pkg/signing/sigstore.go
  src/pkg/signing/sigstore_test.go
Due: goimports, lint

feat: move to in-memory primitives
  src/pkg/packager/layout/package.go
  src/pkg/signing/bundle.go
  src/pkg/signing/bundle_test.go
  src/pkg/signing/sigstore.go
  src/pkg/signing/sigstore_test.go
Due: goimports, lint

fix(helm): handle charts that render resources inside list kinds (#5344)
  src/internal/packager/helm/post-render.go
  src/internal/packager/helm/post-render_test.go
  src/test/e2e/25_helm_test.go
  src/test/packages/25-list-kinds/chart/Chart.yaml
  src/test/packages/25-list-kinds/chart/templates/configmaps.yaml
  src/test/packages/25-list-kinds/chart/templates/generic-list.yaml
  src/test/packages/25-list-kinds/chart/templates/namespaces.yaml
  src/test/packages/25-list-kinds/zarf.yaml
Due: goimports, lint

fix: update layout modification
  src/pkg/packager/layout/package.go
Due: goimports, lint

Path conditions:
  check-docs-and-schema: any of: ^src/(config|cmd)/ and \.go$
  goimports: any of: \.go$
  lint: any of: \.go$
