Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

check-docs-and-schema:
  name: Check for outdated docs and Zarf schema
  entry: make test-docs-and-schema
  language: system
  pass_filenames: false

goimports:
  name: goimports
  entry: golangci-lint fmt
  language: golang
  pass_filenames: false

lint:
  name: golangci-lint go lint
  entry: golangci-lint run
  language: golang
  pass_filenames: false

wait validation
  src/internal/api/v1beta1/validate.go
Due: goimports, lint

slices functions
  src/pkg/packager/load/import_v1beta1.go
  src/pkg/packager/load/import_v1beta1_merge.go
  src/pkg/packager/load/load.go
Due: goimports, lint

fix
  src/api/api.go
Due: goimports, lint

slices
  src/api/api.go
Due: goimports, lint

docs(examples): explain imageRegistry override despite mutating webhook
  examples/longhorn/readme.md
Due: none

clone
  src/pkg/packager/load/import_v1beta1_merge.go
Due: goimports, lint

fix: revert to minimal migration path
  src/pkg/signing/cosign_test.go
  src/pkg/signing/sigstore.go
  src/pkg/signing/trustedroot.go
  src/pkg/signing/trustedroot_test.go
Due: goimports, lint

comment
  src/api/api.go
Due: goimports, lint

switch to use package definition
  src/cmd/package.go
  src/pkg/packager/load.go
  src/pkg/packager/load_test.go
  src/pkg/packager/remove.go
Due: check-docs-and-schema, goimports, lint

set chart namespace
  src/api/api.go
Due: goimports, lint

chore: drop ref fields fully but maintain rest of schema
  src/cmd/dev.go
  src/pkg/value/generate.go
  src/pkg/value/generate_test.go
  src/pkg/value/schema.go
  src/pkg/value/schema_test.go
  src/test/e2e/14_zarf_package_generate_test.go
Due: check-docs-and-schema, goimports, lint

refactor: fix flakey tests (#5155)
  src/pkg/cluster/injector_retry_test.go
  src/pkg/wait/wait.go
  src/pkg/wait/wait_test.go
  src/test/e2e/02_component_actions_test.go
Due: goimports, lint

feat: return a verification result
  src/pkg/packager/layout/package.go
  src/pkg/signing/cosign_test.go
  src/pkg/signing/sigstore.go
  src/test/e2e/34_custom_init_package_test.go
Due: goimports, lint

fix: move testing to isolate
  src/pkg/signing/cosign_test.go
  src/pkg/signing/sigstore.go
  src/pkg/signing/sigstore_test.go
Due: goimports, lint

fix: linting
  src/pkg/value/generate_test.go
Due: goimports, lint

test current git behavior
  src/internal/git/repository_test.go
Due: goimports, lint

fix: update schema with deprecated fields
  src/api/v1alpha1/component.go
  src/api/v1alpha1/package.go
  src/pkg/schema/zarf-v1alpha1-schema.json
  src/pkg/schema/zarf.schema.json
  zarf.schema.json
Due: goimports, lint

git
  src/internal/git/repository_test.go
Due: goimports, lint

fix: k8s source test and http context
  src/pkg/signing/sigstore.go
  src/pkg/signing/sigstore_test.go
Due: goimports, lint

lockdown behavior
  src/internal/git/repository_test.go
  src/test/e2e/51_git_credentials_test.go
Due: goimports, lint

fix: deprecated schema fields (#5195)
  src/api/v1alpha1/component.go
  src/api/v1alpha1/package.go
  src/pkg/schema/zarf-v1alpha1-schema.json
  src/pkg/schema/zarf.schema.json
  zarf.schema.json
Due: goimports, lint

lint
  src/internal/git/repository_test.go
  src/test/e2e/51_git_credentials_test.go
Due: goimports, lint

docs(examples): improve longhorn health checks and registry docs (#5175)
  examples/longhorn/readme.md
  examples/longhorn/zarf.yaml
Due: none

feat: isolate kms providers from either implementation
  src/pkg/signing/cosign.go
  src/pkg/signing/providers.go
  src/pkg/signing/providers_test.go
Due: goimports, lint

fix: TDD table tests for permutations
  src/pkg/packager/publish_test.go
  src/test/testutil/registry.go
Due: goimports, lint

fix: update other related workflows
  src/pkg/packager/publish.go
  src/pkg/packager/publish_test.go
  src/pkg/packager/pull.go
Due: goimports, lint

fix: apply resolve pattern across package
  src/pkg/packager/create.go
  src/pkg/packager/create_test.go
  src/pkg/packager/digest.go
  src/pkg/packager/digest_test.go
Due: goimports, lint

fix: race with oras and http/2 negotiation
  src/test/testutil/registry.go
  test.txt
Due: goimports, lint

fix: remove test file
  test.txt
Due: none

ci: switch from shallow checkout
  .github/workflows/test-site.yml
  site/hack/build-versions.mjs
Due: none

fix: update test expectatins
  src/test/e2e/29_config_file_test.go
Due: goimports, lint

feat: migrate zarf tools registry ls from crane to oras-go
  src/cmd/crane.go
  src/cmd/registry_list.go
  src/cmd/registry_list_test.go
Due: check-docs-and-schema, goimports, lint

feat: add tests
  src/cmd/dev.go
  src/cmd/dev_test.go
Due: check-docs-and-schema, goimports, lint

feat: move extact to seperate temp dir
  src/cmd/dev.go
Due: check-docs-and-schema, goimports, lint

ci: switch from shallow checkout (#5198)
  .github/workflows/test-site.yml
  site/hack/build-versions.mjs
Due: none

validation
  src/internal/api/v1beta1/validate.go
  src/internal/api/v1beta1/validate_test.go
Due: goimports, lint

package validation
  src/pkg/packager/load/load.go
  src/pkg/packager/load/load_test.go
Due: goimports, lint

move schema validation logic
  src/pkg/lint/schema.go
  src/pkg/packager/load/load.go
  src/pkg/packager/load/load_test.go
Due: goimports, lint

Path conditions:
  check-docs-and-schema: any of: ^src/(config|cmd)/ and \.go$
  goimports: any of: \.go$
  lint: any of: \.go$
