Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: check-merge-conflict
      - id: detect-aws-credentials
        args:
          - "--allow-missing-credentials"
      - id: detect-private-key
        exclude: "src/test/e2e/29_config_file_test.go"
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                src/internal/packager/images/testdata/.*|
                site/src/content/docs/commands/.*
            )$
      - id: fix-byte-order-marker
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
        exclude: site/src/content/docs/commands/.*
  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.4
    hooks:
      - id: fix-smartquotes
  - repo: local
    hooks:
      - id: check-docs-and-schema
        name: Check for outdated docs and Zarf schema
        entry: make test-docs-and-schema
        files: "^src/(config|cmd)/"
        types: [go]
        language: system
        pass_filenames: false
      - id: goimports
        name: goimports
        entry: golangci-lint fmt
        types: [go]
        language: golang
        pass_filenames: false
      - id: lint
        name: golangci-lint go lint
        entry: golangci-lint run
        types: [go]
        language: golang
        pass_filenames: false

fix(helm): preserve block scalar semantics (#4541)
  src/internal/packager/helm/post-render.go
  src/internal/packager/helm/post-render_test.go
Due: goimports, lint

docs: fix grammatical error in OnlyHasImageLayers doc comment (#4552)
  src/pkg/images/common.go
Due: goimports, lint

chore: update dos games package 1.3.0 (#4555)
  .github/workflows/publish-application-packages.yml
  Makefile
  examples/dos-games/zarf.yaml
  hack/examples-checksums/zarf-package-dos-games-amd64-1.3.0.txt
  src/test/e2e/05_tarball_test.go
  src/test/e2e/06_create_sbom_test.go
  src/test/e2e/25_helm_test.go
  src/test/e2e/26_simple_packages_test.go
  src/test/e2e/31_checksum_and_signature_test.go
  src/test/e2e/32_build_machine_info_test.go
Due: goimports, lint

docs: clarify data injections deprecation timeline (#4556)
  site/src/content/docs/best-practices/data-injections-migration.mdx
Due: none

chore: update dos-games references to 1.3 (#4557)
  examples/composable-packages/zarf.yaml
  site/src/content/docs/commands/zarf_package_pull.md
  site/src/content/docs/getting-started/index.mdx
  site/src/content/docs/ref/deploy.mdx
  site/src/content/docs/tutorials/3-deploy-a-retro-arcade.mdx
  src/config/lang/english.go
  src/test/e2e/05_tarball_test.go
  src/test/e2e/09_component_compose_test.go
Due: check-docs-and-schema, goimports, lint

refactor!: move v1alpha1 validation logic to it's own package (#4544)
  src/api/v1alpha1/component.go
  src/internal/api/v1alpha1/validate.go
  src/internal/api/v1alpha1/validate_test.go
  src/pkg/lint/schema.go
  src/pkg/lint/schema_test.go
  src/pkg/packager/filters/os_test.go
  src/pkg/packager/generate.go
  src/pkg/packager/load.go
  src/pkg/packager/load/load.go
  src/pkg/packager/load/load_test.go
  src/pkg/state/state.go
Due: goimports, lint

feat(release): add release please workflow and docs (#4558)
  .github/workflows/commitlint.yml
  .github/workflows/release-please.yml
  .release-please-manifest.json
  RELEASES.md
  release-please-config.json
Due: none

feat(sign): implement support for sigstore bundle format (#4519)
  site/src/content/docs/ref/package-signing.mdx
  site/src/content/docs/tutorials/5-package-signing-and-verification.mdx
  src/cmd/package.go
  src/pkg/packager/layout/layout.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/layout/package_test.go
  src/pkg/packager/publish.go
  src/pkg/utils/cosign.go
Due: check-docs-and-schema, goimports, lint

add e2e tests
  src/test/e2e/46_zarf_tools_wait_for_test.go
Due: goimports, lint

status code is unknown
  src/pkg/wait/wait.go
Due: goimports, lint

additional test for pod to be deleted
  src/test/e2e/46_tools_wait_for_test.go
Due: goimports, lint

delete cmdwithTesting
  src/pkg/utils/exec/exec.go
  src/test/common.go
  src/test/e2e/39_crane_to_oras_test.go
  src/test/external/common.go
  src/test/external/ext_in_cluster_test.go
  src/test/upgrade/previously_built_test.go
Due: goimports, lint

Update src/test/e2e/46_tools_wait_for_test.go
  src/test/e2e/46_tools_wait_for_test.go
Due: goimports, lint

switch statement
  src/pkg/packager/actions/actions.go
Due: goimports, lint

Revert "revert back context"
  src/test/common.go
Due: goimports, lint

revert back context
  src/test/common.go
Due: goimports, lint

Revert "delete cmdwithTesting"
  src/pkg/utils/exec/exec.go
  src/test/common.go
  src/test/e2e/39_crane_to_oras_test.go
  src/test/external/common.go
  src/test/external/ext_in_cluster_test.go
  src/test/upgrade/previously_built_test.go
Due: goimports, lint

re-work tests
  src/test/proxy/proxy_test.go
Due: goimports, lint

feat(values): support for chart values merge (#4581)
  src/pkg/packager/load/import.go
  src/pkg/packager/load/testdata/import/chart/common/zarf.yaml
  src/pkg/packager/load/testdata/import/chart/expected.yaml
  src/pkg/packager/load/testdata/import/chart/zarf.yaml
Due: goimports, lint

refactor(wait)!: create wait package and call it directly within actions (#4549)
  src/cmd/wait.go
  src/pkg/packager/actions/actions.go
  src/pkg/wait/wait.go
  src/pkg/wait/wait_test.go
  src/test/e2e/46_tools_wait_for_test.go
Due: check-docs-and-schema, goimports, lint

feat(registry-proxy)!: built-in mtls support (#4162)
  .github/workflows/test-proxy.yml
  packages/zarf-registry/chart/templates/_helpers.tpl
  packages/zarf-registry/chart/templates/deployment.yaml
  packages/zarf-registry/chart/templates/proxy-daemonset.yaml
  packages/zarf-registry/chart/templates/secret.yaml
  packages/zarf-registry/chart/values.yaml
  packages/zarf-registry/registry-values.yaml
  src/cmd/crane.go
  src/cmd/initialize.go
  src/cmd/zarf_tools.go
  src/internal/agent/hooks/common.go
  src/internal/agent/hooks/common_test.go
  src/internal/agent/hooks/flux-helmrepo.go
  src/internal/agent/hooks/flux-helmrepo_test.go
  src/internal/agent/hooks/flux-ocirepo.go
  src/internal/agent/hooks/flux-ocirepo_test.go
  src/internal/agent/hooks/utils_test.go
  src/internal/packager/helm/post-render.go
  src/internal/packager/helm/zarf.go
  src/internal/packager/template/template.go
  src/pkg/cluster/cluster.go
  src/pkg/cluster/secrets.go
  src/pkg/images/push.go
  src/pkg/pki/pki.go
  src/pkg/pki/pki_test.go
  src/pkg/state/state.go
  src/test/e2e/22_git_and_gitops_test.go
  src/test/proxy/proxy_test.go
Due: check-docs-and-schema, goimports, lint

add an additional command as a breaking change
  CHANGELOG.md
Due: none

simpler bool
  src/pkg/wait/wait.go
Due: goimports, lint

wait.PollUntilContextTimeout
  src/pkg/wait/wait.go
Due: goimports, lint

better logs
  src/pkg/wait/wait.go
Due: goimports, lint

allow wait for delete
  src/pkg/wait/wait.go
  src/test/e2e/46_tools_wait_for_test.go
Due: goimports, lint

feat(values): support for namespacing import templates
  src/internal/template/template.go
  src/pkg/packager/load/import.go
Due: goimports, lint

split things up
  src/pkg/wait/wait.go
Due: goimports, lint

WIP, shellquote is messing things up
  src/pkg/wait/wait.go
  src/pkg/wait/wait_test.go
  src/test/e2e/46_tools_wait_for_test.go
Due: goimports, lint

potential solution
  src/pkg/wait/wait.go
Due: goimports, lint

better test
  src/test/e2e/46_tools_wait_for_test.go
Due: goimports, lint

revert and strip quotes before
  src/pkg/wait/wait.go
  src/pkg/wait/wait_test.go
  src/test/e2e/46_tools_wait_for_test.go
Due: goimports, lint

add back comment
  src/pkg/wait/wait.go
  src/test/e2e/46_tools_wait_for_test.go
Due: goimports, lint

fix(values): only namespace import sourcePaths
  src/pkg/packager/load/import.go
  src/pkg/packager/load/import_test.go
  src/pkg/packager/load/testdata/import/chart/expected.yaml
Due: goimports, lint

fix flake
  src/pkg/packager/testdata/find-images/pod-volume-image/deployment.yaml
Due: none

delete minkube test
  .github/workflows/test-e2e.yml
  .github/workflows/test-shim.yml
Due: none

feat(test): unit and e2e testing for import namespacing
  src/pkg/packager/load/import.go
  src/pkg/packager/load/import_test.go
  src/test/e2e/42_values_test.go
  src/test/packages/42-values/import-namespacing/child/manifests/configmap.yaml
  src/test/packages/42-values/import-namespacing/child/values.yaml
  src/test/packages/42-values/import-namespacing/child/zarf.yaml
  src/test/packages/42-values/import-namespacing/values.yaml
  src/test/packages/42-values/import-namespacing/zarf.yaml
Due: goimports, lint

fix(actions): shell quote action wait bug (#4588)
  .github/workflows/test-e2e.yml
  .github/workflows/test-shim.yml
  src/pkg/packager/testdata/find-images/pod-volume-image/deployment.yaml
  src/pkg/wait/wait.go
  src/test/e2e/46_tools_wait_for_test.go
Due: goimports, lint

feat(values): merge the values files from imports into parent
  src/pkg/packager/load/import.go
Due: goimports, lint
