Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: check-merge-conflict
      - id: detect-aws-credentials
        args:
          - "--allow-missing-credentials"
      - id: detect-private-key
        exclude: "src/test/e2e/29_config_file_test.go"
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                src/internal/packager/images/testdata/.*|
                site/src/content/docs/commands/.*
            )$
      - id: fix-byte-order-marker
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
        exclude: site/src/content/docs/commands/.*
  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.4
    hooks:
      - id: fix-smartquotes
  - repo: local
    hooks:
      - id: check-docs-and-schema
        name: Check for outdated docs and Zarf schema
        entry: make test-docs-and-schema
        files: "^src/(config|cmd)/"
        types: [go]
        language: system
        pass_filenames: false
      - id: goimports
        name: goimports
        entry: golangci-lint fmt
        types: [go]
        language: golang
        pass_filenames: false
      - id: lint
        name: golangci-lint go lint
        entry: golangci-lint run
        types: [go]
        language: golang
        pass_filenames: false

comment
  src/pkg/wait/wait.go
Due: goimports, lint

fixmes
  src/pkg/wait/wait.go
Due: goimports, lint

additional test for pod to be deleted
  src/test/e2e/46_tools_wait_for_test.go
Due: goimports, lint

run wait in a loop
  src/pkg/wait/wait.go
  src/test/e2e/46_tools_wait_for_test.go
Due: goimports, lint

use cm
  src/test/e2e/46_tools_wait_for_test.go
Due: goimports, lint

better comment
  go.mod
  src/pkg/wait/wait.go
Due: goimports, lint

fixed
  src/pkg/wait/wait.go
Due: goimports, lint

don't rely on logs
  src/pkg/wait/wait.go
Due: goimports, lint

use user submitted condition
  src/pkg/wait/wait.go
Due: goimports, lint

better comment description
  src/pkg/wait/wait.go
Due: goimports, lint

add test which understands requirements better
  src/test/e2e/46_tools_wait_for_test.go
Due: goimports, lint

test namespace
  src/pkg/wait/wait.go
  src/test/e2e/46_tools_wait_for_test.go
Due: goimports, lint

Update TSC list in CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

reduce redundancy, add unit tests for split out functions
  src/pkg/images/common.go
  src/pkg/images/unpack.go
  src/pkg/images/unpack_test.go
  src/pkg/packager/find_images.go
Due: goimports, lint

chore: update TSC list in CONTRIBUTING.md (#4575)
  CONTRIBUTING.md
Due: none

better resource resolver
  src/pkg/wait/wait.go
Due: goimports, lint

don't need to check namespace
  src/pkg/wait/wait.go
  src/test/e2e/46_tools_wait_for_test.go
Due: goimports, lint

chore: address comments per pr
  site/src/content/docs/commands/zarf_init.md
  src/cmd/initialize.go
  src/config/lang/english.go
Due: check-docs-and-schema, goimports, lint

user mapper
  src/pkg/wait/wait.go
Due: goimports, lint

simply copy k8s code
  src/pkg/wait/wait.go
Due: goimports, lint

justify lint
  src/pkg/wait/wait.go
Due: goimports, lint

add brandt to tsc
  CONTRIBUTING.md
Due: none

chore(docs): Add Brandt Keller to TSC
  CONTRIBUTING.md
Due: none

generize function
  src/pkg/cluster/secrets.go
  src/pkg/pki/pki.go
  src/pkg/state/state.go
Due: goimports, lint

update creds info on registry mtls changes
  src/cmd/zarf_tools.go
  src/pkg/cluster/cluster.go
Due: check-docs-and-schema, goimports, lint

only when zarf managed
  src/cmd/zarf_tools.go
Due: check-docs-and-schema, goimports, lint

chore(docs): add Brandt Keller to TSC (#4578)
  CONTRIBUTING.md
Due: none

feat(values): support for chart values merge
  src/pkg/packager/load/import.go
Due: goimports, lint

feat(helm): test the values merge for helm charts
  src/pkg/packager/load/testdata/import/chart/common/zarf.yaml
  src/pkg/packager/load/testdata/import/chart/expected.yaml
  src/pkg/packager/load/testdata/import/chart/zarf.yaml
Due: none

feat: support hlem charts in kustomizations
  src/internal/packager/kustomize/build.go
  src/internal/packager/kustomize/build_test.go
  src/internal/packager/kustomize/testdata/generators/expected.yaml
  src/internal/packager/kustomize/testdata/generators/kustomization.yaml
  src/internal/packager/kustomize/testdata/helm/chart/Chart.yaml
  src/internal/packager/kustomize/testdata/helm/chart/templates/pod.yaml
  src/internal/packager/kustomize/testdata/helm/chart/values.yaml
  src/internal/packager/kustomize/testdata/helm/expected.yaml
  src/internal/packager/kustomize/testdata/helm/kustomization.yaml
Due: goimports, lint

flip order of tests
  src/test/proxy/proxy_test.go
Due: goimports, lint

call wait directly
  src/pkg/packager/actions/actions.go
Due: goimports, lint

add wait package
  src/pkg/wait/wait.go
  src/pkg/wait/wait_test.go
Due: goimports, lint

create wait package
  src/cmd/wait.go
  src/pkg/packager/actions/actions.go
  src/pkg/utils/wait.go
  src/pkg/utils/wait_test.go
Due: check-docs-and-schema, goimports, lint

add back interval
  src/pkg/wait/wait.go
  src/pkg/wait/wait_test.go
Due: goimports, lint

remove duplicate flag
  src/cmd/wait.go
  src/pkg/packager/actions/actions.go
  src/pkg/wait/wait.go
Due: check-docs-and-schema, goimports, lint

restructure code
  src/pkg/packager/actions/actions.go
Due: goimports, lint

feat: remove direct usage of parent command `zarf package inspect` (#4548)
  site/src/content/docs/commands/zarf_dev.md
  site/src/content/docs/commands/zarf_dev_inspect.md
  site/src/content/docs/commands/zarf_dev_inspect_definition.md
  site/src/content/docs/commands/zarf_dev_inspect_manifests.md
  site/src/content/docs/commands/zarf_dev_inspect_values-files.md
  site/src/content/docs/commands/zarf_package.md
  site/src/content/docs/commands/zarf_package_inspect.md
  site/src/content/docs/commands/zarf_package_inspect_definition.md
  site/src/content/docs/commands/zarf_package_inspect_documentation.md
  site/src/content/docs/commands/zarf_package_inspect_images.md
  site/src/content/docs/commands/zarf_package_inspect_manifests.md
  site/src/content/docs/commands/zarf_package_inspect_sbom.md
  site/src/content/docs/commands/zarf_package_inspect_values-files.md
  src/cmd/dev.go
  src/cmd/package.go
  src/config/lang/english.go
Due: check-docs-and-schema, goimports, lint

restructure arg order
  src/cmd/wait.go
  src/pkg/packager/actions/actions.go
  src/pkg/wait/wait.go
Due: check-docs-and-schema, goimports, lint

feat: error early during healthchecks when status is terminal (#4547)
  src/internal/healthchecks/healthchecks.go
  src/internal/healthchecks/healthchecks_test.go
Due: goimports, lint
