Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: check-merge-conflict
      - id: detect-aws-credentials
        args:
          - "--allow-missing-credentials"
      - id: detect-private-key
        exclude: "src/test/e2e/29_config_file_test.go"
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                src/internal/packager/images/testdata/.*|
                site/src/content/docs/commands/.*
            )$
      - id: fix-byte-order-marker
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
        exclude: site/src/content/docs/commands/.*
  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.4
    hooks:
      - id: fix-smartquotes
  - repo: local
    hooks:
      - id: check-docs-and-schema
        name: Check for outdated docs and Zarf schema
        entry: make test-docs-and-schema
        files: "^src/(config|cmd)/"
        types: [go]
        language: system
        pass_filenames: false
      - id: goimports
        name: goimports
        entry: golangci-lint fmt
        types: [go]
        language: golang
        pass_filenames: false
      - id: lint
        name: golangci-lint go lint
        entry: golangci-lint run
        types: [go]
        language: golang
        pass_filenames: false

set proxy enabled by default
  src/pkg/feature/feature.go
Due: goimports, lint

proxy mode
  src/test/proxy/proxy_test.go
Due: goimports, lint

get flux crds
  .github/workflows/test-upgrade.yml
Due: none

correct quotes
  .github/workflows/test-upgrade.yml
Due: none

move annotation title
  src/pkg/zoci/push.go
Due: goimports, lint

move push test
  src/pkg/zoci/pull_test.go
  src/pkg/zoci/push_package_test.go
Due: goimports, lint

clearer error flow
  src/pkg/zoci/push.go
Due: goimports, lint

cli validation
  site/src/content/docs/ref/init-package.mdx
  src/cmd/initialize.go
Due: check-docs-and-schema, goimports, lint

feat: use Zarf Package Config as image config (#4675)
  src/pkg/zoci/push.go
  src/pkg/zoci/push_package_test.go
Due: goimports, lint

helm legacy wait
  src/internal/packager/helm/chart.go
Due: goimports, lint

docs
  site/src/content/docs/commands/zarf_init.md
Due: none

feat: use legacy Helm wait + reconciliation Healthchecks (#4720)
  src/internal/packager/helm/chart.go
Due: goimports, lint

better proxy mode description
  site/src/content/docs/ref/init-package.mdx
Due: none

registry proxy
  site/src/content/docs/ref/init-package.mdx
Due: none

wording
  site/src/content/docs/ref/init-package.mdx
Due: none

better validation and sentence structure
  site/src/content/docs/commands/zarf_init.md
  site/src/content/docs/ref/init-package.mdx
  src/cmd/initialize.go
Due: check-docs-and-schema, goimports, lint

remove client negotation as it's no longer needed
  go.mod
  src/pkg/images/pull.go
Due: goimports, lint

still get version from env
  src/pkg/images/pull.go
Due: goimports, lint

comma
  site/src/content/docs/ref/init-package.mdx
Due: none

nodeport to node
  packages/zarf-registry/chart/templates/proxy-daemonset.yaml
  packages/zarf-registry/chart/templates/service.yaml
  packages/zarf-registry/chart/values.yaml
  packages/zarf-registry/registry-values.yaml
  site/src/content/docs/ref/values.mdx
  src/cmd/initialize.go
  src/cmd/viper.go
  src/config/lang/english.go
  src/internal/packager/template/template.go
  src/internal/packager/template/template_test.go
  src/pkg/cluster/cluster.go
  src/pkg/cluster/cluster_test.go
  src/pkg/packager/deploy.go
  src/pkg/state/state.go
  src/pkg/state/state_test.go
Due: check-docs-and-schema, goimports, lint

scale down policy
  src/pkg/cluster/zarf.go
  src/pkg/cluster/zarf_test.go
Due: goimports, lint

scale down policy
  packages/zarf-registry/chart/templates/hpa.yaml
  src/pkg/cluster/zarf.go
  src/pkg/cluster/zarf_test.go
  src/pkg/packager/deploy.go
Due: goimports, lint

chore(docs): initial security insights file
  SECURITY-INSIGHTS.yml
Due: none

stop disabling hpa
  packages/zarf-registry/chart/templates/hpa.yaml
  src/pkg/cluster/zarf.go
  src/pkg/cluster/zarf_test.go
  src/pkg/packager/deploy.go
  src/pkg/packager/dev.go
Due: goimports, lint

comments
  packages/zarf-registry/chart/templates/hpa.yaml
Due: none

feat: stop managing scale down policy in CLI (#4725)
  packages/zarf-registry/chart/templates/hpa.yaml
  src/pkg/cluster/zarf.go
  src/pkg/cluster/zarf_test.go
  src/pkg/packager/deploy.go
  src/pkg/packager/dev.go
Due: goimports, lint

docs(registry-proxy): describe registry proxy in init package docs (#4622)
  site/src/content/docs/commands/zarf_init.md
  site/src/content/docs/ref/init-package.mdx
  src/cmd/initialize.go
  src/pkg/feature/feature.go
  src/test/proxy/proxy_test.go
Due: check-docs-and-schema, goimports, lint

fix registry catalog
  src/cmd/crane.go
  src/test/proxy/proxy_test.go
Due: check-docs-and-schema, goimports, lint

backwards compatiability in chart
  packages/zarf-registry/chart/templates/_helpers.tpl
  packages/zarf-registry/chart/templates/proxy-daemonset.yaml
  packages/zarf-registry/chart/templates/service.yaml
  packages/zarf-registry/chart/values.yaml
  packages/zarf-registry/registry-values.yaml
  src/config/lang/english.go
  src/pkg/state/state.go
Due: check-docs-and-schema, goimports, lint

stdout
  src/test/proxy/proxy_test.go
Due: goimports, lint

backwards compatiable nodeport
  src/internal/packager/template/template_test.go
  src/pkg/cluster/cluster.go
  src/pkg/cluster/cluster_test.go
  src/pkg/state/state.go
Due: goimports, lint

fix init flags
  src/test/e2e/29_config_file_test.go
  src/test/zarf-config-test.toml
Due: goimports, lint

introduce schema docs
  site/src/components/SchemaReference.astro
  site/src/content/docs/ref/schema.mdx
Due: none

edits
  site/src/components/SchemaReference.astro
Due: none

style
  site/src/components/SchemaReference.astro
  src/api/v1alpha1/component.go
Due: goimports, lint

add examples
  site/src/components/SchemaReference.astro
  src/api/v1alpha1/component.go
  src/pkg/schema/zarf-v1alpha1-schema.json
  zarf.schema.json
Due: goimports, lint

add examples
  src/api/v1alpha1/component.go
  src/pkg/schema/zarf-v1alpha1-schema.json
  zarf.schema.json
Due: goimports, lint

schema
  site/src/components/SchemaReference.astro
  src/api/v1alpha1/component.go
  src/pkg/schema/zarf-v1alpha1-schema.json
  zarf.schema.json
Due: goimports, lint

structure
  site/astro.config.ts
  site/src/content/docs/ref/schema.mdx
  site/src/content/docs/schema/v1alpha1-package.mdx
Due: none
