Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: check-merge-conflict
      - id: detect-aws-credentials
        args:
          - "--allow-missing-credentials"
      - id: detect-private-key
        exclude: "src/test/e2e/29_config_file_test.go"
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                src/internal/packager/images/testdata/.*|
                site/src/content/docs/commands/.*
            )$
      - id: fix-byte-order-marker
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
        exclude: site/src/content/docs/commands/.*
  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.4
    hooks:
      - id: fix-smartquotes
  - repo: local
    hooks:
      - id: check-docs-and-schema
        name: Check for outdated docs and Zarf schema
        entry: make test-docs-and-schema
        files: "^src/(config|cmd)/"
        types: [go]
        language: system
        pass_filenames: false
      - id: goimports
        name: goimports
        entry: golangci-lint fmt
        types: [go]
        language: golang
        pass_filenames: false
      - id: lint
        name: golangci-lint go lint
        entry: golangci-lint run
        types: [go]
        language: golang
        pass_filenames: false

feat: warn on image push failure (#5268)
  Makefile
  src/pkg/images/push.go
Due: goimports, lint

fix git commit
  src/api/v1beta1/component.go
  src/pkg/schema/zarf-v1beta1-component-schema.json
  src/pkg/schema/zarf-v1beta1-package-schema.json
  src/pkg/schema/zarf.schema.json
  zarf.schema.json
Due: goimports, lint

change publish to be on disk
  src/pkg/component/publish.go
Due: goimports, lint

fetch manifest
  src/pkg/packager/load/import_v1beta1.go
Due: goimports, lint

ref cache
  src/pkg/packager/load/import_v1beta1.go
  src/pkg/packager/load/import_v1beta1_test.go
Due: goimports, lint

reconcile
  src/internal/packager/template/template.go
  src/pkg/cluster/cluster.go
  src/pkg/state/state.go
  src/pkg/state/state_test.go
  src/pkg/template/template.go
Due: goimports, lint

remove marshalling
  src/pkg/state/state.go
  src/pkg/state/state_test.go
Due: goimports, lint

deprecate function
  src/cmd/zarf_tools.go
  src/internal/packager/helm/post-render.go
  src/pkg/cluster/cluster.go
  src/pkg/cluster/cluster_test.go
  src/pkg/packager/deploy.go
  src/pkg/state/state.go
  src/pkg/state/state_test.go
Due: check-docs-and-schema, goimports, lint

agent
  src/pkg/state/state_test.go
Due: goimports, lint

fix: combine index/count into single count field per review feedback
  src/pkg/images/pull.go
  src/pkg/images/push.go
  src/pkg/packager/assemble/sbom.go
Due: goimports, lint

test: v1beta1 to v1alpha1 roundtrip fuzzing (#5249)
  go.mod
  src/api/v1beta1/component.go
  src/internal/api/types/package.go
  src/internal/api/v1alpha1/convert.go
  src/internal/api/v1alpha1/roundtrip_test.go
  src/internal/api/v1beta1/convert.go
  src/internal/api/v1beta1/roundtrip_test.go
  src/pkg/schema/zarf-v1beta1-component-schema.json
  src/pkg/schema/zarf-v1beta1-package-schema.json
  src/pkg/schema/zarf.schema.json
  src/test/testutil/fuzz.go
  zarf.schema.json
Due: goimports, lint

fix when to configure mutation policy
  src/pkg/cluster/cluster.go
  src/pkg/cluster/cluster_test.go
  src/pkg/state/state.go
  src/pkg/state/state_test.go
Due: goimports, lint

fix tests
  src/internal/packager/helm/post-render_test.go
Due: goimports, lint

feat: add oci source auto-prefixing
  src/pkg/packager/digest.go
  src/pkg/packager/digest_test.go
  src/pkg/packager/load.go
  src/pkg/packager/load_test.go
  src/pkg/packager/publish_test.go
  src/pkg/packager/pull.go
  src/test/e2e/11_oci_pull_inspect_test.go
Due: goimports, lint

remove signing
  src/cmd/component.go
  src/config/lang/english.go
  src/pkg/component/publish.go
  src/pkg/component/publish_test.go
  src/pkg/signing/cosign.go
Due: check-docs-and-schema, goimports, lint

confirm
  src/test/e2e/15_component_publish_v1beta1_test.go
Due: goimports, lint

chore: simplify approach with oras oci-ish check
  src/pkg/packager/load.go
  src/pkg/packager/load_test.go
Due: goimports, lint

chore: add missing tests for URL and Commit format
  src/pkg/packager/load/load_test.go
Due: goimports, lint

chore: add missing tests for URL and Commit format (#5277)
  src/pkg/packager/load/load_test.go
Due: goimports, lint

refactor(state): move agent information into a sub-struct (#5269)
  src/cmd/initialize.go
  src/cmd/zarf_tools.go
  src/internal/packager/helm/post-render.go
  src/internal/packager/helm/post-render_test.go
  src/internal/packager/template/template.go
  src/pkg/cluster/cluster.go
  src/pkg/cluster/cluster_test.go
  src/pkg/packager/deploy.go
  src/pkg/state/state.go
  src/pkg/state/state_test.go
  src/pkg/template/template.go
  src/pkg/template/template_test.go
Due: check-docs-and-schema, goimports, lint

fix: support platform flag entries for crane copy
  src/cmd/crane.go
  src/cmd/crane_test.go
Due: check-docs-and-schema, goimports, lint

fix: handle publish/sign and update docs
  site/src/content/docs/commands/zarf_package_deploy.md
  site/src/content/docs/commands/zarf_package_inspect_definition.md
  site/src/content/docs/commands/zarf_package_inspect_digest.md
  site/src/content/docs/commands/zarf_package_inspect_documentation.md
  site/src/content/docs/commands/zarf_package_inspect_images.md
  site/src/content/docs/commands/zarf_package_inspect_manifests.md
  site/src/content/docs/commands/zarf_package_inspect_sbom.md
  site/src/content/docs/commands/zarf_package_inspect_values-files.md
  site/src/content/docs/commands/zarf_package_mirror-resources.md
  site/src/content/docs/commands/zarf_package_publish.md
  site/src/content/docs/commands/zarf_package_remove.md
  site/src/content/docs/commands/zarf_package_verify.md
  src/cmd/package.go
  src/config/lang/english.go
  src/pkg/packager/digest.go
  src/pkg/packager/load.go
  src/pkg/packager/load_test.go
  src/pkg/packager/pull.go
  src/test/e2e/50_oci_publish_deploy_test.go
Due: check-docs-and-schema, goimports, lint

chore: move to zoci
  src/cmd/package.go
  src/pkg/packager/digest.go
  src/pkg/packager/load.go
  src/pkg/packager/load_test.go
  src/pkg/packager/pull.go
  src/pkg/zoci/utils.go
  src/pkg/zoci/utils_test.go
Due: check-docs-and-schema, goimports, lint

feat: support retryable errors for helm installs
  src/config/lang/english.go
  src/internal/packager/helm/chart.go
  src/internal/packager/helm/chart_retry_test.go
  src/pkg/packager/deploy.go
Due: check-docs-and-schema, goimports, lint

fix: simplify logic handling
  src/internal/packager/helm/chart.go
  src/internal/packager/helm/chart_retry_test.go
Due: goimports, lint

fix: support platform flag entries for crane copy (#5280)
  src/cmd/crane.go
  src/cmd/crane_test.go
Due: check-docs-and-schema, goimports, lint

fix: publish normalize support, move test to signing e2e
  src/cmd/package.go
  src/test/e2e/12_package_signing_test.go
  src/test/e2e/50_oci_publish_deploy_test.go
Due: check-docs-and-schema, goimports, lint

fix: update language
  src/config/lang/english.go
  src/internal/packager/helm/chart.go
Due: check-docs-and-schema, goimports, lint

fix(create): deprecate signing flags on create and publish
  site/src/content/docs/commands/zarf_package_create.md
  site/src/content/docs/commands/zarf_package_publish.md
  site/src/content/docs/ref/package-signing.mdx
  src/cmd/package.go
Due: check-docs-and-schema, goimports, lint

fix: docs generation and linting
  site/src/content/docs/commands/zarf_dev_deploy.md
  site/src/content/docs/commands/zarf_init.md
  site/src/content/docs/commands/zarf_package_deploy.md
  site/src/content/docs/commands/zarf_package_mirror-resources.md
  site/src/content/docs/commands/zarf_package_publish.md
  site/src/content/docs/commands/zarf_package_sign.md
  src/internal/packager/helm/chart.go
Due: goimports, lint

feat: add oci source auto-prefixing (#5273)
  site/src/content/docs/commands/zarf_package_deploy.md
  site/src/content/docs/commands/zarf_package_inspect_definition.md
  site/src/content/docs/commands/zarf_package_inspect_digest.md
  site/src/content/docs/commands/zarf_package_inspect_documentation.md
  site/src/content/docs/commands/zarf_package_inspect_images.md
  site/src/content/docs/commands/zarf_package_inspect_manifests.md
  site/src/content/docs/commands/zarf_package_inspect_sbom.md
  site/src/content/docs/commands/zarf_package_inspect_values-files.md
  site/src/content/docs/commands/zarf_package_mirror-resources.md
  site/src/content/docs/commands/zarf_package_publish.md
  site/src/content/docs/commands/zarf_package_remove.md
  site/src/content/docs/commands/zarf_package_verify.md
  src/cmd/package.go
  src/config/lang/english.go
  src/pkg/packager/digest.go
  src/pkg/packager/digest_test.go
  src/pkg/packager/load.go
  src/pkg/packager/publish_test.go
  src/pkg/packager/pull.go
  src/pkg/zoci/utils.go
  src/pkg/zoci/utils_test.go
  src/test/e2e/11_oci_pull_inspect_test.go
  src/test/e2e/12_package_signing_test.go
  src/test/e2e/50_oci_publish_deploy_test.go
Due: check-docs-and-schema, goimports, lint

fix(helm): ensure retrieval of latest release
  src/internal/packager/helm/chart.go
  src/internal/packager/helm/chart_test.go
Due: goimports, lint

fix: remove testing
  src/internal/packager/helm/chart_test.go
Due: goimports, lint

fix: update unit tests for join and leaves
  src/internal/packager/helm/chart_retry_test.go
Due: goimports, lint

feat(helm): support allowable errors for helm chart retries (#5287)
  site/src/content/docs/commands/zarf_dev_deploy.md
  site/src/content/docs/commands/zarf_init.md
  site/src/content/docs/commands/zarf_package_deploy.md
  site/src/content/docs/commands/zarf_package_mirror-resources.md
  site/src/content/docs/commands/zarf_package_publish.md
  site/src/content/docs/commands/zarf_package_sign.md
  src/config/lang/english.go
  src/internal/packager/helm/chart.go
  src/internal/packager/helm/chart_retry_test.go
  src/pkg/packager/deploy.go
Due: check-docs-and-schema, goimports, lint

fix(helm): ensure retrieval of latest release (#5295)
  src/internal/packager/helm/chart.go
Due: goimports, lint

update testing.mdx
  site/src/content/docs/contribute/testing.mdx
Due: none

add e2e no-cluster error
  site/src/content/docs/contribute/testing.mdx
  src/test/e2e/20_zarf_init_test.go
  src/test/e2e/main_test.go
Due: goimports, lint
