Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: check-merge-conflict
      - id: detect-aws-credentials
        args:
          - "--allow-missing-credentials"
      - id: detect-private-key
        exclude: "src/test/e2e/29_config_file_test.go"
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                src/internal/packager/images/testdata/.*|
                site/src/content/docs/commands/.*
            )$
      - id: fix-byte-order-marker
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
        exclude: site/src/content/docs/commands/.*
  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.4
    hooks:
      - id: fix-smartquotes
  - repo: local
    hooks:
      - id: check-docs-and-schema
        name: Check for outdated docs and Zarf schema
        entry: make test-docs-and-schema
        files: "^src/(config|cmd)/"
        types: [go]
        language: system
        pass_filenames: false
      - id: goimports
        name: goimports
        entry: golangci-lint fmt
        types: [go]
        language: golang
        pass_filenames: false
      - id: lint
        name: golangci-lint go lint
        entry: golangci-lint run
        types: [go]
        language: golang
        pass_filenames: false

fix: windows tar balls
  src/pkg/zoci/image/volume.go
Due: goimports, lint

variants
  src/api/v1beta1/component_config.go
  src/api/v1beta1/component_test.go
  src/pkg/component/publish.go
  src/pkg/component/publish_test.go
  src/pkg/component/resource_normalizer.go
  src/pkg/component/testdata/publish-component-v1beta1/component-flavor.yaml
  src/pkg/packager/load/import_v1beta1.go
  src/pkg/packager/load/import_v1beta1_test.go
  src/pkg/packager/load/testdata/import-v1beta1/single-incompatible/components/web-apache.yaml
  src/pkg/packager/load/testdata/import-v1beta1/variants/components/web-apache.yaml
  src/pkg/packager/load/testdata/import-v1beta1/variants/components/web-nginx.yaml
  src/pkg/schema/zarf-v1beta1-component-schema.json
Due: goimports, lint

remote with options
  src/pkg/component/publish.go
  src/pkg/packager/load/import_v1beta1.go
  src/pkg/packager/load/import_v1beta1_test.go
Due: goimports, lint

transport oci option
  src/pkg/zoci/common.go
  src/pkg/zoci/common_test.go
Due: goimports, lint

cleaner defers
  src/pkg/component/publish.go
  src/pkg/packager/load/package.go
Due: goimports, lint

generic action type
  src/internal/packager/projection/projection.go
  src/pkg/cluster/data.go
  src/pkg/packager/action_projection_test.go
  src/pkg/packager/actions/actions.go
  src/pkg/packager/actions/actions_test.go
  src/pkg/packager/actions/types.go
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/deploy.go
  src/pkg/packager/deploy_test.go
  src/pkg/packager/dev.go
  src/pkg/packager/dev_test.go
  src/pkg/packager/remove.go
  src/pkg/packager/values_preflight.go
  src/pkg/utils/exec/exec.go
  src/pkg/variables/variables.go
  src/test/e2e/51_v1beta1_actions_test.go
  src/test/packages/51-v1beta1-actions/zarf.yaml
Due: goimports, lint

component name
  src/pkg/cluster/zarf.go
  src/pkg/cluster/zarf_test.go
  src/pkg/packager/deploy.go
Due: goimports, lint

projected component
  src/internal/packager/projection/projection.go
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/deploy.go
  src/pkg/packager/mirror.go
Due: goimports, lint

execution type
  src/internal/packager/execution/execution.go
  src/pkg/packager/action_projection_test.go
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/deploy.go
  src/pkg/packager/deploy_test.go
  src/pkg/packager/dev.go
  src/pkg/packager/remove.go
  src/pkg/packager/values_preflight.go
Due: goimports, lint

default condition
  src/internal/packager/execution/execution.go
  src/internal/packager/helm/template_test.go
  src/pkg/packager/action_projection_test.go
  src/pkg/packager/actions/actions.go
  src/pkg/packager/actions/types.go
  src/pkg/packager/assemble/assemble.go
  src/pkg/variables/variables.go
Due: goimports, lint

easier reading
  src/internal/packager/execution/execution.go
Due: goimports, lint

seconds
  src/pkg/packager/actions/actions.go
Due: goimports, lint

v1alpha1 type
  src/internal/packager/helm/template_test.go
  src/pkg/packager/actions/actions.go
  src/pkg/variables/variables.go
Due: goimports, lint

test fixes
  src/pkg/packager/action_projection_test.go
  src/test/e2e/51_v1beta1_actions_test.go
  src/test/packages/51-v1beta1-actions/zarf.yaml
Due: goimports, lint

test
  src/internal/packager/execution/execution_test.go
Due: goimports, lint

run options
  src/internal/packager/execution/execution.go
  src/internal/packager/execution/execution_test.go
  src/pkg/packager/actions/actions.go
  src/pkg/packager/actions/types.go
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/deploy.go
  src/pkg/packager/remove.go
Due: goimports, lint

components
  src/pkg/packager/values_preflight.go
Due: goimports, lint

rename
  src/pkg/packager/remove.go
Due: goimports, lint

feat(zoci): add transport parameter to NewRemoteWithOptions (#5260)
  src/pkg/zoci/common.go
  src/pkg/zoci/common_test.go
Due: goimports, lint

feat: add max layers config
  site/src/content/docs/commands/zarf_dev_image-volume-archive.md
  src/cmd/dev/iva.go
  src/cmd/dev/iva_test.go
  src/config/lang/english.go
  src/pkg/zoci/image/builder.go
  src/pkg/zoci/image/platform.go
  src/pkg/zoci/image/volume.go
  src/pkg/zoci/image/volume_test.go
Due: check-docs-and-schema, goimports, lint

feat: use logging instead of fmt
  src/pkg/zoci/image/volume.go
Due: goimports, lint

feat: add tab completion for iva
  src/cmd/dev/iva.go
  src/pkg/zoci/image/platform.go
Due: check-docs-and-schema, goimports, lint

feat: add more auto-complete
  src/cmd/cobra/dev.go
  src/cmd/cobra/root.go
  src/cmd/dev/iva.go
  src/cmd/root.go
  src/config/consts.go
  src/pkg/zoci/image/platform.go
Due: check-docs-and-schema, goimports, lint

feat: updates to gomod
  go.mod
Due: none

fix: pass remote options when loading OCI packages
  src/cmd/initialize.go
  src/test/e2e/11_oci_pull_inspect_test.go
Due: check-docs-and-schema, goimports, lint

feat: add example for using archive
  src/cmd/dev/zarf.yaml
  src/pkg/zoci/image/volume.go
  src/pkg/zoci/image/volume_test.go
Due: goimports, lint

feat: update logic based off review
  src/cmd/dev.go
  src/cmd/dev_test.go
Due: check-docs-and-schema, goimports, lint

feat: migrate zarf tools registry ls from crane to oras-go
  src/cmd/crane.go
  src/cmd/registry_list.go
  src/cmd/registry_list_test.go
Due: check-docs-and-schema, goimports, lint

feat: enhance registry list command with new options for TLS verification and HTTP usage
  site/src/content/docs/commands/zarf_tools_registry_ls.md
  src/cmd/crane.go
  src/cmd/registry_list.go
  src/cmd/registry_list_test.go
Due: check-docs-and-schema, goimports, lint

chore: fix comments
  src/cmd/registry_list.go
Due: check-docs-and-schema, goimports, lint

fix(cmd): default short image names to docker.io in registry ls
  src/cmd/registry_list.go
  src/cmd/registry_list_test.go
Due: check-docs-and-schema, goimports, lint

feat: fix outdated code
  src/cmd/registry_list.go
Due: check-docs-and-schema, goimports, lint

fix(cmd): reject tag or digest in registry ls repo argument
  src/cmd/registry_list.go
  src/cmd/registry_list_test.go
Due: check-docs-and-schema, goimports, lint

feat: add better logging of image count
  src/pkg/images/pull.go
  src/pkg/images/push.go
  src/pkg/packager/assemble/sbom.go
Due: goimports, lint

revert: function visablility
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/assemble/assemble_test.go
Due: goimports, lint

fix(sbom)!: correct image detection for SBOM generation
  src/pkg/images/common.go
  src/pkg/images/common_test.go
  src/pkg/packager/assemble/sbom.go
  src/test/e2e/06_create_sbom_test.go
Due: goimports, lint

warn on image failure
  Makefile
  src/pkg/images/push.go
Due: goimports, lint

better names
  src/pkg/images/push.go
Due: goimports, lint

fix: pass remote options when loading OCI init packages (#5265)
  src/cmd/initialize.go
  src/test/e2e/11_oci_pull_inspect_test.go
Due: check-docs-and-schema, goimports, lint

agent state changes
  src/cmd/initialize.go
  src/cmd/zarf_tools.go
  src/internal/packager/helm/post-render_test.go
  src/internal/packager/template/template.go
  src/pkg/cluster/cluster.go
  src/pkg/cluster/cluster_test.go
  src/pkg/packager/deploy.go
  src/pkg/state/state.go
  src/pkg/state/state_test.go
  src/pkg/template/template.go
  src/pkg/template/template_test.go
Due: check-docs-and-schema, goimports, lint
