Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: check-merge-conflict
      - id: detect-aws-credentials
        args:
          - "--allow-missing-credentials"
      - id: detect-private-key
        exclude: "src/test/e2e/29_config_file_test.go"
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                src/internal/packager/images/testdata/.*|
                site/src/content/docs/commands/.*
            )$
      - id: fix-byte-order-marker
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
        exclude: site/src/content/docs/commands/.*
  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.4
    hooks:
      - id: fix-smartquotes
  - repo: local
    hooks:
      - id: check-docs-and-schema
        name: Check for outdated docs and Zarf schema
        entry: make test-docs-and-schema
        files: "^src/(config|cmd)/"
        types: [go]
        language: system
        pass_filenames: false
      - id: goimports
        name: goimports
        entry: golangci-lint fmt
        types: [go]
        language: golang
        pass_filenames: false
      - id: lint
        name: golangci-lint go lint
        entry: golangci-lint run
        types: [go]
        language: golang
        pass_filenames: false

comments
  src/internal/packager/helm/chart.go
  src/internal/packager/helm/zarf.go
Due: goimports, lint

make docs and schema
  site/src/content/docs/commands/zarf_init.md
  site/src/content/docs/commands/zarf_package_deploy.md
  site/src/content/docs/commands/zarf_tools_update-creds.md
  src/cmd/zarf_tools.go
  src/config/lang/english.go
Due: check-docs-and-schema, goimports, lint

rollback chart to follow ssa
  src/internal/packager/helm/chart.go
Due: goimports, lint

set debug logs
  src/internal/packager/helm/common.go
Due: goimports, lint

comment
  src/internal/packager/helm/template.go
Due: goimports, lint

use release name
  src/internal/packager/helm/chart.go
Due: goimports, lint

feat: deprecate data injections (#4068)
  examples/kiwix/Dockerfile
  examples/kiwix/zarf.yaml
  site/src/content/docs/best-practices/data-injections-migration.mdx
  site/src/content/docs/ref/components.mdx
  src/api/v1alpha1/component.go
  src/internal/pkgcfg/pkgcfg.go
  src/pkg/schema/zarf-v1alpha1-schema.json
  src/test/e2e/23_data_injection_test.go
  src/test/packages/23-data-injections/manifests/deployment.yaml
  src/test/packages/23-data-injections/manifests/persistence.yaml
  src/test/packages/23-data-injections/manifests/service.yaml
  src/test/packages/23-data-injections/zarf.yaml
  src/test/packages/23-data-injections/zim-data/.gitkeep
  zarf.schema.json
Due: goimports, lint

begin porting init packages to values
  packages/gitea/values.yaml
  packages/gitea/zarf.yaml
  packages/zarf-registry/configmap.yaml
  packages/zarf-registry/zarf.yaml
Due: none

add zarf-registry values and update gitea some
  packages/gitea/values.yaml
  packages/gitea/zarf.yaml
  packages/zarf-registry/values.yaml
  packages/zarf-registry/zarf.yaml
Due: none

migrate distro eks
  packages/distros/eks/eks.yaml
  packages/distros/eks/values.yaml
  packages/distros/eks/zarf.yaml
Due: none

feat(build): support make arch automatic detection
  Makefile
Due: none

fix(external): increment to non-reserved port
  src/test/external/ext_out_cluster_test.go
Due: goimports, lint

fix(make): adjust makefile for latest
  Makefile
Due: none

chore: improve test to only run for v1.35+
  src/test/e2e/45_volume_image_test.go
Due: goimports, lint

feat : update k3d to v1.35.0
  .github/actions/k3d/action.yaml
Due: none

chore: update nodeport port number
  src/test/e2e/45_volume_image_test.go
Due: goimports, lint

Update examples/argocd/zarf.yaml
  examples/argocd/zarf.yaml
Due: none

feat: change wait action to wait for workflow controller pod
  examples/argocd/zarf.yaml
Due: none

feat(external): support for non-reserved port on external test
  Makefile
  src/test/external/ext_out_cluster_test.go
Due: goimports, lint

kube client version
  .goreleaser.yaml
  Makefile
Due: none

better log message
  src/cmd/helm.go
Due: check-docs-and-schema, goimports, lint

better message
  src/cmd/helm.go
Due: check-docs-and-schema, goimports, lint

no exit
  src/cmd/helm.go
Due: check-docs-and-schema, goimports, lint

feat(build): support arch detection and macos development (#4512)
  Makefile
  src/test/external/ext_out_cluster_test.go
Due: goimports, lint

flux oci repo
  src/internal/agent/hooks/common.go
  src/internal/agent/hooks/common_test.go
  src/internal/agent/hooks/flux-helmrepo.go
  src/internal/agent/hooks/flux-ocirepo.go
  src/internal/packager/helm/post-render.go
  src/pkg/cluster/secrets.go
  src/pkg/images/push.go
Due: goimports, lint

chore(deps): update cosign and sigstore-go
  go.mod
  go.sum
Due: none

chore: update test per pr comments
  src/test/e2e/45_volume_image_test.go
Due: goimports, lint

ci: update formatting
  src/test/e2e/45_volume_image_test.go
Due: goimports, lint

use dns as mutation point
  src/internal/agent/hooks/flux-helmrepo.go
  src/internal/agent/hooks/flux-ocirepo.go
  src/internal/agent/hooks/flux-ocirepo_test.go
  src/pkg/cluster/secrets.go
  src/test/e2e/22_git_and_gitops_test.go
Due: goimports, lint

update helm repo
  src/internal/agent/hooks/flux-helmrepo.go
  src/internal/agent/hooks/flux-helmrepo_test.go
  src/pkg/cluster/secrets.go
Due: goimports, lint

test that the secret is created correctly
  src/internal/agent/hooks/flux-helmrepo.go
  src/internal/agent/hooks/flux-helmrepo_test.go
  src/internal/agent/hooks/flux-ocirepo.go
  src/internal/agent/hooks/flux-ocirepo_test.go
  src/internal/agent/hooks/utils_test.go
Due: goimports, lint

use mtls
  src/internal/agent/hooks/flux-helmrepo_test.go
  src/internal/agent/hooks/flux-ocirepo_test.go
Due: goimports, lint

make code more logical
  src/internal/agent/hooks/common.go
  src/internal/agent/hooks/flux-helmrepo.go
  src/internal/agent/hooks/flux-ocirepo.go
  src/internal/agent/hooks/utils_test.go
  src/pkg/cluster/cluster.go
  src/pkg/images/push.go
Due: goimports, lint

comment
  src/pkg/images/push.go
Due: goimports, lint

init registry certs
  src/internal/agent/hooks/flux-helmrepo_test.go
  src/internal/agent/hooks/flux-ocirepo.go
  src/internal/agent/hooks/flux-ocirepo_test.go
  src/internal/packager/helm/zarf.go
  src/pkg/cluster/cluster.go
  src/pkg/pki/pki.go
Due: goimports, lint

chore: update pod hooks per pr
  src/internal/agent/hooks/pods.go
  src/internal/agent/hooks/pods_test.go
  src/test/e2e/45_volume_image_test.go
Due: goimports, lint

add mtls strategy
  src/pkg/cluster/cluster.go
  src/pkg/state/state.go
Due: goimports, lint

better mtls strategy
  src/internal/agent/hooks/flux-helmrepo.go
  src/internal/agent/hooks/flux-helmrepo_test.go
  src/internal/agent/hooks/flux-ocirepo.go
  src/internal/agent/hooks/flux-ocirepo_test.go
  src/pkg/cluster/cluster.go
  src/pkg/images/push.go
Due: goimports, lint

better mtls strategy
  src/internal/agent/hooks/flux-helmrepo.go
  src/internal/agent/hooks/flux-ocirepo.go
  src/pkg/images/push.go
  src/pkg/state/state.go
Due: goimports, lint

fixme
  packages/zarf-registry/registry-values.yaml
Due: none
