Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: check-merge-conflict
      - id: detect-aws-credentials
        args:
          - "--allow-missing-credentials"
      - id: detect-private-key
        exclude: "src/test/e2e/29_config_file_test.go"
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                src/internal/packager/images/testdata/.*|
                site/src/content/docs/commands/.*
            )$
      - id: fix-byte-order-marker
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
        exclude: site/src/content/docs/commands/.*
  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.4
    hooks:
      - id: fix-smartquotes
  - repo: local
    hooks:
      - id: check-docs-and-schema
        name: Check for outdated docs and Zarf schema
        entry: make test-docs-and-schema
        files: "^src/(config|cmd)/"
        types: [go]
        language: system
        pass_filenames: false
      - id: goimports
        name: goimports
        entry: golangci-lint fmt
        types: [go]
        language: golang
        pass_filenames: false
      - id: lint
        name: golangci-lint go lint
        entry: golangci-lint run
        types: [go]
        language: golang
        pass_filenames: false

fix: state access in OnRemove actions (#5156)
  src/pkg/packager/remove.go
  src/test/packages/42-values/zarf.yaml
Due: goimports, lint

docs: update actions documentation to focus on values (#5141)
  .github/workflows/commitlint.yml
  .github/workflows/test-site.yml
  examples/component-actions/test.txt
  examples/component-actions/values.yaml
  examples/component-actions/zarf.yaml
  hack/examples-checksums/zarf-package-component-actions-amd64.txt
  site/.gitignore
  site/README.md
  site/hack/build-versions.mjs
  site/package-lock.json
  site/package.json
  site/src/content/docs/ref/actions.mdx
  site/src/content/docs/ref/components.mdx
  site/src/lib/schema.ts
  site/src/plugins/remark-link-rewrite.test.ts
  site/src/plugins/remark-link-rewrite.ts
  src/test/e2e/02_component_actions_test.go
  src/test/packages/02-component-action-variables/test.txt
  src/test/packages/02-component-action-variables/zarf.yaml
Due: goimports, lint

docs(examples): variables to values (#5136)
  examples/config-file/deploy-values.yaml
  examples/config-file/simple-configmap.yaml
  examples/config-file/values.yaml
  examples/config-file/zarf-config.yaml
  examples/config-file/zarf.yaml
  examples/helm-charts/package-values.yaml
  examples/helm-charts/zarf.yaml
  examples/package-flavors/pod.yaml
  examples/package-flavors/zarf.yaml
  examples/wordpress/values.schema.json
  examples/wordpress/values.yaml
  examples/wordpress/wordpress-values.yaml
  examples/wordpress/zarf.yaml
  site/src/content/docs/best-practices/variables-to-values.mdx
  src/test/e2e/15_oci_compose_test.go
  src/test/e2e/29_config_file_test.go
  src/test/packages/15-helm-charts/chart/Chart.yaml
  src/test/packages/15-helm-charts/chart/templates/configmap.yaml
  src/test/packages/15-helm-charts/zarf.yaml
  src/test/packages/15-import-everything/zarf.yaml
  src/test/zarf-config-config-file.toml
Due: goimports, lint

feat(init): more secure pod defaults (#5119)
  packages/gitea/gitea-values.yaml
  packages/gitea/zarf.yaml
  packages/zarf-agent/chart/templates/deployment.yaml
  packages/zarf-registry/chart/templates/deployment.yaml
  packages/zarf-registry/chart/templates/injector-daemonset.yaml
  packages/zarf-registry/chart/templates/proxy-daemonset.yaml
  src/pkg/cluster/injector.go
  src/pkg/cluster/testdata/expected-injection-pod.json
Due: goimports, lint

feat: direct verification of bundle with sigstore-go
  go.mod
  src/pkg/packager/layout/package.go
  src/pkg/signing/cosign_test.go
  src/pkg/signing/sigstore.go
Due: goimports, lint

chore: promote package values to beta
  site/src/content/docs/commands/zarf_dev_find-images.md
  site/src/content/docs/commands/zarf_dev_inspect_manifests.md
  site/src/content/docs/commands/zarf_dev_inspect_values-files.md
  site/src/content/docs/commands/zarf_package_deploy.md
  site/src/content/docs/commands/zarf_package_inspect_manifests.md
  site/src/content/docs/commands/zarf_package_inspect_values-files.md
  site/src/content/docs/ref/package-values.mdx
  src/api/v1alpha1/component.go
  src/config/lang/english.go
  src/pkg/feature/feature.go
  src/pkg/schema/zarf-v1alpha1-schema.json
  src/pkg/schema/zarf.schema.json
  zarf.schema.json
Due: check-docs-and-schema, goimports, lint

fix: testing assertions update
  src/test/e2e/34_custom_init_package_test.go
Due: goimports, lint

change format
  src/api/api.go
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/layout/package.go
Due: goimports, lint

feat(sdk): add library option to skip values schema validation
  src/pkg/packager/deploy.go
  src/pkg/packager/deploy_test.go
Due: goimports, lint

overrides
  src/api/api.go
  src/api/api_test.go
Due: goimports, lint

chore: add CLI flag support
  site/src/content/docs/commands/zarf_init.md
  site/src/content/docs/commands/zarf_package_deploy.md
  site/src/content/docs/commands/zarf_package_inspect_manifests.md
  site/src/content/docs/commands/zarf_package_inspect_values-files.md
  src/cmd/initialize.go
  src/cmd/package.go
  src/cmd/package_test.go
  src/config/lang/english.go
  src/pkg/packager/inspect.go
  src/pkg/packager/inspect_test.go
Due: check-docs-and-schema, goimports, lint

wip: address PR comments on exclude paths and filter handling
  src/pkg/value/generate.go
  src/pkg/value/generate_test.go
  src/test/e2e/14_zarf_package_generate_test.go
Due: goimports, lint

chore: remove low value test
  src/cmd/package_test.go
Due: check-docs-and-schema, goimports, lint

delete unnecessary code
  src/api/api.go
  src/api/api_test.go
Due: goimports, lint

fix(examples): wait for longhorn EngineImage and InstanceManager natively
  examples/longhorn/zarf.yaml
Due: none

refactor: remove redundant comment in longhorn zarf.yaml
  examples/longhorn/zarf.yaml
Due: none

line
  site/src/content/docs/ref/deploy.mdx
Due: none

differnetial packages
  src/api/api.go
  src/api/api_test.go
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/assemble/assemble_test.go
Due: goimports, lint

must be same version
  src/config/lang/english.go
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/assemble/assemble_test.go
Due: check-docs-and-schema, goimports, lint

differntial logic
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/assemble/assemble_test.go
Due: goimports, lint

differential packages
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/assemble/assemble_test.go
  src/pkg/packager/assemble/differential.go
  src/pkg/packager/assemble/differential_test.go
Due: goimports, lint

fix flakey test
  src/test/e2e/02_component_actions_test.go
Due: goimports, lint

comment
  src/pkg/images/pull.go
Due: goimports, lint

chore: promote package values to beta (#5178)
  site/src/content/docs/commands/zarf_dev_find-images.md
  site/src/content/docs/commands/zarf_dev_inspect_manifests.md
  site/src/content/docs/commands/zarf_dev_inspect_values-files.md
  site/src/content/docs/commands/zarf_package_deploy.md
  site/src/content/docs/commands/zarf_package_inspect_manifests.md
  site/src/content/docs/commands/zarf_package_inspect_values-files.md
  site/src/content/docs/ref/package-values.mdx
  src/api/v1alpha1/component.go
  src/config/lang/english.go
  src/pkg/feature/feature.go
  src/pkg/schema/zarf-v1alpha1-schema.json
  src/pkg/schema/zarf.schema.json
  zarf.schema.json
Due: check-docs-and-schema, goimports, lint

feat: deprecate yolo mode (#5180)
  site/src/content/docs/contribute/testing.mdx
  site/src/content/docs/faq.mdx
  site/src/content/docs/ref/deploy.mdx
  site/src/content/docs/ref/dev.mdx
  site/src/content/docs/ref/packages.mdx
  src/internal/pkgcfg/pkgcfg.go
Due: goimports, lint

feat: add option to skip values schema validation (#5179)
  site/src/content/docs/commands/zarf_init.md
  site/src/content/docs/commands/zarf_package_deploy.md
  site/src/content/docs/commands/zarf_package_inspect_manifests.md
  site/src/content/docs/commands/zarf_package_inspect_values-files.md
  src/cmd/initialize.go
  src/cmd/package.go
  src/config/lang/english.go
  src/pkg/packager/deploy.go
  src/pkg/packager/deploy_test.go
  src/pkg/packager/inspect.go
  src/pkg/packager/inspect_test.go
Due: check-docs-and-schema, goimports, lint

chore: upgrade cosign to v3.1.3
  go.mod
  go.sum
  vendor/github.com/sigstore/cosign/v3/cmd/cosign/cli/options/attest.go
  vendor/github.com/sigstore/cosign/v3/cmd/cosign/cli/options/certificate.go
  vendor/github.com/sigstore/cosign/v3/cmd/cosign/cli/options/copy.go
  vendor/github.com/sigstore/cosign/v3/cmd/cosign/cli/options/registry.go
  vendor/github.com/sigstore/cosign/v3/cmd/cosign/cli/options/root.go
  vendor/github.com/sigstore/cosign/v3/cmd/cosign/cli/options/verify.go
  vendor/github.com/sigstore/cosign/v3/cmd/cosign/cli/sign/sign.go
  vendor/github.com/sigstore/cosign/v3/cmd/cosign/cli/sign/sign_blob.go
  vendor/github.com/sigstore/cosign/v3/cmd/cosign/cli/signcommon/common.go
  vendor/github.com/sigstore/cosign/v3/cmd/cosign/cli/verify/verify.go
  vendor/github.com/sigstore/cosign/v3/cmd/cosign/cli/verify/verify_attestation.go
  vendor/github.com/sigstore/cosign/v3/cmd/cosign/cli/verify/verify_blob.go
  vendor/github.com/sigstore/cosign/v3/cmd/cosign/cli/verify/verify_blob_attestation.go
  vendor/github.com/sigstore/cosign/v3/cmd/cosign/cli/verify/verify_bundle.go
  vendor/github.com/sigstore/cosign/v3/pkg/blob/load.go
  vendor/github.com/sigstore/cosign/v3/pkg/cosign/bundle/sign.go
  vendor/github.com/sigstore/cosign/v3/pkg/cosign/pkcs11key/pkcs11key.go
  vendor/github.com/sigstore/cosign/v3/pkg/cosign/verify.go
  vendor/github.com/sigstore/cosign/v3/pkg/oci/remote/options.go
  vendor/github.com/sigstore/cosign/v3/pkg/oci/remote/signatures.go
  vendor/github.com/sigstore/cosign/v3/pkg/signature/keys.go
  vendor/github.com/sigstore/sigstore-go/internal/certificate/certificate.go
  vendor/github.com/sigstore/sigstore-go/pkg/bundle/bundle.go
  vendor/github.com/sigstore/sigstore-go/pkg/bundle/options.go
  vendor/github.com/sigstore/sigstore-go/pkg/bundle/verification_content.go
  vendor/github.com/sigstore/sigstore-go/pkg/sign/certificate.go
  vendor/github.com/sigstore/sigstore-go/pkg/sign/signer.go
  vendor/github.com/sigstore/sigstore-go/pkg/verify/certificate.go
  vendor/github.com/sigstore/sigstore-go/pkg/verify/certificate_identity.go
  vendor/github.com/sigstore/sigstore-go/pkg/verify/interface.go
  vendor/github.com/sigstore/sigstore-go/pkg/verify/signed_entity.go
  vendor/modules.txt
Due: goimports, lint

fix: decouple from cosign further - work on parity
  src/pkg/signing/cosign_test.go
  src/pkg/signing/sigstore.go
  src/pkg/signing/testdata/sigstore-js-2.0.0-provenance.sigstore.json
  src/pkg/signing/trustedroot.go
  src/pkg/signing/trustedroot_test.go
Due: goimports, lint

chore: upgrade cosign to v3.1.3 (#5182)
  go.mod
  go.sum
  vendor/github.com/sigstore/cosign/v3/cmd/cosign/cli/options/attest.go
  vendor/github.com/sigstore/cosign/v3/cmd/cosign/cli/options/certificate.go
  vendor/github.com/sigstore/cosign/v3/cmd/cosign/cli/options/copy.go
  vendor/github.com/sigstore/cosign/v3/cmd/cosign/cli/options/registry.go
  vendor/github.com/sigstore/cosign/v3/cmd/cosign/cli/options/root.go
  vendor/github.com/sigstore/cosign/v3/cmd/cosign/cli/options/verify.go
  vendor/github.com/sigstore/cosign/v3/cmd/cosign/cli/sign/sign.go
  vendor/github.com/sigstore/cosign/v3/cmd/cosign/cli/sign/sign_blob.go
  vendor/github.com/sigstore/cosign/v3/cmd/cosign/cli/signcommon/common.go
  vendor/github.com/sigstore/cosign/v3/cmd/cosign/cli/verify/verify.go
  vendor/github.com/sigstore/cosign/v3/cmd/cosign/cli/verify/verify_attestation.go
  vendor/github.com/sigstore/cosign/v3/cmd/cosign/cli/verify/verify_blob.go
  vendor/github.com/sigstore/cosign/v3/cmd/cosign/cli/verify/verify_blob_attestation.go
  vendor/github.com/sigstore/cosign/v3/cmd/cosign/cli/verify/verify_bundle.go
  vendor/github.com/sigstore/cosign/v3/pkg/blob/load.go
  vendor/github.com/sigstore/cosign/v3/pkg/cosign/bundle/sign.go
  vendor/github.com/sigstore/cosign/v3/pkg/cosign/pkcs11key/pkcs11key.go
  vendor/github.com/sigstore/cosign/v3/pkg/cosign/verify.go
  vendor/github.com/sigstore/cosign/v3/pkg/oci/remote/options.go
  vendor/github.com/sigstore/cosign/v3/pkg/oci/remote/signatures.go
  vendor/github.com/sigstore/cosign/v3/pkg/signature/keys.go
  vendor/github.com/sigstore/sigstore-go/internal/certificate/certificate.go
  vendor/github.com/sigstore/sigstore-go/pkg/bundle/bundle.go
  vendor/github.com/sigstore/sigstore-go/pkg/bundle/options.go
  vendor/github.com/sigstore/sigstore-go/pkg/bundle/verification_content.go
  vendor/github.com/sigstore/sigstore-go/pkg/sign/certificate.go
  vendor/github.com/sigstore/sigstore-go/pkg/sign/signer.go
  vendor/github.com/sigstore/sigstore-go/pkg/verify/certificate.go
  vendor/github.com/sigstore/sigstore-go/pkg/verify/certificate_identity.go
  vendor/github.com/sigstore/sigstore-go/pkg/verify/interface.go
  vendor/github.com/sigstore/sigstore-go/pkg/verify/signed_entity.go
  vendor/modules.txt
Due: goimports, lint

incompatible component
  src/pkg/packager/load/import_v1beta1.go
  src/pkg/packager/load/import_v1beta1_test.go
  src/pkg/packager/load/testdata/import-v1beta1/single-incompatible/components/web-apache.yaml
  src/pkg/packager/load/testdata/import-v1beta1/single-incompatible/zarf.yaml
Due: goimports, lint

feat(tools): add aliases subcommand to generate sourcable alias output
  site/src/content/docs/commands/zarf_tools.md
  site/src/content/docs/commands/zarf_tools_aliases.md
  site/src/content/docs/ref/tools.mdx
  src/cmd/tools.go
  src/cmd/tools_aliases.go
  src/cmd/tools_aliases_test.go
  src/config/lang/english.go
Due: check-docs-and-schema, goimports, lint

fix test
  src/pkg/packager/load/testdata/package-with-invalid-values/manifest.yaml
  src/pkg/packager/load/testdata/package-with-invalid-values/zarf.yaml
Due: none

kustomize
  src/pkg/packager/load/import_v1beta1_merge.go
  src/pkg/packager/load/import_v1beta1_test.go
  src/pkg/packager/load/testdata/import-v1beta1/merge/components/app.yaml
  src/pkg/packager/load/testdata/import-v1beta1/merge/zarf.yaml
Due: goimports, lint

Update src/internal/api/v1alpha1/migrate.go
  src/internal/api/v1alpha1/migrate.go
Due: goimports, lint

validation
  src/pkg/packager/load/load.go
  src/pkg/packager/load/load_test.go
  src/pkg/packager/load/testdata/v1beta1-imported-values-schema-invalid/components/app.yaml
  src/pkg/packager/load/testdata/v1beta1-imported-values-schema-invalid/components/values.schema.json
  src/pkg/packager/load/testdata/v1beta1-imported-values-schema-invalid/components/values.yaml
  src/pkg/packager/load/testdata/v1beta1-imported-values-schema-invalid/zarf.yaml
  src/pkg/value/value.go
Due: goimports, lint

merged schemas
  src/pkg/packager/load/load.go
  src/pkg/value/schema.go
  src/pkg/value/schema_test.go
  src/pkg/value/testdata/schema/no-dialect.schema.json
Due: goimports, lint

defaults
  src/api/convert/convert_test.go
  src/api/v1beta1/component.go
  src/internal/api/v1beta1/convert.go
  src/internal/api/v1beta1/roundtrip_test.go
  src/pkg/packager/load/import_v1beta1_merge.go
  src/pkg/packager/load/import_v1beta1_test.go
  src/pkg/packager/load/testdata/import-v1beta1/merge/components/app.yaml
  src/pkg/packager/load/testdata/import-v1beta1/merge/zarf.yaml
Due: goimports, lint

Update src/api/api.go
  src/api/api.go
Due: goimports, lint

migrate changes
  src/internal/api/v1alpha1/migrate.go
  src/internal/api/v1alpha1/migrate_test.go
Due: goimports, lint

slices.ContainsFunc
  src/api/api.go
  src/internal/api/v1beta1/validate.go
Due: goimports, lint
