Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

check-docs-and-schema:
  name: Check for outdated docs and Zarf schema
  entry: make test-docs-and-schema
  language: system
  pass_filenames: false

goimports:
  name: goimports
  entry: golangci-lint fmt
  language: golang
  pass_filenames: false

lint:
  name: golangci-lint go lint
  entry: golangci-lint run
  language: golang
  pass_filenames: false

update flags for pkg tmpl
  src/cmd/dev.go
  src/cmd/package.go
Due: check-docs-and-schema, goimports, lint

make docs-and-schema
  site/src/content/docs/commands/zarf_dev_inspect_definition.md
  site/src/content/docs/commands/zarf_package_create.md
  site/src/content/docs/commands/zarf_package_deploy.md
Due: none

fix(helm): add unit test - compose testability
  src/internal/packager/helm/post-render.go
  src/internal/packager/helm/post-render_test.go
Due: goimports, lint

first iteration of failed healthchecks
  src/internal/healthchecks/healthchecks.go
  src/internal/healthchecks/healthchecks_test.go
Due: goimports, lint

move to it's own function
  src/internal/healthchecks/healthchecks_test.go
Due: goimports, lint

deprecate init --set, use --set-variables
  site/src/content/docs/commands/zarf_init.md
  src/cmd/initialize.go
Due: check-docs-and-schema, goimports, lint

deprecate --deploy-set
  site/src/content/docs/commands/zarf_dev_deploy.md
  site/src/content/docs/commands/zarf_dev_find-images.md
  site/src/content/docs/commands/zarf_dev_inspect_manifests.md
  site/src/content/docs/commands/zarf_dev_inspect_values-files.md
  src/cmd/dev.go
Due: check-docs-and-schema, goimports, lint

feat: move value pkg out of internal (#4543)
  src/cmd/dev.go
  src/cmd/package.go
  src/internal/template/template.go
  src/internal/template/template_test.go
  src/pkg/packager/actions/actions.go
  src/pkg/packager/actions/actions_test.go
  src/pkg/packager/deploy.go
  src/pkg/packager/find_images.go
  src/pkg/packager/inspect.go
  src/pkg/packager/inspect_test.go
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/load/load.go
  src/pkg/packager/packager.go
  src/pkg/packager/packager_test.go
  src/pkg/packager/remove.go
  src/pkg/value/testdata/invalid/malformed.yaml
  src/pkg/value/testdata/invalid/tabs.yaml
  src/pkg/value/testdata/schema/invalid-range.yaml
  src/pkg/value/testdata/schema/invalid-values.yaml
  src/pkg/value/testdata/schema/simple.schema.json
  src/pkg/value/testdata/schema/valid-values.yaml
  src/pkg/value/testdata/valid/arrays.yaml
  src/pkg/value/testdata/valid/complex.yaml
  src/pkg/value/testdata/valid/empty.yaml
  src/pkg/value/testdata/valid/merge-overwrite.yaml
  src/pkg/value/testdata/valid/merge1.yaml
  src/pkg/value/testdata/valid/merge2.yaml
  src/pkg/value/testdata/valid/nulls.yaml
  src/pkg/value/testdata/valid/simple.yaml
  src/pkg/value/value.go
  src/pkg/value/value_test.go
Due: check-docs-and-schema, goimports, lint

deprecate --set on inspect manifest and values-files
  site/src/content/docs/commands/zarf_package_inspect_manifests.md
  site/src/content/docs/commands/zarf_package_inspect_values-files.md
  src/cmd/package.go
Due: check-docs-and-schema, goimports, lint

feat: add --set-values flags and migrate --set to alias new --set-variables (#4466)
  site/src/content/docs/commands/zarf_dev_deploy.md
  site/src/content/docs/commands/zarf_dev_find-images.md
  site/src/content/docs/commands/zarf_dev_inspect_definition.md
  site/src/content/docs/commands/zarf_dev_inspect_manifests.md
  site/src/content/docs/commands/zarf_dev_inspect_values-files.md
  site/src/content/docs/commands/zarf_dev_lint.md
  site/src/content/docs/commands/zarf_init.md
  site/src/content/docs/commands/zarf_package_create.md
  site/src/content/docs/commands/zarf_package_deploy.md
  site/src/content/docs/commands/zarf_package_inspect_manifests.md
  site/src/content/docs/commands/zarf_package_inspect_values-files.md
  site/src/content/docs/commands/zarf_package_remove.md
  src/cmd/dev.go
  src/cmd/dev_test.go
  src/cmd/initialize.go
  src/cmd/package.go
  src/cmd/viper.go
  src/config/lang/english.go
  src/test/e2e/42_values_test.go
  src/test/packages/42-values/configmap.yaml
  src/test/packages/42-values/override-values.yaml
  src/test/packages/42-values/values/values.yaml
Due: check-docs-and-schema, goimports, lint

healthchecks
  src/internal/healthchecks/healthchecks.go
Due: goimports, lint

helm 4.1
  go.mod
  go.sum
  src/internal/packager/helm/repo.go
  src/internal/packager/helm/template.go
Due: goimports, lint

many ld flags are irrelevant now in Helm 4.1
  .goreleaser.yaml
  Makefile
Due: none

remove deprecated inspect usage
  site/src/content/docs/commands/zarf_dev.md
  site/src/content/docs/commands/zarf_dev_inspect.md
  site/src/content/docs/commands/zarf_dev_inspect_definition.md
  site/src/content/docs/commands/zarf_dev_inspect_manifests.md
  site/src/content/docs/commands/zarf_dev_inspect_values-files.md
  site/src/content/docs/commands/zarf_package.md
  site/src/content/docs/commands/zarf_package_inspect.md
  site/src/content/docs/commands/zarf_package_inspect_definition.md
  site/src/content/docs/commands/zarf_package_inspect_documentation.md
  site/src/content/docs/commands/zarf_package_inspect_images.md
  site/src/content/docs/commands/zarf_package_inspect_manifests.md
  site/src/content/docs/commands/zarf_package_inspect_sbom.md
  site/src/content/docs/commands/zarf_package_inspect_values-files.md
  src/cmd/dev.go
  src/cmd/package.go
  src/config/lang/english.go
Due: check-docs-and-schema, goimports, lint

added message
  src/internal/healthchecks/healthchecks.go
  src/internal/healthchecks/healthchecks_test.go
Due: goimports, lint

Update src/cmd/package.go
  src/cmd/package.go
Due: check-docs-and-schema, goimports, lint

take away package source
  site/src/content/docs/commands/zarf_package_inspect.md
  src/cmd/package.go
Due: check-docs-and-schema, goimports, lint

feat: remove direct usage of parent command `zarf package inspect` (#4548)
  site/src/content/docs/commands/zarf_dev.md
  site/src/content/docs/commands/zarf_dev_inspect.md
  site/src/content/docs/commands/zarf_dev_inspect_definition.md
  site/src/content/docs/commands/zarf_dev_inspect_manifests.md
  site/src/content/docs/commands/zarf_dev_inspect_values-files.md
  site/src/content/docs/commands/zarf_package.md
  site/src/content/docs/commands/zarf_package_inspect.md
  site/src/content/docs/commands/zarf_package_inspect_definition.md
  site/src/content/docs/commands/zarf_package_inspect_documentation.md
  site/src/content/docs/commands/zarf_package_inspect_images.md
  site/src/content/docs/commands/zarf_package_inspect_manifests.md
  site/src/content/docs/commands/zarf_package_inspect_sbom.md
  site/src/content/docs/commands/zarf_package_inspect_values-files.md
  src/cmd/dev.go
  src/cmd/package.go
  src/config/lang/english.go
Due: check-docs-and-schema, goimports, lint

feat: error early during healthchecks when status is terminal (#4547)
  src/internal/healthchecks/healthchecks.go
  src/internal/healthchecks/healthchecks_test.go
Due: goimports, lint

fix(helm): preserve block scalar semantics (#4541)
  src/internal/packager/helm/post-render.go
  src/internal/packager/helm/post-render_test.go
Due: goimports, lint

call wait directly
  src/pkg/packager/actions/actions.go
Due: goimports, lint

feat(build): support arch detection and macos development (#4512)
  Makefile
  src/test/external/ext_out_cluster_test.go
Due: goimports, lint

remove PackageDefinitionWithoutValidation, unexport validate(), add DefinitionOption for skipping imagearchives images schema findings
  src/pkg/packager/find_images.go
  src/pkg/packager/load/load.go
Due: goimports, lint

feat!: remove insecure flag (#4521)
  src/cmd/internal.go
  src/cmd/package.go
  src/cmd/root.go
  src/cmd/viper.go
  src/config/lang/english.go
  src/pkg/images/common.go
  src/test/zarf-config-test.toml
  src/types/runtime.go
Due: check-docs-and-schema, goimports, lint

update help text, create PackageDefinitionWithoutValidation, add placeholder images list, add skipimagearchivesimages definition option
  src/config/lang/english.go
  src/pkg/packager/find_images.go
  src/pkg/packager/load/load.go
Due: check-docs-and-schema, goimports, lint

docs: replace adr reference with zep reference (#4532)
  .github/workflows/test-shim.yml
  CONTRIBUTING.md
Due: none

fix: inputting the same credentials as zarf state should not re-generate passwords (#4523)
  src/pkg/state/state.go
  src/pkg/state/state_test.go
Due: goimports, lint

add findimagesinarchive, unit tests, and add found images to FindImages output
  src/pkg/images/unpack.go
  src/pkg/images/unpack_test.go
  src/pkg/packager/find_images.go
Due: goimports, lint

feat: add support for Argo CD ApplicationSets (#4348)
  examples/argocd/applicationset/values.yaml
  examples/argocd/baseline/values.yaml
  examples/argocd/zarf.yaml
  packages/zarf-agent/chart/templates/webhook.yaml
  site/src/content/docs/ref/init-package.mdx
  src/internal/agent/hooks/argocd-applicationset.go
  src/internal/agent/hooks/argocd-applicationset_test.go
  src/internal/agent/start.go
Due: goimports, lint

feat(agent): mutate read-only OCI volumes (#3235)
  .github/actions/k3d/action.yaml
  src/internal/agent/hooks/pods.go
  src/internal/agent/hooks/pods_test.go
  src/pkg/packager/find_images.go
  src/pkg/packager/find_images_test.go
  src/pkg/packager/testdata/find-images/pod-volume-image/deployment.yaml
  src/pkg/packager/testdata/find-images/pod-volume-image/zarf.yaml
  src/test/e2e/45_volume_image_test.go
Due: goimports, lint

docs: update kiwix example and migration guide to use read-only oci volumes (#4520)
  examples/kiwix/Dockerfile
  examples/kiwix/manifests/deployment.yaml
  examples/kiwix/zarf.yaml
  site/src/content/docs/best-practices/data-injections-migration.mdx
Due: none

chore(deps): npm updates for /site (#4526)
  site/package-lock.json
  site/package.json
  site/src/content/docs/faq.mdx
  site/src/content/docs/ref/github-action.mdx
Due: none

chore(docs): 2026 roadmap (#4525)
  site/src/content/docs/roadmap.mdx
Due: none

feat(load): support explicit VerificationStrategy (#4540)
  src/cmd/initialize.go
  src/cmd/package.go
  src/pkg/packager/create.go
  src/pkg/packager/load.go
  src/pkg/packager/load_test.go
  src/pkg/packager/pull.go
Due: check-docs-and-schema, goimports, lint

create wait package
  src/cmd/wait.go
  src/pkg/packager/actions/actions.go
  src/pkg/utils/wait.go
  src/pkg/utils/wait_test.go
Due: check-docs-and-schema, goimports, lint

Path conditions:
  check-docs-and-schema: any of: ^src/(config|cmd)/ and \.go$
  goimports: any of: \.go$
  lint: any of: \.go$
