Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: check-merge-conflict
      - id: detect-aws-credentials
        args:
          - "--allow-missing-credentials"
      - id: detect-private-key
        exclude: "src/test/e2e/29_config_file_test.go"
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                src/internal/packager/images/testdata/.*|
                site/src/content/docs/commands/.*
            )$
      - id: fix-byte-order-marker
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
        exclude: site/src/content/docs/commands/.*
  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.4
    hooks:
      - id: fix-smartquotes
  - repo: local
    hooks:
      - id: check-docs-and-schema
        name: Check for outdated docs and Zarf schema
        entry: make test-docs-and-schema
        files: "^src/(config|cmd)/"
        types: [go]
        language: system
        pass_filenames: false
      - id: goimports
        name: goimports
        entry: golangci-lint fmt
        types: [go]
        language: golang
        pass_filenames: false
      - id: lint
        name: golangci-lint go lint
        entry: golangci-lint run
        types: [go]
        language: golang
        pass_filenames: false

fix(sign): support for oci signing operations
  src/cmd/package.go
  src/pkg/packager/publish.go
  src/pkg/packager/publish_test.go
Due: check-docs-and-schema, goimports, lint

fix(test): update error message for verification material
  src/test/e2e/12_package_signing_test.go
Due: goimports, lint

update import structure
  packages/init-v1beta1/import/zarf.yaml
  packages/init-v1beta1/zarf.tpl.yaml
Due: none

fix(cosign): add timeout to verify
  src/pkg/utils/cosign.go
Due: goimports, lint

fix(requirement): add version requirement for bundle signing verification
  src/pkg/packager/layout/package.go
Due: goimports, lint

chore(ci): update windows runner proactively
  .github/workflows/test-windows.yml
Due: none

feat(sign): add signature build metadata for future utility
  src/api/v1alpha1/package.go
  src/pkg/packager/layout/package.go
Due: goimports, lint

fix(bundle): implement generic bundle parsing
  src/pkg/packager/layout/package.go
  src/pkg/packager/layout/package_test.go
  src/pkg/utils/bundle.go
  src/pkg/utils/bundle_test.go
  src/pkg/utils/keyless.go
  src/pkg/utils/keyless_test.go
  src/test/e2e/12_package_signing_test.go
Due: goimports, lint

chore: generate the updated schema
  src/pkg/schema/zarf-v1alpha1-schema.json
  zarf.schema.json
Due: none

fix(test): update test for error output
  src/test/e2e/31_checksum_and_signature_test.go
Due: goimports, lint

fix(test): update expected errors
  src/test/e2e/34_custom_init_package_test.go
Due: goimports, lint

avoid counting duplicates
  src/pkg/images/common.go
  src/pkg/images/common_test.go
  src/test/testutil/ociregistry.go
Due: goimports, lint

feat(signing): isolate cosign signing and verification into new package
  src/cmd/package.go
  src/cmd/tools_trustedroot.go
  src/config/lang/english.go
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/layout/package_test.go
  src/pkg/packager/load.go
  src/pkg/packager/load_test.go
  src/pkg/packager/publish.go
  src/pkg/packager/publish_test.go
  src/pkg/packager/pull.go
  src/pkg/signing/bundle.go
  src/pkg/signing/bundle_test.go
  src/pkg/signing/cosign.go
  src/pkg/signing/cosign_test.go
  src/pkg/signing/embedded_trusted_root.json
  src/pkg/signing/trustedroot.go
  src/pkg/signing/trustedroot_test.go
  src/pkg/utils/oci_artifacts.go
Due: check-docs-and-schema, goimports, lint

fix(schema): remove signature field and regen schema
  site/src/content/docs/commands/zarf_package_sign.md
  src/api/v1alpha1/package.go
  src/pkg/packager/layout/package.go
  src/pkg/schema/zarf-v1alpha1-schema.json
  zarf.schema.json
Due: goimports, lint

move deprecation logic earlier in the chain
  src/pkg/packager/layout/package.go
  src/pkg/packager/layout/package_test.go
Due: goimports, lint

Update hack/refresh-trusted-root.sh
  hack/refresh-trusted-root.sh
Due: none

feat(cmd): support signing/verify viper configuration
  src/cmd/package.go
  src/cmd/viper.go
Due: check-docs-and-schema, goimports, lint

chore(deps): bump helm to v4.2.0
  go.mod
  go.sum
Due: none

fix(wait): many condition support for waits
  src/pkg/wait/wait.go
Due: goimports, lint

fix(deprecation): migrate to streaming/pkg/httpstream
  go.mod
  src/pkg/cluster/tunnel.go
  src/pkg/wait/wait.go
Due: goimports, lint

opt in agent mutation
  packages/zarf-agent/chart/templates/clusterrole.yaml
  packages/zarf-agent/chart/templates/deployment.yaml
  packages/zarf-agent/chart/templates/webhook.yaml
  packages/zarf-agent/chart/values.yaml
  plan.md
  src/cmd/initialize.go
  src/internal/agent/hooks/argocd-application.go
  src/internal/agent/hooks/argocd-application_test.go
  src/internal/agent/hooks/argocd-applicationset.go
  src/internal/agent/hooks/argocd-applicationset_test.go
  src/internal/agent/hooks/argocd-appproject.go
  src/internal/agent/hooks/argocd-appproject_test.go
  src/internal/agent/hooks/argocd-repository.go
  src/internal/agent/hooks/argocd-repository_test.go
  src/internal/agent/hooks/common.go
  src/internal/agent/hooks/flux-gitrepo.go
  src/internal/agent/hooks/flux-gitrepo_test.go
  src/internal/agent/hooks/flux-helmrepo.go
  src/internal/agent/hooks/flux-helmrepo_test.go
  src/internal/agent/hooks/flux-ocirepo.go
  src/internal/agent/hooks/flux-ocirepo_test.go
  src/internal/agent/hooks/git_mutation_guard_test.go
  src/internal/agent/hooks/pods.go
  src/internal/agent/hooks/pods_test.go
  src/internal/agent/operations/mutate.go
  src/internal/agent/operations/mutate_test.go
  src/internal/agent/start.go
  src/internal/packager/helm/post-render_test.go
  src/internal/packager/template/template.go
  src/pkg/cluster/cluster.go
  src/pkg/cluster/cluster_test.go
  src/pkg/cluster/namespace.go
  src/pkg/packager/deploy.go
  src/pkg/state/state.go
Due: check-docs-and-schema, goimports, lint

only mutate if not defined
  src/cmd/initialize.go
  src/pkg/cluster/namespace.go
  src/pkg/cluster/namespace_test.go
Due: check-docs-and-schema, goimports, lint

fixme
  src/cmd/initialize.go
Due: check-docs-and-schema, goimports, lint

chore(ci): bump action dependencies and pin versions
  .github/actions/install-tools/action.yaml
Due: none

e2e test
  src/test/e2e/49_agent_mutation_mode_test.go
  src/test/packages/49-agent-only-init/zarf.yaml
Due: goimports, lint

mutation mode flag
  packages/zarf-agent/chart/templates/deployment.yaml
  packages/zarf-agent/chart/templates/webhook.yaml
  src/cmd/initialize.go
Due: check-docs-and-schema, goimports, lint

move mutation mode to state
  src/cmd/initialize.go
  src/internal/agent/hooks/argocd-application.go
  src/internal/agent/hooks/argocd-application_test.go
  src/internal/agent/hooks/argocd-applicationset.go
  src/internal/agent/hooks/argocd-applicationset_test.go
  src/internal/agent/hooks/argocd-appproject.go
  src/internal/agent/hooks/argocd-appproject_test.go
  src/internal/agent/hooks/argocd-repository.go
  src/internal/agent/hooks/argocd-repository_test.go
  src/internal/agent/hooks/flux-gitrepo.go
  src/internal/agent/hooks/flux-gitrepo_test.go
  src/internal/agent/hooks/flux-helmrepo.go
  src/internal/agent/hooks/flux-helmrepo_test.go
  src/internal/agent/hooks/flux-ocirepo.go
  src/internal/agent/hooks/flux-ocirepo_test.go
  src/internal/agent/hooks/git_mutation_guard_test.go
  src/internal/agent/hooks/pods.go
  src/internal/agent/hooks/pods_test.go
  src/internal/agent/operations/mutate.go
  src/internal/agent/operations/mutate_test.go
  src/internal/packager/template/template.go
  src/pkg/cluster/cluster.go
  src/pkg/packager/deploy.go
  src/pkg/state/state.go
Due: check-docs-and-schema, goimports, lint

helm templates
  packages/zarf-agent/chart/templates/_helpers.tpl
  packages/zarf-agent/chart/templates/webhook.yaml
  src/internal/packager/helm/post-render_test.go
Due: goimports, lint

docs
  site/src/content/docs/commands/zarf_init.md
Due: none

change namespace function
  src/internal/agent/hooks/argocd-application_test.go
  src/internal/agent/hooks/argocd-applicationset_test.go
  src/internal/agent/hooks/argocd-appproject_test.go
  src/internal/agent/hooks/argocd-repository_test.go
  src/internal/agent/hooks/common.go
  src/internal/agent/hooks/flux-gitrepo_test.go
  src/internal/agent/hooks/flux-helmrepo_test.go
  src/internal/agent/hooks/flux-ocirepo_test.go
  src/internal/agent/hooks/git_mutation_guard_test.go
  src/internal/agent/hooks/pods_test.go
  src/internal/agent/hooks/utils_test.go
Due: goimports, lint

eliminate duplication in webhook
  plan.md
  src/internal/agent/hooks/argocd-application.go
  src/internal/agent/hooks/argocd-applicationset.go
  src/internal/agent/hooks/argocd-appproject.go
  src/internal/agent/hooks/argocd-repository.go
  src/internal/agent/hooks/common.go
  src/internal/agent/hooks/flux-gitrepo.go
  src/internal/agent/hooks/flux-helmrepo.go
  src/internal/agent/hooks/flux-ocirepo.go
  src/internal/agent/hooks/pods.go
Due: goimports, lint

fix test
  site/src/content/docs/ref/init-package.mdx
  src/test/e2e/20_zarf_init_test.go
Due: goimports, lint

agent mutation rules
  site/src/content/docs/ref/init-package.mdx
Due: none

update adopt existing resource case
  site/src/content/docs/ref/init-package.mdx
  src/internal/packager/helm/post-render.go
Due: goimports, lint

remove error.go, error_test.go, handle suplicate only blocks when skipping name uniqueness checks, update unit tests
  src/internal/api/v1alpha1/validate.go
  src/internal/api/v1alpha1/validate_test.go
  src/pkg/packager/lint_test.go
  src/pkg/packager/load/import.go
  src/pkg/packager/load/import_test.go
  src/pkg/packager/testdata/lint-with-imports/all-variants/linted-import/zarf.yaml
  src/pkg/packager/testdata/lint-with-imports/all-variants/zarf.yaml
  src/pkg/utils/error.go
  src/pkg/utils/error_test.go
Due: goimports, lint

fix(sign): implement tsa server url and revert viper
  src/cmd/package.go
  src/cmd/viper.go
  src/config/lang/english.go
Due: check-docs-and-schema, goimports, lint

fix(sign): update logic for feedback
  src/pkg/packager/layout/package.go
  src/pkg/signing/bundle.go
  src/pkg/signing/bundle_test.go
Due: goimports, lint

add unit test for resolveImports to cover all-variants case
  src/pkg/packager/load/import_test.go
  src/pkg/packager/load/testdata/import/all-variants/child/zarf.yaml
  src/pkg/packager/load/testdata/import/all-variants/expected.yaml
  src/pkg/packager/load/testdata/import/all-variants/zarf.yaml
Due: goimports, lint

Update src/pkg/packager/find_images.go
  src/pkg/packager/find_images.go
Due: goimports, lint

add unit test case to ensure potential matches are normalized, add missing loadOpts, remove dead code, normalize potential matches
  src/cmd/dev.go
  src/pkg/packager/find_images.go
  src/pkg/packager/find_images_test.go
  src/pkg/packager/testdata/find-images/fuzzy/configmap-image-with-underscores.yaml
Due: check-docs-and-schema, goimports, lint
