Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

check-docs-and-schema:
  name: Check for outdated docs and Zarf schema
  entry: make test-docs-and-schema
  language: system
  pass_filenames: false

goimports:
  name: goimports
  entry: golangci-lint fmt
  language: golang
  pass_filenames: false

lint:
  name: golangci-lint go lint
  entry: golangci-lint run
  language: golang
  pass_filenames: false

feat: add OCI support for Argo CD sources
  src/internal/agent/hooks/argocd-application.go
  src/internal/agent/hooks/argocd-application_test.go
  src/internal/agent/hooks/argocd-appproject.go
  src/internal/agent/hooks/argocd-appproject_test.go
  src/internal/agent/hooks/argocd-repository.go
  src/internal/agent/hooks/argocd-repository_test.go
  src/internal/agent/hooks/common.go
  src/internal/agent/hooks/flux-gitrepo.go
  src/internal/agent/hooks/flux-ocirepo.go
Due: goimports, lint

feat: add url patch for argo cd repo-creds secrets
  packages/zarf-agent/chart/templates/webhook.yaml
  src/internal/agent/hooks/argocd-repository_test.go
Due: goimports, lint

feat: refactor, add tests and docs
  examples/argocd/baseline/values.yaml
  examples/argocd/oci-helm/values.yaml
  examples/argocd/oci-manifests/values.yaml
  examples/argocd/zarf.yaml
  src/internal/agent/hooks/argocd-application.go
  src/internal/agent/hooks/argocd-application_test.go
  src/internal/agent/hooks/argocd-appproject_test.go
  src/internal/agent/hooks/argocd-repository.go
  src/internal/agent/hooks/argocd-repository_test.go
  src/test/e2e/22_git_and_gitops_test.go
  src/test/external/ext_in_cluster_test.go
  src/test/external/ext_out_cluster_test.go
Due: goimports, lint

use zarf helm
  src/test/e2e/25_helm_test.go
Due: goimports, lint

fix package layout consts
  src/pkg/packager/layout/layout.go
Due: goimports, lint

use basename unless duplicate
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/layout/layout_test.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/layout/package_test.go
Due: goimports, lint

fix(test): update test for verify workflow
  src/test/e2e/11_oci_pull_inspect_test.go
Due: goimports, lint

fix(verify): deprecate skipsignature and refactor verify command
  src/cmd/initialize.go
  src/cmd/package.go
  src/config/lang/english.go
  src/pkg/packager/layout/package.go
Due: check-docs-and-schema, goimports, lint

fix(lint): resolve linting issues
  src/config/lang/english.go
Due: check-docs-and-schema, goimports, lint

chore(docs): fix typos in schema
  src/api/v1alpha1/package.go
  src/pkg/schema/zarf-v1alpha1-schema.json
  zarf.schema.json
Due: goimports, lint

fix(e2e): update error messaging for tests
  src/test/e2e/31_checksum_and_signature_test.go
  src/test/e2e/34_custom_init_package_test.go
Due: goimports, lint

eliminate validate logic
  src/pkg/lint/validate.go
  src/pkg/lint/validate_test.go
Due: goimports, lint

fix bug around keys and filenames
  src/pkg/packager/layout/package.go
  src/pkg/packager/layout/package_test.go
Due: goimports, lint

fix test
  src/cmd/package_test.go
  src/pkg/packager/layout/package_test.go
Due: check-docs-and-schema, goimports, lint

improve docs
  site/src/content/docs/ref/packages.mdx
Due: none

chore(docs): generate CLI docs
  site/src/content/docs/commands/zarf_tools_yq.md
  site/src/content/docs/commands/zarf_tools_yq_completion.md
  site/src/content/docs/commands/zarf_tools_yq_eval-all.md
  site/src/content/docs/commands/zarf_tools_yq_eval.md
Due: none

de-duplicate logic
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/layout/package.go
Due: goimports, lint

fix(verify): remove verified metadata for scope
  src/api/v1alpha1/package.go
  src/pkg/packager/layout/package.go
Due: goimports, lint

Update src/pkg/images/unpack.go
  src/pkg/images/unpack.go
Due: goimports, lint

de-duplicate test
  src/pkg/packager/layout/package_test.go
Due: goimports, lint

docs
  site/src/content/docs/ref/packages.mdx
Due: none

fix(layout): remove SkipSignatureValidation option
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/pull.go
  src/pkg/schema/zarf-v1alpha1-schema.json
  zarf.schema.json
Due: goimports, lint

feat(load): use VerifyBlobOptions for load
  src/cmd/initialize.go
  src/cmd/package.go
  src/pkg/packager/load.go
  src/pkg/packager/load_test.go
  src/pkg/packager/pull.go
Due: check-docs-and-schema, goimports, lint

schema
  src/api/v1alpha1/package.go
  src/pkg/schema/zarf-v1alpha1-schema.json
  zarf.schema.json
Due: goimports, lint

names changed
  src/test/e2e/11_oci_pull_inspect_test.go
Due: goimports, lint

update checksum
  hack/examples-checksums/zarf-package-dos-games-amd64-1.2.0.txt
Due: none

fix(verify): cleanup cmd and pkg
  src/cmd/package.go
  src/pkg/packager/create.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/load.go
  src/pkg/packager/load_test.go
  src/pkg/packager/pull.go
Due: check-docs-and-schema, goimports, lint

fix(docs): generate docs
  site/src/content/docs/commands/zarf_package_sign.md
Due: none

feat: add ability to store package documentation (#4393)
  examples/dos-games/secrets.md
  examples/dos-games/zarf.yaml
  hack/examples-checksums/zarf-package-dos-games-amd64-1.2.0.txt
  site/src/content/docs/commands/zarf_package_inspect_documentation.md
  site/src/content/docs/ref/packages.mdx
  src/api/v1alpha1/package.go
  src/cmd/package.go
  src/cmd/package_test.go
  src/cmd/testdata/inspect-documentation/simple/CONTRIBUTE.md
  src/cmd/testdata/inspect-documentation/simple/README.md
  src/cmd/testdata/inspect-documentation/simple/zarf.yaml
  src/pkg/archive/archive.go
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/layout/layout.go
  src/pkg/packager/layout/layout_test.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/layout/package_test.go
  src/pkg/packager/layout/testdata/zarf-package/doc.md
  src/pkg/packager/layout/testdata/zarf-package/zarf.yaml
  src/pkg/packager/layout/testdata/zarf-skeleton-package/doc.md
  src/pkg/packager/layout/testdata/zarf-skeleton-package/zarf.yaml
  src/pkg/schema/zarf-v1alpha1-schema.json
  src/pkg/zoci/common.go
  src/pkg/zoci/pull.go
  src/pkg/zoci/pull_test.go
  src/pkg/zoci/testdata/basic/README.md
  src/pkg/zoci/testdata/basic/zarf.yaml
  src/test/e2e/11_oci_pull_inspect_test.go
  src/test/packages/11-simple-package/zarf.yaml
  zarf.schema.json
Due: check-docs-and-schema, goimports, lint

feat(load): deprecate PublicKeyPath in favor of VerifyBlobOptions
  src/cmd/initialize.go
  src/pkg/packager/load.go
Due: check-docs-and-schema, goimports, lint

fix(verify): move validation to source of truth
  src/cmd/initialize.go
  src/cmd/package.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/load.go
Due: check-docs-and-schema, goimports, lint

fix(load): return layout accordingly
  src/pkg/packager/layout/package.go
Due: goimports, lint

feat: update injector init testing
  src/pkg/cluster/injector.go
  src/pkg/cluster/injector_test.go
  src/pkg/packager/deploy.go
Due: goimports, lint

feat: update injector to use Opt Struct
  .github/workflows/nightly-eks-multi-arch.yml
  src/pkg/cluster/injector.go
  src/pkg/cluster/injector_test.go
  src/pkg/cluster/testdata/expected-injection-pod.json
  src/pkg/packager/deploy.go
Due: goimports, lint

feat: update inject opts to validate required settings
  src/pkg/cluster/injector.go
  src/pkg/cluster/injector_test.go
  src/pkg/packager/deploy.go
Due: goimports, lint

chore: update per comments
  .github/workflows/nightly-eks-multi-arch.yml
  src/pkg/cluster/injector.go
  src/pkg/cluster/injector_test.go
  src/pkg/packager/deploy.go
Due: goimports, lint

use constructor
  .goreleaser.yaml
  src/internal/packager/helm/common.go
Due: goimports, lint

fix(test): update test logic post validation movement
  src/pkg/packager/layout/package.go
  src/pkg/packager/layout/package_test.go
  src/test/e2e/12_package_signing_test.go
  src/test/e2e/31_checksum_and_signature_test.go
  src/test/e2e/34_custom_init_package_test.go
Due: goimports, lint

use specific cache location
  questions.md
  src/internal/packager/helm/common.go
  src/internal/packager/helm/repo.go
  src/internal/packager/helm/template_test.go
  src/pkg/packager/find_images.go
  src/pkg/packager/inspect.go
  src/pkg/packager/layout/assemble.go
Due: goimports, lint

Path conditions:
  check-docs-and-schema: any of: ^src/(config|cmd)/ and \.go$
  goimports: any of: \.go$
  lint: any of: \.go$
