Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

check-docs-and-schema:
  name: Check for outdated docs and Zarf schema
  entry: make test-docs-and-schema
  language: system
  pass_filenames: false

goimports:
  name: goimports
  entry: golangci-lint fmt
  language: golang
  pass_filenames: false

lint:
  name: golangci-lint go lint
  entry: golangci-lint run
  language: golang
  pass_filenames: false

remove identity check
  src/cmd/component.go
  src/pkg/signing/bundle.go
  src/pkg/signing/cosign.go
  src/pkg/signing/cosign_test.go
Due: check-docs-and-schema, goimports, lint

rename fucntions
  src/cmd/component.go
  src/pkg/signing/cosign.go
  src/pkg/signing/cosign_test.go
Due: check-docs-and-schema, goimports, lint

function names
  src/cmd/component.go
  src/pkg/signing/cosign.go
  src/pkg/signing/cosign_test.go
Due: check-docs-and-schema, goimports, lint

api version
  src/api/api.go
  src/api/api_test.go
  src/api/v1alpha1/package.go
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/assemble/assemble_test.go
Due: goimports, lint

get api version
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/assemble/differential.go
  src/pkg/packager/assemble/differential_test.go
  src/pkg/packager/filters/deploy.go
Due: goimports, lint

chore: update go mod
  go.mod
Due: none

fix(helm): stop failing on resources that are not pod templates
  src/internal/packager/helm/post-render.go
  src/internal/packager/helm/post-render_test.go
Due: goimports, lint

feat(cmd): migrate zarf tools registry digest from crane to oras-go
  site/src/content/docs/commands/zarf_tools_registry_digest.md
  src/cmd/crane.go
  src/cmd/registry_common.go
  src/cmd/registry_digest.go
  src/cmd/registry_digest_test.go
  src/cmd/registry_list.go
Due: check-docs-and-schema, goimports, lint

fixes
  src/cmd/registry_digest_test.go
  src/cmd/registry_list.go
Due: check-docs-and-schema, goimports, lint

fix(find-images): read the resources a list holds
  src/pkg/packager/find_images.go
  src/pkg/packager/find_images_list_test.go
  src/pkg/packager/testdata/find-images/list-kinds/helm-test-list.yaml
  src/pkg/packager/testdata/find-images/list-kinds/list.yaml
  src/pkg/packager/testdata/find-images/list-kinds/oci-list.yaml
  src/pkg/packager/testdata/find-images/list-kinds/zarf.yaml
Due: goimports, lint

v1alpha1 types
  src/api/api.go
  src/pkg/lint/rules.go
  src/pkg/lint/schema.go
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/load/load.go
  src/pkg/zoci/common.go
Due: goimports, lint

lint
  src/pkg/lint/rules_test.go
Due: goimports, lint

revert back lint
  src/pkg/lint/rules.go
  src/pkg/lint/rules_test.go
  src/pkg/packager/lint.go
  src/pkg/packager/lint_test.go
Due: goimports, lint

fix
  src/cmd/dev.go
  src/pkg/lint/rules.go
  src/pkg/packager/generate.go
  src/pkg/packager/load/load.go
Due: check-docs-and-schema, goimports, lint

template
  src/pkg/template/template.go
  src/pkg/template/template_test.go
Due: goimports, lint

helm fixes
  src/internal/packager/helm/repo.go
  src/pkg/lint/schema.go
  src/pkg/variables/variables.go
Due: goimports, lint

simplify
  src/pkg/packager/load/load.go
Due: goimports, lint

chart version
  src/internal/packager/helm/chart.go
  src/internal/packager/helm/repo.go
  src/internal/packager/helm/repo_test.go
Due: goimports, lint

convert git chart changes
  src/api/convert/convert_test.go
  src/internal/api/v1alpha1/convert.go
  src/internal/api/v1alpha1/roundtrip_test.go
  src/internal/api/v1beta1/convert.go
  src/internal/packager/helm/repo.go
  src/internal/packager/helm/repo_test.go
Due: goimports, lint

chart compatiability test
  src/test/e2e/51_v1alpha1_chart_compatibility_test.go
Due: goimports, lint

more tests
  src/test/common.go
  src/test/e2e/51_v1alpha1_chart_compatibility_test.go
Due: goimports, lint

use go-git
  src/test/e2e/51_v1alpha1_chart_compatibility_test.go
Due: goimports, lint

v1alpha1 compatiability test
  src/internal/api/v1alpha1/convert.go
  src/test/e2e/51_v1alpha1_chart_compatibility_test.go
Due: goimports, lint

git logic
  src/api/convert/convert_test.go
  src/internal/api/v1beta1/convert.go
  src/internal/git/git.go
  src/internal/packager/helm/repo.go
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/find_images.go
  src/pkg/packager/mirror.go
Due: goimports, lint

simplify git
  src/api/package.go
  src/internal/git/git.go
  src/internal/git/repository.go
  src/internal/git/repository_test.go
  src/internal/packager/helm/repo.go
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/mirror.go
Due: goimports, lint

don't allow embedded ref
  src/internal/api/v1beta1/validate.go
  src/pkg/packager/load/load_test.go
  src/test/e2e/51_v1alpha1_chart_compatibility_test.go
Due: goimports, lint

git logic
  src/api/package.go
  src/internal/api/v1alpha1/convert.go
  src/internal/api/v1alpha1/roundtrip_test.go
  src/internal/git/git.go
  src/internal/git/repository.go
  src/internal/git/repository_test.go
Due: goimports, lint

convert
  src/api/convert/convert_test.go
  src/internal/api/v1beta1/convert.go
Due: goimports, lint

package for display
  src/cmd/package.go
  src/test/e2e/51_v1alpha1_chart_compatibility_test.go
Due: check-docs-and-schema, goimports, lint

package display
  src/cmd/package.go
Due: check-docs-and-schema, goimports, lint

fix test
  src/pkg/packager/assemble/assemble.go
Due: goimports, lint

remove helpers test
  src/pkg/packager/assemble/assemble.go
Due: goimports, lint

should template
  src/api/api.go
  src/pkg/packager/deploy.go
  src/pkg/packager/inspect.go
  src/pkg/packager/values_preflight.go
Due: goimports, lint

actions change
  src/pkg/packager/actions/actions.go
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/deploy.go
  src/pkg/packager/remove.go
Due: goimports, lint

correct comment
  src/internal/api/v1alpha1/convert.go
Due: goimports, lint

comment
  src/api/convert/convert_test.go
  src/api/package.go
  src/internal/api/v1alpha1/convert.go
  src/internal/packager/helm/common.go
  src/internal/packager/helm/common_test.go
  src/internal/packager/helm/repo.go
  src/internal/packager/helm/repo_test.go
  src/internal/packager/helm/template_test.go
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/find_images.go
  src/pkg/packager/inspect.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/layout/package_test.go
  src/pkg/packager/values_preflight.go
Due: goimports, lint

simplify
  src/internal/packager/helm/common.go
  src/internal/packager/helm/repo.go
  src/pkg/packager/inspect.go
  src/pkg/packager/values_preflight.go
Due: goimports, lint

functions
  src/api/api.go
  src/internal/packager/helm/chart.go
  src/pkg/packager/deploy.go
  src/pkg/packager/inspect.go
  src/pkg/packager/remove.go
  src/pkg/packager/values_preflight.go
Due: goimports, lint

helm logs
  src/internal/git/git.go
  src/internal/git/repository.go
  src/internal/packager/helm/repo.go
Due: goimports, lint

Path conditions:
  check-docs-and-schema: any of: ^src/(config|cmd)/ and \.go$
  goimports: any of: \.go$
  lint: any of: \.go$
