Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: check-merge-conflict
      - id: detect-aws-credentials
        args:
          - "--allow-missing-credentials"
      - id: detect-private-key
        exclude: "src/test/e2e/29_config_file_test.go"
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                src/internal/packager/images/testdata/.*|
                site/src/content/docs/commands/.*
            )$
      - id: fix-byte-order-marker
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
        exclude: site/src/content/docs/commands/.*
  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.4
    hooks:
      - id: fix-smartquotes
  - repo: local
    hooks:
      - id: check-docs-and-schema
        name: Check for outdated docs and Zarf schema
        entry: make test-docs-and-schema
        files: "^src/(config|cmd)/"
        types: [go]
        language: system
        pass_filenames: false
      - id: goimports
        name: goimports
        entry: golangci-lint fmt
        types: [go]
        language: golang
        pass_filenames: false
      - id: lint
        name: golangci-lint go lint
        entry: golangci-lint run
        types: [go]
        language: golang
        pass_filenames: false

feat: remove checks for operations
  src/internal/agent/hooks/argocd-application.go
  src/internal/agent/hooks/argocd-application_test.go
  src/internal/agent/hooks/argocd-applicationset.go
  src/internal/agent/hooks/argocd-appproject.go
  src/internal/agent/hooks/argocd-repository.go
Due: goimports, lint

ci(release): update cosign version (#4861)
  .github/actions/install-tools/action.yaml
  .github/workflows/nightly-release.yaml
  .github/workflows/release.yml
Due: none

quicken windows tests
  .github/workflows/test-windows.yml
  Makefile
Due: none

explain cache reasoning
  .github/workflows/test-windows.yml
Due: none

ci: speed up windows tests (#4862)
  .github/workflows/test-windows.yml
  Makefile
Due: none

chore(go): update go version
  CONTRIBUTING.md
  go.mod
Due: none

fix: preserve agent state during connected deploy
  src/pkg/cluster/cluster_test.go
  src/pkg/packager/deploy.go
  src/pkg/packager/deploy_test.go
  src/pkg/state/state_test.go
Due: goimports, lint

update template error
  src/pkg/packager/load/load.go
Due: goimports, lint

change values
  packages/init-v1beta1/import/zarf.yaml
  packages/init-v1beta1/template-values.yaml
  packages/init-v1beta1/zarf.tpl.yaml
Due: none

lowercase templates
  packages/init-v1beta1/template-values.yaml
  packages/init-v1beta1/zarf.tpl.yaml
Due: none

edits
  packages/init-v1beta1/import/values.yaml
  packages/init-v1beta1/registry/values-schema.json
  packages/init-v1beta1/registry/values.yaml
  packages/init-v1beta1/shared-template-values.yaml
  packages/init-v1beta1/values.yaml
Due: none

move files closer
  packages/init-v1beta1/agent/zarf-agent.yaml
  packages/init-v1beta1/git-server/gitea.yaml
  packages/init-v1beta1/registry/zarf-registry.yaml
  packages/init-v1beta1/registry/zarf-seed-registry.yaml
Due: none

require images
  packages/init-v1beta1/agent/values-schema.json
  packages/init-v1beta1/git-server/values-schema.json
  packages/init-v1beta1/registry/values-schema.json
Due: none

tolerations
  packages/init-v1beta1/import/values.yaml
  packages/init-v1beta1/import/zarf.yaml
Due: none

chore(go): update go version (#4864)
  CONTRIBUTING.md
  go.mod
Due: none

sourcepath/targetpath
  packages/init-v1beta1/agent/zarf-agent.yaml
  packages/init-v1beta1/git-server/gitea.yaml
  packages/init-v1beta1/registry/zarf-injector.yaml
  packages/init-v1beta1/registry/zarf-registry.yaml
  packages/init-v1beta1/registry/zarf-seed-registry.yaml
Due: none

fix(variables): file variable substitution alignment
  examples/variables/nginx-extra-configmap.yaml
  examples/variables/zarf.yaml
  src/pkg/packager/deploy.go
  src/test/e2e/24_variables_test.go
Due: goimports, lint

WIP, moving to multi architecture
  src/api/v1alpha1/package.go
  src/api/v1alpha1/package_test.go
  src/config/config.go
  src/internal/api/v1alpha1/validate_test.go
  src/pkg/images/pull.go
  src/pkg/images/pull_test.go
  src/pkg/images/push.go
  src/pkg/images/unpack.go
  src/pkg/images/unpack_test.go
  src/pkg/packager/deploy.go
  src/pkg/packager/dev.go
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/layout/assemble_test.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/layout/package_test.go
  src/pkg/packager/load/import.go
  src/pkg/zoci/pull_test.go
  src/test/e2e/48_multi_arch_test.go
  src/test/packages/48-multi-arch/zarf.yaml
Due: check-docs-and-schema, goimports, lint

filters
  src/pkg/packager/filters/arch.go
  src/pkg/packager/filters/arch_test.go
Due: goimports, lint

WIP
  src/pkg/images/pull.go
  src/pkg/images/pull_test.go
Due: goimports, lint

pulling multiple architectures correctly
  examples/wordpress/zarf.yaml
  src/pkg/images/common.go
  src/pkg/images/pull.go
Due: goimports, lint

chore(lint): fix checksum - pin golanglintci
  .github/workflows/scan-lint.yml
  hack/examples-checksums/zarf-package-variables-amd64.txt
  src/pkg/cluster/injector.go
  src/pkg/packager/find_images.go
Due: goimports, lint

chore(fix): checksum ordering requirements
  hack/examples-checksums/zarf-package-variables-amd64.txt
Due: none

accept platforms
  src/pkg/images/pull.go
  src/pkg/images/pull_test.go
  src/pkg/images/push.go
  src/pkg/images/push_test.go
  src/pkg/images/unpack.go
  src/pkg/images/unpack_test.go
  src/pkg/packager/deploy.go
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/mirror.go
Due: goimports, lint

update filter index manifest rules
  src/pkg/images/pull.go
Due: goimports, lint

always push the entire image, whether it's an index or not
  src/pkg/images/push.go
  src/pkg/images/push_test.go
  src/pkg/packager/deploy.go
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/mirror.go
Due: goimports, lint

filepath, loadoptions, dedupe imageArchives output
  src/cmd/dev.go
  src/pkg/packager/find_images.go
Due: check-docs-and-schema, goimports, lint

feat(values): inspect manifests values support
  src/cmd/package.go
  src/cmd/package_test.go
  src/cmd/testdata/inspect-manifests/manifest-with-values/expected.yaml
  src/pkg/packager/inspect.go
Due: check-docs-and-schema, goimports, lint

feat(values): support for inspect values-files
  src/cmd/package.go
  src/cmd/package_test.go
  src/cmd/testdata/inspect-values-files/chart-with-values/base-values.yaml
  src/cmd/testdata/inspect-values-files/chart-with-values/expected-baked.yaml
  src/cmd/testdata/inspect-values-files/chart-with-values/zarf.yaml
  src/pkg/packager/inspect.go
Due: check-docs-and-schema, goimports, lint

fix(variables): file variable substitution alignment (#4866)
  .github/workflows/scan-lint.yml
  examples/variables/nginx-extra-configmap.yaml
  examples/variables/zarf.yaml
  hack/examples-checksums/zarf-package-variables-amd64.txt
  src/pkg/cluster/injector.go
  src/pkg/packager/deploy.go
  src/pkg/packager/find_images.go
  src/test/e2e/24_variables_test.go
Due: goimports, lint

fix(dev): use cluster state for connected deploy
  src/pkg/packager/deploy.go
  src/pkg/packager/deploy_test.go
  src/pkg/packager/dev.go
Due: goimports, lint

chore(docs): generate documentation
  site/src/content/docs/commands/zarf_package_inspect_manifests.md
  site/src/content/docs/commands/zarf_package_inspect_values-files.md
  src/cmd/dev_test.go
Due: check-docs-and-schema, goimports, lint

chore(docs): remove comments
  src/pkg/packager/inspect.go
Due: goimports, lint

fix(cmd): fix precedence between viper and flags
  src/cmd/package.go
Due: check-docs-and-schema, goimports, lint

validateOpts, remove use of ErrFilter, flavor and allvariants mutual exclusivity
  src/internal/api/v1alpha1/validate.go
  src/internal/api/v1alpha1/validate_test.go
  src/pkg/packager/generate.go
  src/pkg/packager/load/load.go
  src/pkg/packager/load/load_test.go
  src/pkg/packager/load/testdata/package-without-flavors/zarf.yaml
Due: goimports, lint

fix(review): remove redundant test
  src/pkg/packager/load/testdata/import/values/basic/expected.yaml
  src/pkg/packager/load/testdata/import/values/basic/import/zarf.yaml
  src/pkg/packager/load/testdata/import/values/basic/zarf.yaml
Due: none

fix(unit): update test on fixture removal
  src/pkg/packager/load/import_test.go
Due: goimports, lint

fix(import): dedup protection with ToSlash coverage
  src/pkg/packager/load/import.go
  src/pkg/packager/load/import_test.go
Due: goimports, lint

multi platform unpack
  src/pkg/images/pull.go
  src/pkg/images/unpack.go
  src/pkg/images/unpack_test.go
Due: goimports, lint
