Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: check-merge-conflict
      - id: detect-aws-credentials
        args:
          - "--allow-missing-credentials"
      - id: detect-private-key
        exclude: "src/test/e2e/29_config_file_test.go"
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                src/internal/packager/images/testdata/.*|
                site/src/content/docs/commands/.*
            )$
      - id: fix-byte-order-marker
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
        exclude: site/src/content/docs/commands/.*
  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.4
    hooks:
      - id: fix-smartquotes
  - repo: local
    hooks:
      - id: check-docs-and-schema
        name: Check for outdated docs and Zarf schema
        entry: make test-docs-and-schema
        files: "^src/(config|cmd)/"
        types: [go]
        language: system
        pass_filenames: false
      - id: goimports
        name: goimports
        entry: golangci-lint fmt
        types: [go]
        language: golang
        pass_filenames: false
      - id: lint
        name: golangci-lint go lint
        entry: golangci-lint run
        types: [go]
        language: golang
        pass_filenames: false

tranform to fully qualified image references
  src/pkg/packager/find_images.go
Due: goimports, lint

fix(zoci): add tag check and cleanup comments
  src/pkg/packager/publish_test.go
  src/pkg/zoci/utils.go
Due: goimports, lint

feat: update how the kubectl is called in docs
  src/cmd/kubectl.go
Due: check-docs-and-schema, goimports, lint

ci: fix linting
  go.mod
  src/cmd/kubectl.go
Due: check-docs-and-schema, goimports, lint

feat: add check for vendored commands for cobra shell complete
  src/cmd/vendor.go
Due: check-docs-and-schema, goimports, lint

update english
  site/src/content/docs/commands/zarf_connect.md
  site/src/content/docs/commands/zarf_connect_resource.md
  src/config/lang/english.go
Due: check-docs-and-schema, goimports, lint

unnecessary comments
  src/cmd/connect.go
Due: check-docs-and-schema, goimports, lint

set airgap mode
  src/internal/packager/helm/post-render.go
  src/pkg/cluster/cluster.go
  src/pkg/packager/deploy.go
  src/pkg/state/state.go
Due: goimports, lint

cleanups
  src/cmd/zarf_tools.go
  src/internal/packager/helm/chart.go
  src/internal/packager/helm/post-render.go
  src/pkg/packager/deploy.go
  src/pkg/state/state.go
Due: check-docs-and-schema, goimports, lint

update with cluster mode
  src/internal/packager/helm/post-render.go
  src/pkg/cluster/cluster.go
  src/pkg/cluster/zarf.go
  src/pkg/packager/deploy.go
  src/pkg/packager/load_test.go
  src/pkg/state/state.go
Due: goimports, lint

move around flag
  src/cmd/package.go
  src/config/lang/english.go
  src/test/e2e/99_yolo_test.go
Due: check-docs-and-schema, goimports, lint

add connected flag to dev deploy
  src/cmd/dev.go
  src/cmd/viper.go
  src/config/lang/english.go
Due: check-docs-and-schema, goimports, lint

add test
  src/test/e2e/47_connected_deploy_test.go
  src/test/e2e/99_yolo_test.go
  src/test/packages/47-connected-deploy/deployment.yaml
  src/test/packages/47-connected-deploy/zarf.yaml
Due: goimports, lint

more clear logic
  src/internal/packager/helm/post-render.go
  src/internal/packager/helm/post-render_test.go
Due: goimports, lint

format objects better
  src/internal/packager/helm/post-render.go
  src/internal/packager/helm/post-render_test.go
Due: goimports, lint

cleaner function
  src/internal/packager/helm/post-render.go
  src/internal/packager/helm/post-render_test.go
Due: goimports, lint

fix(agent): support create idempotency for mutation operations
  src/internal/agent/hooks/argocd-application.go
  src/internal/agent/hooks/argocd-application_test.go
  src/internal/agent/hooks/argocd-applicationset.go
  src/internal/agent/hooks/argocd-appproject.go
  src/internal/agent/hooks/flux-gitrepo.go
  src/internal/agent/hooks/flux-gitrepo_test.go
  src/internal/agent/hooks/flux-helmrepo.go
  src/internal/agent/hooks/flux-helmrepo_test.go
Due: goimports, lint

unnecessary label
  src/test/e2e/47_connected_deploy_test.go
Due: goimports, lint

docs
  site/src/content/docs/commands/zarf_dev_deploy.md
  site/src/content/docs/commands/zarf_package_deploy.md
Due: none

connected mode
  src/test/e2e/47_connected_deploy_test.go
Due: goimports, lint

info message
  src/pkg/packager/deploy.go
Due: goimports, lint

connected deploy
  src/pkg/packager/deploy.go
Due: goimports, lint

update
  src/test/e2e/47_connected_deploy_test.go
Due: goimports, lint

delete comment
  src/pkg/state/state.go
Due: goimports, lint

examples
  site/src/content/docs/commands/zarf_connect_resource.md
  src/cmd/connect.go
  src/config/lang/english.go
Due: check-docs-and-schema, goimports, lint

dev fix
  src/pkg/packager/dev.go
  src/test/e2e/47_connected_deploy_test.go
  src/test/e2e/99_yolo_test.go
Due: goimports, lint

fix(agent): left-aligned and more observable
  src/internal/agent/hooks/argocd-application.go
  src/internal/agent/hooks/flux-gitrepo.go
  src/internal/agent/hooks/flux-helmrepo.go
Due: goimports, lint

feat: add retries on create operations (#4664)
  src/config/config.go
  src/internal/packager/helm/repo.go
  src/pkg/images/pull.go
  src/pkg/utils/network.go
Due: check-docs-and-schema, goimports, lint

feat: update per comments on pr
  src/cmd/kubectl.go
Due: check-docs-and-schema, goimports, lint

feat: clarify --registry-secret or --registry-url
  src/cmd/initialize.go
  src/config/lang/english.go
Due: check-docs-and-schema, goimports, lint

fix(override): deprecate existing functions and cleanup
  src/api/v1alpha1/component.go
  src/api/v1alpha1/package.go
  src/api/v1alpha1/package_test.go
  src/pkg/packager/packager_test.go
Due: goimports, lint

add .
  src/config/lang/english.go
Due: check-docs-and-schema, goimports, lint

update Readme.md
  site/src/content/docs/commands/zarf_init.md
Due: none

fix(publish): allow oci to oci tag override
  src/pkg/packager/publish.go
  src/pkg/packager/publish_test.go
  src/pkg/zoci/common.go
  src/pkg/zoci/copier.go
  src/pkg/zoci/utils.go
Due: goimports, lint

ci: update go mod
  go.mod
Due: none

feat: move ReplaceCommandName to utils file
  src/cmd/kubectl.go
  src/cmd/utils.go
Due: check-docs-and-schema, goimports, lint

docs: update syft to print out examples
  site/src/content/docs/commands/zarf_tools_sbom.md
  site/src/content/docs/commands/zarf_tools_sbom_attest.md
  site/src/content/docs/commands/zarf_tools_sbom_convert.md
  site/src/content/docs/commands/zarf_tools_sbom_login.md
  site/src/content/docs/commands/zarf_tools_sbom_scan.md
  src/cmd/syft.go
Due: check-docs-and-schema, goimports, lint

feat: update kubectl vender logic (#4676)
  go.mod
  site/src/content/docs/commands/zarf_tools.md
  site/src/content/docs/commands/zarf_tools_kubectl.md
  site/src/content/docs/commands/zarf_tools_sbom.md
  site/src/content/docs/commands/zarf_tools_sbom_attest.md
  site/src/content/docs/commands/zarf_tools_sbom_convert.md
  site/src/content/docs/commands/zarf_tools_sbom_login.md
  site/src/content/docs/commands/zarf_tools_sbom_scan.md
  src/cmd/internal.go
  src/cmd/kubectl.go
  src/cmd/syft.go
  src/cmd/utils.go
  src/cmd/vendor.go
Due: check-docs-and-schema, goimports, lint
