Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: check-merge-conflict
      - id: detect-aws-credentials
        args:
          - "--allow-missing-credentials"
      - id: detect-private-key
        exclude: "src/test/e2e/29_config_file_test.go"
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                src/internal/packager/images/testdata/.*|
                site/src/content/docs/commands/.*
            )$
      - id: fix-byte-order-marker
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
        exclude: site/src/content/docs/commands/.*
  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.4
    hooks:
      - id: fix-smartquotes
  - repo: local
    hooks:
      - id: check-docs-and-schema
        name: Check for outdated docs and Zarf schema
        entry: make test-docs-and-schema
        files: "^src/(config|cmd)/"
        types: [go]
        language: system
        pass_filenames: false
      - id: goimports
        name: goimports
        entry: golangci-lint fmt
        types: [go]
        language: golang
        pass_filenames: false
      - id: lint
        name: golangci-lint go lint
        entry: golangci-lint run
        types: [go]
        language: golang
        pass_filenames: false

roundtrip test
  src/internal/api/v1alpha1/roundtrip_test.go
  v1beta1-loading-plan.md
Due: goimports, lint

better convert
  src/internal/api/v1alpha1/convert.go
Due: goimports, lint

improve convert
  src/internal/api/v1beta1/convert.go
Due: goimports, lint

fixme
  src/internal/api/v1alpha1/roundtrip_test.go
Due: goimports, lint

feat(schema)!: zarf dev schema-generate from existing values (#4961)
  examples/values-templating/values/values.schema.json
  site/src/content/docs/commands/zarf_dev.md
  site/src/content/docs/commands/zarf_dev_generate-schema.md
  src/cmd/dev.go
  src/config/lang/english.go
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/load/load.go
  src/pkg/packager/update.go
  src/pkg/packager/update_test.go
  src/pkg/value/generate.go
  src/pkg/value/generate_test.go
  src/pkg/value/schema.go
  src/pkg/value/schema_test.go
  src/pkg/value/testdata/schema/external-ref.schema.json
  src/pkg/value/testdata/schema/second.schema.json
  src/pkg/value/value.go
  src/pkg/value/value_test.go
  src/test/e2e/13_zarf_package_generate_test.go
  src/test/e2e/14_zarf_package_generate_test.go
  src/test/e2e/15_oci_compose_test.go
  src/test/packages/14-generate-schema/chart/Chart.yaml
  src/test/packages/14-generate-schema/chart/templates/configmap.yaml
  src/test/packages/14-generate-schema/chart/values.yaml
  src/test/packages/14-generate-schema/common/values.schema.json
  src/test/packages/14-generate-schema/common/values.yaml
  src/test/packages/14-generate-schema/common/zarf.yaml
  src/test/packages/14-generate-schema/values.schema.json
  src/test/packages/14-generate-schema/values.yaml
  src/test/packages/14-generate-schema/zarf.yaml
  src/test/packages/15-import-everything/inception/zarf.yaml
  src/test/packages/15-import-everything/remote-resources/zarf.yaml
  src/test/packages/15-import-everything/zarf.yaml
Due: check-docs-and-schema, goimports, lint

chore: update examples and error on bad package source
  site/src/content/docs/commands/zarf_package_deploy.md
  site/src/content/docs/commands/zarf_package_inspect_definition.md
  site/src/content/docs/commands/zarf_package_inspect_digest.md
  site/src/content/docs/commands/zarf_package_inspect_documentation.md
  site/src/content/docs/commands/zarf_package_inspect_images.md
  site/src/content/docs/commands/zarf_package_inspect_manifests.md
  site/src/content/docs/commands/zarf_package_inspect_sbom.md
  site/src/content/docs/commands/zarf_package_inspect_values-files.md
  site/src/content/docs/commands/zarf_package_mirror-resources.md
  site/src/content/docs/commands/zarf_package_publish.md
  site/src/content/docs/commands/zarf_package_remove.md
  site/src/content/docs/commands/zarf_package_verify.md
  src/cmd/package.go
  src/config/lang/english.go
  src/pkg/packager/load.go
Due: check-docs-and-schema, goimports, lint

chore: review feedback in oci.go
  src/pkg/packager/layout/oci.go
Due: goimports, lint

chore: PR feedback
  src/pkg/packager/layout/oci.go
  src/pkg/packager/layout/oci_test.go
  src/pkg/packager/layout/package_test.go
  src/pkg/zoci/push.go
Due: goimports, lint

remove oci concurrency
  site/src/content/docs/commands/zarf_package_inspect_digest.md
  src/cmd/package.go
Due: check-docs-and-schema, goimports, lint

additional agent logs
  .github/workflows/test-e2e.yml
  src/internal/agent/http/admission/handler.go
  src/test/e2e/98_agent_mutation_mode_test.go
Due: goimports, lint

feat!: add a digest to zarf package state and a digest inspect command (#4993)
  site/src/content/docs/commands/zarf_package_deploy.md
  site/src/content/docs/commands/zarf_package_inspect_definition.md
  site/src/content/docs/commands/zarf_package_inspect_digest.md
  site/src/content/docs/commands/zarf_package_inspect_documentation.md
  site/src/content/docs/commands/zarf_package_inspect_images.md
  site/src/content/docs/commands/zarf_package_inspect_manifests.md
  site/src/content/docs/commands/zarf_package_inspect_sbom.md
  site/src/content/docs/commands/zarf_package_inspect_values-files.md
  site/src/content/docs/commands/zarf_package_mirror-resources.md
  site/src/content/docs/commands/zarf_package_publish.md
  site/src/content/docs/commands/zarf_package_remove.md
  site/src/content/docs/commands/zarf_package_verify.md
  src/cmd/package.go
  src/config/lang/english.go
  src/pkg/cluster/zarf.go
  src/pkg/packager/deploy.go
  src/pkg/packager/digest.go
  src/pkg/packager/digest_test.go
  src/pkg/packager/layout/oci.go
  src/pkg/packager/layout/oci_test.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/layout/package_test.go
  src/pkg/packager/load.go
  src/pkg/packager/load_test.go
  src/pkg/packager/pull.go
  src/pkg/state/state.go
  src/pkg/zoci/common.go
  src/pkg/zoci/push.go
  src/pkg/zoci/push_package_test.go
  src/pkg/zoci/push_test.go
  src/test/e2e/11_oci_pull_inspect_test.go
  src/test/e2e/31_checksum_and_signature_test.go
Due: check-docs-and-schema, goimports, lint

feat: add source and package status to package state
  src/cmd/package.go
  src/pkg/packager/deploy.go
  src/pkg/packager/remove.go
  src/pkg/state/state.go
  src/test/e2e/37_component_status_test.go
  src/test/e2e/41_remove_test.go
Due: check-docs-and-schema, goimports, lint

update tests
  src/cmd/testdata/package-list/expected.json
  src/cmd/testdata/package-list/expected.yaml
Due: none

if always
  .github/workflows/test-e2e.yml
Due: none

feat(lint): warn on images without a domain and archive images without .internal (#4983)
  site/src/content/docs/ref/components.mdx
  src/pkg/lint/rules.go
  src/pkg/lint/rules_test.go
  src/pkg/packager/lint_test.go
Due: goimports, lint

add a retry
  src/test/e2e/98_agent_mutation_mode_test.go
Due: goimports, lint

group verify flags
  src/cmd/package.go
  src/cmd/root.go
  src/cmd/usage.go
  src/cmd/usage_test.go
Due: check-docs-and-schema, goimports, lint

package config:
  src/internal/pkgcfg/pkgcfg.go
  src/internal/pkgcfg/pkgcfg_test.go
Due: goimports, lint

remove api version
  src/internal/pkgcfg/pkgcfg.go
  src/internal/pkgcfg/pkgcfg_test.go
  src/pkg/packager/load/load.go
Due: goimports, lint

combine everything into convertFromGeneric
  src/api/convert/convert.go
  src/internal/api/v1beta1/convert.go
Due: goimports, lint

load once
  src/pkg/packager/load/load.go
Due: goimports, lint

implement imports
  src/pkg/packager/load/import_v1beta1.go
  src/pkg/packager/load/import_v1beta1_merge.go
  src/pkg/packager/load/import_v1beta1_test.go
  src/pkg/packager/load/load.go
  src/pkg/packager/load/load_test.go
  src/pkg/packager/load/testdata/import-v1beta1/cycle/a.yaml
  src/pkg/packager/load/testdata/import-v1beta1/cycle/b.yaml
  src/pkg/packager/load/testdata/import-v1beta1/cycle/zarf.yaml
  src/pkg/packager/load/testdata/import-v1beta1/merge/components/app.yaml
  src/pkg/packager/load/testdata/import-v1beta1/merge/zarf.yaml
  src/pkg/packager/load/testdata/import-v1beta1/mixed/components/middle.yaml
  src/pkg/packager/load/testdata/import-v1beta1/mixed/zarf.yaml
  src/pkg/packager/load/testdata/import-v1beta1/nested/components/app.yaml
  src/pkg/packager/load/testdata/import-v1beta1/nested/components/base/base.yaml
  src/pkg/packager/load/testdata/import-v1beta1/nested/zarf.yaml
  src/pkg/packager/load/testdata/import-v1beta1/single/components/logging.yaml
  src/pkg/packager/load/testdata/import-v1beta1/single/zarf.yaml
  src/pkg/packager/load/testdata/import-v1beta1/variants/components/web-apache.yaml
  src/pkg/packager/load/testdata/import-v1beta1/variants/components/web-nginx.yaml
  src/pkg/packager/load/testdata/import-v1beta1/variants/zarf.yaml
  src/pkg/packager/load/testdata/v1beta1-with-import/imported-component.yaml
Due: goimports, lint

adopt existing resources to take ownership
  src/internal/packager/helm/chart.go
  src/internal/packager/helm/post-render.go
Due: goimports, lint

feat: group verify flags in CLI help text (#5008)
  src/cmd/package.go
  src/cmd/root.go
  src/cmd/usage.go
  src/cmd/usage_test.go
Due: check-docs-and-schema, goimports, lint

change flags
  site/src/content/docs/commands/zarf_dev_deploy.md
  site/src/content/docs/commands/zarf_init.md
  site/src/content/docs/commands/zarf_package_deploy.md
  site/src/content/docs/ref/init-package.mdx
  site/src/content/docs/tutorials/8-resource-adoption.mdx
  src/cmd/dev.go
  src/cmd/initialize.go
  src/cmd/package.go
  src/config/lang/english.go
  src/test/e2e/25_helm_test.go
  src/test/e2e/49_helm_adopt_ns_test.go
Due: check-docs-and-schema, goimports, lint

use take ownership everywhere
  src/cmd/dev.go
  src/cmd/initialize.go
  src/cmd/package.go
  src/internal/packager/helm/chart.go
  src/internal/packager/helm/post-render.go
  src/pkg/packager/deploy.go
Due: check-docs-and-schema, goimports, lint

make flag deprecated
  src/pkg/packager/deploy.go
Due: goimports, lint

feat(cli): update verify flag to enum
  src/cmd/initialize.go
  src/cmd/package.go
  src/config/lang/english.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/layout/package_test.go
  src/pkg/packager/load_test.go
Due: check-docs-and-schema, goimports, lint

chore: generate command docs
  site/src/content/docs/commands/zarf_init.md
  site/src/content/docs/commands/zarf_package_deploy.md
  site/src/content/docs/commands/zarf_package_inspect_definition.md
  site/src/content/docs/commands/zarf_package_inspect_documentation.md
  site/src/content/docs/commands/zarf_package_inspect_images.md
  site/src/content/docs/commands/zarf_package_inspect_manifests.md
  site/src/content/docs/commands/zarf_package_inspect_sbom.md
  site/src/content/docs/commands/zarf_package_inspect_values-files.md
  site/src/content/docs/commands/zarf_package_mirror-resources.md
  site/src/content/docs/commands/zarf_package_publish.md
  site/src/content/docs/commands/zarf_package_pull.md
  site/src/content/docs/commands/zarf_package_remove.md
  site/src/content/docs/commands/zarf_package_sign.md
  src/cmd/package.go
  src/config/lang/english.go
Due: check-docs-and-schema, goimports, lint

ci: additional agent logs (#5006)
  .github/workflows/test-e2e.yml
  src/internal/agent/http/admission/handler.go
  src/test/e2e/98_agent_mutation_mode_test.go
Due: goimports, lint

fix: testing expectations
  src/cmd/package.go
  src/test/e2e/11_oci_pull_inspect_test.go
  src/test/e2e/31_checksum_and_signature_test.go
  src/test/e2e/34_custom_init_package_test.go
Due: check-docs-and-schema, goimports, lint

chore: docs generation
  site/src/content/docs/commands/zarf_init.md
  site/src/content/docs/commands/zarf_package_deploy.md
  site/src/content/docs/commands/zarf_package_inspect_definition.md
  site/src/content/docs/commands/zarf_package_inspect_documentation.md
  site/src/content/docs/commands/zarf_package_inspect_images.md
  site/src/content/docs/commands/zarf_package_inspect_manifests.md
  site/src/content/docs/commands/zarf_package_inspect_sbom.md
  site/src/content/docs/commands/zarf_package_inspect_values-files.md
  site/src/content/docs/commands/zarf_package_mirror-resources.md
  site/src/content/docs/commands/zarf_package_publish.md
  site/src/content/docs/commands/zarf_package_pull.md
  site/src/content/docs/commands/zarf_package_remove.md
  site/src/content/docs/commands/zarf_package_sign.md
Due: none

fix nil cluster
  src/pkg/packager/remove.go
Due: goimports, lint

chore: fix flag language
  site/src/content/docs/commands/zarf_init.md
  site/src/content/docs/commands/zarf_package_deploy.md
  site/src/content/docs/commands/zarf_package_inspect_definition.md
  site/src/content/docs/commands/zarf_package_inspect_documentation.md
  site/src/content/docs/commands/zarf_package_inspect_images.md
  site/src/content/docs/commands/zarf_package_inspect_manifests.md
  site/src/content/docs/commands/zarf_package_inspect_sbom.md
  site/src/content/docs/commands/zarf_package_inspect_values-files.md
  site/src/content/docs/commands/zarf_package_mirror-resources.md
  site/src/content/docs/commands/zarf_package_publish.md
  site/src/content/docs/commands/zarf_package_pull.md
  site/src/content/docs/commands/zarf_package_remove.md
  site/src/content/docs/commands/zarf_package_sign.md
  src/config/lang/english.go
Due: check-docs-and-schema, goimports, lint

Added a support for an multiple zarf package removal
  src/cmd/package.go
Due: check-docs-and-schema, goimports, lint

fix linting issue
  src/cmd/package.go
Due: check-docs-and-schema, goimports, lint

fixed linting issue
  src/cmd/package.go
Due: check-docs-and-schema, goimports, lint

feat(ci): add zizmor static analysis for Actions/workflows
  .github/workflows/scan-zizmor.yml
  .github/workflows/test-import.yaml
Due: none

feat: direct docker daemon pull (#5001)
  src/pkg/feature/feature.go
  src/pkg/images/pull.go
  src/pkg/images/unpack.go
Due: goimports, lint

more efficient direct daemon pull
  src/pkg/archive/archive.go
  src/pkg/archive/archive_test.go
  src/pkg/images/pull.go
Due: goimports, lint
