Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

check-docs-and-schema:
  name: Check for outdated docs and Zarf schema
  entry: make test-docs-and-schema
  language: system
  pass_filenames: false

goimports:
  name: goimports
  entry: golangci-lint fmt
  language: golang
  pass_filenames: false

lint:
  name: golangci-lint go lint
  entry: golangci-lint run
  language: golang
  pass_filenames: false

feat(values): expand e2e test for state
  src/test/e2e/42_values_test.go
  src/test/packages/42-values/state-blocked/blocked-configmap.yaml
  src/test/packages/42-values/state-blocked/zarf.yaml
  src/test/packages/42-values/state-configmap.yaml
  src/test/packages/42-values/zarf.yaml
Due: goimports, lint

cleaner conversion logic
  src/api/convert/convert.go
  src/api/convert/convert_test.go
  src/api/v1beta1/convert.go
  src/internal/api/types/package.go
  src/internal/api/v1alpha1/convert.go
  src/internal/api/v1beta1/convert.go
Due: goimports, lint

comment
  site/astro.config.ts
Due: none

fix(values): schema validation and ref internal support
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/layout/assemble_test.go
  src/pkg/packager/layout/testdata/schema-merge/child-with-external-ref.schema.json
  src/pkg/packager/layout/testdata/schema-merge/parent-overrides-definitions.schema.json
  src/pkg/packager/load/testdata/import/values/schema-deep/expected-merged-schema.json
  src/pkg/packager/load/testdata/import/values/schema-parent-empty/expected-merged-schema.json
  src/pkg/packager/load/testdata/import/values/schema-parent-wins/expected-merged-schema.json
  src/pkg/value/schema.go
  src/pkg/value/schema_test.go
Due: goimports, lint

run astro check
  .github/workflows/test-site.yml
  site/hack/build-versions.mjs
  site/package.json
Due: none

version select
  site/src/components/VersionSelect.astro
Due: none

cleaner comments and docs
  site/README.md
  site/astro.config.ts
  site/hack/build-versions.mjs
  site/src/components/VersionSelect.astro
Due: none

limit by major
  site/README.md
  site/hack/build-versions.mjs
Due: none

majors strategy
  site/README.md
  site/hack/build-versions.mjs
Due: none

fix(values): StateAccess type
  src/internal/template/template.go
  src/internal/template/template_test.go
  src/pkg/packager/actions/actions.go
  src/pkg/packager/deploy.go
  src/pkg/packager/find_images.go
  src/pkg/packager/inspect.go
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/remove.go
Due: goimports, lint

fix(values): find_images logic for state
  src/pkg/packager/find_images.go
Due: goimports, lint

gitignore
  .gitignore
Due: none

build versions
  site/hack/build-versions.mjs
  site/src/components/VersionSelect.astro
Due: none

build all in one
  .gitignore
  site/.gitignore
  site/README.md
  site/astro.config.ts
  site/hack/build-versions.mjs
  site/hack/copy-examples.js
  site/package-lock.json
  site/package.json
  site/src/components/SchemaItemProperties.astro
  site/src/components/SchemaReference.astro
  site/src/components/Sidebar.astro
  site/src/components/ThemeSelect.astro
  site/src/components/VersionSelect.astro
  site/src/lib/schema.ts
  site/src/plugins/remark-link-rewrite.test.ts
  site/src/plugins/remark-link-rewrite.ts
Due: none

fix sidebar
  site/README.md
  site/astro.config.ts
  site/package-lock.json
  site/package.json
  site/src/components/Sidebar.astro
  site/src/components/ThemeSelect.astro
  site/src/components/VersionSelect.astro
Due: none

readme
  site/README.md
Due: none

feat(values): granular sensitive state access
  examples/values-templating/nginx-configmap.yaml
  examples/values-templating/readme.md
  examples/values-templating/zarf.yaml
  site/src/content/docs/ref/values.mdx
  src/api/v1alpha1/component.go
  src/internal/packager/template/template.go
  src/internal/template/template.go
  src/internal/template/template_test.go
  src/pkg/packager/actions/actions.go
  src/pkg/packager/deploy.go
  src/pkg/packager/find_images.go
  src/pkg/packager/inspect.go
  src/pkg/schema/zarf-v1alpha1-schema.json
  src/pkg/state/state.go
  src/test/e2e/42_values_test.go
  src/test/packages/42-values/state-blocked/zarf.yaml
  src/test/packages/42-values/zarf.yaml
  zarf.schema.json
Due: goimports, lint

fix(site): update links
  site/src/content/docs/ref/values.mdx
Due: none

fix(values): remove Artifact templating from State
  examples/values-templating/zarf.yaml
  site/src/content/docs/ref/values.mdx
  src/api/v1alpha1/component.go
  src/internal/template/template.go
  src/internal/template/template_test.go
Due: goimports, lint

chore: update schema
  src/pkg/schema/zarf-v1alpha1-schema.json
  zarf.schema.json
Due: none

make docs and schema
  src/pkg/schema/zarf-v1beta1-component-schema.json
  src/pkg/schema/zarf-v1beta1-package-schema.json
  src/pkg/schema/zarf.schema.json
  zarf.schema.json
Due: none

inline
  src/api/v1beta1/component.go
  src/pkg/schema/zarf-v1beta1-component-schema.json
  src/pkg/schema/zarf-v1beta1-package-schema.json
Due: goimports, lint

fix name
  src/api/convert/convert_test.go
  src/internal/api/v1beta1/convert.go
Due: goimports, lint

feat(values)!: support state built-ins (#4957)
  examples/values-templating/nginx-configmap.yaml
  examples/values-templating/readme.md
  site/src/content/docs/ref/values.mdx
  src/api/v1alpha1/component.go
  src/internal/packager/template/template.go
  src/internal/template/template.go
  src/internal/template/template_test.go
  src/pkg/packager/actions/actions.go
  src/pkg/packager/deploy.go
  src/pkg/packager/find_images.go
  src/pkg/packager/inspect.go
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/remove.go
  src/pkg/schema/zarf-v1alpha1-schema.json
  src/pkg/state/state.go
  src/test/e2e/42_values_test.go
  src/test/packages/42-values/state-blocked/blocked-configmap.yaml
  src/test/packages/42-values/state-blocked/zarf.yaml
  src/test/packages/42-values/state-configmap.yaml
  src/test/packages/42-values/zarf.yaml
  zarf.schema.json
Due: goimports, lint

chore: improve cosign signature/attestation lookup with oras
  src/pkg/images/common.go
  src/pkg/images/pull.go
  src/pkg/packager/find_images.go
  src/pkg/utils/oci_artifacts.go
Due: goimports, lint

chore: fix tests (match previous error signature when image cannot be retrieved)
  src/pkg/utils/oci_artifacts.go
Due: goimports, lint

chore: fix return types for auth configured
  src/pkg/images/common.go
  src/pkg/images/pull.go
  src/pkg/packager/find_images.go
Due: goimports, lint

chore(docs): add documentation for Zarf package vuln scanning
  site/src/content/docs/best-practices/vulnerability-scanning.mdx
Due: none

feat: zarf dev schema-generate from existing values
  examples/values-templating/values/values.schema.json
  src/cmd/dev.go
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/load/load.go
  src/pkg/value/generate.go
  src/pkg/value/generate_test.go
  src/pkg/value/schema.go
  src/pkg/value/schema_test.go
Due: check-docs-and-schema, goimports, lint

chore: add e2e test
  src/test/e2e/13_zarf_package_generate_test.go
  src/test/e2e/14_zarf_package_generate_test.go
  src/test/e2e/15_oci_compose_test.go
  src/test/packages/14-generate-schema/chart/Chart.yaml
  src/test/packages/14-generate-schema/chart/templates/configmap.yaml
  src/test/packages/14-generate-schema/chart/values.yaml
  src/test/packages/14-generate-schema/values.schema.json
  src/test/packages/14-generate-schema/values.yaml
  src/test/packages/14-generate-schema/zarf.yaml
  src/test/packages/15-import-everything/inception/zarf.yaml
  src/test/packages/15-import-everything/remote-resources/zarf.yaml
  src/test/packages/15-import-everything/zarf.yaml
Due: goimports, lint

chore: docs and lint
  site/src/content/docs/commands/zarf_dev.md
  site/src/content/docs/commands/zarf_dev_generate-schema.md
  src/cmd/dev.go
  src/pkg/value/generate.go
  src/pkg/value/generate_test.go
Due: check-docs-and-schema, goimports, lint

chore: fix e2e test
  src/test/e2e/15_oci_compose_test.go
Due: goimports, lint

convert
  src/cmd/internal_convert.go
  src/cmd/internal_convert_test.go
Due: check-docs-and-schema, goimports, lint

docs: version documentation site (#4954)
  .github/workflows/test-site.yml
  .gitignore
  netlify.toml
  site/.gitignore
  site/README.md
  site/astro.config.ts
  site/hack/build-versions.mjs
  site/hack/copy-examples.js
  site/package-lock.json
  site/package.json
  site/src/components/SchemaItemProperties.astro
  site/src/components/SchemaReference.astro
  site/src/components/Sidebar.astro
  site/src/components/SkipLink.astro
  site/src/components/ThemeSelect.astro
  site/src/components/VersionSelect.astro
  site/src/content.config.ts
  site/src/lib/schema.ts
  site/src/plugins/remark-link-rewrite.test.ts
  site/src/plugins/remark-link-rewrite.ts
Due: none

chore: improve cosign signature/attestation lookup with oras (#4959)
  src/pkg/images/common.go
  src/pkg/images/pull.go
  src/pkg/packager/find_images.go
  src/pkg/utils/oci_artifacts.go
Due: goimports, lint

chore(docs): remove language for clarity
  site/src/content/docs/best-practices/vulnerability-scanning.mdx
Due: none

delete schema
  site/src/assets/zarf.schema.json
Due: none

fail early for undefined values
  src/internal/template/refs.go
  src/internal/template/refs_test.go
  src/pkg/packager/deploy.go
  src/pkg/packager/values_preflight.go
  src/pkg/packager/values_preflight_test.go
  src/test/e2e/42_values_test.go
  src/test/packages/42-values/preflight-invalid/configmap.yaml
  src/test/packages/42-values/preflight-invalid/zarf.yaml
Due: goimports, lint

Path conditions:
  check-docs-and-schema: any of: ^src/(config|cmd)/ and \.go$
  goimports: any of: \.go$
  lint: any of: \.go$
