Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: check-merge-conflict
      - id: detect-aws-credentials
        args:
          - "--allow-missing-credentials"
      - id: detect-private-key
        exclude: "src/test/e2e/29_config_file_test.go"
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                src/internal/packager/images/testdata/.*|
                site/src/content/docs/commands/.*
            )$
      - id: fix-byte-order-marker
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
        exclude: site/src/content/docs/commands/.*
  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.4
    hooks:
      - id: fix-smartquotes
  - repo: local
    hooks:
      - id: check-docs-and-schema
        name: Check for outdated docs and Zarf schema
        entry: make test-docs-and-schema
        files: "^src/(config|cmd)/"
        types: [go]
        language: system
        pass_filenames: false
      - id: goimports
        name: goimports
        entry: golangci-lint fmt
        types: [go]
        language: golang
        pass_filenames: false
      - id: lint
        name: golangci-lint go lint
        entry: golangci-lint run
        types: [go]
        language: golang
        pass_filenames: false

filepath to slash in test
  src/pkg/packager/load/import_v1beta1_test.go
Due: goimports, lint

duplicates and comments
  src/internal/api/v1alpha1/convert.go
  src/internal/api/v1alpha1/roundtrip_test.go
  src/internal/api/v1beta1/convert.go
  src/internal/api/v1beta1/roundtrip_test.go
  src/internal/pkgcfg/pkgcfg.go
  src/pkg/packager/load/load.go
Due: goimports, lint

fixme
  src/pkg/packager/load/load.go
Due: goimports, lint

fix crd healthchecks
  go.mod
  src/pkg/cluster/cluster.go
  src/test/e2e/36_health_check_crd_test.go
  src/test/packages/36-health-check-crd/cr.yaml
  src/test/packages/36-health-check-crd/crd.yaml
  src/test/packages/36-health-check-crd/seed-configmap.yaml
  src/test/packages/36-health-check-crd/zarf.yaml
Due: goimports, lint

proper test
  src/test/packages/36-health-check-crd/crd-chart/Chart.yaml
  src/test/packages/36-health-check-crd/crd-chart/crds/zarfregression-crd.yaml
  src/test/packages/36-health-check-crd/zarf.yaml
Due: none

simplify test
  src/test/packages/36-health-check-crd/zarf.yaml
Due: none

comment
  src/pkg/cluster/cluster.go
Due: goimports, lint

revert back and invalidate cache
  go.mod
  src/pkg/cluster/cluster.go
  src/test/e2e/36_health_check_crd_test.go
  src/test/e2e/36_health_check_test.go
Due: goimports, lint

watcher
  src/pkg/cluster/cluster.go
Due: goimports, lint

stop requiring version for localpath
  examples/helm-charts/zarf.yaml
  src/internal/api/v1alpha1/validate.go
  src/internal/api/v1alpha1/validate_test.go
Due: goimports, lint

fix(wait): properly wait for crds introduced mid-deploy (#5077)
  src/pkg/cluster/cluster.go
  src/test/e2e/36_health_check_test.go
  src/test/packages/36-health-check-crd/cr.yaml
  src/test/packages/36-health-check-crd/crd-chart/Chart.yaml
  src/test/packages/36-health-check-crd/crd-chart/crds/zarfregression-crd.yaml
  src/test/packages/36-health-check-crd/seed-configmap.yaml
  src/test/packages/36-health-check-crd/zarf.yaml
Due: goimports, lint

versionless chart
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/layout/assemble_test.go
Due: goimports, lint

comment
  src/internal/api/v1alpha1/validate.go
Due: goimports, lint

remove version from some charts in the e2e suite
  src/test/packages/49-adopt-no-ns-template/zarf.yaml
  src/test/packages/49-adopt-ns-with-agent-ignore/zarf.yaml
Due: none

fix compose test
  src/test/e2e/15_oci_compose_test.go
Due: goimports, lint

fix agent logs
  src/internal/agent/http/admission/handler.go
Due: goimports, lint

remove debug print
  src/pkg/cluster/cluster.go
Due: goimports, lint

remove no-color in zarf e2e
  src/test/e2e/10_component_flavor_test.go
Due: goimports, lint

refactor: replace Skeleton option with SkipVariantFilters abstraction
  src/pkg/packager/load/load.go
  src/pkg/packager/publish.go
Due: goimports, lint

update resolveImports to handle multiple components with the same name when allVariants, update unit tests to cover new behavior
  src/pkg/packager/load/import.go
  src/pkg/packager/load/import_test.go
  src/pkg/packager/load/testdata/import/all-variants/child/zarf.yaml
  src/pkg/packager/load/testdata/import/all-variants/expected.yaml
  src/pkg/packager/load/testdata/import/all-variants/zarf.yaml
Due: goimports, lint

fix: agent webhook logs (#5081)
  src/internal/agent/http/admission/handler.go
  src/pkg/cluster/cluster.go
Due: goimports, lint

Apply suggestion from @soltysh
  src/internal/api/v1alpha1/validate.go
Due: goimports, lint

git conversions
  src/api/convert/convert_test.go
  src/api/v1beta1/component.go
  src/internal/api/types/package.go
  src/internal/api/v1alpha1/convert.go
  src/internal/api/v1beta1/convert.go
  src/internal/api/v1beta1/roundtrip_test.go
Due: goimports, lint

betterr tests
  src/api/convert/convert_test.go
Due: goimports, lint

parse ref
  src/internal/api/v1beta1/convert.go
Due: goimports, lint

fix refs
  src/api/convert/convert_test.go
  src/internal/api/v1alpha1/convert.go
Due: goimports, lint

docs and schema
  src/pkg/schema/zarf-v1beta1-component-schema.json
  src/pkg/schema/zarf-v1beta1-package-schema.json
Due: none

change to new strategy
  src/api/convert/convert_test.go
  src/api/v1beta1/component.go
  src/api/v1beta1/convert.go
  src/api/v1beta1/package.go
  src/internal/api/v1beta1/convert.go
Due: goimports, lint

convert test
  src/api/convert/convert_test.go
Due: goimports, lint

add tests
  src/api/convert/convert_test.go
Due: goimports, lint

package accessor load
  src/cmd/dev.go
  src/internal/api/v1beta1/validate_test.go
  src/pkg/packager/create.go
  src/pkg/packager/dev.go
  src/pkg/packager/find_images.go
  src/pkg/packager/inspect.go
  src/pkg/packager/layout/layout_test.go
  src/pkg/packager/lint.go
  src/pkg/packager/load/load.go
  src/pkg/packager/load/load_test.go
  src/pkg/packager/load/testdata/v1beta1-package/zarf.yaml
  src/pkg/packager/publish.go
  src/pkg/packager/values_preflight_test.go
Due: check-docs-and-schema, goimports, lint

refactor pkgcfg
  src/internal/pkgcfg/pkgcfg.go
  src/pkg/packager/load/load.go
Due: goimports, lint

feat: stop requiring version for localpath charts (#5080)
  examples/helm-charts/zarf.yaml
  src/internal/api/v1alpha1/validate.go
  src/internal/api/v1alpha1/validate_test.go
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/layout/assemble_test.go
  src/test/e2e/15_oci_compose_test.go
  src/test/packages/49-adopt-no-ns-template/zarf.yaml
  src/test/packages/49-adopt-ns-with-agent-ignore/zarf.yaml
Due: goimports, lint

to generic encoder
  src/internal/pkgcfg/pkgcfg.go
  src/internal/pkgcfg/pkgcfg_test.go
  src/pkg/packager/load/import.go
  src/pkg/packager/load/import_test.go
  src/pkg/packager/load/import_v1beta1_test.go
  src/pkg/packager/load/load.go
Due: goimports, lint

chore: initial AGENTS.md file (#5068)
  AGENTS.md
  Makefile
Due: none

feat(schema): support multiple API versions from a single schema file (#4949)
  Makefile
  site/astro.config.ts
  site/hack/build-versions.mjs
  site/package.json
  site/src/components/SchemaItemProperties.astro
  site/src/components/SchemaReference.astro
  site/src/content/docs/schema/v1beta1-package.mdx
  site/src/lib/schema.ts
  src/pkg/schema/generate.go
  src/pkg/schema/schema.go
  src/pkg/schema/schema_test.go
  src/pkg/schema/zarf.schema.json
Due: goimports, lint

wip
  site/src/content/docs/ref/package-values.mdx
  site/src/content/docs/ref/values.mdx
Due: none

vlaues tempaltes
  site/src/content/docs/ref/package-values.mdx
Due: none

package values
  site/src/content/docs/ref/package-values.mdx
  site/src/content/docs/ref/values.mdx
Due: none
