Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: check-merge-conflict
      - id: detect-aws-credentials
        args:
          - "--allow-missing-credentials"
      - id: detect-private-key
        exclude: "src/test/e2e/29_config_file_test.go"
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                src/internal/packager/images/testdata/.*|
                site/src/content/docs/commands/.*
            )$
      - id: fix-byte-order-marker
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
        exclude: site/src/content/docs/commands/.*
  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.4
    hooks:
      - id: fix-smartquotes
  - repo: local
    hooks:
      - id: check-docs-and-schema
        name: Check for outdated docs and Zarf schema
        entry: make test-docs-and-schema
        files: "^src/(config|cmd)/"
        types: [go]
        language: system
        pass_filenames: false
      - id: goimports
        name: goimports
        entry: golangci-lint fmt
        types: [go]
        language: golang
        pass_filenames: false
      - id: lint
        name: golangci-lint go lint
        entry: golangci-lint run
        types: [go]
        language: golang
        pass_filenames: false

component actions on create
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/assemble/assemble_test.go
Due: goimports, lint

onsuccess at the end
  src/pkg/packager/assemble/assemble.go
Due: goimports, lint

fix(create): run OnSuccess and OnFailure actions during create (#5406)
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/assemble/assemble_test.go
Due: goimports, lint

feat(signing): unify signing option handling (#5385)
  site/src/content/docs/commands/zarf_package_create.md
  src/cmd/component.go
  src/cmd/package.go
  src/cmd/package_test.go
  src/cmd/usage_test.go
  src/cmd/viper.go
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/create.go
  src/pkg/packager/create_test.go
  src/pkg/zoci/pull_test.go
  src/test/e2e/12_package_signing_test.go
Due: check-docs-and-schema, goimports, lint

feat(component): sign published manifests (#5386)
  src/cmd/component.go
  src/cmd/package_test.go
  src/pkg/component/publish.go
  src/pkg/component/publish_test.go
  src/pkg/oci/index.go
  src/pkg/oci/index_test.go
  src/test/e2e/15_component_publish_v1beta1_test.go
Due: check-docs-and-schema, goimports, lint

feat(package)!: move signing out of publish (#5387)
  site/src/content/docs/commands/zarf_package_publish.md
  src/cmd/package.go
  src/config/lang/english.go
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/publish.go
  src/pkg/packager/publish_test.go
  src/test/e2e/10_component_flavor_test.go
  src/test/e2e/50_oci_publish_deploy_test.go
Due: check-docs-and-schema, goimports, lint

fix: update linting for 1.27 go bump
  .github/workflows/scan-lint.yml
  src/cmd/zarf_tools_test.go
  src/internal/agent/hooks/argocd-repository_test.go
  src/internal/agent/http/proxy.go
  src/pkg/cluster/cluster_test.go
Due: check-docs-and-schema, goimports, lint

fix: cleanup temporary directory on error
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/assemble/assemble_test.go
Due: goimports, lint

remove sbom viewer from docs
  README.md
  site/src/content/docs/index.mdx
  site/src/content/docs/ref/sboms.mdx
  site/src/content/docs/tutorials/0-creating-a-zarf-package.mdx
  site/src/content/docs/tutorials/2-deploying-zarf-packages.mdx
Due: none

fix(assemble): cleanup temporary directory on error (#5407)
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/assemble/assemble_test.go
Due: goimports, lint

docs: remove sbom viewer (#5409)
  README.md
  site/src/content/docs/index.mdx
  site/src/content/docs/ref/sboms.mdx
  site/src/content/docs/tutorials/0-creating-a-zarf-package.mdx
  site/src/content/docs/tutorials/2-deploying-zarf-packages.mdx
Due: none

feat: migrate SignBlobOptions to a pointer
  src/cmd/package.go
  src/cmd/package_test.go
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/create.go
  src/pkg/packager/create_test.go
  src/pkg/packager/digest_test.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/layout/package_test.go
  src/pkg/packager/publish.go
  src/pkg/packager/publish_test.go
  src/pkg/signing/cosign.go
  src/pkg/signing/cosign_test.go
  src/pkg/zoci/pull_test.go
Due: check-docs-and-schema, goimports, lint

deprecated scripts
  src/api/package.go
Due: goimports, lint

deployed package check
  src/pkg/cluster/zarf.go
  src/pkg/cluster/zarf_test.go
Due: goimports, lint

known api versions
  src/api/api.go
  src/cmd/dev_upgrade.go
  src/pkg/cluster/zarf.go
Due: check-docs-and-schema, goimports, lint

unnecessary function
  src/internal/api/v1beta1/validate.go
Due: goimports, lint

valid resource path
  src/pkg/packager/load/import_v1beta1.go
  src/pkg/packager/load/import_v1beta1_test.go
  src/pkg/packager/load/package.go
Due: goimports, lint

valid resource path
  src/pkg/packager/load/package.go
Due: goimports, lint

feat!: migrate SignBlobOptions to a pointer (#5411)
  src/cmd/package.go
  src/cmd/package_test.go
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/create.go
  src/pkg/packager/create_test.go
  src/pkg/packager/digest_test.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/layout/package_test.go
  src/pkg/packager/publish.go
  src/pkg/packager/publish_test.go
  src/pkg/signing/cosign.go
  src/pkg/signing/cosign_test.go
  src/pkg/zoci/pull_test.go
Due: check-docs-and-schema, goimports, lint

more validation
  src/pkg/packager/load/import_v1beta1.go
  src/pkg/packager/load/import_v1beta1_test.go
Due: goimports, lint

feat(dev): add --components flag to dev inspect values-files
  site/src/content/docs/commands/zarf_dev_inspect_values-files.md
  src/cmd/dev.go
  src/cmd/dev_test.go
  src/pkg/packager/inspect.go
  src/test/e2e/00_use_cli_test.go
Due: check-docs-and-schema, goimports, lint

fix(values): preserve inferred types across null overlays
  src/cmd/dev.go
  src/pkg/value/generate.go
  src/test/e2e/14_zarf_package_generate_test.go
  src/test/packages/14-generate-schema/chart/values.yaml
  src/test/packages/14-generate-schema/common/chart-values.yaml
  src/test/packages/14-generate-schema/common/values.yaml
  src/test/packages/14-generate-schema/common/zarf.yaml
  src/test/packages/14-generate-schema/values.yaml
Due: check-docs-and-schema, goimports, lint

fix(values): preserve generated schema properties
  src/cmd/dev.go
  src/pkg/value/generate.go
  src/pkg/value/generate_test.go
  src/test/e2e/14_zarf_package_generate_test.go
  src/test/packages/14-generate-schema/chart/values.yaml
  src/test/packages/14-generate-schema/common/zarf.yaml
  src/test/packages/14-generate-schema/values.yaml
Due: check-docs-and-schema, goimports, lint

feature flag for artifact server
  src/pkg/feature/feature.go
  src/pkg/packager/deploy.go
  src/pkg/packager/deploy_test.go
  src/test/e2e/20_zarf_init_test.go
Due: goimports, lint

only print configured creds
  src/cmd/zarf_tools.go
  src/cmd/zarf_tools_test.go
Due: check-docs-and-schema, goimports, lint

publish component
  src/pkg/component/publish.go
  src/pkg/component/publish_test.go
  src/pkg/component/resource_normalizer.go
  src/pkg/packager/load/import_v1beta1.go
  src/pkg/packager/load/import_v1beta1_test.go
Due: goimports, lint

feat!: disable artifact server by default (#5417)
  src/pkg/feature/feature.go
  src/pkg/packager/deploy.go
  src/pkg/packager/deploy_test.go
  src/test/e2e/20_zarf_init_test.go
Due: goimports, lint

refactor(oci): generalize resource mount annotation
  src/pkg/component/publish.go
  src/pkg/component/publish_test.go
  src/pkg/packager/layout/oci.go
  src/pkg/packager/load/import_v1beta1.go
  src/pkg/packager/load/import_v1beta1_test.go
Due: goimports, lint

feat(package): store v1beta1 documentation and SBOMs as resources
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/assemble/assemble_test.go
  src/pkg/packager/assemble/sbom.go
  src/pkg/packager/assemble/sbom_test.go
  src/pkg/packager/layout/oci.go
  src/pkg/packager/layout/oci_test.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/layout/package_test.go
  src/pkg/packager/layout/resource.go
  src/pkg/packager/layout/resource_test.go
Due: goimports, lint

feat(oci): select granular package resources by key
  src/pkg/packager/load.go
  src/pkg/packager/pull.go
  src/pkg/zoci/common.go
  src/pkg/zoci/pull.go
  src/pkg/zoci/resource_test.go
Due: goimports, lint

feat(package): selectively pull beta documentation resources
  src/cmd/package.go
Due: check-docs-and-schema, goimports, lint

feat(package): select SBOM resources by key
  site/src/content/docs/commands/zarf_package_inspect_sbom.md
  src/cmd/package.go
Due: check-docs-and-schema, goimports, lint

feat(v1beta1): store multiple API versions in Deployed packages (#5250)
  src/api/api.go
  src/api/convert/convert_test.go
  src/api/package.go
  src/cmd/crane.go
  src/cmd/dev_upgrade.go
  src/cmd/package.go
  src/cmd/zarf_tools_test.go
  src/internal/api/v1alpha1/convert.go
  src/internal/api/v1beta1/convert.go
  src/internal/packager/helm/zarf.go
  src/pkg/cluster/zarf.go
  src/pkg/cluster/zarf_test.go
  src/pkg/packager/deploy.go
  src/pkg/packager/load.go
  src/pkg/packager/load_test.go
  src/pkg/packager/remove.go
  src/pkg/state/state.go
  src/pkg/state/state_test.go
Due: check-docs-and-schema, goimports, lint

fix flakes
  src/pkg/component/publish_test.go
  src/pkg/packager/load/import_v1beta1_test.go
Due: goimports, lint

skip connected deploys
  src/cmd/crane.go
  src/cmd/crane_test.go
  src/test/e2e/47_connected_deploy_test.go
Due: check-docs-and-schema, goimports, lint

to oras
  src/cmd/crane_test.go
Due: check-docs-and-schema, goimports, lint

improve test
  src/cmd/crane_test.go
  src/test/testutil/registry.go
Due: check-docs-and-schema, goimports, lint

feat(dev): add --components flag to dev inspect values-files (#5413)
  site/src/content/docs/commands/zarf_dev_inspect_values-files.md
  src/cmd/dev.go
  src/cmd/dev_test.go
  src/pkg/packager/inspect.go
  src/test/e2e/00_use_cli_test.go
Due: check-docs-and-schema, goimports, lint

use original definition for with pkg
  src/pkg/packager/deploy.go
  src/pkg/packager/inspect.go
  src/pkg/packager/inspect_test.go
  src/pkg/packager/layout/package.go
Due: goimports, lint

feat: introduce src/pkg/oci and src/pkg/helpers
  src/pkg/helpers/files.go
  src/pkg/helpers/files_test.go
  src/pkg/helpers/misc.go
  src/pkg/helpers/misc_test.go
  src/pkg/helpers/url.go
  src/pkg/helpers/url_test.go
  src/pkg/oci/cache/cache.go
  src/pkg/oci/common.go
  src/pkg/oci/fetch.go
  src/pkg/oci/manifest.go
  src/pkg/oci/pull.go
  src/pkg/oci/push.go
  src/pkg/oci/utils.go
Due: goimports, lint
