Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

check-docs-and-schema:
  name: Check for outdated docs and Zarf schema
  entry: make test-docs-and-schema
  language: system
  pass_filenames: false

goimports:
  name: goimports
  entry: golangci-lint fmt
  language: golang
  pass_filenames: false

lint:
  name: golangci-lint go lint
  entry: golangci-lint run
  language: golang
  pass_filenames: false

simplified return
  src/internal/packager/helm/chart.go
Due: goimports, lint

fix: inputting the same credentials as zarf state should not re-generate passwords (#4523)
  src/pkg/state/state.go
  src/pkg/state/state_test.go
Due: goimports, lint

fix argocd helm chart
  examples/argocd/applicationset/values.yaml
  examples/argocd/apps/values.yaml
  examples/argocd/zarf.yaml
  src/pkg/packager/deploy.go
Due: goimports, lint

fix(site): update npm dependencies and fix broken links
  site/package-lock.json
  site/package.json
  site/src/content/docs/faq.mdx
Due: none

chore(docs): updating version to kickoff netlify build
  site/src/content/docs/ref/github-action.mdx
Due: none

chore(docs): split reference docs from tutorial
  site/src/content/docs/ref/package-signing.mdx
  site/src/content/docs/tutorials/5-package-signing-and-verification.mdx
Due: none

feat(sign): support overwrite validation in the SDK utils
  src/cmd/package.go
  src/pkg/packager/layout/package.go
  src/pkg/utils/cosign.go
Due: check-docs-and-schema, goimports, lint

fix argocd test
  src/test/e2e/22_git_and_gitops_test.go
Due: goimports, lint

chore(deps): npm updates for /site (#4526)
  site/package-lock.json
  site/package.json
  site/src/content/docs/faq.mdx
  site/src/content/docs/ref/github-action.mdx
Due: none

fix(deploy): override actions wait commands
  src/api/v1alpha1/component.go
  src/api/v1alpha1/package.go
  src/pkg/packager/packager_test.go
  src/test/packages/40-namespace-override/zarf.yaml
Due: goimports, lint

replace adr with zeps
  CONTRIBUTING.md
Due: none

proper shim
  .github/workflows/test-shim.yml
Due: none

fix(e2e): update testing to correct cm name
  src/test/packages/40-namespace-override/zarf.yaml
Due: none

historical purposes
  CONTRIBUTING.md
Due: none

docs: replace adr reference with zep reference (#4532)
  .github/workflows/test-shim.yml
  CONTRIBUTING.md
Due: none

upgrade to latest helm patch
  go.mod
  go.sum
Due: none

feat(load): support explicit VerificationStrategy
  src/pkg/packager/load.go
  src/pkg/packager/pull.go
Due: goimports, lint

feat(load): unit testing and broader load coverage
  src/pkg/packager/load.go
  src/pkg/packager/load_test.go
  src/pkg/packager/pull.go
Due: goimports, lint

internal validate package specifically for v1alpha1 packages
  src/api/v1alpha1/component.go
  src/internal/api/v1alpha1/validate.go
  src/internal/api/v1alpha1/validate_test.go
  src/pkg/lint/schema.go
  src/pkg/lint/schema_test.go
  src/pkg/packager/filters/os_test.go
  src/pkg/packager/generate.go
  src/pkg/packager/load.go
  src/pkg/packager/load/load.go
  src/pkg/packager/load/load_test.go
  src/pkg/state/state.go
Due: goimports, lint

feat(load): remove verify boolean from options
  src/cmd/initialize.go
  src/cmd/package.go
  src/pkg/packager/create.go
  src/pkg/packager/load.go
  src/pkg/packager/load_test.go
  src/pkg/packager/pull.go
Due: check-docs-and-schema, goimports, lint

pre-install hook
  src/test/e2e/46_helm_hooks_test.go
  src/test/packages/46-helm-hooks/chart/Chart.yaml
  src/test/packages/46-helm-hooks/chart/templates/configmap.yaml
  src/test/packages/46-helm-hooks/chart/templates/pre-install-hook.yaml
  src/test/packages/46-helm-hooks/zarf.yaml
Due: goimports, lint

fix(helm): preserve block scalar semantics
  src/internal/packager/helm/post-render.go
Due: goimports, lint

fix(cmd): deduplicate strategy definition
  src/cmd/package.go
Due: check-docs-and-schema, goimports, lint

post install test
  src/test/e2e/46_helm_hooks_test.go
  src/test/packages/46-helm-hooks/chart/templates/post-install-hook.yaml
Due: goimports, lint

fix(init): support for deduplication on init
  src/cmd/initialize.go
Due: check-docs-and-schema, goimports, lint

include helm hooks
  site/src/content/docs/ref/values.mdx
  src/internal/packager/helm/post-render.go
  src/internal/packager/helm/template.go
Due: goimports, lint

images from test hooks should now be included
  src/pkg/packager/find_images_test.go
  src/test/e2e/13_find_images_test.go
Due: goimports, lint

test pre-install hook
  src/test/e2e/46_helm_hooks_test.go
Due: goimports, lint

move test
  src/test/e2e/25_helm_test.go
  src/test/e2e/46_helm_hooks_test.go
  src/test/packages/25-helm-hooks/chart/Chart.yaml
  src/test/packages/25-helm-hooks/chart/templates/configmap.yaml
  src/test/packages/25-helm-hooks/chart/templates/post-install-hook.yaml
  src/test/packages/25-helm-hooks/zarf.yaml
Due: goimports, lint

pre-commit hook
  src/test/packages/25-helm-hooks/chart/templates/pre-install-hook.yaml
Due: none

use dry run server
  src/internal/packager/helm/template.go
Due: goimports, lint

back to client dry run
  src/internal/packager/helm/template.go
Due: goimports, lint

move internal/value to pkg/value
  src/cmd/dev.go
  src/cmd/package.go
  src/internal/template/template.go
  src/internal/template/template_test.go
  src/pkg/packager/actions/actions.go
  src/pkg/packager/actions/actions_test.go
  src/pkg/packager/deploy.go
  src/pkg/packager/find_images.go
  src/pkg/packager/inspect.go
  src/pkg/packager/inspect_test.go
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/load/load.go
  src/pkg/packager/packager.go
  src/pkg/packager/packager_test.go
  src/pkg/packager/remove.go
  src/pkg/value/testdata/invalid/malformed.yaml
  src/pkg/value/testdata/invalid/tabs.yaml
  src/pkg/value/testdata/schema/invalid-range.yaml
  src/pkg/value/testdata/schema/invalid-values.yaml
  src/pkg/value/testdata/schema/simple.schema.json
  src/pkg/value/testdata/schema/valid-values.yaml
  src/pkg/value/testdata/valid/arrays.yaml
  src/pkg/value/testdata/valid/complex.yaml
  src/pkg/value/testdata/valid/empty.yaml
  src/pkg/value/testdata/valid/merge-overwrite.yaml
  src/pkg/value/testdata/valid/merge1.yaml
  src/pkg/value/testdata/valid/merge2.yaml
  src/pkg/value/testdata/valid/nulls.yaml
  src/pkg/value/testdata/valid/simple.yaml
  src/pkg/value/value.go
  src/pkg/value/value_test.go
Due: check-docs-and-schema, goimports, lint

make docs and schema
  site/src/content/docs/commands/zarf_init.md
  site/src/content/docs/commands/zarf_package_deploy.md
  site/src/content/docs/commands/zarf_package_inspect_manifests.md
  site/src/content/docs/commands/zarf_package_inspect_values-files.md
  site/src/content/docs/commands/zarf_package_remove.md
Due: none

feat(load): support explicit VerificationStrategy (#4540)
  src/cmd/initialize.go
  src/cmd/package.go
  src/pkg/packager/create.go
  src/pkg/packager/load.go
  src/pkg/packager/load_test.go
  src/pkg/packager/pull.go
Due: check-docs-and-schema, goimports, lint

test templating
  src/test/e2e/25_helm_test.go
  src/test/packages/25-helm-hooks/chart/templates/post-install-hook.yaml
  src/test/packages/25-helm-hooks/chart/templates/pre-install-hook.yaml
  src/test/packages/25-helm-hooks/zarf.yaml
Due: goimports, lint

chore(docs): 2026 roadmap (#4525)
  site/src/content/docs/roadmap.mdx
Due: none

rename create-set-variables to pkg templates in cmd layer
  src/cmd/dev.go
  src/cmd/dev_test.go
  src/config/lang/english.go
Due: check-docs-and-schema, goimports, lint

make docs-and-schema
  site/src/content/docs/commands/zarf_dev_deploy.md
  site/src/content/docs/commands/zarf_dev_find-images.md
  site/src/content/docs/commands/zarf_dev_inspect_manifests.md
  site/src/content/docs/commands/zarf_dev_inspect_values-files.md
  site/src/content/docs/commands/zarf_dev_lint.md
Due: none

name
  src/pkg/packager/load/load.go
Due: goimports, lint

Path conditions:
  check-docs-and-schema: any of: ^src/(config|cmd)/ and \.go$
  goimports: any of: \.go$
  lint: any of: \.go$
