Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: check-merge-conflict
      - id: detect-aws-credentials
        args:
          - "--allow-missing-credentials"
      - id: detect-private-key
        exclude: "src/test/e2e/29_config_file_test.go"
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                src/internal/packager/images/testdata/.*|
                site/src/content/docs/commands/.*
            )$
      - id: fix-byte-order-marker
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
        exclude: site/src/content/docs/commands/.*
  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.4
    hooks:
      - id: fix-smartquotes
  - repo: local
    hooks:
      - id: check-docs-and-schema
        name: Check for outdated docs and Zarf schema
        entry: make test-docs-and-schema
        files: "^src/(config|cmd)/"
        types: [go]
        language: system
        pass_filenames: false
      - id: goimports
        name: goimports
        entry: golangci-lint fmt
        types: [go]
        language: golang
        pass_filenames: false
      - id: lint
        name: golangci-lint go lint
        entry: golangci-lint run
        types: [go]
        language: golang
        pass_filenames: false

fix(k8s): update from deprecated field - clear managed fields during comparison
  src/pkg/cluster/secrets_test.go
Due: goimports, lint

fix: use fully qualified reference during image archive duplication check (#4489)
  site/src/content/docs/ref/components.mdx
  src/pkg/lint/validate.go
  src/pkg/lint/validate_test.go
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/layout/assemble_test.go
  src/test/e2e/44_image_archive_test.go
Due: goimports, lint

move archive validation to assemble
  src/pkg/lint/validate.go
  src/pkg/lint/validate_test.go
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/layout/assemble_test.go
Due: goimports, lint

lint
  src/pkg/lint/validate_test.go
Due: goimports, lint

validate
  src/pkg/packager/layout/assemble.go
Due: goimports, lint

fix: move image archive validation to assemble (#4490)
  src/pkg/lint/validate.go
  src/pkg/lint/validate_test.go
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/layout/assemble_test.go
Due: goimports, lint

test: use arch of local machine in external tests (#4488)
  src/test/external/ext_in_cluster_test.go
  src/test/external/ext_out_cluster_test.go
Due: goimports, lint

feat!: update injector to respect arch of package (#4405)
  src/pkg/cluster/injector.go
  src/pkg/cluster/injector_test.go
  src/pkg/packager/deploy.go
Due: goimports, lint

registry proxy
  .github/workflows/test-proxy.yml
  Makefile
  src/test/proxy/main_test.go
  src/test/proxy/proxy_test.go
Due: goimports, lint

use service name over cluster ip
  src/pkg/cluster/secrets.go
Due: goimports, lint

fix unit tests
  src/internal/agent/hooks/flux-helmrepo_test.go
  src/internal/agent/hooks/flux-ocirepo_test.go
Due: goimports, lint

feat: add applicationset example and docs
  examples/argocd/applicationset/values.yaml
  examples/argocd/baseline/values.yaml
  examples/argocd/zarf.yaml
  site/src/content/docs/ref/init-package.mdx
Due: none

feat: add support for Argo CD ApplicationSets
  packages/zarf-agent/chart/templates/webhook.yaml
  src/internal/agent/hooks/argocd-applicationset.go
  src/internal/agent/hooks/argocd-applicationset_test.go
  src/internal/agent/start.go
Due: goimports, lint

feat(dev): support for specific definition file on dev commands
  src/pkg/packager/create.go
  src/pkg/packager/inspect.go
  src/pkg/packager/load/load.go
Due: goimports, lint

move to latest k3s with bug solved
  .github/workflows/test-e2e.yml
  hack/configmap-test/.gitignore
  hack/configmap-test/README.md
  hack/configmap-test/go.mod
  hack/configmap-test/go.sum
  hack/configmap-test/main.go
  hack/configmap-test/script.sh
  packages/distros/k3s/zarf.yaml
  packages/zarf-registry/zarf.yaml
  script.sh
  src/internal/packager/helm/chart.go
  src/test/e2e/20_zarf_init_test.go
  zarf.yaml
Due: goimports, lint

better error message
  src/internal/healthchecks/healthchecks.go
Due: goimports, lint

chore(dependencies): update k3s version to 1.34.3 (#4435)
  .github/workflows/test-e2e.yml
  packages/distros/k3s/zarf.yaml
  src/internal/healthchecks/healthchecks.go
  src/internal/healthchecks/healthchecks_test.go
  src/pkg/packager/layout/assemble.go
  src/test/e2e/20_zarf_init_test.go
Due: goimports, lint

log git repo clone
  src/internal/git/repository.go
Due: goimports, lint

feat: log git repo clone (#4498)
  src/internal/git/repository.go
Due: goimports, lint

update data injections
  site/src/content/docs/best-practices/data-injections-migration.mdx
Due: none

alpine
  site/src/content/docs/best-practices/data-injections-migration.mdx
Due: none

deprecate data injections
  src/api/v1alpha1/component.go
  src/internal/pkgcfg/pkgcfg.go
  src/pkg/schema/zarf-v1alpha1-schema.json
  zarf.schema.json
Due: goimports, lint

moving data injections
  src/test/e2e/23_data_injection_test.go
  src/test/packages/23-data-injections/manifests/deployment.yaml
  src/test/packages/23-data-injections/manifests/persistence.yaml
  src/test/packages/23-data-injections/manifests/service.yaml
  src/test/packages/23-data-injections/zarf.yaml
  src/test/packages/23-data-injections/zim-data/.gitkeep
Due: goimports, lint

kiwix example change
  examples/kiwix/.gitignore
  examples/kiwix/Dockerfile
  examples/kiwix/manifests/deployment.yaml
  examples/kiwix/zarf.yaml
Due: none

kiwix example change
  examples/kiwix/.gitignore
  examples/kiwix/zarf.yaml
Due: none

complete message
  examples/kiwix/zarf.yaml
  src/internal/pkgcfg/pkgcfg.go
Due: goimports, lint

deprecate data injections in docs
  site/src/content/docs/ref/components.mdx
Due: none

cleaner verbiage
  site/src/content/docs/ref/components.mdx
Due: none

fix grammar issues
  examples/kiwix/zarf.yaml
  site/src/content/docs/best-practices/data-injections-migration.mdx
Due: none

unnecessary comment
  examples/kiwix/Dockerfile
Due: none

spellcheck
  site/src/content/docs/best-practices/data-injections-migration.mdx
Due: none

kiwix
  site/src/content/docs/best-practices/data-injections-migration.mdx
Due: none

emptydir strategy
  examples/kiwix/manifests/deployment.yaml
  examples/kiwix/manifests/persistence.yaml
  examples/kiwix/zarf.yaml
  site/src/content/docs/best-practices/data-injections-migration.mdx
Due: none

fix(dev): update pathing for dev commands
  src/cmd/dev.go
  src/pkg/packager/update.go
Due: check-docs-and-schema, goimports, lint

move back to using clusterip
  src/internal/agent/hooks/flux-helmrepo_test.go
  src/internal/agent/hooks/flux-ocirepo_test.go
  src/pkg/cluster/secrets.go
Due: goimports, lint

add unit tests
  src/internal/agent/hooks/flux-ocirepo_test.go
  src/internal/agent/hooks/utils_test.go
Due: goimports, lint

make this work with clusterip
  .github/workflows/test-proxy.yml
  src/internal/agent/hooks/flux-ocirepo_test.go
  src/pkg/cluster/secrets.go
  src/pkg/transform/image.go
Due: goimports, lint

fix unit tests
  src/pkg/lint/rules_test.go
Due: goimports, lint

remove some extras from templating best practices
  site/src/content/docs/best-practices/templating.mdx
Due: none

remove shadowed var loops
  src/internal/agent/hooks/argocd-application_test.go
  src/internal/agent/hooks/argocd-appproject_test.go
  src/internal/agent/hooks/argocd-repository_test.go
  src/internal/agent/hooks/common_test.go
  src/internal/agent/hooks/flux-gitrepo_test.go
  src/internal/agent/hooks/flux-helmrepo_test.go
  src/internal/agent/hooks/flux-ocirepo_test.go
  src/internal/agent/hooks/pods_test.go
  src/pkg/cluster/distro_test.go
  src/pkg/cluster/tunnel_test.go
  src/pkg/lint/findings_test.go
  src/pkg/lint/validate_test.go
  src/pkg/packager/load_test.go
  src/pkg/state/state_test.go
  src/pkg/utils/network_test.go
Due: goimports, lint
