Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

check-docs-and-schema:
  name: Check for outdated docs and Zarf schema
  entry: make test-docs-and-schema
  language: system
  pass_filenames: false

goimports:
  name: goimports
  entry: golangci-lint fmt
  language: golang
  pass_filenames: false

lint:
  name: golangci-lint go lint
  entry: golangci-lint run
  language: golang
  pass_filenames: false

fix: skeleton packages included only one architecture per component
  src/pkg/packager/load/import.go
  src/pkg/packager/load/import_test.go
  src/pkg/packager/load/load.go
  src/pkg/packager/publish.go
Due: goimports, lint

introduce zarf dev template
  site/src/content/docs/commands/zarf_dev.md
  site/src/content/docs/commands/zarf_dev_template.md
  src/cmd/dev.go
  src/cmd/dev_template.go
  src/cmd/dev_template_test.go
  src/test/e2e/00_use_cli_test.go
Due: check-docs-and-schema, goimports, lint

add test
  src/cmd/dev_template_test.go
Due: check-docs-and-schema, goimports, lint

fix: abstract skeletons from load packages
  src/pkg/packager/load/load.go
  src/pkg/packager/publish_test.go
  src/pkg/packager/testdata/skeleton-multi-arch/zarf.yaml
Due: goimports, lint

hide command
  site/src/content/docs/commands/zarf_dev.md
  site/src/content/docs/commands/zarf_dev_template.md
  src/cmd/dev_template.go
Due: check-docs-and-schema, goimports, lint

chore(deps): bump astro from 7.0.7 to 7.2.0 in /site
  site/package-lock.json
  site/package.json
Due: none

generated
  src/pkg/packager/layout/layout.go
  src/pkg/packager/layout/path.go
  src/pkg/packager/layout/path_test.go
Due: goimports, lint

chore(deps): bump astro from 7.0.7 to 7.2.0 in /site (#5209)
  site/package-lock.json
  site/package.json
Due: none

zarf dev template
  src/cmd/dev_template.go
  src/cmd/dev_template_test.go
Due: check-docs-and-schema, goimports, lint

rework filters
  src/api/api.go
  src/api/api_test.go
  src/cmd/package.go
  src/pkg/packager/deploy.go
  src/pkg/packager/dev.go
  src/pkg/packager/filters/strat.go
  src/pkg/packager/filters/strat_test.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/load.go
  src/pkg/packager/pull.go
  src/pkg/packager/remove.go
Due: check-docs-and-schema, goimports, lint

definition
  src/api/api.go
  src/api/api_test.go
  src/pkg/packager/filters/strat.go
  src/pkg/packager/filters/strat_test.go
Due: goimports, lint

api
  src/api/api.go
  src/api/api_test.go
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/assemble/assemble_test.go
  src/pkg/packager/layout/package.go
Due: goimports, lint

comment
  src/api/api.go
Due: goimports, lint

set build data
  src/api/api.go
  src/api/api_test.go
  src/pkg/packager/assemble/assemble.go
Due: goimports, lint

assemble
  src/api/api.go
  src/api/api_test.go
  src/pkg/packager/assemble/assemble.go
Due: goimports, lint

api
  src/api/api.go
  src/api/api_test.go
Due: goimports, lint

fix build data
  src/api/api.go
  src/api/api_test.go
Due: goimports, lint

sipmlify test
  src/pkg/packager/filters/deploy_test.go
  src/pkg/packager/filters/select_test.go
  src/pkg/packager/filters/strat_test.go
  src/pkg/packager/filters/utils_test.go
Due: goimports, lint

prevent namespace override
  src/api/api.go
Due: goimports, lint

unnecessary test
  src/cmd/dev_template_test.go
Due: check-docs-and-schema, goimports, lint

test
  src/cmd/dev_template_test.go
Due: check-docs-and-schema, goimports, lint

template api version
  src/cmd/dev_template.go
  src/cmd/dev_template_test.go
Due: check-docs-and-schema, goimports, lint

dev template
  src/cmd/dev_template.go
  src/cmd/dev_template_test.go
Due: check-docs-and-schema, goimports, lint

viper config
  src/cmd/dev.go
  src/cmd/dev_template.go
  src/cmd/viper.go
Due: check-docs-and-schema, goimports, lint

path
  src/pkg/packager/layout/path.go
Due: goimports, lint

string list
  src/cmd/dev_template.go
Due: check-docs-and-schema, goimports, lint

refactor
  src/cmd/dev_template.go
Due: check-docs-and-schema, goimports, lint

sourcepath
  src/cmd/dev_template.go
Due: check-docs-and-schema, goimports, lint

refactor!: move template out of internal
  .prekignore
  src/internal/template/testdata/invalid/input.yaml
  src/pkg/packager/actions/actions.go
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/deploy.go
  src/pkg/packager/find_images.go
  src/pkg/packager/inspect.go
  src/pkg/packager/remove.go
  src/pkg/packager/template/refs.go
  src/pkg/packager/template/refs_test.go
  src/pkg/packager/template/template.go
  src/pkg/packager/template/template_test.go
  src/pkg/packager/template/testdata/configmap/expected.yaml
  src/pkg/packager/template/testdata/configmap/input.yaml
  src/pkg/packager/template/testdata/constants/expected.yaml
  src/pkg/packager/template/testdata/constants/input.yaml
  src/pkg/packager/template/testdata/deployment/expected.yaml
  src/pkg/packager/template/testdata/deployment/input.yaml
  src/pkg/packager/template/testdata/invalid/input.yaml
  src/pkg/packager/template/testdata/sprig-basic/expected.yaml
  src/pkg/packager/template/testdata/sprig-basic/input.yaml
  src/pkg/packager/template/testdata/sprig-functions/expected.yaml
  src/pkg/packager/template/testdata/sprig-functions/input.yaml
  src/pkg/packager/values_preflight.go
Due: goimports, lint

Apply suggestions from code review
  src/cmd/dev_template.go
Due: check-docs-and-schema, goimports, lint

hidden
  src/cmd/dev_template.go
Due: check-docs-and-schema, goimports, lint

pull out extension
  src/cmd/dev_template.go
Due: check-docs-and-schema, goimports, lint

remove absolete function
  src/api/v1alpha1/package.go
  src/api/v1alpha1/package_test.go
  src/pkg/packager/packager.go
  src/pkg/packager/packager_test.go
Due: goimports, lint

api test
  src/api/api_test.go
  src/pkg/packager/packager_test.go
Due: goimports, lint

Update src/pkg/packager/load.go
  src/pkg/packager/load.go
Due: goimports, lint

add back named return
  src/pkg/packager/load.go
Due: goimports, lint

injector image flag
  site/src/content/docs/commands/zarf_init.md
  src/cmd/initialize.go
  src/cmd/viper.go
  src/pkg/cluster/injector.go
  src/pkg/cluster/injector_test.go
  src/pkg/packager/deploy.go
  src/pkg/packager/deploy_test.go
Due: check-docs-and-schema, goimports, lint

Path conditions:
  check-docs-and-schema: any of: ^src/(config|cmd)/ and \.go$
  goimports: any of: \.go$
  lint: any of: \.go$
