Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

check-docs-and-schema:
  name: Check for outdated docs and Zarf schema
  entry: make test-docs-and-schema
  language: system
  pass_filenames: false

goimports:
  name: goimports
  entry: golangci-lint fmt
  language: golang
  pass_filenames: false

lint:
  name: golangci-lint go lint
  entry: golangci-lint run
  language: golang
  pass_filenames: false

add wait package
  src/pkg/wait/wait.go
  src/pkg/wait/wait_test.go
Due: goimports, lint

add back interval
  src/pkg/wait/wait.go
  src/pkg/wait/wait_test.go
Due: goimports, lint

feat(package): allow namespace override by matching name
  src/api/v1alpha1/component.go
  src/api/v1alpha1/package.go
  src/api/v1alpha1/package_test.go
  src/pkg/packager/packager.go
  src/pkg/packager/packager_test.go
Due: goimports, lint

docs: fix grammatical error in OnlyHasImageLayers doc string
  src/pkg/images/common.go
Due: goimports, lint

docs: fix grammatical error in OnlyHasImageLayers doc comment (#4552)
  src/pkg/images/common.go
Due: goimports, lint

restructure code
  src/pkg/packager/actions/actions.go
Due: goimports, lint

eliminate shell out to wait
  go.mod
  src/cmd/wait.go
  src/pkg/packager/actions/actions.go
  src/pkg/wait/wait.go
  src/pkg/wait/wait_test.go
Due: check-docs-and-schema, goimports, lint

fix(sign): overwrite workflow and docs
  site/src/content/docs/ref/package-signing.mdx
  site/src/content/docs/tutorials/5-package-signing-and-verification.mdx
  src/cmd/package.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/layout/package_test.go
  src/pkg/packager/publish.go
  src/pkg/utils/cosign.go
Due: check-docs-and-schema, goimports, lint

remove duplicate flag
  src/cmd/wait.go
  src/pkg/packager/actions/actions.go
  src/pkg/wait/wait.go
Due: check-docs-and-schema, goimports, lint

restructure arg order
  src/cmd/wait.go
  src/pkg/packager/actions/actions.go
  src/pkg/wait/wait.go
Due: check-docs-and-schema, goimports, lint

update dos games to 1.3.0
  .github/workflows/publish-application-packages.yml
  Makefile
  examples/dos-games/zarf.yaml
  src/test/e2e/05_tarball_test.go
  src/test/e2e/06_create_sbom_test.go
  src/test/e2e/25_helm_test.go
  src/test/e2e/26_simple_packages_test.go
  src/test/e2e/31_checksum_and_signature_test.go
  src/test/e2e/32_build_machine_info_test.go
Due: goimports, lint

rename checksum file
  hack/examples-checksums/zarf-package-dos-games-amd64-1.3.0.txt
Due: none

clarify data injections deprecation timeline
  site/src/content/docs/best-practices/data-injections-migration.mdx
Due: none

of the schema
  site/src/content/docs/best-practices/data-injections-migration.mdx
Due: none

chore: update dos games package 1.3.0 (#4555)
  .github/workflows/publish-application-packages.yml
  Makefile
  examples/dos-games/zarf.yaml
  hack/examples-checksums/zarf-package-dos-games-amd64-1.3.0.txt
  src/test/e2e/05_tarball_test.go
  src/test/e2e/06_create_sbom_test.go
  src/test/e2e/25_helm_test.go
  src/test/e2e/26_simple_packages_test.go
  src/test/e2e/31_checksum_and_signature_test.go
  src/test/e2e/32_build_machine_info_test.go
Due: goimports, lint

update dos-games references to 1.3
  examples/composable-packages/zarf.yaml
  site/src/content/docs/commands/zarf_package_pull.md
  site/src/content/docs/getting-started/index.mdx
  site/src/content/docs/ref/deploy.mdx
  site/src/content/docs/tutorials/3-deploy-a-retro-arcade.mdx
  src/config/lang/english.go
  src/test/e2e/05_tarball_test.go
Due: check-docs-and-schema, goimports, lint

docs: clarify data injections deprecation timeline (#4556)
  site/src/content/docs/best-practices/data-injections-migration.mdx
Due: none

update oci dir sha
  src/test/e2e/09_component_compose_test.go
Due: goimports, lint

split command up at CLI level
  site/src/content/docs/commands/zarf_tools.md
  site/src/content/docs/commands/zarf_tools_wait-for.md
  src/cmd/tools.go
  src/cmd/wait.go
  src/config/lang/english.go
Due: check-docs-and-schema, goimports, lint

docs and schema
  site/src/content/docs/commands/zarf_tools_wait-for-network.md
  site/src/content/docs/commands/zarf_tools_wait-for-resource.md
Due: none

chore: update dos-games references to 1.3 (#4557)
  examples/composable-packages/zarf.yaml
  site/src/content/docs/commands/zarf_package_pull.md
  site/src/content/docs/getting-started/index.mdx
  site/src/content/docs/ref/deploy.mdx
  site/src/content/docs/tutorials/3-deploy-a-retro-arcade.mdx
  src/config/lang/english.go
  src/test/e2e/05_tarball_test.go
  src/test/e2e/09_component_compose_test.go
Due: check-docs-and-schema, goimports, lint

WIP, first iteration of kstatus wait-for
  src/cmd/wait.go
  src/config/lang/english.go
  src/internal/healthchecks/healthchecks.go
  src/pkg/packager/actions/actions.go
  src/pkg/wait/wait.go
Due: check-docs-and-schema, goimports, lint

resolve kinds
  src/pkg/wait/wait.go
Due: goimports, lint

feat(release): add release please workflow and docs
  .github/workflows/commitlint.yml
  .github/workflows/release-please.yml
  .release-please-manifest.json
  RELEASES.md
  release-please-config.json
Due: none

use opts with tests
  src/pkg/wait/wait.go
  src/pkg/wait/wait_resource_test.go
Due: goimports, lint

use opts with tests
  src/pkg/wait/wait_resource_test.go
Due: goimports, lint

add findimagesinarchive, unit tests, and add found images to FindImages output
  src/pkg/images/unpack.go
  src/pkg/images/unpack_test.go
  src/pkg/packager/find_images.go
Due: goimports, lint

fix linting issues
  src/pkg/images/unpack.go
  src/pkg/packager/find_images_test.go
Due: goimports, lint

update help text, create PackageDefinitionWithoutValidation, add placeholder images list, add skipimagearchivesimages definition option
  src/config/lang/english.go
  src/pkg/packager/find_images.go
  src/pkg/packager/load/load.go
Due: check-docs-and-schema, goimports, lint

remove PackageDefinitionWithoutValidation, unexport validate(), add DefinitionOption for skipping imagearchives images schema findings
  src/pkg/packager/find_images.go
  src/pkg/packager/load/load.go
Due: goimports, lint

update docs
  site/src/content/docs/commands/zarf_dev.md
  site/src/content/docs/commands/zarf_dev_find-images.md
Due: none

update unit test
  src/pkg/packager/find_images_test.go
Due: goimports, lint

update find_images unit tests, add test for image archive
  src/pkg/packager/find_images.go
  src/pkg/packager/find_images_test.go
  src/pkg/packager/testdata/find-images/image-archives/scratch.tar
  src/pkg/packager/testdata/find-images/image-archives/zarf.yaml
Due: goimports, lint

remote options
  src/cmd/cmd.go
  src/cmd/dev.go
  src/cmd/package.go
  src/cmd/root.go
  src/internal/packager/helm/repo.go
  src/internal/packager/helm/template.go
  src/internal/packager/helm/template_test.go
  src/pkg/images/common.go
  src/pkg/packager/create.go
  src/pkg/packager/deploy.go
  src/pkg/packager/dev.go
  src/pkg/packager/find_images.go
  src/pkg/packager/inspect.go
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/lint.go
  src/pkg/packager/load.go
  src/pkg/packager/load/import.go
  src/pkg/packager/load/import_test.go
  src/pkg/packager/load/load.go
  src/pkg/packager/mirror.go
  src/pkg/packager/packager.go
  src/pkg/packager/publish.go
  src/pkg/packager/publish_test.go
  src/pkg/packager/pull.go
  src/pkg/zoci/common.go
  src/pkg/zoci/pull_test.go
  src/types/runtime.go
Due: check-docs-and-schema, goimports, lint

fix(docs): resolve documentation revisions
  site/src/content/docs/ref/package-signing.mdx
Due: none

feat: add ability to supply custom init package
  site/src/content/docs/commands/zarf_init.md
  src/cmd/initialize.go
  src/config/lang/english.go
Due: check-docs-and-schema, goimports, lint

updates
  .github/workflows/test-proxy.yml
  src/internal/agent/hooks/flux-helmrepo.go
Due: goimports, lint

managed by zarf labels
  src/pkg/cluster/cluster.go
Due: goimports, lint

feat: add OCI support for Argo CD sources
  src/internal/agent/hooks/argocd-application.go
  src/internal/agent/hooks/argocd-application_test.go
  src/internal/agent/hooks/argocd-appproject.go
  src/internal/agent/hooks/argocd-appproject_test.go
  src/internal/agent/hooks/argocd-repository.go
  src/internal/agent/hooks/argocd-repository_test.go
  src/internal/agent/hooks/common.go
  src/internal/agent/hooks/flux-gitrepo.go
  src/internal/agent/hooks/flux-ocirepo.go
Due: goimports, lint

feat: refactor, add tests and docs
  examples/argocd/baseline/values.yaml
  examples/argocd/oci-helm/values.yaml
  examples/argocd/oci-manifests/values.yaml
  examples/argocd/zarf.yaml
  src/internal/agent/hooks/argocd-application.go
  src/internal/agent/hooks/argocd-application_test.go
  src/internal/agent/hooks/argocd-appproject_test.go
  src/internal/agent/hooks/argocd-repository.go
  src/internal/agent/hooks/argocd-repository_test.go
  src/test/e2e/22_git_and_gitops_test.go
  src/test/external/ext_in_cluster_test.go
  src/test/external/ext_out_cluster_test.go
Due: goimports, lint

Path conditions:
  check-docs-and-schema: any of: ^src/(config|cmd)/ and \.go$
  goimports: any of: \.go$
  lint: any of: \.go$
