Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: check-merge-conflict
      - id: detect-aws-credentials
        args:
          - "--allow-missing-credentials"
      - id: detect-private-key
        exclude: "src/test/e2e/29_config_file_test.go"
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                src/internal/packager/images/testdata/.*|
                site/src/content/docs/commands/.*
            )$
      - id: fix-byte-order-marker
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
        exclude: site/src/content/docs/commands/.*
  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.4
    hooks:
      - id: fix-smartquotes
  - repo: local
    hooks:
      - id: check-docs-and-schema
        name: Check for outdated docs and Zarf schema
        entry: make test-docs-and-schema
        files: "^src/(config|cmd)/"
        types: [go]
        language: system
        pass_filenames: false
      - id: goimports
        name: goimports
        entry: golangci-lint fmt
        types: [go]
        language: golang
        pass_filenames: false
      - id: lint
        name: golangci-lint go lint
        entry: golangci-lint run
        types: [go]
        language: golang
        pass_filenames: false

run test locally
  src/test/e2e/42_values_test.go
Due: goimports, lint

segments
  src/pkg/value/value.go
Due: goimports, lint

better tests
  src/pkg/packager/packager_test.go
Due: goimports, lint

chore(docs): add documentation for Zarf package vuln scanning (#4960)
  site/src/content/docs/best-practices/vulnerability-scanning.mdx
Due: none

fix: resolve cross-document YAML anchors broken by Helm v4 post-render (#4977)
  src/internal/packager/helm/template.go
  src/internal/packager/helm/template_test.go
  src/test/e2e/27_deploy_regression_test.go
  src/test/packages/27-kind-list-anchor/min-chart/Chart.yaml
  src/test/packages/27-kind-list-anchor/min-chart/templates/list.yaml
  src/test/packages/27-kind-list-anchor/zarf.yaml
Due: goimports, lint

enable values by default
  src/pkg/feature/feature.go
Due: goimports, lint

stop setting features
  src/test/e2e/22_git_and_gitops_test.go
  src/test/e2e/30_component_action_cluster_test.go
  src/test/e2e/42_values_test.go
  src/test/external/ext_in_cluster_test.go
  src/test/external/ext_out_cluster_test.go
Due: goimports, lint

feat(values): chart values exclude path (#4974)
  examples/values-templating/charts/example-chart/templates/configmap.yaml
  examples/values-templating/charts/example-chart/values.yaml
  examples/values-templating/values/values.yaml
  examples/values-templating/zarf.yaml
  src/api/v1alpha1/component.go
  src/internal/api/v1alpha1/validate.go
  src/internal/api/v1alpha1/validate_test.go
  src/pkg/packager/packager.go
  src/pkg/packager/packager_test.go
  src/pkg/schema/zarf-v1alpha1-schema.json
  src/pkg/value/value.go
  src/pkg/value/value_test.go
  src/test/e2e/42_values_test.go
  src/test/packages/42-values/chart/templates/configmap.yaml
  src/test/packages/42-values/chart/values.yaml
  src/test/packages/42-values/override-values.yaml
  src/test/packages/42-values/values/values.yaml
  src/test/packages/42-values/zarf.yaml
  zarf.schema.json
Due: goimports, lint

expose pkg to values
  examples/values-templating/nginx-configmap.yaml
  src/internal/template/template.go
Due: goimports, lint

extend webhook timeout and add readiness probe
  packages/zarf-agent/chart/templates/deployment.yaml
  packages/zarf-agent/chart/templates/webhook.yaml
Due: none

reset timeout
  packages/zarf-agent/chart/templates/webhook.yaml
Due: none

chore(values): enable values by default (#4979)
  src/pkg/feature/feature.go
  src/test/e2e/22_git_and_gitops_test.go
  src/test/e2e/30_component_action_cluster_test.go
  src/test/e2e/42_values_test.go
  src/test/external/ext_in_cluster_test.go
  src/test/external/ext_out_cluster_test.go
Due: goimports, lint

expose pkg to values
  src/internal/template/template.go
  src/internal/template/template_test.go
  src/pkg/packager/deploy.go
  src/pkg/packager/inspect.go
Due: goimports, lint

update tests
  src/internal/template/template_test.go
Due: goimports, lint

whitespace
  src/internal/template/template_test.go
Due: goimports, lint

feat(agent): add readiness probe (#4980)
  packages/zarf-agent/chart/templates/deployment.yaml
Due: none

fix markdown tables
  site/astro.config.ts
  site/package-lock.json
  site/package.json
Due: none

fix markdown tables correctly
  site/astro.config.ts
  site/package-lock.json
  site/package.json
Due: none

fix astro config
  site/astro.config.ts
  site/package-lock.json
  site/package.json
Due: none

fix(docs): render markdown tables (#4982)
  site/astro.config.ts
  site/package-lock.json
  site/package.json
Due: none

chore: add schema merging and default schema filename
  examples/values-templating/values/values.schema.json
  src/cmd/dev.go
  src/pkg/packager/layout/assemble.go
  src/pkg/value/schema.go
  src/pkg/value/schema_test.go
  src/pkg/value/testdata/schema/external-ref.schema.json
  src/pkg/value/testdata/schema/second.schema.json
  src/test/e2e/14_zarf_package_generate_test.go
  src/test/packages/14-generate-schema/common/values.schema.json
  src/test/packages/14-generate-schema/common/values.yaml
  src/test/packages/14-generate-schema/common/zarf.yaml
Due: check-docs-and-schema, goimports, lint

dynamically set injector host
  src/pkg/cluster/injector.go
  src/pkg/cluster/injector_test.go
  src/pkg/cluster/testdata/expected-injection-pod.json
  src/pkg/packager/deploy.go
Due: goimports, lint

chore: add extract path and make a more complex e2e test
  src/cmd/dev.go
  src/pkg/value/schema_test.go
  src/pkg/value/value.go
  src/test/e2e/14_zarf_package_generate_test.go
  src/test/packages/14-generate-schema/chart/values.yaml
  src/test/packages/14-generate-schema/common/values.schema.json
  src/test/packages/14-generate-schema/common/values.yaml
  src/test/packages/14-generate-schema/common/zarf.yaml
  src/test/packages/14-generate-schema/values.schema.json
Due: check-docs-and-schema, goimports, lint

feat(injector): dynamically determine host based on IP family (#4985)
  src/pkg/cluster/injector.go
  src/pkg/cluster/injector_test.go
  src/pkg/cluster/testdata/expected-injection-pod.json
  src/pkg/packager/deploy.go
Due: goimports, lint

remove keys
  src/internal/template/template.go
Due: goimports, lint

refactor: improve Values leaking and add tests
  src/pkg/value/value.go
  src/pkg/value/value_test.go
Due: goimports, lint

feat(values)!: expose pkg built in (#4981)
  examples/values-templating/nginx-configmap.yaml
  src/internal/template/template.go
  src/internal/template/template_test.go
  src/pkg/packager/deploy.go
  src/pkg/packager/inspect.go
Due: goimports, lint

rename pkg constant
  examples/values-templating/nginx-configmap.yaml
  src/internal/template/template.go
Due: goimports, lint

pull values layers
  src/pkg/zoci/pull.go
  src/pkg/zoci/pull_test.go
Due: goimports, lint

pull values layers
  src/pkg/zoci/pull_test.go
  src/pkg/zoci/testdata/cosign.key
Due: goimports, lint

brevity
  src/pkg/zoci/pull_test.go
Due: goimports, lint

comment explaining test
  src/pkg/zoci/pull_test.go
Due: goimports, lint

fix(pull): always pull values.yaml and values.schema.json (#4987)
  src/pkg/zoci/pull.go
  src/pkg/zoci/pull_test.go
  src/pkg/zoci/testdata/cosign.key
Due: goimports, lint

chore: bump go version
  go.mod
Due: none

chore: bump go version (#4988)
  go.mod
Due: none

feat(viper): support viper configuration for sign/verify (#4946)
  src/cmd/package.go
  src/cmd/package_test.go
  src/cmd/viper.go
Due: check-docs-and-schema, goimports, lint

chore: pr feedback
  src/cmd/dev.go
  src/config/lang/english.go
  src/pkg/packager/load/load.go
  src/pkg/value/generate.go
  src/test/e2e/14_zarf_package_generate_test.go
  src/test/packages/14-generate-schema/values.schema.json
Due: check-docs-and-schema, goimports, lint

chore: update test to cover each delete key case
  src/pkg/value/generate_test.go
Due: goimports, lint

feat(package): support verification flags across package commands
  src/cmd/initialize.go
  src/cmd/package.go
  src/cmd/package_test.go
Due: check-docs-and-schema, goimports, lint
