Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: check-merge-conflict
      - id: detect-aws-credentials
        args:
          - "--allow-missing-credentials"
      - id: detect-private-key
        exclude: "src/test/e2e/29_config_file_test.go"
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                src/internal/packager/images/testdata/.*|
                site/src/content/docs/commands/.*
            )$
      - id: fix-byte-order-marker
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
        exclude: site/src/content/docs/commands/.*
  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.4
    hooks:
      - id: fix-smartquotes
  - repo: local
    hooks:
      - id: check-docs-and-schema
        name: Check for outdated docs and Zarf schema
        entry: make test-docs-and-schema
        files: "^src/(config|cmd)/"
        types: [go]
        language: system
        pass_filenames: false
      - id: goimports
        name: goimports
        entry: golangci-lint fmt
        types: [go]
        language: golang
        pass_filenames: false
      - id: lint
        name: golangci-lint go lint
        entry: golangci-lint run
        types: [go]
        language: golang
        pass_filenames: false

fix(import): fix paths for imports
  src/pkg/packager/load/import.go
Due: goimports, lint

fix(import): support for actions pathing
  src/pkg/packager/load/import.go
Due: goimports, lint

backwards compatiable ssa
  src/pkg/cluster/zarf.go
Due: goimports, lint

dynamically get csa managers
  src/pkg/cluster/zarf.go
Due: goimports, lint

force conflicts
  src/cmd/zarf_tools.go
  src/internal/packager/helm/chart.go
Due: check-docs-and-schema, goimports, lint

save patch strategy
  src/pkg/cluster/zarf.go
Due: goimports, lint

force apply
  src/pkg/cluster/zarf.go
Due: goimports, lint

feat(path): resolve path by base directory and manifest file
  src/pkg/packager/load/import.go
  src/pkg/packager/load/load.go
  src/pkg/packager/load/path.go
Due: goimports, lint

fix(e2e): add testing for arbitrary filename
  src/test/e2e/05_tarball_test.go
  src/test/packages/05-arbitrary-archive-structure/arbitrary.yaml
  src/test/packages/05-arbitrary-archive-structure/files/coffee-ipsum.txt
  src/test/packages/05-arbitrary-archive-structure/files/kustomization.yaml
  src/test/packages/05-arbitrary-archive-structure/files/service.yaml
  src/test/packages/05-arbitrary-archive-structure/files/test-values.yaml
  src/test/packages/05-arbitrary-archive-structure/sub-package/arbitrary.yaml
Due: goimports, lint

delete debug
  src/pkg/cluster/zarf.go
Due: goimports, lint

fix: properly mutate flux ocirepo and helmrepo objects when using the registry proxy (#4486)
  .github/workflows/test-proxy.yml
  Makefile
  src/internal/agent/hooks/flux-helmrepo.go
  src/internal/agent/hooks/flux-ocirepo.go
  src/internal/agent/hooks/flux-ocirepo_test.go
  src/internal/agent/hooks/utils_test.go
  src/pkg/cluster/secrets.go
  src/pkg/cluster/tunnel.go
  src/pkg/lint/rules_test.go
  src/pkg/transform/image.go
  src/test/e2e/22_git_and_gitops_test.go
  src/test/proxy/main_test.go
  src/test/proxy/proxy_test.go
Due: goimports, lint

comment
  src/pkg/cluster/zarf.go
Due: goimports, lint

simpler command
  src/test/e2e/21_connect_creds_test.go
Due: goimports, lint

check for ssa
  src/internal/packager/helm/chart.go
  src/internal/packager/helm/repo.go
Due: goimports, lint

remove force conflicts
  src/cmd/package.go
  src/config/lang/english.go
Due: check-docs-and-schema, goimports, lint

cleanup + delete managed field removal
  site/src/content/docs/commands/zarf_package_remove.md
  src/internal/packager/helm/chart.go
  src/internal/packager/helm/common.go
  src/internal/packager/helm/post-render.go
  src/internal/packager/helm/zarf.go
  src/pkg/cluster/zarf.go
  src/pkg/cluster/zarf_test.go
Due: goimports, lint

error message
  examples/helm-charts/zarf.yaml
  src/pkg/packager/deploy.go
Due: goimports, lint

remove values log
  src/pkg/packager/deploy.go
Due: goimports, lint

reset helm chart zarf.yaml
  examples/helm-charts/zarf.yaml
Due: none

fix(path): move path to public export in layout
  src/pkg/packager/layout/path.go
  src/pkg/packager/load/import.go
  src/pkg/packager/load/load.go
  src/pkg/packager/load/path.go
Due: goimports, lint

fix(packager): update to use layout resolve package path
  src/pkg/lint/schema.go
  src/pkg/packager/create.go
  src/pkg/packager/inspect.go
  src/pkg/packager/load/import.go
  src/pkg/packager/update.go
Due: goimports, lint

feat(layout): add testing to ResolvePackagePath
  src/pkg/packager/layout/path_test.go
Due: goimports, lint

feat: fix rough edges
  src/internal/agent/hooks/pods.go
  src/internal/agent/hooks/pods_test.go
Due: goimports, lint

ci: fix tests
  src/internal/agent/hooks/pods_test.go
Due: goimports, lint

feat: update annotation for volumes
  src/internal/agent/hooks/pods.go
  src/internal/agent/hooks/pods_test.go
Due: goimports, lint

ci: add test for checking that volume images work
  src/pkg/packager/find_images_test.go
  src/pkg/packager/testdata/find-images/pod-volume-image/deployment.yaml
  src/pkg/packager/testdata/find-images/pod-volume-image/zarf.yaml
  src/test/e2e/45_volume_image_test.go
Due: goimports, lint

ci: update test for volume image
  src/test/e2e/45_volume_image_test.go
Due: goimports, lint

chore: remove re-declared vars in test loops (#4500)
  src/internal/agent/hooks/argocd-application_test.go
  src/internal/agent/hooks/argocd-appproject_test.go
  src/internal/agent/hooks/argocd-repository_test.go
  src/internal/agent/hooks/common_test.go
  src/internal/agent/hooks/flux-gitrepo_test.go
  src/internal/agent/hooks/flux-helmrepo_test.go
  src/internal/agent/hooks/flux-ocirepo_test.go
  src/internal/agent/hooks/pods_test.go
  src/pkg/cluster/distro_test.go
  src/pkg/cluster/tunnel_test.go
  src/pkg/lint/findings_test.go
  src/pkg/lint/validate_test.go
  src/pkg/packager/load_test.go
  src/pkg/state/state_test.go
  src/pkg/utils/network_test.go
Due: goimports, lint

fix(imports): do not join import path before fixing
  src/pkg/packager/load/import.go
Due: goimports, lint

fix sleep flake
  src/test/packages/44-image-tar/pod.yaml
Due: none

fix: remove values log (#4503)
  src/pkg/packager/deploy.go
Due: goimports, lint

CI: image archive test flake (#4506)
  src/test/packages/44-image-tar/pod.yaml
Due: none

feat(create): allow creation with specified and arbitrary manifest file (#4493)
  src/cmd/dev.go
  src/cmd/package.go
  src/pkg/lint/schema.go
  src/pkg/packager/create.go
  src/pkg/packager/inspect.go
  src/pkg/packager/layout/path.go
  src/pkg/packager/layout/path_test.go
  src/pkg/packager/load/import.go
  src/pkg/packager/load/load.go
  src/pkg/packager/update.go
  src/test/e2e/05_tarball_test.go
  src/test/packages/05-arbitrary-archive-structure/arbitrary.yaml
  src/test/packages/05-arbitrary-archive-structure/files/coffee-ipsum.txt
  src/test/packages/05-arbitrary-archive-structure/files/kustomization.yaml
  src/test/packages/05-arbitrary-archive-structure/files/service.yaml
  src/test/packages/05-arbitrary-archive-structure/files/test-values.yaml
  src/test/packages/05-arbitrary-archive-structure/sub-package/arbitrary.yaml
Due: check-docs-and-schema, goimports, lint

fix releases
  src/internal/packager/helm/chart.go
  src/internal/packager/helm/destroy.go
  src/internal/packager/helm/template.go
  src/internal/packager/helm/zarf.go
Due: goimports, lint

fix chart
  src/internal/packager/helm/chart.go
  src/internal/packager/helm/zarf.go
Due: goimports, lint

feat!(verify): deprecate --skip-signature-validation in favor of --verify (#4457)
  site/src/content/docs/commands/zarf_init.md
  site/src/content/docs/commands/zarf_package_deploy.md
  site/src/content/docs/commands/zarf_package_inspect.md
  site/src/content/docs/commands/zarf_package_inspect_definition.md
  site/src/content/docs/commands/zarf_package_inspect_documentation.md
  site/src/content/docs/commands/zarf_package_inspect_images.md
  site/src/content/docs/commands/zarf_package_inspect_manifests.md
  site/src/content/docs/commands/zarf_package_inspect_sbom.md
  site/src/content/docs/commands/zarf_package_inspect_values-files.md
  site/src/content/docs/commands/zarf_package_mirror-resources.md
  site/src/content/docs/commands/zarf_package_publish.md
  site/src/content/docs/commands/zarf_package_pull.md
  site/src/content/docs/commands/zarf_package_remove.md
  site/src/content/docs/commands/zarf_package_sign.md
  src/cmd/initialize.go
  src/cmd/package.go
  src/cmd/root.go
  src/cmd/viper.go
  src/config/lang/english.go
  src/pkg/packager/create.go
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/layout/package_test.go
  src/pkg/packager/load.go
  src/pkg/packager/load_test.go
  src/pkg/packager/pull.go
  src/test/e2e/11_oci_pull_inspect_test.go
  src/test/e2e/12_package_signing_test.go
  src/test/e2e/25_helm_test.go
  src/test/e2e/31_checksum_and_signature_test.go
  src/test/e2e/34_custom_init_package_test.go
  src/test/nightly/ecr_publish_test.go
Due: check-docs-and-schema, goimports, lint

editing pass over the values and templating docs
  site/src/content/docs/best-practices/package-values.mdx
  site/src/content/docs/best-practices/templating.mdx
  site/src/content/docs/ref/package-values.mdx
Due: none

incorporate some review feedback and do some more editing
  site/src/content/docs/best-practices/package-values.mdx
  site/src/content/docs/ref/package-values.mdx
  site/src/content/docs/ref/templating.mdx
Due: none

add back zarf config tag
  zarf-config.toml
Due: none

make docs and schema
  site/src/content/docs/commands/zarf_dev_deploy.md
  site/src/content/docs/commands/zarf_dev_find-images.md
  site/src/content/docs/commands/zarf_dev_inspect_definition.md
  site/src/content/docs/commands/zarf_dev_inspect_manifests.md
  site/src/content/docs/commands/zarf_dev_inspect_values-files.md
  site/src/content/docs/commands/zarf_dev_lint.md
  site/src/content/docs/commands/zarf_init.md
  site/src/content/docs/commands/zarf_package_create.md
  site/src/content/docs/commands/zarf_package_deploy.md
  site/src/content/docs/commands/zarf_package_inspect_manifests.md
  site/src/content/docs/commands/zarf_package_inspect_values-files.md
Due: none
