Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: check-merge-conflict
      - id: detect-aws-credentials
        args:
          - "--allow-missing-credentials"
      - id: detect-private-key
        exclude: "src/test/e2e/29_config_file_test.go"
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                src/internal/packager/images/testdata/.*|
                site/src/content/docs/commands/.*
            )$
      - id: fix-byte-order-marker
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
        exclude: site/src/content/docs/commands/.*
  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.4
    hooks:
      - id: fix-smartquotes
  - repo: local
    hooks:
      - id: check-docs-and-schema
        name: Check for outdated docs and Zarf schema
        entry: make test-docs-and-schema
        files: "^src/(config|cmd)/"
        types: [go]
        language: system
        pass_filenames: false
      - id: goimports
        name: goimports
        entry: golangci-lint fmt
        types: [go]
        language: golang
        pass_filenames: false
      - id: lint
        name: golangci-lint go lint
        entry: golangci-lint run
        types: [go]
        language: golang
        pass_filenames: false

message
  hack/configmap-test/main.go
Due: goimports, lint

simplify
  hack/configmap-test/main.go
Due: goimports, lint

random data instead
  hack/configmap-test/main.go
Due: goimports, lint

chore(deps): bump cosign to v3.0.3 to resolve vulnerabilities
  go.mod
  go.sum
Due: none

fix(cosign): add support for signing with a x509 cert
  src/pkg/utils/cosign.go
Due: goimports, lint

chore(schema): synchronize v1alpha1 schema with generation
  src/pkg/schema/zarf-v1alpha1-schema.json
Due: none

fix(make): add linxu arm detection to make build
  Makefile
Due: none

fix(deps): bump cosign to v3.0.3 to resolve vulnerabilities (#4462)
  go.mod
  go.sum
  src/pkg/utils/cosign.go
Due: goimports, lint

some cleanup
  hack/configmap-test/main.go
  hack/configmap-test/script.sh
Due: goimports, lint

fix(schema): detect changes to v1alpha1 schema
  hack/check-zarf-docs-and-schema.sh
Due: none

fix(make): add linxu arm detection to make build (#4465)
  Makefile
Due: none

chore(schema): synchronize v1alpha1 schema with generation (#4463)
  hack/check-zarf-docs-and-schema.sh
  src/pkg/schema/zarf-v1alpha1-schema.json
Due: none

fix(e2e): fix checksum and signature test
  src/test/e2e/25_helm_test.go
  src/test/e2e/31_checksum_and_signature_test.go
Due: goimports, lint

fix(schema): generate schema
  src/pkg/schema/zarf-v1alpha1-schema.json
  zarf.schema.json
Due: none

add --set-variables and --create/deploy-set-variables flags and change --set description to indicate it's now an alias for this flag
  src/cmd/dev.go
  src/cmd/initialize.go
  src/cmd/package.go
  src/config/lang/english.go
Due: check-docs-and-schema, goimports, lint

make docs-and-schema for new flags
  site/src/content/docs/commands/zarf_dev_deploy.md
  site/src/content/docs/commands/zarf_dev_find-images.md
  site/src/content/docs/commands/zarf_dev_inspect_definition.md
  site/src/content/docs/commands/zarf_dev_inspect_manifests.md
  site/src/content/docs/commands/zarf_dev_inspect_values-files.md
  site/src/content/docs/commands/zarf_dev_lint.md
  site/src/content/docs/commands/zarf_init.md
  site/src/content/docs/commands/zarf_package_create.md
  site/src/content/docs/commands/zarf_package_deploy.md
  site/src/content/docs/commands/zarf_package_inspect_manifests.md
  site/src/content/docs/commands/zarf_package_inspect_values-files.md
Due: none

fix(e2e): init verification test fix
  src/test/e2e/34_custom_init_package_test.go
Due: goimports, lint

comment
  hack/configmap-test/script.sh
Due: none

add --set-values flags
  src/cmd/dev.go
  src/cmd/package.go
  src/cmd/viper.go
  src/config/lang/english.go
Due: check-docs-and-schema, goimports, lint

test --set-values in e2e
  src/test/e2e/42_values_test.go
  src/test/packages/42-values/configmap.yaml
  src/test/packages/42-values/override-values.yaml
  src/test/packages/42-values/values/values.yaml
Due: goimports, lint

make sure set-values from zarf-conf are merged in correctly in dev cmds
  src/cmd/dev.go
Due: check-docs-and-schema, goimports, lint

make docs-and-schema
  site/src/content/docs/commands/zarf_dev_inspect_manifests.md
  site/src/content/docs/commands/zarf_dev_inspect_values-files.md
  site/src/content/docs/commands/zarf_package_deploy.md
  site/src/content/docs/commands/zarf_package_remove.md
Due: none

Add opt-in option for zarf init
  packages/zarf-agent/agent-values.yaml
  packages/zarf-agent/chart/templates/_helpers.tpl
  packages/zarf-agent/chart/templates/webhook.yaml
  packages/zarf-agent/chart/values.yaml
  packages/zarf-agent/zarf.yaml
  src/cmd/initialize.go
  src/cmd/viper.go
  src/config/lang/english.go
Due: check-docs-and-schema, goimports, lint

maps.clone
  src/pkg/packager/layout/package.go
Due: goimports, lint

update schema
  src/pkg/schema/zarf-v1alpha1-schema.json
Due: none

update package documentation
  site/src/content/docs/ref/packages.mdx
Due: none

re-run ci
  src/cmd/package.go
  src/cmd/package_test.go
Due: check-docs-and-schema, goimports, lint

fix
  src/pkg/packager/layout/package.go
Due: goimports, lint

make images required
  src/api/v1alpha1/component.go
  src/pkg/images/unpack.go
  src/pkg/packager/layout/assemble.go
  src/pkg/schema/zarf-v1alpha1-schema.json
  src/test/packages/44-image-tar/zarf.yaml
  zarf.schema.json
Due: goimports, lint

docs to match image requried
  site/src/content/docs/ref/components.mdx
Due: none

updates tests to match image requried
  src/pkg/images/testdata/non-annotated-layout/index.json
  src/pkg/images/unpack.go
  src/pkg/images/unpack_test.go
Due: goimports, lint

better test name
  src/pkg/images/unpack_test.go
Due: goimports, lint

Update site/src/content/docs/ref/components.mdx
  site/src/content/docs/ref/components.mdx
Due: none

fix(test): resolve without cluster testing
  src/test/e2e/11_oci_pull_inspect_test.go
Due: goimports, lint

use enum
  src/internal/packager/helm/chart.go
Due: goimports, lint

turn off healthchecks after helm install
  src/internal/packager/helm/chart.go
Due: goimports, lint

ssa back to auto
  src/internal/packager/helm/chart.go
Due: goimports, lint

add serverside apply to schema
  src/api/v1alpha1/component.go
  src/cmd/helm.go
  src/internal/packager/helm/chart.go
  src/pkg/schema/zarf-v1alpha1-schema.json
  zarf.schema.json
Due: check-docs-and-schema, goimports, lint

WIP
  src/internal/packager/helm/chart.go
  src/test/e2e/25_helm_test.go
  src/test/packages/25-helm-ssa/zarf.yaml
Due: goimports, lint

test for SSA
  src/internal/packager/helm/chart.go
  src/test/e2e/25_helm_test.go
Due: goimports, lint
