Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

check-docs-and-schema:
  name: Check for outdated docs and Zarf schema
  entry: make test-docs-and-schema
  language: system
  pass_filenames: false

goimports:
  name: goimports
  entry: golangci-lint fmt
  language: golang
  pass_filenames: false

lint:
  name: golangci-lint go lint
  entry: golangci-lint run
  language: golang
  pass_filenames: false

fix(verify): migrate to internal cosign utilities
  src/cmd/package.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/layout/package_test.go
Due: check-docs-and-schema, goimports, lint

comments
  src/api/v1alpha1/component.go
  src/internal/packager/images/unpack.go
  src/pkg/packager/layout/assemble.go
Due: goimports, lint

image archive
  src/api/v1alpha1/component.go
  src/api/v1alpha1/component_test.go
  src/api/v1alpha1/package.go
  src/api/v1alpha1/package_test.go
  src/internal/packager/images/unpack.go
  src/internal/packager/images/unpack_test.go
  src/pkg/lint/validate.go
  src/pkg/packager/dev.go
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/publish.go
  zarf.schema.json
Due: goimports, lint

image archive
  src/test/packages/44-image-tar/zarf.yaml
Due: none

docs
  site/src/content/docs/ref/components.mdx
Due: none

image archives
  src/api/v1alpha1/component.go
  zarf.schema.json
Due: goimports, lint

fix(ci): switch to internal registry chart for external test
  src/test/external/docker-registry-values.yaml
  src/test/external/ext_in_cluster_test.go
Due: goimports, lint

fix(ci): switch to internal registry chart for external test (#4340)
  src/test/external/docker-registry-values.yaml
  src/test/external/ext_in_cluster_test.go
Due: goimports, lint

check if this might fix windows
  src/pkg/archive/archive.go
Due: goimports, lint

feat: add support for kustomize plugins (#4285)
  src/api/v1alpha1/component.go
  src/internal/packager/kustomize/build.go
  src/pkg/packager/layout/assemble.go
  zarf.schema.json
Due: goimports, lint

docs: update wordpress example and tutorial
  examples/wordpress/wordpress-values.yaml
  examples/wordpress/zarf.yaml
  site/public/tutorials/package_create_wordpress.html
  site/public/tutorials/package_deploy_wordpress.html
  site/public/tutorials/package_deploy_wordpress_bottom.html
  site/public/tutorials/package_deploy_wordpress_remove_by_file.html
  site/public/tutorials/package_deploy_wordpress_suggestions.html
  site/public/tutorials/prepare_find_images.html
  site/src/content/docs/ref/dev.mdx
  site/src/content/docs/ref/values.mdx
  site/src/content/docs/tutorials/0-creating-a-zarf-package.mdx
  src/test/e2e/13_find_images_test.go
Due: goimports, lint

fix(sign): revert internal package migration
  src/pkg/packager/find_images.go
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/layout/package_test.go
  src/pkg/packager/publish.go
  src/pkg/utils/cosign.go
Due: goimports, lint

fix(sign): cleanup CLI logic
  src/cmd/package.go
  src/pkg/utils/cosign.go
Due: check-docs-and-schema, goimports, lint

fix(sign): remove duplicate publish path
  src/cmd/package.go
Due: check-docs-and-schema, goimports, lint

fix unncessary test output concat
  src/test/e2e/42_values_test.go
Due: goimports, lint

add option to skip required on values schema, and apply during create-time
  src/internal/value/testdata/schema/invalid-range.yaml
  src/internal/value/testdata/schema/invalid-values.yaml
  src/internal/value/testdata/schema/simple.schema.json
  src/internal/value/testdata/schema/valid-values.yaml
  src/internal/value/value.go
  src/internal/value/value_test.go
  src/pkg/packager/create.go
  src/pkg/packager/deploy.go
  src/pkg/packager/load/load.go
Due: goimports, lint

fixme
  src/pkg/archive/archive.go
Due: goimports, lint

add tests and 29.0.0 ref
  site/src/content/docs/ref/components.mdx
  src/internal/packager/images/unpack.go
  src/internal/packager/images/unpack_test.go
Due: goimports, lint

make work for podman
  site/src/content/docs/ref/components.mdx
  src/internal/packager/images/unpack.go
  src/internal/packager/images/unpack_test.go
Due: goimports, lint

better error message
  src/internal/packager/images/unpack.go
Due: goimports, lint

annotations
  src/internal/packager/images/unpack.go
Due: goimports, lint

fix docker.io issue
  src/internal/packager/images/unpack.go
  src/internal/packager/images/unpack_test.go
Due: goimports, lint

correct sbom path
  src/test/e2e/44_image_tar_test.go
Due: goimports, lint

arch
  src/internal/packager/images/unpack.go
  src/internal/packager/images/unpack_test.go
  src/pkg/packager/layout/assemble.go
Due: goimports, lint

feat: add check version requirement (#4308)
  src/api/v1alpha1/package.go
  src/cmd/dev.go
  src/cmd/package.go
  src/config/lang/english.go
  src/internal/packager/requirements/requirements.go
  src/internal/packager/requirements/requirements_test.go
  src/internal/pkgcfg/pkgcfg.go
  src/internal/pkgcfg/pkgcfg_test.go
  src/pkg/packager/create.go
  src/pkg/packager/deploy.go
  src/pkg/packager/dev.go
  src/pkg/packager/find_images.go
  src/pkg/packager/inspect.go
  src/pkg/packager/lint.go
  src/pkg/packager/load/import.go
  src/pkg/packager/load/import_test.go
  src/pkg/packager/load/load.go
  src/pkg/packager/publish.go
  src/pkg/packager/remove.go
  zarf.schema.json
Due: check-docs-and-schema, goimports, lint

fix(verify): revert to utils package
  src/cmd/package.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/layout/package_test.go
Due: check-docs-and-schema, goimports, lint

simplify tests significantly
  src/pkg/packager/inspect_test.go
  src/pkg/packager/testdata/inspect/chart-with-helm-values/chart/Chart.yaml
  src/pkg/packager/testdata/inspect/chart-with-helm-values/chart/templates/deployment.yaml
  src/pkg/packager/testdata/inspect/chart-with-helm-values/chart/values.yaml
  src/pkg/packager/testdata/inspect/chart-with-helm-values/zarf.yaml
  src/pkg/packager/testdata/inspect/inspect-manifests/manifest-with-package-values/deployment.yaml
  src/pkg/packager/testdata/inspect/inspect-manifests/manifest-with-package-values/expected-default.yaml
  src/pkg/packager/testdata/inspect/inspect-manifests/manifest-with-package-values/expected-override.yaml
  src/pkg/packager/testdata/inspect/inspect-manifests/manifest-with-package-values/values/default-values.yaml
  src/pkg/packager/testdata/inspect/inspect-manifests/manifest-with-package-values/zarf.yaml
  src/pkg/packager/testdata/inspect/inspect-manifests/manifest-with-values/deployment.yaml
  src/pkg/packager/testdata/inspect/inspect-manifests/manifest-with-values/expected.yaml
  src/pkg/packager/testdata/inspect/inspect-manifests/manifest-with-values/user-values.yaml
  src/pkg/packager/testdata/inspect/inspect-manifests/manifest-with-values/zarf.yaml
  src/pkg/packager/testdata/inspect/inspect-values-files/chart-with-values/expected.yaml
Due: goimports, lint

image archives
  examples/dos-games/zarf.yaml
  examples/helm-charts/zarf.yaml
  src/internal/packager/images/unpack.go
  src/pkg/packager/publish.go
Due: goimports, lint

allow indexes, but parse by platform
  src/internal/packager/images/unpack.go
  src/internal/packager/images/unpack_test.go
Due: goimports, lint

create test data for containerd image store
  src/internal/packager/images/testdata/docker-containerd-image-store/blobs/sha256/17eec7bbc9d79fa397ac95c7283ecd04d1fe6978516932a3db110c6206430809
  src/internal/packager/images/testdata/docker-containerd-image-store/blobs/sha256/1b44b5a3e06a9aae883e7bf25e45c100be0bb81a0e01b32de604f3ac44711634
  src/internal/packager/images/testdata/docker-containerd-image-store/blobs/sha256/2771e37a12b7bcb2902456ecf3f29bf9ee11ec348e66e8eb322d9780ad7fc2df
  src/internal/packager/images/testdata/docker-containerd-image-store/blobs/sha256/53cc1017c16ab2500aa5b5367e7650dbe2f753651d88792af1b522e5af328352
  src/internal/packager/images/testdata/docker-containerd-image-store/index.json
  src/internal/packager/images/testdata/docker-containerd-image-store/manifest.json
  src/internal/packager/images/testdata/docker-containerd-image-store/oci-layout
  src/internal/packager/images/unpack_test.go
Due: goimports, lint

fix test and ensure that value.Values can set, same as map[string]any
  src/internal/value/value.go
  src/pkg/packager/inspect_test.go
Due: goimports, lint

feat!(sign): add package sign command (#4301)
  site/src/content/docs/commands/zarf_package.md
  site/src/content/docs/commands/zarf_package_sign.md
  src/api/v1alpha1/package.go
  src/cmd/package.go
  src/cmd/viper.go
  src/config/lang/english.go
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/layout/assemble_test.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/layout/package_test.go
  src/pkg/packager/publish.go
  src/pkg/packager/publish_test.go
  src/pkg/utils/cosign.go
  src/test/e2e/12_package_signing_test.go
  src/test/packages/12-package-signing/zarf.yaml
  zarf.schema.json
Due: check-docs-and-schema, goimports, lint

simplify tests even more
  src/pkg/packager/inspect_test.go
  src/pkg/packager/testdata/inspect/inspect-values-files/chart-with-values/chart/Chart.yaml
  src/pkg/packager/testdata/inspect/inspect-values-files/chart-with-values/chart/templates/deployment.yaml
  src/pkg/packager/testdata/inspect/inspect-values-files/chart-with-values/chart/values.yaml
  src/pkg/packager/testdata/inspect/inspect-values-files/chart-with-values/user-values.yaml
  src/pkg/packager/testdata/inspect/inspect-values-files/chart-with-values/zarf.yaml
Due: goimports, lint

feat(verify): reduce conditional checks to method utility
  src/cmd/package.go
Due: check-docs-and-schema, goimports, lint

swap action go-templates to be opt-in and update examples and docs
  examples/values-templating/zarf.yaml
  src/api/v1alpha1/component.go
  src/pkg/packager/actions/actions.go
  src/test/e2e/42_values_test.go
  src/test/packages/42-values/processed-template-configmap.yaml
  src/test/packages/42-values/zarf.yaml
Due: goimports, lint

feat(verify): only pull required layers for oci verification
  src/cmd/package.go
Due: check-docs-and-schema, goimports, lint

docs: update wordpress example and tutorial (#4326)
  examples/wordpress/wordpress-values.yaml
  examples/wordpress/zarf.yaml
  site/public/tutorials/package_create_wordpress.html
  site/public/tutorials/package_deploy_wordpress.html
  site/public/tutorials/package_deploy_wordpress_bottom.html
  site/public/tutorials/package_deploy_wordpress_remove_by_file.html
  site/public/tutorials/package_deploy_wordpress_suggestions.html
  site/public/tutorials/prepare_find_images.html
  site/src/content/docs/ref/dev.mdx
  site/src/content/docs/ref/values.mdx
  site/src/content/docs/tutorials/0-creating-a-zarf-package.mdx
  src/test/e2e/13_find_images_test.go
Due: goimports, lint

helm 4
  go.mod
  go.sum
  src/cmd/helm.go
  src/cmd/helm/LICENSE
  src/cmd/helm/dependency.go
  src/cmd/helm/dependency_build.go
  src/cmd/helm/dependency_update.go
  src/cmd/helm/flags.go
  src/cmd/helm/load_plugins.go
  src/cmd/helm/repo.go
  src/cmd/helm/repo_add.go
  src/cmd/helm/repo_index.go
  src/cmd/helm/repo_list.go
  src/cmd/helm/repo_remove.go
  src/cmd/helm/repo_update.go
  src/cmd/helm/root.go
Due: check-docs-and-schema, goimports, lint

Path conditions:
  check-docs-and-schema: any of: ^src/(config|cmd)/ and \.go$
  goimports: any of: \.go$
  lint: any of: \.go$
