Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

check-docs-and-schema:
  name: Check for outdated docs and Zarf schema
  entry: make test-docs-and-schema
  language: system
  pass_filenames: false

goimports:
  name: goimports
  entry: golangci-lint fmt
  language: golang
  pass_filenames: false

lint:
  name: golangci-lint go lint
  entry: golangci-lint run
  language: golang
  pass_filenames: false

make schema
  zarf.schema.json
Due: none

update test
  src/pkg/packager/load/testdata/import/archives/expected.yaml
  src/pkg/packager/load/testdata/import/archives/import/zarf.yaml
Due: none

generate strategy
  Makefile
  go.mod
  go.sum
  src/cmd/internal.go
  src/pkg/lint/schema.go
  src/pkg/lint/schema_test.go
  src/pkg/packager/layout/layout_test.go
  src/pkg/packager/publish_test.go
  src/pkg/schema/generate.go
  src/pkg/schema/schema.go
  src/pkg/schema/zarf-schema.json
  src/pkg/zoci/pull_test.go
Due: check-docs-and-schema, goimports, lint

Generate v1alpha1 schema
  Makefile
  go.mod
  go.sum
  src/cmd/internal.go
  src/config/lang/english.go
  src/pkg/schema/generate.go
  src/pkg/schema/schema.go
  src/pkg/schema/zarf-v1alpha1-schema.json
Due: check-docs-and-schema, goimports, lint

refactor
  src/pkg/schema/generate.go
Due: goimports, lint

add newline
  src/pkg/schema/generate.go
Due: goimports, lint

schema
  src/pkg/schema/generate.go
Due: goimports, lint

reword
  site/src/content/docs/ref/components.mdx
Due: none

add documentation
  examples/dos-games/secerts.md
  examples/dos-games/zarf.yaml
  site/src/content/docs/commands/zarf_package_inspect_documentation.md
  src/api/v1alpha1/package.go
  src/cmd/package.go
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/layout/layout.go
  zarf.schema.json
Due: check-docs-and-schema, goimports, lint

export
  examples/dos-games/secrets.md
  examples/dos-games/zarf.yaml
  site/src/content/docs/commands/zarf_package_inspect_documentation.md
  src/cmd/package.go
Due: check-docs-and-schema, goimports, lint

update agent name
  src/internal/packager/helm/zarf.go
Due: goimports, lint

fix: wait shell escaping (#4260)
  src/pkg/utils/wait.go
Due: goimports, lint

fix: issue 4148
  src/pkg/zoci/push.go
Due: goimports, lint

feat!: allow Zarf registry deployment behind a proxy (#3956)
  .github/workflows/test-proxy.yml
  packages/zarf-registry/chart/templates/_helpers.tpl
  packages/zarf-registry/chart/templates/deployment.yaml
  packages/zarf-registry/chart/templates/injector-daemonset.yaml
  packages/zarf-registry/chart/templates/proxy-daemonset.yaml
  packages/zarf-registry/chart/templates/service.yaml
  packages/zarf-registry/chart/values.yaml
  packages/zarf-registry/registry-values.yaml
  packages/zarf-registry/zarf.yaml
  src/cmd/initialize.go
  src/cmd/viper.go
  src/config/config.go
  src/internal/feature/feature.go
  src/internal/packager/images/common.go
  src/internal/packager/template/template.go
  src/internal/packager/template/template_test.go
  src/pkg/cluster/cluster.go
  src/pkg/cluster/cluster_test.go
  src/pkg/cluster/injector.go
  src/pkg/cluster/injector_test.go
  src/pkg/packager/deploy.go
  src/pkg/state/state.go
  zarf-config.toml
Due: check-docs-and-schema, goimports, lint

docs: remove warnings that Flux and ArgoCD webhooks are not stable (#4309)
  site/src/content/docs/ref/init-package.mdx
Due: none

docs: differential packages (#4313)
  site/src/content/docs/ref/create.mdx
Due: none

docs: mark `zarf dev deploy` as stable (#4311)
  site/src/content/docs/commands/zarf_dev.md
  site/src/content/docs/commands/zarf_dev_deploy.md
  src/config/lang/english.go
Due: check-docs-and-schema, goimports, lint

docs: mark `zarf dev generate` as stable (#4310)
  site/src/content/docs/commands/zarf_dev.md
  site/src/content/docs/commands/zarf_dev_generate.md
  src/config/lang/english.go
Due: check-docs-and-schema, goimports, lint

feat(helm): update FindAnnotatedImagesForChart to support dependencies (#4288)
  src/internal/packager/helm/images.go
  src/internal/packager/helm/images_test.go
  src/internal/packager/helm/testdata/annotations-test/test-chart/Chart.yaml
  src/internal/packager/helm/testdata/annotations-test/test-chart/charts/subchart/Chart.yaml
  src/internal/packager/helm/testdata/annotations-test/test-chart/charts/subchart/templates/deployment.yaml
  src/internal/packager/helm/testdata/annotations-test/test-chart/charts/subchart/values.yaml
  src/internal/packager/helm/testdata/annotations-test/test-chart/templates/deployment.yaml
  src/internal/packager/helm/testdata/annotations-test/test-chart/values.yaml
Due: goimports, lint

feat(values): package remove actions templating (#4267)
  examples/values-templating/zarf.yaml
  site/src/content/docs/commands/zarf_package_remove.md
  src/cmd/package.go
  src/pkg/packager/remove.go
  src/test/e2e/42_values_test.go
  src/test/packages/42-values/zarf.yaml
Due: check-docs-and-schema, goimports, lint

docs: mark differential as stable (#4312)
  site/src/content/docs/commands/zarf_package_create.md
  src/config/lang/english.go
Due: check-docs-and-schema, goimports, lint

fix: support remote valuesFiles (#4306)
  .gitignore
  src/cmd/package_test.go
  src/cmd/testdata/inspect-values-files/chart-remote/chart/Chart.yaml
  src/cmd/testdata/inspect-values-files/chart-remote/chart/templates/deployment.yaml
  src/cmd/testdata/inspect-values-files/chart-remote/expected.yaml
  src/cmd/testdata/inspect-values-files/chart-remote/remote-values/values.yaml
  src/cmd/testdata/inspect-values-files/chart-remote/zarf-template.yaml
  src/pkg/packager/layout/assemble.go
Due: check-docs-and-schema, goimports, lint

feat(template): add pre-engine helm funcs (#4304)
  go.mod
  src/internal/template/template.go
  src/internal/template/template_test.go
Due: goimports, lint

docs: encourage unit tests in contribute section (#4330)
  site/src/content/docs/contribute/testing.mdx
Due: none

fix(distribution): disable otel tracing by default (#4324)
  packages/zarf-registry/chart/Chart.yaml
  packages/zarf-registry/chart/templates/deployment.yaml
  packages/zarf-registry/chart/values.yaml
  packages/zarf-registry/registry-values.yaml
  packages/zarf-registry/zarf.yaml
Due: none

chore: allow backwards compatibility with empty chart version (#4314)
  src/internal/packager/helm/common.go
Due: goimports, lint

feat!: require opt into to include username and hostname in package (#4321)
  site/src/content/docs/commands/zarf_package_create.md
  site/src/content/docs/commands/zarf_package_publish.md
  src/api/internal/v1beta1/package.go
  src/api/v1alpha1/package.go
  src/cmd/package.go
  src/cmd/viper.go
  src/config/lang/english.go
  src/pkg/packager/create.go
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/publish.go
  src/test/e2e/32_build_machine_info_test.go
  zarf.schema.json
Due: check-docs-and-schema, goimports, lint

fix(ci): switch to internal registry chart for external test (#4340)
  src/test/external/docker-registry-values.yaml
  src/test/external/ext_in_cluster_test.go
Due: goimports, lint

chore: expand the LogWriter implementation (#4318)
  src/internal/git/fallback.go
  src/internal/packager/helm/repo.go
  src/pkg/logger/logger.go
  src/pkg/utils/exec/exec.go
  src/types/runtime.go
Due: goimports, lint

fix: remove defaults prior to state check during re-init (#4333)
  site/src/content/docs/commands/zarf_init.md
  src/cmd/initialize.go
  src/pkg/packager/deploy.go
  src/test/external/ext_out_cluster_test.go
Due: check-docs-and-schema, goimports, lint

feat: add support for kustomize plugins (#4285)
  src/api/v1alpha1/component.go
  src/internal/packager/kustomize/build.go
  src/pkg/packager/layout/assemble.go
  zarf.schema.json
Due: goimports, lint

feat: add check version requirement (#4308)
  src/api/v1alpha1/package.go
  src/cmd/dev.go
  src/cmd/package.go
  src/config/lang/english.go
  src/internal/packager/requirements/requirements.go
  src/internal/packager/requirements/requirements_test.go
  src/internal/pkgcfg/pkgcfg.go
  src/internal/pkgcfg/pkgcfg_test.go
  src/pkg/packager/create.go
  src/pkg/packager/deploy.go
  src/pkg/packager/dev.go
  src/pkg/packager/find_images.go
  src/pkg/packager/inspect.go
  src/pkg/packager/lint.go
  src/pkg/packager/load/import.go
  src/pkg/packager/load/import_test.go
  src/pkg/packager/load/load.go
  src/pkg/packager/publish.go
  src/pkg/packager/remove.go
  zarf.schema.json
Due: check-docs-and-schema, goimports, lint

feat!(sign): add package sign command (#4301)
  site/src/content/docs/commands/zarf_package.md
  site/src/content/docs/commands/zarf_package_sign.md
  src/api/v1alpha1/package.go
  src/cmd/package.go
  src/cmd/viper.go
  src/config/lang/english.go
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/layout/assemble_test.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/layout/package_test.go
  src/pkg/packager/publish.go
  src/pkg/packager/publish_test.go
  src/pkg/utils/cosign.go
  src/test/e2e/12_package_signing_test.go
  src/test/packages/12-package-signing/zarf.yaml
  zarf.schema.json
Due: check-docs-and-schema, goimports, lint

feat(verify): package verify command support (#4325)
  site/src/content/docs/commands/zarf_package.md
  site/src/content/docs/commands/zarf_package_verify.md
  src/cmd/package.go
  src/config/lang/english.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/layout/package_test.go
  src/test/e2e/12_package_signing_test.go
Due: check-docs-and-schema, goimports, lint

docs: update wordpress example and tutorial (#4326)
  examples/wordpress/wordpress-values.yaml
  examples/wordpress/zarf.yaml
  site/public/tutorials/package_create_wordpress.html
  site/public/tutorials/package_deploy_wordpress.html
  site/public/tutorials/package_deploy_wordpress_bottom.html
  site/public/tutorials/package_deploy_wordpress_remove_by_file.html
  site/public/tutorials/package_deploy_wordpress_suggestions.html
  site/public/tutorials/prepare_find_images.html
  site/src/content/docs/ref/dev.mdx
  site/src/content/docs/ref/values.mdx
  site/src/content/docs/tutorials/0-creating-a-zarf-package.mdx
  src/test/e2e/13_find_images_test.go
Due: goimports, lint

fix(actions): make go-templates opt-in by default (#4344)
  examples/values-templating/zarf.yaml
  src/api/v1alpha1/component.go
  src/test/e2e/42_values_test.go
  src/test/packages/42-values/processed-template-configmap.yaml
  src/test/packages/42-values/zarf.yaml
Due: goimports, lint

fix: publish unique images in the injector (#4349)
  src/pkg/cluster/injector.go
Due: goimports, lint

chore(deps): replace containerd/selinux for vulnerabilities (#4363)
  go.mod
  go.sum
Due: none

docs: update custom init tutorial (#4358)
  site/src/content/docs/tutorials/7-custom-init-packages.mdx
Due: none

feat: add flag to update images in zarf.yaml (#4335)
  site/src/content/docs/commands/zarf_dev_find-images.md
  src/cmd/dev.go
  src/config/lang/english.go
  src/pkg/packager/update.go
  src/pkg/packager/update_test.go
Due: check-docs-and-schema, goimports, lint

Path conditions:
  check-docs-and-schema: any of: ^src/(config|cmd)/ and \.go$
  goimports: any of: \.go$
  lint: any of: \.go$
