Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

check-docs-and-schema:
  name: Check for outdated docs and Zarf schema
  entry: make test-docs-and-schema
  language: system
  pass_filenames: false

goimports:
  name: goimports
  entry: golangci-lint fmt
  language: golang
  pass_filenames: false

lint:
  name: golangci-lint go lint
  entry: golangci-lint run
  language: golang
  pass_filenames: false

update docs
  site/src/content/docs/ref/init-package.mdx
Due: none

ci(signing): add nightly check for trusted root updates
  .github/workflows/nightly-trusted-root.yml
Due: none

address typos, init cachepath
  src/pkg/images/unpack.go
  src/pkg/packager/find_images.go
Due: goimports, lint

fix(review): make updates for the review
  .github/workflows/nightly-trusted-root.yml
Due: none

feat(release): signed init packages
  .github/workflows/nightly-release.yaml
  .github/workflows/release.yml
  RELEASES.md
Due: none

chore(docs): add footer for init package verification
  .goreleaser.yaml
Due: none

fix mutation policy field
  packages/zarf-agent/chart/values.yaml
Due: none

mutation policy
  site/src/content/docs/commands/zarf_init.md
Due: none

allow selected injector image
  src/cmd/initialize.go
  src/pkg/cluster/injector.go
  src/pkg/packager/deploy.go
Due: check-docs-and-schema, goimports, lint

feat(find-images): 4509 include archives in find image (#4551)
  .github/workflows/scorecard.yaml
  site/src/content/docs/commands/zarf_dev.md
  site/src/content/docs/commands/zarf_dev_find-images.md
  src/cmd/dev.go
  src/config/lang/english.go
  src/pkg/images/common.go
  src/pkg/images/unpack.go
  src/pkg/images/unpack_test.go
  src/pkg/packager/find_images.go
  src/pkg/packager/find_images_test.go
  src/pkg/packager/load/load.go
  src/pkg/packager/testdata/find-images/fuzzy/configmap-image-with-underscores.yaml
  src/pkg/packager/testdata/find-images/image-archives/deployment-alpine.yaml
  src/pkg/packager/testdata/find-images/image-archives/deployment.yaml
  src/pkg/packager/testdata/find-images/image-archives/scratch.tar
  src/pkg/packager/testdata/find-images/image-archives/zarf.yaml
  src/pkg/packager/testdata/find-images/multiple-image-archives/deployment-alpine.yaml
  src/pkg/packager/testdata/find-images/multiple-image-archives/deployment-scratch-other.yaml
  src/pkg/packager/testdata/find-images/multiple-image-archives/deployment.yaml
  src/pkg/packager/testdata/find-images/multiple-image-archives/scratch-other.tar
  src/pkg/packager/testdata/find-images/multiple-image-archives/sub/scratch.tar
  src/pkg/packager/testdata/find-images/multiple-image-archives/zarf.yaml
  src/pkg/packager/update.go
  src/pkg/packager/update_test.go
Due: check-docs-and-schema, goimports, lint

use coredns image
  src/test/e2e/20_zarf_init_test.go
Due: goimports, lint

ci(signing): add nightly check for trusted root updates (#4933)
  .github/workflows/nightly-trusted-root.yml
Due: none

feat(release): signed init packages (#4934)
  .github/workflows/nightly-release.yaml
  .github/workflows/release.yml
  .goreleaser.yaml
  RELEASES.md
Due: none

add tests
  src/pkg/cluster/injector.go
  src/pkg/cluster/injector_test.go
  src/pkg/packager/deploy.go
  src/test/e2e/20_zarf_init_test.go
Due: goimports, lint

better test
  src/pkg/cluster/injector_test.go
Due: goimports, lint

make docs and schema
  site/src/content/docs/commands/zarf_init.md
Due: none

feat!: allow pulling images by index sha (#4879)
  src/pkg/images/common.go
  src/pkg/images/common_test.go
  src/pkg/images/pull.go
  src/pkg/images/pull_test.go
  src/pkg/images/push.go
  src/pkg/images/push_test.go
  src/pkg/images/unpack.go
  src/pkg/images/unpack_test.go
  src/pkg/packager/deploy.go
  src/pkg/packager/deploy_test.go
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/layout/assemble_test.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/layout/sbom.go
  src/pkg/packager/mirror.go
  src/pkg/zoci/pull.go
  src/pkg/zoci/pull_test.go
  src/test/e2e/48_multi_platform_image_test.go
  src/test/packages/48-multi-platform-image/pod.yaml
  src/test/packages/48-multi-platform-image/zarf.yaml
  src/test/testutil/ociregistry.go
Due: goimports, lint

make test work in appliance mode
  src/test/e2e/20_zarf_init_test.go
Due: goimports, lint

injector help text
  site/src/content/docs/commands/zarf_init.md
  src/cmd/initialize.go
Due: check-docs-and-schema, goimports, lint

chore(deps): bump golang.org/x/(crypto|net|sys) (#4924)
  go.mod
  go.sum
Due: none

feat(sign): support for keyless signing and offline verification (#4891)
  RELEASES.md
  hack/refresh-trusted-root.sh
  site/src/content/docs/commands/zarf_package_sign.md
  site/src/content/docs/commands/zarf_package_verify.md
  src/cmd/package.go
  src/cmd/tools_trustedroot.go
  src/config/lang/english.go
  src/pkg/feature/feature.go
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/layout/package_test.go
  src/pkg/packager/load.go
  src/pkg/packager/load_test.go
  src/pkg/packager/publish.go
  src/pkg/packager/publish_test.go
  src/pkg/packager/pull.go
  src/pkg/signing/bundle.go
  src/pkg/signing/bundle_test.go
  src/pkg/signing/cosign.go
  src/pkg/signing/cosign_test.go
  src/pkg/signing/embedded_trusted_root.json
  src/pkg/signing/trustedroot.go
  src/pkg/signing/trustedroot_test.go
  src/pkg/utils/oci_artifacts.go
  src/test/e2e/12_package_signing_test.go
  src/test/e2e/31_checksum_and_signature_test.go
  src/test/e2e/34_custom_init_package_test.go
Due: check-docs-and-schema, goimports, lint

commit 2026 roadmap, now with 100% more signoff
  .github/workflows/nightly-release.yaml
  .github/workflows/publish-application-packages.yml
  .github/workflows/release.yml
  .github/workflows/scan-codeql.yml
  .github/workflows/scan-lint.yml
  .github/workflows/scorecard.yaml
  .github/workflows/test-unit.yml
  .goreleaser.yaml
  RELEASES.md
  site/src/content/docs/commands/zarf_dev.md
  site/src/content/docs/commands/zarf_dev_find-images.md
  site/src/content/docs/roadmap.mdx
  src/cmd/dev.go
  src/config/lang/english.go
  src/pkg/images/common.go
  src/pkg/images/pull.go
  src/pkg/images/pull_test.go
  src/pkg/images/push.go
  src/pkg/images/push_test.go
  src/pkg/images/unpack.go
  src/pkg/images/unpack_test.go
  src/pkg/packager/deploy.go
  src/pkg/packager/deploy_test.go
  src/pkg/packager/find_images.go
  src/pkg/packager/find_images_test.go
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/layout/assemble_test.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/layout/sbom.go
  src/pkg/packager/load/load.go
  src/pkg/packager/mirror.go
  src/pkg/packager/testdata/find-images/fuzzy/configmap-image-with-underscores.yaml
  src/pkg/packager/update.go
  src/pkg/packager/update_test.go
  src/pkg/zoci/pull.go
  src/pkg/zoci/pull_test.go
  src/test/testutil/ociregistry.go
Due: check-docs-and-schema, goimports, lint

fix(signing): register oidc credential providers
  src/pkg/signing/cosign.go
Due: goimports, lint

Update site/src/content/docs/roadmap.mdx
  site/src/content/docs/roadmap.mdx
Due: none

test: attempt to sign in a workflow
  .github/workflows/test-keyless-signing.yml
Due: none

fix(sign):update auth flow to empty
  src/cmd/package.go
  src/pkg/signing/cosign.go
  src/pkg/signing/cosign_test.go
Due: check-docs-and-schema, goimports, lint

test: remove temporary sign workflow
  .github/workflows/test-keyless-signing.yml
Due: none

chore(docs): update cli docs
  site/src/content/docs/commands/zarf_package_sign.md
Due: none

chore(docs): add keyless signing documentation
  site/src/content/docs/ref/package-signing.mdx
  site/src/content/docs/tutorials/5-package-signing-and-verification.mdx
Due: none

chore(docs): add guidance for keyless signed package verification
  site/src/content/docs/ref/package-signing.mdx
Due: none

chore(docs): use pre-existing issue for tracking
  site/src/content/docs/ref/package-signing.mdx
Due: none

docs: add Dynamia.ai to ADOPTERS.md
  ADOPTERS.md
Due: none

feat(sign): support viper for sign|verify operations
  src/cmd/initialize.go
  src/cmd/package.go
  src/cmd/viper.go
Due: check-docs-and-schema, goimports, lint

test: fix validate chart test description
  src/internal/api/v1alpha1/validate_test.go
Due: goimports, lint

test: fix publish collision comment
  src/pkg/packager/publish_test.go
Due: goimports, lint

test: fix scratch name in image archives fixture
  src/pkg/packager/testdata/find-images/image-archives/deployment.yaml
Due: none

Path conditions:
  check-docs-and-schema: any of: ^src/(config|cmd)/ and \.go$
  goimports: any of: \.go$
  lint: any of: \.go$
