Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

check-docs-and-schema:
  name: Check for outdated docs and Zarf schema
  entry: make test-docs-and-schema
  language: system
  pass_filenames: false

goimports:
  name: goimports
  entry: golangci-lint fmt
  language: golang
  pass_filenames: false

lint:
  name: golangci-lint go lint
  entry: golangci-lint run
  language: golang
  pass_filenames: false

feat: add extraObjects and repoServer to values
  examples/argocd/baseline/values.yaml
Due: none

chore(docs): generate documentation
  site/src/content/docs/commands/zarf_tools.md
  site/src/content/docs/commands/zarf_tools_trusted-root.md
  site/src/content/docs/commands/zarf_tools_trusted-root_fetch.md
Due: none

add slog lint
  .golangci.yaml
  src/cmd/crane.go
  src/cmd/dev.go
  src/cmd/zarf_tools.go
  src/pkg/images/common.go
  src/pkg/images/pull.go
  src/pkg/images/push.go
  src/pkg/wait/wait.go
Due: check-docs-and-schema, goimports, lint

respect camelcase
  src/internal/agent/hooks/argocd-application.go
  src/internal/agent/hooks/argocd-applicationset.go
  src/internal/agent/hooks/argocd-appproject.go
  src/internal/agent/hooks/argocd-repository.go
  src/internal/agent/hooks/flux-gitrepo.go
  src/internal/packager/helm/post-render.go
  src/internal/packager/helm/repo.go
  src/pkg/cluster/data.go
  src/pkg/images/pull.go
  src/pkg/utils/network.go
  src/pkg/zoci/copier.go
  src/pkg/zoci/push.go
Due: goimports, lint

chore: add sloglint to golganci-lint configuration (#4831)
  .golangci.yaml
  src/cmd/crane.go
  src/cmd/dev.go
  src/cmd/zarf_tools.go
  src/internal/agent/hooks/argocd-application.go
  src/internal/agent/hooks/argocd-applicationset.go
  src/internal/agent/hooks/argocd-appproject.go
  src/internal/agent/hooks/argocd-repository.go
  src/internal/agent/hooks/flux-gitrepo.go
  src/internal/packager/helm/post-render.go
  src/internal/packager/helm/repo.go
  src/pkg/cluster/data.go
  src/pkg/images/common.go
  src/pkg/images/pull.go
  src/pkg/images/push.go
  src/pkg/utils/network.go
  src/pkg/wait/wait.go
  src/pkg/zoci/copier.go
  src/pkg/zoci/push.go
Due: check-docs-and-schema, goimports, lint

WIP
  src/internal/agent/hooks/argocd-application.go
  src/internal/agent/hooks/argocd-applicationset.go
  src/internal/agent/hooks/argocd-appproject.go
  src/internal/agent/hooks/argocd-repository.go
  src/internal/agent/hooks/flux-gitrepo.go
  src/internal/agent/hooks/git_mutation_guard_test.go
  src/pkg/cluster/cluster.go
  src/pkg/cluster/cluster_test.go
  src/pkg/packager/deploy.go
  src/pkg/state/state.go
  src/pkg/state/state_test.go
Due: goimports, lint

improve init logic
  src/pkg/cluster/cluster.go
  src/pkg/cluster/cluster_test.go
  src/pkg/packager/deploy.go
Due: goimports, lint

use enum
  src/cmd/zarf_tools.go
  src/pkg/cluster/cluster.go
  src/pkg/cluster/cluster_test.go
  src/pkg/state/state.go
  src/pkg/state/state_test.go
Due: check-docs-and-schema, goimports, lint

update comment
  src/cmd/zarf_tools.go
Due: check-docs-and-schema, goimports, lint

feat: parse multi doc zarf.yaml files (#4827)
  src/internal/pkgcfg/pkgcfg.go
  src/internal/pkgcfg/pkgcfg_test.go
  src/pkg/packager/layout/package.go
  src/pkg/zoci/fetch.go
Due: goimports, lint

change where internal check happens
  src/pkg/cluster/cluster.go
  src/pkg/cluster/cluster_test.go
Due: goimports, lint

determing if the registry is internal or external
  src/pkg/packager/deploy.go
  src/pkg/state/state.go
  src/pkg/state/state_test.go
Due: goimports, lint

get rid of unnecessary check
  src/pkg/cluster/cluster.go
  src/pkg/packager/deploy_test.go
Due: goimports, lint

use is configured
  src/pkg/cluster/cluster.go
  src/pkg/state/state.go
Due: goimports, lint

update testing.mdx
  site/src/content/docs/contribute/testing.mdx
Due: none

fix: update command structure and definition
  src/cmd/tools_trustedroot.go
  src/config/lang/english.go
  src/test/e2e/00_use_cli_test.go
Due: check-docs-and-schema, goimports, lint

better comment
  src/pkg/state/state.go
Due: goimports, lint

non-mutatable const
  src/cmd/zarf_tools.go
  src/pkg/state/state.go
Due: check-docs-and-schema, goimports, lint

create a set type
  src/cmd/zarf_tools.go
  src/pkg/cluster/cluster.go
  src/pkg/cluster/cluster_test.go
  src/pkg/packager/deploy.go
  src/pkg/packager/deploy_test.go
  src/pkg/state/state.go
  src/pkg/state/state_test.go
Due: check-docs-and-schema, goimports, lint

Add example of patching a helm chart
  examples/helm-charts/.gitignore
  examples/helm-charts/0001-example-patch.patch
  examples/helm-charts/readme.md
  examples/helm-charts/zarf.yaml
Due: none

Apply suggestion from @bburky
  examples/helm-charts/readme.md
Due: none

WIP
  src/api/v1alpha1/package.go
  src/internal/api/v1alpha1/validate.go
  src/internal/api/v1alpha1/validate_test.go
  src/pkg/images/pull.go
  src/pkg/images/pull_test.go
  src/pkg/images/push.go
  src/pkg/packager/deploy.go
  src/test/e2e/48_multi_arch_test.go
  src/test/packages/48-multi-arch/pod.yaml
  src/test/packages/48-multi-arch/zarf.yaml
Due: goimports, lint

add minimum version requirement
  src/pkg/images/push.go
  src/pkg/packager/layout/assemble.go
  src/test/e2e/48_multi_arch_test.go
Due: goimports, lint

chore(docs): generate documentation
  site/src/content/docs/commands/zarf_tools_trusted-root.md
  site/src/content/docs/commands/zarf_tools_trusted-root_create.md
  site/src/content/docs/commands/zarf_tools_trusted-root_fetch.md
  src/cmd/tools_trustedroot.go
Due: check-docs-and-schema, goimports, lint

fix(development): harden the pre-commit configuration
  .pre-commit-config.yaml
  CONTRIBUTING.md
Due: none

fix(site): remove link for go
  CONTRIBUTING.md
Due: none

get size of index
  src/pkg/images/common.go
  src/pkg/images/pull.go
  src/pkg/images/push.go
Due: goimports, lint

get size of manifest
  src/pkg/images/common.go
  src/pkg/images/pull.go
  src/pkg/images/push.go
Due: goimports, lint

multi architecture docs
  site/src/content/docs/ref/components.mdx
  src/api/v1alpha1/package.go
  src/pkg/schema/zarf-v1alpha1-schema.json
  zarf.schema.json
Due: goimports, lint

chore(development): harden the pre-commit configuration (#4842)
  .pre-commit-config.yaml
  CONTRIBUTING.md
Due: none

change wordpress to use multi
  examples/manifests/zarf.yaml
  examples/wordpress/zarf.yaml
  site/src/content/docs/ref/components.mdx
  src/pkg/images/pull.go
  src/pkg/images/pull_test.go
Due: goimports, lint

feat(test): add unit test for struct drift
  src/cmd/tools_trustedroot.go
  src/cmd/tools_trustedroot_test.go
Due: check-docs-and-schema, goimports, lint

chore(site): correct zarf command for clearing cache
  site/src/content/docs/faq.mdx
Due: none

add testdata for better test context
  src/pkg/packager/load/testdata/import/variables/child-values.yaml
  src/pkg/packager/load/testdata/import/variables/import/child-values.schema.json
  src/pkg/packager/load/testdata/import/variables/parent-values.schema.json
  src/pkg/packager/load/testdata/import/variables/parent-values.yaml
  src/pkg/packager/load/testdata/import/variables/secondImport/secondary-child-values.schema.json
  src/pkg/packager/load/testdata/import/variables/secondary-child-values.yaml
Due: none

chore(site): correct zarf command for clearing cache (#4845)
  site/src/content/docs/faq.mdx
Due: none

add unit tests
  go.mod
  src/pkg/images/common.go
  src/pkg/images/pull.go
  src/pkg/images/push.go
  src/pkg/zoci/pull.go
  src/pkg/zoci/pull_test.go
Due: goimports, lint

add unit tests
  src/pkg/images/common.go
Due: goimports, lint

update e2e test
  src/test/e2e/48_multi_arch_test.go
Due: goimports, lint

WIP multi arch sbom implementation
  src/pkg/images/pull.go
  src/pkg/images/unpack.go
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/layout/sbom.go
  src/pkg/utils/image.go
  src/pkg/utils/image_test.go
  src/test/e2e/48_multi_arch_test.go
Due: goimports, lint

comment
  src/pkg/utils/image.go
Due: goimports, lint

Path conditions:
  check-docs-and-schema: any of: ^src/(config|cmd)/ and \.go$
  goimports: any of: \.go$
  lint: any of: \.go$
