Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

check-docs-and-schema:
  name: Check for outdated docs and Zarf schema
  entry: make test-docs-and-schema
  language: system
  pass_filenames: false

goimports:
  name: goimports
  entry: golangci-lint fmt
  language: golang
  pass_filenames: false

lint:
  name: golangci-lint go lint
  entry: golangci-lint run
  language: golang
  pass_filenames: false

feat: add url patch for argo cd repo-creds secrets
  packages/zarf-agent/chart/templates/webhook.yaml
  src/internal/agent/hooks/argocd-repository_test.go
Due: goimports, lint

feat: update to latest changes
  src/internal/agent/hooks/argocd-application.go
  src/internal/agent/hooks/argocd-applicationset.go
  src/internal/agent/hooks/argocd-appproject.go
  src/internal/agent/hooks/argocd-repository.go
  src/test/e2e/22_git_and_gitops_test.go
Due: goimports, lint

build tls data in helpers
  packages/zarf-registry/chart/templates/_helpers.tpl
  packages/zarf-registry/chart/templates/secret.yaml
  packages/zarf-registry/chart/values.yaml
Due: none

b64 config data
  packages/zarf-registry/chart/templates/secret.yaml
Due: none

redesign how secrets are applied
  src/internal/packager/helm/post-render.go
  src/pkg/cluster/cluster.go
  src/pkg/cluster/secrets.go
Due: goimports, lint

use common apply function
  src/pkg/cluster/secrets.go
Due: goimports, lint

correct namespace
  src/pkg/cluster/cluster.go
Due: goimports, lint

update certs
  src/pkg/cluster/cluster.go
Due: goimports, lint

refactor!: move v1alpha1 validation logic to it's own package (#4544)
  src/api/v1alpha1/component.go
  src/internal/api/v1alpha1/validate.go
  src/internal/api/v1alpha1/validate_test.go
  src/pkg/lint/schema.go
  src/pkg/lint/schema_test.go
  src/pkg/packager/filters/os_test.go
  src/pkg/packager/generate.go
  src/pkg/packager/load.go
  src/pkg/packager/load/load.go
  src/pkg/packager/load/load_test.go
  src/pkg/state/state.go
Due: goimports, lint

feat(release): add release please workflow and docs (#4558)
  .github/workflows/commitlint.yml
  .github/workflows/release-please.yml
  .release-please-manifest.json
  RELEASES.md
  release-please-config.json
Due: none

feat(sign): implement support for sigstore bundle format (#4519)
  site/src/content/docs/ref/package-signing.mdx
  site/src/content/docs/tutorials/5-package-signing-and-verification.mdx
  src/cmd/package.go
  src/pkg/packager/layout/layout.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/layout/package_test.go
  src/pkg/packager/publish.go
  src/pkg/utils/cosign.go
Due: check-docs-and-schema, goimports, lint

apply zarf managed mtls secrets
  src/cmd/zarf_tools.go
  src/pkg/cluster/cluster.go
  src/pkg/cluster/secrets.go
Due: check-docs-and-schema, goimports, lint

better error message
  src/internal/agent/hooks/flux-helmrepo.go
  src/internal/agent/hooks/flux-ocirepo.go
Due: goimports, lint

crane
  src/cmd/crane.go
  src/test/proxy/proxy_test.go
Due: check-docs-and-schema, goimports, lint

stderr
  src/test/proxy/proxy_test.go
Due: goimports, lint

feat: add nodeSelector to zarf agent and registry charts
  packages/zarf-agent/chart/templates/deployment.yaml
  packages/zarf-agent/chart/values.yaml
  packages/zarf-registry/chart/templates/deployment.yaml
  packages/zarf-registry/chart/values.yaml
  packages/zarf-registry/registry-values.yaml
  packages/zarf-registry/zarf.yaml
Due: none

WIP: tests are working
  src/pkg/wait/wait_resource_test.go
Due: goimports, lint

add test for label selector
  src/pkg/wait/wait_resource_test.go
Due: goimports, lint

unnecessary test
  src/pkg/wait/wait_resource_test.go
Due: goimports, lint

fix(prune): allow for pruning to continue on manifest unknown
  src/cmd/crane.go
Due: check-docs-and-schema, goimports, lint

first pass at e2e tests
  src/test/e2e/46_tools_wait_for_test.go
Due: goimports, lint

add a test for kind
  src/test/e2e/46_tools_wait_for_test.go
Due: goimports, lint

feat(crane): add --ignore-missing flag to support opt-in strategy
  src/cmd/crane.go
  src/config/lang/english.go
Due: check-docs-and-schema, goimports, lint

fix(docs): generate cli docs
  site/src/content/docs/commands/zarf_tools_registry_prune.md
Due: none

get storage class
  src/pkg/wait/wait.go
  src/pkg/wait/wait_resource_test.go
Due: goimports, lint

handle non-existent cluster
  src/pkg/wait/wait.go
Due: goimports, lint

feat: add agent vars for affinity, tolerations and nodeSelector
  packages/zarf-agent/agent-values.yaml
  packages/zarf-agent/zarf.yaml
Due: none

fix nil pointer reference
  src/pkg/wait/wait.go
Due: goimports, lint

delete unit test in favor of e2e
  src/pkg/wait/wait_resource_test.go
Due: goimports, lint

feat(prune): allow for pruning to continue on manifest unknown (#4566)
  site/src/content/docs/commands/zarf_tools_registry_prune.md
  src/cmd/crane.go
  src/config/lang/english.go
Due: check-docs-and-schema, goimports, lint

feat: add nodeSelector to zarf agent and registry charts (#4565)
  packages/zarf-agent/agent-values.yaml
  packages/zarf-agent/chart/templates/deployment.yaml
  packages/zarf-agent/chart/values.yaml
  packages/zarf-agent/zarf.yaml
  packages/zarf-registry/chart/templates/deployment.yaml
  packages/zarf-registry/chart/values.yaml
  packages/zarf-registry/registry-values.yaml
  packages/zarf-registry/zarf.yaml
Due: none

feat!: remove global plainHTTP and insecureSkipTLSVerify in favor of optional parameters (#4561)
  src/cmd/cmd.go
  src/cmd/dev.go
  src/cmd/package.go
  src/cmd/root.go
  src/internal/packager/helm/repo.go
  src/internal/packager/helm/template.go
  src/internal/packager/helm/template_test.go
  src/pkg/images/common.go
  src/pkg/packager/create.go
  src/pkg/packager/deploy.go
  src/pkg/packager/dev.go
  src/pkg/packager/find_images.go
  src/pkg/packager/inspect.go
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/lint.go
  src/pkg/packager/load.go
  src/pkg/packager/load/import.go
  src/pkg/packager/load/import_test.go
  src/pkg/packager/load/load.go
  src/pkg/packager/mirror.go
  src/pkg/packager/packager.go
  src/pkg/packager/publish.go
  src/pkg/packager/publish_test.go
  src/pkg/packager/pull.go
  src/pkg/zoci/common.go
  src/pkg/zoci/pull_test.go
  src/types/runtime.go
Due: check-docs-and-schema, goimports, lint

wait for test
  src/test/e2e/46_tools_wait_for_test.go
Due: goimports, lint

move renewal logic to caller
  src/pkg/cluster/cluster.go
Due: goimports, lint

add e2e tests
  src/test/e2e/46_zarf_tools_wait_for_test.go
Due: goimports, lint

merge
  src/test/e2e/46_zarf_tools_wait_for_test.go
Due: goimports, lint

use isjsonpathwaittype
  src/pkg/wait/wait.go
Due: goimports, lint

no need for loop anymore when running the wait command
  src/pkg/wait/wait.go
Due: goimports, lint

simplify test
  src/pkg/wait/wait.go
  src/pkg/wait/wait_test.go
Due: goimports, lint

Path conditions:
  check-docs-and-schema: any of: ^src/(config|cmd)/ and \.go$
  goimports: any of: \.go$
  lint: any of: \.go$
