Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

check-docs-and-schema:
  name: Check for outdated docs and Zarf schema
  entry: make test-docs-and-schema
  language: system
  pass_filenames: false

goimports:
  name: goimports
  entry: golangci-lint fmt
  language: golang
  pass_filenames: false

lint:
  name: golangci-lint go lint
  entry: golangci-lint run
  language: golang
  pass_filenames: false

only collect the manifests once
  src/pkg/images/common.go
  src/pkg/images/pull.go
  src/pkg/images/pull_test.go
  src/pkg/images/push.go
Due: goimports, lint

fix(template): add to dissallowed functions (#4848)
  COMMUNITY.md
  src/internal/template/template.go
  src/internal/template/template_test.go
Due: goimports, lint

collect platform
  src/pkg/images/common.go
  src/pkg/images/pull.go
Due: goimports, lint

Update examples/wordpress/zarf.yaml
  examples/wordpress/zarf.yaml
Due: none

make architecture required
  src/pkg/images/pull.go
Due: goimports, lint

require architecture
  src/pkg/images/push.go
Due: goimports, lint

fix test
  src/pkg/images/pull_test.go
Due: goimports, lint

update testing.mdx
  site/src/content/docs/contribute/testing.mdx
Due: none

fix: ensure zarf say honors no-color
  src/cmd/say.go
Due: check-docs-and-schema, goimports, lint

add e2e no-cluster error
  site/src/content/docs/contribute/testing.mdx
  src/test/e2e/20_zarf_init_test.go
  src/test/e2e/main_test.go
Due: goimports, lint

create FindDefinitionImages, make filterimages private, update update generation and dev
  src/cmd/dev.go
  src/pkg/packager/find_images.go
  src/pkg/packager/find_images_test.go
  src/pkg/packager/update.go
  src/pkg/packager/update_test.go
Due: check-docs-and-schema, goimports, lint

fix(init): skip namespace agent labels when agent is disabled
  src/pkg/cluster/cluster.go
  src/pkg/cluster/cluster_test.go
Due: goimports, lint

fix(create): canonical built package path separators on manifest
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/layout/layout_test.go
  src/pkg/packager/load/import.go
  src/pkg/packager/load/import_test.go
  src/test/testutil/paths.go
Due: goimports, lint

fix(git): resolve merge with main
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/layout/layout_test.go
  src/pkg/packager/load/import.go
  src/pkg/packager/load/import_test.go
Due: goimports, lint

fix(test): update checksums and test makePathRelativeTo
  src/pkg/packager/layout/layout_test.go
  src/pkg/packager/load/import_test.go
Due: goimports, lint

fix(test): absolute path across OS's
  src/pkg/packager/load/import_test.go
Due: goimports, lint

move kiwix s3 url
  examples/kiwix/zarf.yaml
  src/test/packages/23-data-injections/zarf.yaml
Due: none

fix(ci): update data injection test
  src/test/e2e/23_data_injection_test.go
  src/test/packages/23-data-injections/injected-data/hello.txt
  src/test/packages/23-data-injections/manifests/deployment.yaml
  src/test/packages/23-data-injections/manifests/persistence.yaml
  src/test/packages/23-data-injections/manifests/service.yaml
  src/test/packages/23-data-injections/zarf.yaml
  src/test/packages/23-data-injections/zim-data/.gitkeep
Due: goimports, lint

Update src/test/packages/23-data-injections/manifests/service.yaml
  src/test/packages/23-data-injections/manifests/service.yaml
Due: none

reset main
  src/test/packages/23-data-injections/zarf.yaml
Due: none

chore(ci): update data injection test (#4859)
  src/test/e2e/23_data_injection_test.go
  src/test/packages/23-data-injections/injected-data/hello.txt
  src/test/packages/23-data-injections/manifests/deployment.yaml
  src/test/packages/23-data-injections/manifests/persistence.yaml
  src/test/packages/23-data-injections/manifests/service.yaml
  src/test/packages/23-data-injections/zarf.yaml
  src/test/packages/23-data-injections/zim-data/.gitkeep
Due: goimports, lint

chore: move kiwix example s3 url (#4858)
  examples/kiwix/zarf.yaml
Due: none

fix(create): built package path separators (#4857)
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/layout/layout_test.go
  src/pkg/packager/load/import.go
  src/pkg/packager/load/import_test.go
  src/test/testutil/paths.go
Due: goimports, lint

chore(examples): fail fast on error
  examples/kiwix/zarf.yaml
Due: none

fix: ensure zarf say honors no-color (#4850)
  src/cmd/say.go
Due: check-docs-and-schema, goimports, lint

chore(examples): fail fast on error (#4860)
  examples/kiwix/zarf.yaml
Due: none

feat: revert some public methods
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/layout/assemble_test.go
  src/pkg/packager/layout/package_test.go
  src/pkg/packager/layout/sbom.go
Due: goimports, lint

feat: add OCI support for Argo CD sources
  examples/argocd/baseline/values.yaml
  examples/argocd/oci-helm/values.yaml
  examples/argocd/oci-manifests/values.yaml
  examples/argocd/zarf.yaml
  packages/zarf-agent/chart/templates/webhook.yaml
  src/internal/agent/hooks/argocd-application.go
  src/internal/agent/hooks/argocd-application_test.go
  src/internal/agent/hooks/argocd-applicationset.go
  src/internal/agent/hooks/argocd-appproject.go
  src/internal/agent/hooks/argocd-appproject_test.go
  src/internal/agent/hooks/argocd-repository.go
  src/internal/agent/hooks/argocd-repository_test.go
  src/internal/agent/hooks/common.go
  src/internal/agent/hooks/flux-gitrepo.go
  src/internal/agent/hooks/flux-ocirepo.go
  src/test/e2e/22_git_and_gitops_test.go
  src/test/external/ext_in_cluster_test.go
  src/test/external/ext_out_cluster_test.go
Due: goimports, lint

feat: add extraObjects and repoServer to values
  examples/argocd/values/values.yaml
  examples/argocd/zarf.yaml
  src/test/e2e/22_git_and_gitops_test.go
  src/test/external/ext_in_cluster_test.go
  src/test/external/ext_out_cluster_test.go
Due: goimports, lint

feat: update to new state handling
  src/internal/agent/hooks/argocd-application.go
  src/internal/agent/hooks/argocd-application_test.go
Due: goimports, lint

test: add unit tests for shouldMutateURL function and improve documentation
  src/internal/agent/hooks/argocd-application.go
  src/internal/agent/hooks/argocd-application_test.go
  src/internal/agent/hooks/argocd-repository.go
Due: goimports, lint

build: enable values feature for argocd example
  Makefile
Due: none

feat: add available service check for project and repo
  src/internal/agent/hooks/argocd-application.go
  src/internal/agent/hooks/argocd-applicationset.go
  src/internal/agent/hooks/argocd-appproject.go
  src/internal/agent/hooks/argocd-appproject_test.go
  src/internal/agent/hooks/argocd-repository.go
  src/internal/agent/hooks/argocd-repository_test.go
  src/internal/agent/hooks/common.go
Due: goimports, lint

fix(init): handle optional agent state
  src/internal/packager/helm/post-render.go
  src/internal/packager/helm/post-render_test.go
  src/pkg/cluster/cluster.go
  src/pkg/cluster/cluster_test.go
  src/pkg/packager/deploy.go
  src/pkg/packager/deploy_test.go
  src/pkg/state/state.go
Due: goimports, lint

WIP example
  packages/init-v1beta1/agent/zarf-agent.tpl.yaml
  packages/init-v1beta1/git-server/gitea.tpl.yaml
  packages/init-v1beta1/k3s/k3s.yaml
  packages/init-v1beta1/registry/zarf-injector.tpl.yaml
  packages/init-v1beta1/registry/zarf-registry.tpl.yaml
  packages/init-v1beta1/registry/zarf-seed-registry.tpl.yaml
  packages/init-v1beta1/template-values.yaml
  packages/init-v1beta1/values-schema.json
  packages/init-v1beta1/values.yaml
  packages/init-v1beta1/zarf.tpl.yaml
Due: none

move to images
  packages/init-v1beta1/agent/values-schema.json
  packages/init-v1beta1/agent/values.yaml
  packages/init-v1beta1/agent/zarf-agent.tpl.yaml
  packages/init-v1beta1/git-server/gitea.tpl.yaml
  packages/init-v1beta1/git-server/values-schema.json
  packages/init-v1beta1/git-server/values.yaml
  packages/init-v1beta1/k3s/k3s.yaml
  packages/init-v1beta1/k3s/values-schema.json
  packages/init-v1beta1/k3s/values.yaml
  packages/init-v1beta1/registry/values-schema.json
  packages/init-v1beta1/registry/values.yaml
  packages/init-v1beta1/registry/zarf-seed-registry.tpl.yaml
Due: none

no longer require templates
  packages/init-v1beta1/agent/zarf-agent.yaml
  packages/init-v1beta1/git-server/gitea.yaml
  packages/init-v1beta1/registry/zarf-injector.yaml
  packages/init-v1beta1/registry/zarf-registry.yaml
  packages/init-v1beta1/registry/zarf-seed-registry.yaml
  packages/init-v1beta1/zarf.tpl.yaml
Due: none

import
  packages/init-v1beta1/import/zarf.yaml
Due: none

update cosign version
  .github/actions/install-tools/action.yaml
Due: none

track versions
  .github/actions/install-tools/action.yaml
  .github/workflows/nightly-release.yaml
  .github/workflows/release.yml
Due: none

Path conditions:
  check-docs-and-schema: any of: ^src/(config|cmd)/ and \.go$
  goimports: any of: \.go$
  lint: any of: \.go$
