Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

check-docs-and-schema:
  name: Check for outdated docs and Zarf schema
  entry: make test-docs-and-schema
  language: system
  pass_filenames: false

goimports:
  name: goimports
  entry: golangci-lint fmt
  language: golang
  pass_filenames: false

lint:
  name: golangci-lint go lint
  entry: golangci-lint run
  language: golang
  pass_filenames: false

feat(zoci): add image volume archive builder
  go.mod
  src/config/consts.go
  src/pkg/zoci/image/builder.go
  src/pkg/zoci/image/platform.go
  src/pkg/zoci/image/platform_test.go
  src/pkg/zoci/image/time.go
  src/pkg/zoci/image/volume.go
  src/pkg/zoci/image/volume_test.go
  src/pkg/zoci/image/volume_unix_test.go
Due: check-docs-and-schema, goimports, lint

feat(cmd): add shell completion helpers for architecture
  src/cmd/completion/completion_test.go
  src/cmd/completion/dev.go
  src/cmd/completion/root.go
  src/cmd/root.go
Due: check-docs-and-schema, goimports, lint

feat(cmd): add zarf dev image-volume-archive command
  examples/image-volume-archive/readme.md
  examples/image-volume-archive/zarf.yaml
  site/src/content/docs/commands/zarf_dev.md
  site/src/content/docs/commands/zarf_dev_image-volume-archive.md
  src/cmd/dev.go
  src/cmd/dev/iva.go
  src/cmd/dev/iva_test.go
  src/config/lang/english.go
Due: check-docs-and-schema, goimports, lint

feat: update examples and tutorial
  README.md
  examples/dos-games/readme.md
  examples/image-volume-archive/fluxcd/deploy/ks-podinfo.yaml
  examples/image-volume-archive/fluxcd/deploy/kustomization.yaml
  examples/image-volume-archive/fluxcd/deploy/ns-podinfo.yaml
  examples/image-volume-archive/fluxcd/deploy/or-iva.yaml
  examples/image-volume-archive/fluxcd/podinfo/deployment.yaml
  examples/image-volume-archive/fluxcd/podinfo/hpa.yaml
  examples/image-volume-archive/fluxcd/podinfo/kustomization.yaml
  examples/image-volume-archive/fluxcd/podinfo/service.yaml
  examples/image-volume-archive/zarf.yaml
  examples/wordpress/readme.md
  netlify.toml
  site/src/content/docs/best-practices/upgrading-zarf.mdx
  site/src/content/docs/getting-started/install.mdx
  site/src/content/docs/index.mdx
  site/src/content/docs/ref/create.mdx
  site/src/content/docs/ref/deploy.mdx
  site/src/content/docs/ref/init-package.mdx
  site/src/content/docs/ref/package-signing.mdx
  site/src/content/docs/ref/packages.mdx
  site/src/content/docs/tutorials/00-creating-a-zarf-package.mdx
  site/src/content/docs/tutorials/01-initializing-a-k8s-cluster.mdx
  site/src/content/docs/tutorials/02-deploying-zarf-packages.mdx
  site/src/content/docs/tutorials/03-deploy-a-retro-arcade.mdx
  site/src/content/docs/tutorials/04-creating-a-k8s-cluster-with-zarf.mdx
  site/src/content/docs/tutorials/05-package-signing-and-verification.mdx
  site/src/content/docs/tutorials/06-publish-and-deploy.mdx
  site/src/content/docs/tutorials/07-custom-init-packages.mdx
  site/src/content/docs/tutorials/08-resource-adoption.mdx
  site/src/content/docs/tutorials/09-package-create-differential.mdx
  site/src/content/docs/tutorials/10-image-volume-mount.mdx
  site/src/content/docs/tutorials/index.mdx
Due: none

chore(examples): regenerate dos-games checksum fixture
  hack/examples-checksums/zarf-package-dos-games-amd64-1.3.0.txt
Due: none

docs: expand offline wiki example
  examples/image-volume-archive/nginx/configmap.yaml
  examples/image-volume-archive/nginx/deployment.yaml
  examples/image-volume-archive/nginx/service.yaml
  examples/image-volume-archive/readme.md
  examples/image-volume-archive/zarf.yaml
  site/hack/build-in-docker.sh
  site/src/content/docs/tutorials/10-image-volume-mount.mdx
Due: none

feat: refactor into using option pattern
  src/pkg/zoci/image/builder.go
  src/pkg/zoci/image/platform.go
  src/pkg/zoci/image/volume.go
  src/pkg/zoci/image/volume_test.go
Due: goimports, lint

feat: continue refactor
  src/cmd/completion/completion_test.go
  src/cmd/completion/dev.go
Due: check-docs-and-schema, goimports, lint

feat: continue rework
  src/cmd/completion/completion_test.go
  src/cmd/completion/dev.go
  src/cmd/dev/iva.go
  src/cmd/dev/iva_test.go
Due: check-docs-and-schema, goimports, lint

chore(ci): update brew name for zarf rc candidates
  .github/workflows/release.yml
Due: none

component sign
  src/cmd/component.go
  src/cmd/package.go
  src/config/lang/english.go
  src/pkg/signing/cosign.go
  src/pkg/signing/cosign_test.go
Due: check-docs-and-schema, goimports, lint

verify
  src/cmd/component.go
  src/config/lang/english.go
  src/pkg/signing/cosign.go
  src/pkg/signing/cosign_test.go
Due: check-docs-and-schema, goimports, lint

test component publish
  src/test/e2e/15_component_publish_v1beta1_test.go
Due: goimports, lint

fix: differing Windows file targets on Linux and Windows
  src/pkg/packager/layout/layout.go
  src/pkg/packager/layout/layout_test.go
Due: goimports, lint

chore(ci): update brew name for zarf rc candidates (#5357)
  .github/workflows/release.yml
Due: none

identity
  src/cmd/component.go
  src/pkg/signing/bundle.go
  src/pkg/signing/cosign.go
  src/pkg/signing/cosign_test.go
Due: check-docs-and-schema, goimports, lint

use embedded root
  src/pkg/signing/cosign.go
  src/pkg/signing/trustedroot.go
Due: goimports, lint

test(values): strengthen unknown schema assertions
  src/pkg/value/generate_test.go
Due: goimports, lint

fix(values): reconcile inferred schema types
  src/pkg/value/generate.go
  src/pkg/value/generate_test.go
Due: goimports, lint

fix: differing Windows `files` basenames on Linux and Windows (#5359)
  src/pkg/packager/layout/layout.go
  src/pkg/packager/layout/layout_test.go
Due: goimports, lint

fix(helm): flatten list documents before editing them
  src/internal/packager/helm/post-render.go
  src/internal/packager/helm/post-render_test.go
Due: goimports, lint

test(e2e): cover charts that render list kinds
  src/test/e2e/25_helm_test.go
  src/test/packages/25-list-kinds/chart/Chart.yaml
  src/test/packages/25-list-kinds/chart/templates/configmaps.yaml
  src/test/packages/25-list-kinds/chart/templates/generic-list.yaml
  src/test/packages/25-list-kinds/chart/templates/namespaces.yaml
  src/test/packages/25-list-kinds/zarf.yaml
Due: goimports, lint

fix set templates create linting
  src/pkg/packager/load/load.go
  src/pkg/packager/load/load_test.go
Due: goimports, lint

fix: interactive template prompts on create (#5362)
  src/pkg/packager/load/load.go
  src/pkg/packager/load/load_test.go
Due: goimports, lint

feat: add kustomize post-renderer support to helm components
  src/api/v1alpha1/component.go
  src/api/v1beta1/component.go
  src/internal/api/types/package.go
  src/internal/api/v1alpha1/convert.go
  src/internal/api/v1alpha1/roundtrip_test.go
  src/internal/api/v1alpha1/validate.go
  src/internal/api/v1alpha1/validate_test.go
  src/internal/api/v1beta1/convert.go
  src/internal/api/v1beta1/roundtrip_test.go
  src/internal/api/v1beta1/validate.go
  src/internal/api/v1beta1/validate_test.go
  src/pkg/schema/zarf-v1alpha1-schema.json
  src/pkg/schema/zarf-v1beta1-component-schema.json
  src/pkg/schema/zarf-v1beta1-package-schema.json
  src/pkg/schema/zarf.schema.json
  zarf.schema.json
Due: goimports, lint

fix(values): infer floats as numbers
  src/pkg/value/generate.go
  src/pkg/value/generate_test.go
  src/test/e2e/14_zarf_package_generate_test.go
Due: goimports, lint

fix(helm): name the list kind when an item cannot be flattened
  src/internal/packager/helm/post-render.go
  src/internal/packager/helm/post-render_test.go
  src/test/e2e/25_helm_test.go
Due: goimports, lint

fix(helm): label pod templates by kind instead of by path
  src/internal/packager/helm/post-render.go
  src/internal/packager/helm/post-render_test.go
Due: goimports, lint

docs: remove the sbom viewer from docs
  site/src/content/docs/ref/sboms.mdx
Due: none

fix(values): infer integer and unknown schema types (#5334)
  src/pkg/value/generate.go
  src/pkg/value/generate_test.go
  src/test/e2e/14_zarf_package_generate_test.go
  src/test/packages/14-generate-schema/chart/values.yaml
  src/test/packages/14-generate-schema/values.schema.json
  src/test/packages/14-generate-schema/zarf.yaml
Due: goimports, lint

convert
  src/api/convert/convert_test.go
  src/internal/api/v1alpha1/convert.go
  src/internal/api/v1alpha1/roundtrip_test.go
  src/pkg/packager/layout/oci.go
  src/pkg/packager/layout/oci_test.go
  src/test/e2e/03_deprecations_test.go
  src/test/e2e/09_component_compose_test.go
Due: goimports, lint

comment
  src/pkg/packager/filters/strat.go
Due: goimports, lint

filters
  src/pkg/packager/filters/deploy.go
  src/pkg/packager/filters/deploy_test.go
  src/pkg/packager/filters/empty.go
  src/pkg/packager/filters/empty_test.go
  src/pkg/packager/filters/os.go
  src/pkg/packager/filters/os_test.go
  src/pkg/packager/filters/select.go
  src/pkg/packager/filters/select_test.go
  src/pkg/packager/filters/strat.go
  src/pkg/packager/filters/strat_test.go
Due: goimports, lint

filters
  src/pkg/packager/filters/deploy.go
  src/pkg/packager/filters/deploy_test.go
  src/pkg/packager/filters/empty.go
  src/pkg/packager/filters/empty_test.go
  src/pkg/packager/filters/os.go
  src/pkg/packager/filters/os_test.go
  src/pkg/packager/filters/select.go
  src/pkg/packager/filters/select_test.go
  src/pkg/packager/filters/strat.go
  src/pkg/packager/filters/strat_test.go
  src/pkg/packager/filters/utils_test.go
Due: goimports, lint

package definition
  src/pkg/packager/layout/package.go
Due: goimports, lint

Path conditions:
  check-docs-and-schema: any of: ^src/(config|cmd)/ and \.go$
  goimports: any of: \.go$
  lint: any of: \.go$
