Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: check-merge-conflict
      - id: detect-aws-credentials
        args:
          - "--allow-missing-credentials"
      - id: detect-private-key
        exclude: "src/test/e2e/29_config_file_test.go"
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                src/internal/packager/images/testdata/.*|
                site/src/content/docs/commands/.*
            )$
      - id: fix-byte-order-marker
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
        exclude: site/src/content/docs/commands/.*
  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.4
    hooks:
      - id: fix-smartquotes
  - repo: local
    hooks:
      - id: check-docs-and-schema
        name: Check for outdated docs and Zarf schema
        entry: make test-docs-and-schema
        files: "^src/(config|cmd)/"
        types: [go]
        language: system
        pass_filenames: false
      - id: goimports
        name: goimports
        entry: golangci-lint fmt
        types: [go]
        language: golang
        pass_filenames: false
      - id: lint
        name: golangci-lint go lint
        entry: golangci-lint run
        types: [go]
        language: golang
        pass_filenames: false

upgrade
  src/cmd/dev_upgrade.go
  src/cmd/dev_upgrade_test.go
Due: check-docs-and-schema, goimports, lint

chore: adjudicate containerd findings
  .vex/zarf.openvex.json
Due: none

fix: generate vex strictly though vexctl
  .vex/zarf.openvex.json
  site/src/content/docs/contribute/vulnerability-management.mdx
Due: none

fix convert order
  src/api/convert/convert_test.go
  src/api/v1beta1/convert.go
Due: goimports, lint

convert
  src/internal/api/v1beta1/convert.go
Due: goimports, lint

rename
  src/api/convert/convert.go
  src/api/convert/convert_test.go
Due: goimports, lint

fix: update orphan script and VEX for post cosign upgrade
  .vex/zarf.openvex.json
  hack/check-vex-orphans.sh
Due: none

chore(deps): upgrade cosign
  go.mod
  go.sum
Due: none

work regardless of path
  src/cmd/dev_upgrade.go
Due: check-docs-and-schema, goimports, lint

deprecate zarf tools registry export
  src/cmd/crane.go
Due: check-docs-and-schema, goimports, lint

deprecate crane alias
  src/cmd/crane.go
  src/cmd/tools.go
Due: check-docs-and-schema, goimports, lint

deprecate crane command
  src/cmd/crane.go
Due: check-docs-and-schema, goimports, lint

deprecate crane command
  site/src/content/docs/commands/zarf_tools_registry.md
  site/src/content/docs/commands/zarf_tools_registry_export.md
Due: none

fix: remove legacy signature from being produced on sign
  site/src/content/docs/ref/package-signing.mdx
  src/pkg/feature/feature.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/layout/package_test.go
  src/pkg/packager/publish_test.go
  src/pkg/signing/cosign_test.go
  src/pkg/signing/testdata/cosign.key
  src/pkg/signing/testdata/cosign.pub
Due: goimports, lint

fix: consider overwrite behaviors
  src/pkg/packager/layout/package.go
  src/pkg/packager/layout/package_test.go
Due: goimports, lint

fix: formally deprecate the legacy signature
  src/pkg/packager/layout/layout.go
  src/pkg/zoci/pull.go
Due: goimports, lint

fix: scan-action use and better formatting
  .github/SECURITY.md
  .github/workflows/scan-nightly-cve.yml
  .vex/zarf.openvex.json
  zarf.yaml
Due: none

feat(deprecate): zarf tools registy export (#5031)
  site/src/content/docs/commands/zarf_tools_registry.md
  site/src/content/docs/commands/zarf_tools_registry_export.md
  src/cmd/crane.go
  src/cmd/tools.go
Due: check-docs-and-schema, goimports, lint

chore(deps): update tools and workflows to use vendored deps
  .github/codeql.yaml
  .github/dependabot.yaml
  .github/workflows/check-go-mod.yml
Due: none

chore(build): add go mod vendor when building
  Makefile
Due: none

fix(flags): depecate --zarf-cache in favor of just --cache
  src/cmd/root.go
  src/cmd/zarf_tools.go
Due: check-docs-and-schema, goimports, lint

remove sbom compare tool
  src/pkg/packager/layout/package_test.go
  src/pkg/packager/layout/sbom.go
  src/pkg/packager/layout/viewer/compare.gohtml
  src/pkg/packager/layout/viewer/compare.js
  src/pkg/packager/layout/viewer/styles.css
  src/pkg/packager/layout/viewer/template.gohtml
  src/pkg/packager/layout/viewer/viewer.js
  src/test/e2e/04_create_templating_test.go
  src/test/e2e/05_tarball_test.go
  src/test/e2e/06_create_sbom_test.go
Due: goimports, lint

chore(deps): update .gitignore and .gitattributes to allow vendoring to work correctly
  .gitattributes
  .gitignore
Due: none

feat(sbom)!: remove compare tool (#5033)
  src/pkg/packager/layout/package_test.go
  src/pkg/packager/layout/sbom.go
  src/pkg/packager/layout/viewer/compare.gohtml
  src/pkg/packager/layout/viewer/compare.js
  src/pkg/packager/layout/viewer/styles.css
  src/pkg/packager/layout/viewer/template.gohtml
  src/pkg/packager/layout/viewer/viewer.js
  src/test/e2e/04_create_templating_test.go
  src/test/e2e/05_tarball_test.go
  src/test/e2e/06_create_sbom_test.go
Due: goimports, lint

fix craneCmd argument handling
  src/cmd/crane.go
Due: check-docs-and-schema, goimports, lint

disable page find
  site/hack/build-versions.mjs
  site/package-lock.json
Due: none

versioned search results
  site/astro.config.ts
  site/hack/build-versions.mjs
Due: none

versioned search results
  site/src/components/MarkdownContent.astro
  site/src/components/Search.astro
Due: none

fix: documentation updates
  site/src/content/docs/ref/package-signing.mdx
  src/pkg/packager/layout/layout.go
Due: goimports, lint

ci: fix precommit linting of vendor directory
  .golangci.yaml
  .pre-commit-config.yaml
Due: none

fix: ci exclusions for vendor dir
  .golangci.yaml
  .pre-commit-config.yaml
Due: none

fix: update oras-go and mitigation
  .golangci.yaml
  .pre-commit-config.yaml
  go.mod
  go.sum
  src/pkg/zoci/pull.go
  vendor/modules.txt
  vendor/oras.land/oras-go/v2/.goreleaser.yaml
  vendor/oras.land/oras-go/v2/CODEOWNERS
  vendor/oras.land/oras-go/v2/OWNERS.md
  vendor/oras.land/oras-go/v2/README.md
  vendor/oras.land/oras-go/v2/RELEASES.md
  vendor/oras.land/oras-go/v2/content/file/file.go
  vendor/oras.land/oras-go/v2/content/oci/storage.go
  vendor/oras.land/oras-go/v2/content/reader.go
  vendor/oras.land/oras-go/v2/internal/cas/memory.go
  vendor/oras.land/oras-go/v2/internal/graph/memory.go
  vendor/oras.land/oras-go/v2/internal/syncutil/once.go
  vendor/oras.land/oras-go/v2/registry/remote/auth/cache.go
  vendor/oras.land/oras-go/v2/registry/remote/auth/client.go
  vendor/oras.land/oras-go/v2/registry/remote/auth/scope.go
  vendor/oras.land/oras-go/v2/registry/remote/credentials/internal/config/config.go
  vendor/oras.land/oras-go/v2/registry/remote/credentials/registry.go
  vendor/oras.land/oras-go/v2/registry/remote/manifest.go
  vendor/oras.land/oras-go/v2/registry/remote/referrers.go
  vendor/oras.land/oras-go/v2/registry/remote/repository.go
Due: goimports, lint

ci: fix precommit linting of vendor directory (#5036)
  .golangci.yaml
  .pre-commit-config.yaml
Due: none

regenerate docs
  site/src/content/docs/commands/zarf_tools_registry_logout.md
Due: none
