Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: check-merge-conflict
      - id: detect-aws-credentials
        args:
          - "--allow-missing-credentials"
      - id: detect-private-key
        exclude: "src/test/e2e/29_config_file_test.go"
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                src/internal/packager/images/testdata/.*|
                site/src/content/docs/commands/.*
            )$
      - id: fix-byte-order-marker
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
        exclude: site/src/content/docs/commands/.*
  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.4
    hooks:
      - id: fix-smartquotes
  - repo: local
    hooks:
      - id: check-docs-and-schema
        name: Check for outdated docs and Zarf schema
        entry: make test-docs-and-schema
        files: "^src/(config|cmd)/"
        types: [go]
        language: system
        pass_filenames: false
      - id: goimports
        name: goimports
        entry: golangci-lint fmt
        types: [go]
        language: golang
        pass_filenames: false
      - id: lint
        name: golangci-lint go lint
        entry: golangci-lint run
        types: [go]
        language: golang
        pass_filenames: false

feat(connect): create zarf connect resource sub-command (#4683)
  site/src/content/docs/commands/zarf_connect.md
  site/src/content/docs/commands/zarf_connect_resource.md
  src/cmd/connect.go
  src/config/lang/english.go
Due: check-docs-and-schema, goimports, lint

better function name
  src/cmd/initialize.go
  src/pkg/state/state.go
Due: check-docs-and-schema, goimports, lint

feat(publish): support for tag specification (#4641)
  site/src/content/docs/commands/zarf_package_publish.md
  src/cmd/package.go
  src/config/lang/english.go
  src/pkg/packager/publish.go
  src/pkg/packager/publish_test.go
  src/pkg/zoci/common.go
  src/pkg/zoci/copier.go
  src/pkg/zoci/utils.go
Due: check-docs-and-schema, goimports, lint

label fix
  src/internal/packager/helm/post-render.go
  src/internal/packager/helm/post-render_test.go
  src/pkg/cluster/cluster.go
  src/pkg/packager/deploy.go
Due: goimports, lint

fix language
  src/pkg/packager/deploy.go
Due: goimports, lint

erase fixme
  src/pkg/cluster/cluster.go
Due: goimports, lint

better names
  src/internal/packager/helm/post-render.go
  src/pkg/cluster/cluster.go
  src/pkg/cluster/zarf.go
  src/pkg/packager/deploy.go
  src/pkg/state/state.go
  src/test/e2e/47_connected_deploy_test.go
  src/test/e2e/99_yolo_test.go
Due: goimports, lint

destroy test
  src/test/e2e/99_destroy_test.go
Due: goimports, lint

appliance mode
  src/test/e2e/99_appliance_remove_test.go
  src/test/e2e/99_destroy_test.go
Due: goimports, lint

WIP fixes and tests the bug
  src/pkg/zoci/pull.go
  src/pkg/zoci/pull_test.go
  src/pkg/zoci/testdata/multi-component/pod-alpine.yaml
  src/pkg/zoci/testdata/multi-component/pod-nginx.yaml
  src/pkg/zoci/testdata/multi-component/zarf.yaml
Due: goimports, lint

WIP, changing function signature
  src/cmd/package.go
  src/pkg/packager/create.go
  src/pkg/packager/load.go
  src/pkg/packager/pull.go
  src/pkg/zoci/common.go
  src/pkg/zoci/pull.go
  src/pkg/zoci/pull_test.go
Due: check-docs-and-schema, goimports, lint

improve function signature
  src/pkg/packager/pull.go
  src/pkg/zoci/common.go
  src/pkg/zoci/pull.go
  src/pkg/zoci/pull_test.go
Due: goimports, lint

simpler code
  src/pkg/zoci/common.go
  src/pkg/zoci/pull.go
Due: goimports, lint

only pull necessary layers
  src/cmd/package.go
Due: check-docs-and-schema, goimports, lint

more sensible defaults
  src/pkg/packager/pull.go
  src/pkg/zoci/common.go
  src/pkg/zoci/pull.go
Due: goimports, lint

fix tests
  src/pkg/zoci/pull_test.go
Due: goimports, lint

small cleanups
  src/cmd/package.go
  src/pkg/packager/load.go
  src/pkg/zoci/pull.go
Due: check-docs-and-schema, goimports, lint

better test
  src/pkg/zoci/pull.go
  src/pkg/zoci/pull_test.go
Due: goimports, lint

duplicate descriptors
  src/pkg/zoci/pull.go
Due: goimports, lint

better exclude
  src/pkg/packager/pull.go
Due: goimports, lint

feat: expanding support for kubectl plugins
  src/cmd/kubectl.go
Due: check-docs-and-schema, goimports, lint

cleaner test
  src/pkg/zoci/pull_test.go
  src/pkg/zoci/testdata/multi-component/pod-alpine.yaml
  src/pkg/zoci/testdata/multi-component/pod-nginx.yaml
Due: goimports, lint

cleaner
  src/pkg/zoci/pull_test.go
Due: goimports, lint

fix filter
  src/cmd/package.go
Due: check-docs-and-schema, goimports, lint

comment
  src/pkg/packager/pull.go
Due: goimports, lint

simplify
  src/pkg/packager/pull.go
  src/pkg/zoci/common.go
  src/pkg/zoci/pull.go
  src/pkg/zoci/pull_test.go
Due: goimports, lint

simplify
  src/pkg/packager/pull.go
Due: goimports, lint

table test
  src/pkg/zoci/pull_test.go
Due: goimports, lint

guard against slower startup
  src/test/testutil/registry.go
Due: goimports, lint

delete architecture from state
  src/pkg/state/state.go
Due: goimports, lint

add filter to init
  src/cmd/initialize.go
Due: check-docs-and-schema, goimports, lint

fix unit tests
  src/pkg/packager/find_images_test.go
  src/pkg/packager/update_test.go
Due: goimports, lint

fix tmpdir
  src/internal/packager/helm/template.go
Due: goimports, lint

field manager race condition
  src/cmd/helm.go
Due: check-docs-and-schema, goimports, lint

simplify
  src/internal/packager/helm/chart.go
Due: goimports, lint

link check
  site/src/content/docs/ref/components.mdx
Due: none

test: fix registry flake (#4700)
  src/test/testutil/registry.go
Due: goimports, lint

feat(state): remove architecture field (#4701)
  src/pkg/state/state.go
Due: goimports, lint

better message
  src/test/packages/25-helm-hooks/chart/templates/configmap.yaml
Due: none
