Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

check-docs-and-schema:
  name: Check for outdated docs and Zarf schema
  entry: make test-docs-and-schema
  language: system
  pass_filenames: false

goimports:
  name: goimports
  entry: golangci-lint fmt
  language: golang
  pass_filenames: false

lint:
  name: golangci-lint go lint
  entry: golangci-lint run
  language: golang
  pass_filenames: false

wip: handle state vs cluster [ci skip]
  src/api/v1alpha1/component.go
  src/api/v1alpha1/component_test.go
  src/api/v1beta1/component.go
  src/api/v1beta1/component_test.go
  src/pkg/packager/deploy.go
  src/pkg/packager/deploy_test.go
  src/pkg/packager/dev.go
  src/pkg/packager/remove.go
  src/test/e2e/30_component_action_cluster_test.go
Due: goimports, lint

revert accidental change
  zarf-config.toml
Due: none

roundtrip compare
  go.mod
  src/internal/api/v1alpha1/roundtrip_test.go
  src/internal/api/v1beta1/roundtrip_test.go
Due: goimports, lint

schema updates
  src/api/v1beta1/component.go
  src/internal/api/v1beta1/roundtrip_test.go
  src/pkg/schema/zarf-v1beta1-component-schema.json
  src/pkg/schema/zarf-v1beta1-package-schema.json
  src/pkg/schema/zarf.schema.json
  zarf.schema.json
Due: goimports, lint

roundtrip
  src/internal/api/v1beta1/roundtrip_test.go
Due: goimports, lint

fix: update to include reference
  CONTRIBUTOR_LADDER.md
Due: none

chore: update contributing ladder for approval guidance (#5245)
  CONTRIBUTOR_LADDER.md
Due: none

keep random chart source
  src/internal/api/v1beta1/convert.go
  src/internal/api/v1beta1/roundtrip_test.go
Due: goimports, lint

unnecessary test helper
  src/internal/api/v1beta1/roundtrip_test.go
Due: goimports, lint

fuzzer
  src/internal/api/types/package.go
  src/internal/api/v1alpha1/convert.go
  src/internal/api/v1beta1/convert.go
  src/internal/api/v1beta1/roundtrip_test.go
  src/test/testutil/fuzz.go
Due: goimports, lint

why is condition not 1:1
  src/internal/api/v1alpha1/roundtrip_test.go
Due: goimports, lint

comment
  src/internal/api/v1beta1/roundtrip_test.go
Due: goimports, lint

make chart more clear
  src/internal/api/v1alpha1/roundtrip_test.go
Due: goimports, lint

Update packages/zarf-agent/zarf.yaml
  packages/zarf-agent/zarf.yaml
Due: none

feat(agent): add variable for mutating webhook annotations (#5243)
  packages/zarf-agent/agent-values.yaml
  packages/zarf-agent/chart/templates/webhook.yaml
  packages/zarf-agent/chart/values.yaml
  packages/zarf-agent/zarf.yaml
Due: none

generic api deployed cluster
  src/cmd/package.go
  src/pkg/cluster/zarf.go
  src/pkg/cluster/zarf_test.go
  src/pkg/packager/deploy.go
  src/pkg/packager/load.go
  src/pkg/packager/load_test.go
  src/pkg/state/state.go
  src/pkg/state/state_test.go
Due: check-docs-and-schema, goimports, lint

charts
  src/internal/api/v1beta1/roundtrip_test.go
Due: goimports, lint

cleanup
  src/internal/api/v1beta1/roundtrip_test.go
Due: goimports, lint

deployed package
  src/cmd/crane.go
  src/cmd/package.go
  src/internal/packager/helm/zarf.go
  src/pkg/cluster/zarf_test.go
  src/pkg/packager/remove.go
Due: check-docs-and-schema, goimports, lint

add option helper
  src/cmd/viper.go
  src/cmd/viper_test.go
  src/cmd/zarf_tools.go
Due: check-docs-and-schema, goimports, lint

feat: update logic for creating image
  src/pkg/zoci/image/builder.go
  src/pkg/zoci/image/time.go
  src/pkg/zoci/image/volume.go
  src/pkg/zoci/image/volume_test.go
Due: goimports, lint

chore: update and lint vex before release
  .vex/zarf.cli.openvex.json
Due: none

feat: let library callers deploy through an existing cluster connection
  src/pkg/packager/deploy.go
  src/pkg/packager/deploy_test.go
Due: goimports, lint

fix: packager.Remove() uses ZarfDefaultTimeout as default timeout (#5252)
  src/pkg/packager/remove.go
Due: goimports, lint

fix: packager.Remove() uses ZarfDefaultTimeout as default timeout (#5253)
  src/pkg/packager/remove.go
Due: goimports, lint

feat: wrap in internal command
  src/cmd/inter/imv.go
  src/cmd/internal.go
  src/config/lang/english.go
  src/pkg/zoci/image/platform.go
  src/pkg/zoci/image/volume.go
Due: check-docs-and-schema, goimports, lint

chore: update and lint vex before release (#5251)
  .vex/zarf.cli.openvex.json
Due: none

record package deployment
  src/pkg/cluster/zarf.go
  src/pkg/cluster/zarf_test.go
  src/pkg/packager/deploy.go
  src/pkg/packager/load_test.go
Due: goimports, lint

fix(tools): prevent panic in `tools sbom config`
  src/cmd/syft.go
  src/cmd/syft_test.go
Due: check-docs-and-schema, goimports, lint

address more feedback
  src/cmd/zarf_tools.go
  src/cmd/zarf_tools_test.go
  src/pkg/cluster/registry_test.go
Due: check-docs-and-schema, goimports, lint

feat(tools): add aliases subcommand to generate sourcable alias output
  site/src/content/docs/commands/zarf_tools.md
  site/src/content/docs/commands/zarf_tools_aliases.md
  site/src/content/docs/ref/tools.mdx
  src/cmd/tools.go
  src/cmd/tools_aliases.go
  src/cmd/tools_aliases_test.go
  src/config/lang/english.go
  src/test/e2e/00_use_cli_test.go
Due: check-docs-and-schema, goimports, lint

small language clarification
  src/cmd/zarf_tools.go
  src/cmd/zarf_tools_test.go
Due: check-docs-and-schema, goimports, lint

fix: registry mode not handled properly in update-creds (#5230)
  src/cmd/viper.go
  src/cmd/viper_test.go
  src/cmd/zarf_tools.go
  src/cmd/zarf_tools_test.go
  src/pkg/cluster/registry.go
  src/pkg/cluster/registry_test.go
  src/pkg/cluster/tunnel.go
  src/pkg/state/state.go
  src/pkg/state/state_test.go
Due: check-docs-and-schema, goimports, lint

feat: expose imv as function
  go.mod
  site/src/content/docs/commands/zarf_dev.md
  site/src/content/docs/commands/zarf_dev_image-volume-archive.md
  src/cmd/dev.go
  src/cmd/dev/imv.go
  src/cmd/inter/imv.go
  src/cmd/internal.go
  src/pkg/zoci/archive/store.go
  src/pkg/zoci/archive/store_test.go
  src/pkg/zoci/image/builder.go
  src/pkg/zoci/image/platform.go
  src/pkg/zoci/image/volume.go
  src/pkg/zoci/image/volume_test.go
Due: check-docs-and-schema, goimports, lint

feat: logging
  site/src/content/docs/commands/zarf_dev_image-volume-archive.md
  src/cmd/dev/imv.go
  src/pkg/zoci/image/volume.go
Due: check-docs-and-schema, goimports, lint

feat: update logic for tar creation
  site/src/content/docs/commands/zarf_dev_image-volume-archive.md
  src/cmd/dev/imv.go
  src/pkg/zoci/archive/helper.go
  src/pkg/zoci/archive/helper_test.go
  src/pkg/zoci/image/volume.go
Due: check-docs-and-schema, goimports, lint

fix: flatten temp tar filename by "/" not OS separator
  src/pkg/zoci/image/volume.go
Due: goimports, lint

feat: add logic around output of file
  src/cmd/dev/imv.go
  src/pkg/zoci/archive/helper.go
  src/pkg/zoci/archive/helper_test.go
Due: check-docs-and-schema, goimports, lint

ci: expand code coverage
  src/cmd/dev/imv_test.go
  src/pkg/zoci/image/platform_test.go
  src/pkg/zoci/image/volume_test.go
Due: check-docs-and-schema, goimports, lint

feat: add ticker for adding files
  src/pkg/zoci/image/volume.go
Due: goimports, lint

Path conditions:
  check-docs-and-schema: any of: ^src/(config|cmd)/ and \.go$
  goimports: any of: \.go$
  lint: any of: \.go$
