Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

check-docs-and-schema:
  name: Check for outdated docs and Zarf schema
  entry: make test-docs-and-schema
  language: system
  pass_filenames: false

goimports:
  name: goimports
  entry: golangci-lint fmt
  language: golang
  pass_filenames: false

lint:
  name: golangci-lint go lint
  entry: golangci-lint run
  language: golang
  pass_filenames: false

chore(docs): generate CLI documentation
  site/src/content/docs/commands/zarf_package_sign.md
Due: none

chore(deps): use native k8s.io/client-go instead of controller-runtime for mapper
  go.mod
  src/pkg/cluster/cluster.go
Due: goimports, lint

chore(deps): use golang native slices rather than helper functions
  src/pkg/packager/pull.go
  src/pkg/packager/remove.go
Due: goimports, lint

chore(deps): limit dependencies in favor of built-ins or core libs (#4901)
  go.mod
  src/pkg/cluster/cluster.go
  src/pkg/packager/pull.go
  src/pkg/packager/remove.go
Due: goimports, lint

feat(verify): support for TSA verification
  src/cmd/package.go
  src/config/lang/english.go
  src/pkg/packager/layout/package.go
  src/pkg/signing/bundle.go
Due: check-docs-and-schema, goimports, lint

feat(sign): warn when disabling tlog and not using tsa
  src/cmd/package.go
  src/config/lang/english.go
Due: check-docs-and-schema, goimports, lint

fix(lang): format file accordingly
  src/config/lang/english.go
Due: check-docs-and-schema, goimports, lint

feat: expose LoadChartData and TemplateChart
  src/pkg/packager/layout/helm.go
Due: goimports, lint

chore(docs): generate docs
  site/src/content/docs/commands/zarf_package_verify.md
Due: none

version requirement update
  src/pkg/packager/layout/assemble.go
Due: goimports, lint

chore(deps): deny github.com/fsnotify/fsnotify versions 1.10.0 and 1.10.1
  .github/workflows/dependency-review.yml
Due: none

DO-NOT-MERGE: testing fsnotify bump to denied version
  go.mod
  go.sum
Due: none

further testing
  .github/workflows/dependency-review.yml
  go.mod
  go.sum
Due: none

fix unit tests
  src/pkg/packager/layout/assemble_test.go
Due: goimports, lint

chore(deps): replace retry.Do with wait.Until
  src/pkg/utils/network.go
Due: goimports, lint

chore(deps): replace retry.Do with wait.ExponentialBackoff
  src/internal/packager/helm/repo.go
  src/pkg/cluster/cluster.go
  src/pkg/cluster/data.go
  src/pkg/cluster/injector.go
  src/pkg/cluster/namespace.go
  src/pkg/cluster/tunnel.go
  src/pkg/images/pull.go
  src/pkg/images/push.go
  src/pkg/packager/mirror.go
  src/pkg/zoci/copier.go
  src/pkg/zoci/push.go
Due: goimports, lint

chore(deps): drop github.com/avast/retry-go/v4
  go.mod
  go.sum
Due: none

remove alpha from features
  src/cmd/root.go
Due: check-docs-and-schema, goimports, lint

fix(signing): remove config from signing
  RELEASES.md
  site/src/content/docs/commands/zarf_package_sign.md
  src/cmd/package.go
  src/config/lang/english.go
  src/pkg/packager/layout/package.go
  src/pkg/signing/cosign.go
  src/pkg/signing/trustedroot.go
  src/pkg/signing/trustedroot_test.go
Due: check-docs-and-schema, goimports, lint

fix(review): brutal review feedback
  RELEASES.md
  src/cmd/package.go
  src/pkg/packager/layout/package.go
  src/pkg/signing/cosign.go
  src/pkg/signing/cosign_test.go
Due: check-docs-and-schema, goimports, lint

fix(sign): remove top level cosign embeddings
  src/pkg/signing/cosign.go
Due: goimports, lint

chore(examples): refresh longhorn example to v1.11.2
  examples/longhorn/values.yaml
  examples/longhorn/zarf.yaml
Due: none

just skip in appliance mode
  src/test/e2e/49_agent_mutation_mode_test.go
Due: goimports, lint

chore(deps): bump golang.org/x/(crypto|net|sys)
  go.mod
  go.sum
Due: none

add helm agent lable test
  src/test/e2e/25_helm_adopt_ns_test.go
  src/test/packages/25-adopt-no-ns-template/chart/Chart.yaml
  src/test/packages/25-adopt-no-ns-template/chart/templates/configmap.yaml
  src/test/packages/25-adopt-no-ns-template/zarf.yaml
  src/test/packages/25-adopt-ns-with-agent-ignore/chart/Chart.yaml
  src/test/packages/25-adopt-ns-with-agent-ignore/chart/templates/configmap.yaml
  src/test/packages/25-adopt-ns-with-agent-ignore/chart/templates/namespace.yaml
  src/test/packages/25-adopt-ns-with-agent-ignore/zarf.yaml
Due: goimports, lint

quicken test
  src/test/e2e/25_helm_adopt_ns_test.go
Due: goimports, lint

chore(deps): bump golang.org/x/(crypto|net|sys) (#4924)
  go.mod
  go.sum
Due: none

quick fixes
  src/internal/agent/hooks/common.go
  src/internal/agent/operations/mutate.go
  src/pkg/cluster/namespace.go
  src/pkg/state/state.go
Due: goimports, lint

comments
  src/internal/agent/operations/mutate.go
Due: goimports, lint

move test to 98 to leave room for other tests
  src/test/e2e/98_agent_mutation_mode_test.go
  src/test/packages/98-agent-only-init/zarf.yaml
Due: goimports, lint

rename test
  src/test/e2e/49_helm_adopt_ns_test.go
  src/test/packages/49-adopt-no-ns-template/chart/Chart.yaml
  src/test/packages/49-adopt-no-ns-template/chart/templates/configmap.yaml
  src/test/packages/49-adopt-no-ns-template/zarf.yaml
  src/test/packages/49-adopt-ns-with-agent-ignore/chart/Chart.yaml
  src/test/packages/49-adopt-ns-with-agent-ignore/chart/templates/configmap.yaml
  src/test/packages/49-adopt-ns-with-agent-ignore/chart/templates/namespace.yaml
  src/test/packages/49-adopt-ns-with-agent-ignore/zarf.yaml
Due: goimports, lint

comment out 20 test addition
  src/test/e2e/20_zarf_init_test.go
Due: goimports, lint

update testing.mdx
  site/src/content/docs/contribute/testing.mdx
Due: none

add e2e no-cluster error
  site/src/content/docs/contribute/testing.mdx
  src/test/e2e/20_zarf_init_test.go
  src/test/e2e/main_test.go
Due: goimports, lint

add todo notes for myself, add WRN if APPLIANCE_MODE set on macOS or if cluster not found
  site/src/content/docs/contribute/testing.mdx
  src/test/e2e/20_zarf_init_test.go
  src/test/e2e/main_test.go
Due: goimports, lint

feat(sign): support for keyless signing and offline verification (#4891)
  RELEASES.md
  hack/refresh-trusted-root.sh
  site/src/content/docs/commands/zarf_package_sign.md
  site/src/content/docs/commands/zarf_package_verify.md
  src/cmd/package.go
  src/cmd/tools_trustedroot.go
  src/config/lang/english.go
  src/pkg/feature/feature.go
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/layout/package_test.go
  src/pkg/packager/load.go
  src/pkg/packager/load_test.go
  src/pkg/packager/publish.go
  src/pkg/packager/publish_test.go
  src/pkg/packager/pull.go
  src/pkg/signing/bundle.go
  src/pkg/signing/bundle_test.go
  src/pkg/signing/cosign.go
  src/pkg/signing/cosign_test.go
  src/pkg/signing/embedded_trusted_root.json
  src/pkg/signing/trustedroot.go
  src/pkg/signing/trustedroot_test.go
  src/pkg/utils/oci_artifacts.go
  src/test/e2e/12_package_signing_test.go
  src/test/e2e/31_checksum_and_signature_test.go
  src/test/e2e/34_custom_init_package_test.go
Due: check-docs-and-schema, goimports, lint

change to mutation policy
  packages/zarf-agent/chart/templates/deployment.yaml
  packages/zarf-agent/chart/templates/webhook.yaml
  packages/zarf-agent/chart/values.yaml
  src/cmd/initialize.go
  src/internal/agent/hooks/argocd-application.go
  src/internal/agent/hooks/argocd-application_test.go
  src/internal/agent/hooks/argocd-applicationset.go
  src/internal/agent/hooks/argocd-applicationset_test.go
  src/internal/agent/hooks/argocd-appproject.go
  src/internal/agent/hooks/argocd-appproject_test.go
  src/internal/agent/hooks/argocd-repository.go
  src/internal/agent/hooks/argocd-repository_test.go
  src/internal/agent/hooks/common.go
  src/internal/agent/hooks/flux-gitrepo.go
  src/internal/agent/hooks/flux-gitrepo_test.go
  src/internal/agent/hooks/flux-helmrepo.go
  src/internal/agent/hooks/flux-helmrepo_test.go
  src/internal/agent/hooks/flux-ocirepo.go
  src/internal/agent/hooks/flux-ocirepo_test.go
  src/internal/agent/hooks/git_mutation_guard_test.go
  src/internal/agent/hooks/pods.go
  src/internal/agent/hooks/pods_test.go
  src/internal/agent/operations/mutate.go
  src/internal/agent/operations/mutate_test.go
  src/internal/agent/start.go
  src/internal/packager/template/template.go
  src/pkg/cluster/cluster.go
  src/pkg/packager/deploy.go
  src/pkg/state/state.go
  src/test/e2e/98_agent_mutation_mode_test.go
Due: check-docs-and-schema, goimports, lint

Path conditions:
  check-docs-and-schema: any of: ^src/(config|cmd)/ and \.go$
  goimports: any of: \.go$
  lint: any of: \.go$
