Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

check-docs-and-schema:
  name: Check for outdated docs and Zarf schema
  entry: make test-docs-and-schema
  language: system
  pass_filenames: false

goimports:
  name: goimports
  entry: golangci-lint fmt
  language: golang
  pass_filenames: false

lint:
  name: golangci-lint go lint
  entry: golangci-lint run
  language: golang
  pass_filenames: false

airgap package manager for kubernetes
  .goreleaser.yaml
  site/src/content/docs/commands/zarf.md
  site/src/content/docs/commands/zarf_completion.md
  site/src/content/docs/commands/zarf_connect.md
  site/src/content/docs/commands/zarf_destroy.md
  site/src/content/docs/commands/zarf_dev.md
  site/src/content/docs/commands/zarf_init.md
  site/src/content/docs/commands/zarf_package.md
  site/src/content/docs/commands/zarf_say.md
  site/src/content/docs/commands/zarf_tools.md
  site/src/content/docs/commands/zarf_version.md
  src/config/lang/english.go
Due: check-docs-and-schema, goimports, lint

validation
  src/api/validation.go
Due: goimports, lint

switch statement
  src/api/validation.go
Due: goimports, lint

validation
  src/internal/pkgcfg/pkgcfg.go
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/remove.go
Due: goimports, lint

docs: fix tagline (#5392)
  .goreleaser.yaml
  site/src/content/docs/commands/zarf.md
  site/src/content/docs/commands/zarf_completion.md
  site/src/content/docs/commands/zarf_connect.md
  site/src/content/docs/commands/zarf_destroy.md
  site/src/content/docs/commands/zarf_dev.md
  site/src/content/docs/commands/zarf_init.md
  site/src/content/docs/commands/zarf_package.md
  site/src/content/docs/commands/zarf_say.md
  site/src/content/docs/commands/zarf_tools.md
  site/src/content/docs/commands/zarf_version.md
  src/config/lang/english.go
Due: check-docs-and-schema, goimports, lint

feat: remove migrated fields on api.Package (#5390)
  src/api/convert/convert_test.go
  src/api/package.go
  src/internal/api/v1alpha1/convert.go
  src/internal/api/v1alpha1/roundtrip_test.go
  src/internal/api/v1beta1/roundtrip_test.go
  src/pkg/packager/publish_test.go
Due: goimports, lint

honor v1beta1 image sources
  src/api/package.go
  src/api/v1beta1/component.go
  src/internal/api/v1beta1/convert.go
  src/pkg/images/pull.go
  src/pkg/images/pull_test.go
  src/pkg/images/unpack_test.go
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/assemble/assemble_test.go
Due: goimports, lint

validate
  src/api/validation.go
  src/api/validation_test.go
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/load/load.go
  src/pkg/packager/remove.go
Due: goimports, lint

remove
  src/pkg/packager/load/load.go
Due: goimports, lint

add some more validates
  src/internal/pkgcfg/pkgcfg.go
  src/pkg/cluster/zarf.go
Due: goimports, lint

fix(cmd): respect --platform and use oras-go for --tarball in registry digest
  site/src/content/docs/commands/zarf_tools_registry_digest.md
  src/cmd/registry_digest.go
  src/cmd/registry_digest_test.go
Due: check-docs-and-schema, goimports, lint

get source
  src/api/convert/convert_test.go
  src/api/package.go
  src/internal/api/v1alpha1/convert.go
  src/internal/api/v1beta1/convert.go
  src/pkg/images/pull.go
  src/pkg/images/pull_test.go
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/load/load_test.go
Due: goimports, lint

add explicit git server mode
  src/cmd/zarf_tools.go
  src/pkg/cluster/cluster_test.go
  src/pkg/state/state.go
  src/pkg/state/state_test.go
Due: check-docs-and-schema, goimports, lint

fix(component): tag published components after signing
  src/pkg/component/publish.go
  src/pkg/component/publish_test.go
  src/pkg/oci/index.go
  src/pkg/oci/index_test.go
Due: goimports, lint

feat: sign published component manifests
  src/cmd/component.go
  src/cmd/package_test.go
  src/pkg/component/publish.go
  src/pkg/component/publish_test.go
  src/pkg/oci/index.go
  src/pkg/oci/index_test.go
  src/test/e2e/15_component_publish_v1beta1_test.go
Due: check-docs-and-schema, goimports, lint

fix(oci): verify fetched index descriptors
  src/pkg/oci/index.go
  src/pkg/oci/index_test.go
Due: goimports, lint

feat: unify signing option handling
  site/src/content/docs/commands/zarf_package_create.md
  src/cmd/component.go
  src/cmd/package.go
  src/cmd/package_test.go
  src/cmd/usage_test.go
  src/cmd/viper.go
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/create.go
  src/pkg/packager/create_test.go
  src/pkg/zoci/pull_test.go
  src/test/e2e/12_package_signing_test.go
Due: check-docs-and-schema, goimports, lint

test(component): cover signing published components
  src/test/e2e/15_component_publish_v1beta1_test.go
Due: goimports, lint

fix: propagate secret updates on init
  src/pkg/cluster/secrets.go
  src/pkg/cluster/secrets_test.go
  src/pkg/packager/deploy.go
Due: goimports, lint

v1beta1 validation
  src/internal/api/v1beta1/validate.go
  src/pkg/packager/assemble/assemble_test.go
  src/pkg/packager/load/load_test.go
Due: goimports, lint

get source
  src/pkg/images/pull.go
Due: goimports, lint

image sources
  src/pkg/images/pull.go
Due: goimports, lint

fix flake
  src/pkg/wait/wait_test.go
Due: goimports, lint

has images
  src/api/v1beta1/package.go
  src/api/v1beta1/package_test.go
Due: goimports, lint

delete functions from v1beta1
  src/api/v1beta1/component.go
  src/api/v1beta1/package.go
  src/api/v1beta1/package_test.go
Due: goimports, lint

fix(init): propagate secret updates on init mode changes (#5398)
  src/pkg/cluster/secrets.go
  src/pkg/cluster/secrets_test.go
  src/pkg/packager/deploy.go
Due: goimports, lint

feat: add explicit git server mode to state (#5395)
  src/cmd/zarf_tools.go
  src/pkg/cluster/cluster_test.go
  src/pkg/state/state.go
  src/pkg/state/state_test.go
Due: check-docs-and-schema, goimports, lint

checksum
  src/api/convert/convert_test.go
  src/api/package.go
  src/internal/api/v1alpha1/convert.go
  src/internal/api/v1beta1/convert.go
  src/internal/checksum/checksum.go
  src/internal/checksum/checksum_test.go
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/assemble/assemble_test.go
  src/pkg/packager/deploy.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/load.go
  src/pkg/packager/load_test.go
  src/test/e2e/05_tarball_test.go
Due: goimports, lint

file checksums
  src/internal/api/v1beta1/validate.go
  src/internal/api/v1beta1/validate_test.go
Due: goimports, lint

split back selector and target
  src/api/package.go
  src/internal/api/v1alpha1/convert.go
  src/internal/api/v1beta1/convert.go
  src/pkg/packager/assemble/assemble.go
Due: goimports, lint

validation
  src/api/convert/convert_test.go
  src/api/validation.go
  src/api/validation_test.go
  src/internal/api/v1alpha1/roundtrip_test.go
  src/internal/api/v1beta1/convert.go
  src/internal/api/v1beta1/roundtrip_test.go
Due: goimports, lint

find images v1beta1
  src/cmd/dev.go
  src/pkg/packager/find_images.go
  src/pkg/packager/find_images_test.go
  src/pkg/packager/update.go
  src/pkg/packager/update_test.go
Due: check-docs-and-schema, goimports, lint

fix registry prune deployed secret
  src/cmd/package.go
  src/pkg/packager/deploy.go
  src/test/e2e/47_connected_deploy_test.go
Due: check-docs-and-schema, goimports, lint

comment
  src/cmd/package.go
Due: check-docs-and-schema, goimports, lint

fix: deprecate package publish signing
  site/src/content/docs/commands/zarf_package_publish.md
  src/cmd/package.go
  src/config/lang/english.go
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/publish.go
  src/pkg/packager/publish_test.go
  src/test/e2e/10_component_flavor_test.go
  src/test/e2e/50_oci_publish_deploy_test.go
Due: check-docs-and-schema, goimports, lint

fix(find-images): read the resources a list holds
  src/pkg/packager/find_images.go
  src/pkg/packager/find_images_list_test.go
  src/pkg/packager/testdata/find-images/list-kinds/helm-test-list.yaml
Due: goimports, lint

fix(helm)!: only label pod templates of built-in workload kinds
  src/internal/packager/helm/post-render.go
  src/internal/packager/helm/post-render_test.go
Due: goimports, lint

fix: allow null values in init chart schemas
  packages/zarf-agent/chart/values.schema.json
  packages/zarf-registry/chart/values.schema.json
Due: none

feat: add init chart values schemas
  packages/zarf-agent/chart/values.schema.json
  packages/zarf-registry/chart/values.schema.json
Due: none

fix: chart schemas accept string and number; bump patch versions
  packages/zarf-agent/chart/Chart.yaml
  packages/zarf-agent/chart/values.schema.json
  packages/zarf-agent/zarf.yaml
  packages/zarf-registry/chart/Chart.yaml
  packages/zarf-registry/chart/values.schema.json
  packages/zarf-registry/zarf.yaml
Due: none

Path conditions:
  check-docs-and-schema: any of: ^src/(config|cmd)/ and \.go$
  goimports: any of: \.go$
  lint: any of: \.go$
