Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

check-docs-and-schema:
  name: Check for outdated docs and Zarf schema
  entry: make test-docs-and-schema
  language: system
  pass_filenames: false

goimports:
  name: goimports
  entry: golangci-lint fmt
  language: golang
  pass_filenames: false

lint:
  name: golangci-lint go lint
  entry: golangci-lint run
  language: golang
  pass_filenames: false

schema test changes
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/assemble/assemble_test.go
  src/pkg/packager/assemble/testdata/schema-merge/child-no-dialect.schema.json
  src/pkg/packager/assemble/testdata/schema-merge/child-with-external-ref.schema.json
  src/pkg/packager/assemble/testdata/schema-merge/child-with-ref.schema.json
  src/pkg/packager/assemble/testdata/schema-merge/child-wrong-version.schema.json
  src/pkg/packager/assemble/testdata/schema-merge/child.schema.json
  src/pkg/packager/assemble/testdata/schema-merge/child2.schema.json
  src/pkg/packager/assemble/testdata/schema-merge/parent-no-required.schema.json
  src/pkg/packager/assemble/testdata/schema-merge/parent-overlapping-required.schema.json
  src/pkg/packager/assemble/testdata/schema-merge/parent-overrides-definitions.schema.json
  src/pkg/packager/assemble/testdata/schema-merge/parent-with-required.schema.json
  src/pkg/value/schema_test.go
Due: goimports, lint

fix: add values flags to dev deploy and init (#5234)
  site/src/content/docs/commands/zarf_dev_deploy.md
  site/src/content/docs/commands/zarf_init.md
  src/cmd/dev.go
  src/cmd/initialize.go
  src/pkg/packager/deploy.go
  src/pkg/packager/dev.go
  src/pkg/packager/dev_test.go
Due: check-docs-and-schema, goimports, lint

empty json
  src/pkg/packager/load/import_v1beta1.go
Due: goimports, lint

unpack
  src/pkg/images/unpack.go
  src/pkg/images/unpack_test.go
Due: goimports, lint

one of local and remote
  src/api/v1beta1/component.go
  src/pkg/lint/schema_test.go
  src/pkg/schema/zarf-v1beta1-component-schema.json
  src/pkg/schema/zarf-v1beta1-package-schema.json
  src/pkg/schema/zarf.schema.json
  zarf.schema.json
Due: goimports, lint

omitzer
  src/api/v1beta1/component_config.go
Due: goimports, lint

remove kind
  src/pkg/component/publish.go
  src/pkg/component/publish_test.go
  src/pkg/component/resource_normalizer.go
  src/pkg/packager/layout/oci.go
  src/pkg/packager/load/import_v1beta1.go
  src/pkg/packager/load/import_v1beta1_test.go
Due: goimports, lint

imports
  src/pkg/packager/load/import_v1beta1_test.go
Due: goimports, lint

file
  src/pkg/zoci/common.go
Due: goimports, lint

resource set
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/assemble/assemble_test.go
  src/pkg/packager/load/load.go
  src/pkg/packager/load/package.go
Due: goimports, lint

isabs
  src/pkg/packager/assemble/assemble.go
Due: goimports, lint

not yet supported
  src/pkg/component/publish.go
  src/pkg/component/publish_test.go
  src/pkg/component/resource_normalizer.go
Due: goimports, lint

add more registry url validation logic
  src/cmd/zarf_tools.go
  src/cmd/zarf_tools_test.go
  src/pkg/state/state.go
  src/pkg/state/state_test.go
Due: check-docs-and-schema, goimports, lint

add nolint
  src/cmd/zarf_tools_test.go
Due: check-docs-and-schema, goimports, lint

implement remote resource imports
  src/pkg/component/publish.go
  src/pkg/component/publish_test.go
  src/pkg/component/resource_normalizer.go
  src/pkg/packager/load/import_v1beta1.go
  src/pkg/packager/load/package.go
Due: goimports, lint

resource set
  src/pkg/component/publish_test.go
  src/pkg/component/resource_normalizer.go
  src/pkg/packager/load/package.go
Due: goimports, lint

test: fix deprecated layer opener and windows tar entry separators
  src/pkg/packager/assemble/sbom_test.go
Due: goimports, lint

one source
  src/api/v1beta1/component.go
Due: goimports, lint

coment
  src/pkg/packager/load/load.go
Due: goimports, lint

introduce variants
  src/api/v1beta1/component_config.go
  src/api/v1beta1/component_test.go
  src/pkg/component/publish.go
  src/pkg/component/publish_test.go
  src/pkg/component/resource_normalizer.go
  src/pkg/component/testdata/publish-component-v1beta1/component-flavor.yaml
  src/pkg/packager/load/import_v1beta1.go
  src/pkg/packager/load/import_v1beta1_test.go
  src/pkg/packager/load/testdata/import-v1beta1/single-incompatible/components/web-apache.yaml
  src/pkg/packager/load/testdata/import-v1beta1/variants/components/web-apache.yaml
  src/pkg/packager/load/testdata/import-v1beta1/variants/components/web-nginx.yaml
  src/pkg/schema/zarf-v1beta1-component-schema.json
Due: goimports, lint

feat: start working on adding file to image for ivm
  src/pkg/zoci/image/layer.go
  src/pkg/zoci/image/temp.go
  src/pkg/zoci/image/time.go
  src/pkg/zoci/image/volume.go
Due: goimports, lint

chore: remove unnecessary docs
  site/src/content/docs/ref/init-package.mdx
Due: none

fix(sbom): correct image detection for SBOM generation
  src/pkg/images/common.go
  src/pkg/images/common_test.go
  src/pkg/packager/assemble/sbom.go
  src/test/e2e/06_create_sbom_test.go
Due: goimports, lint

test: add unit coverage for generated SBOM contents (#5222)
  src/pkg/packager/assemble/sbom_test.go
Due: goimports, lint

fix: replace mimetype with archives (#5228)
  go.mod
  src/pkg/packager/pull.go
  src/pkg/packager/pull_test.go
Due: goimports, lint

pkg-oci-1.32
  go.mod
  go.sum
  vendor/github.com/defenseunicorns/pkg/oci/common.go
  vendor/modules.txt
Due: goimports, lint

feat: remove net tests
  src/cmd/dev_test.go
Due: check-docs-and-schema, goimports, lint

chore(deps): bump github.com/defenseunicorns/pkg/oci from 1.31.1 to 1.32.0 (#5239)
  go.mod
  go.sum
  vendor/github.com/defenseunicorns/pkg/oci/common.go
  vendor/modules.txt
Due: goimports, lint

refactor: move template out of internal (#5212)
  .prekignore
  src/internal/template/testdata/invalid/input.yaml
  src/pkg/packager/actions/actions.go
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/deploy.go
  src/pkg/packager/find_images.go
  src/pkg/packager/inspect.go
  src/pkg/packager/remove.go
  src/pkg/packager/values_preflight.go
  src/pkg/template/refs.go
  src/pkg/template/refs_test.go
  src/pkg/template/template.go
  src/pkg/template/template_test.go
  src/pkg/template/testdata/configmap/expected.yaml
  src/pkg/template/testdata/configmap/input.yaml
  src/pkg/template/testdata/constants/expected.yaml
  src/pkg/template/testdata/constants/input.yaml
  src/pkg/template/testdata/deployment/expected.yaml
  src/pkg/template/testdata/deployment/input.yaml
  src/pkg/template/testdata/invalid/input.yaml
  src/pkg/template/testdata/sprig-basic/expected.yaml
  src/pkg/template/testdata/sprig-basic/input.yaml
  src/pkg/template/testdata/sprig-functions/expected.yaml
  src/pkg/template/testdata/sprig-functions/input.yaml
Due: goimports, lint

variable for mutating webhook annotations
  packages/zarf-agent/agent-values.yaml
  packages/zarf-agent/chart/templates/webhook.yaml
  packages/zarf-agent/chart/values.yaml
  packages/zarf-agent/zarf.yaml
Due: none

feat: allow excluding ArgoCD and Flux resources from Zarf Agent mutation (#5224)
  packages/zarf-agent/agent-values.yaml
  packages/zarf-agent/chart/templates/webhook.yaml
  packages/zarf-agent/chart/values.yaml
  packages/zarf-agent/zarf.yaml
  site/src/content/docs/ref/init-package.mdx
Due: none

chore: update contributing ladder
  CONTRIBUTOR_LADDER.md
Due: none

feat: working on image volume mount
  src/pkg/zoci/image/builder.go
  src/pkg/zoci/image/layer.go
  src/pkg/zoci/image/temp.go
  src/pkg/zoci/image/volume.go
  src/pkg/zoci/image/volume_test.go
Due: goimports, lint

feat: add compression options
  go.mod
  src/pkg/zoci/image/builder.go
  src/pkg/zoci/image/volume.go
  src/pkg/zoci/image/volume_test.go
Due: goimports, lint

feat(dev): evaluate helm chart schemas in dev generate-schema (#5176)
  site/src/content/docs/commands/zarf_dev.md
  site/src/content/docs/commands/zarf_dev_generate-schema.md
  src/cmd/dev.go
  src/pkg/value/generate.go
  src/pkg/value/generate_test.go
  src/pkg/value/schema.go
  src/test/e2e/14_zarf_package_generate_test.go
  src/test/packages/14-generate-schema/chart/templates/configmap.yaml
  src/test/packages/14-generate-schema/chart/values.schema.json
  src/test/packages/14-generate-schema/chart/values.yaml
  src/test/packages/14-generate-schema/zarf.yaml
Due: check-docs-and-schema, goimports, lint

chore: update mention of values to beta
  examples/values-templating/readme.md
Due: none

chore: update values example to [beta]
  examples/values-templating/readme.md
Due: none

chore: adjust language
  examples/values-templating/readme.md
Due: none

chore: update mention of values to beta (#5246)
  examples/values-templating/readme.md
Due: none

Path conditions:
  check-docs-and-schema: any of: ^src/(config|cmd)/ and \.go$
  goimports: any of: \.go$
  lint: any of: \.go$
