Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

check-docs-and-schema:
  name: Check for outdated docs and Zarf schema
  entry: make test-docs-and-schema
  language: system
  pass_filenames: false

goimports:
  name: goimports
  entry: golangci-lint fmt
  language: golang
  pass_filenames: false

lint:
  name: golangci-lint go lint
  entry: golangci-lint run
  language: golang
  pass_filenames: false

comment
  src/pkg/archive/archive.go
Due: goimports, lint

error message
  src/pkg/images/pull.go
Due: goimports, lint

udpate unit tests to match new lint errors, remove deepreflect usage
  src/internal/api/v1alpha1/validate.go
  src/pkg/packager/lint_test.go
  src/pkg/packager/load/load.go
  src/pkg/utils/oci_artifacts.go
Due: goimports, lint

fix dev deploy walk through
  src/cmd/dev.go
  src/pkg/packager/dev.go
Due: check-docs-and-schema, goimports, lint

helm test
  src/test/e2e/25_helm_test.go
  src/test/packages/25-manifest-adoption/deployment.yaml
Due: goimports, lint

helm test
  src/test/packages/25-manifest-adoption/existing-resources.yaml
  src/test/packages/25-manifest-adoption/manifests/clusterrole.yaml
  src/test/packages/25-manifest-adoption/manifests/deployment.yaml
  src/test/packages/25-manifest-adoption/zarf.yaml
Due: none

separate tests
  src/test/e2e/25_helm_test.go
Due: goimports, lint

chore: fix error message typo in packager load identifySource
  src/pkg/packager/load.go
Due: goimports, lint

remove parallel
  src/test/e2e/25_helm_test.go
Due: goimports, lint

chore: fix error message typo in packager load identifySource (#5018)
  src/pkg/packager/load.go
Due: goimports, lint

Update src/config/lang/english.go
  src/config/lang/english.go
Due: check-docs-and-schema, goimports, lint

chore: generate command docs
  site/src/content/docs/commands/zarf_init.md
  site/src/content/docs/commands/zarf_package_deploy.md
  site/src/content/docs/commands/zarf_package_inspect_definition.md
  site/src/content/docs/commands/zarf_package_inspect_documentation.md
  site/src/content/docs/commands/zarf_package_inspect_images.md
  site/src/content/docs/commands/zarf_package_inspect_manifests.md
  site/src/content/docs/commands/zarf_package_inspect_sbom.md
  site/src/content/docs/commands/zarf_package_inspect_values-files.md
  site/src/content/docs/commands/zarf_package_mirror-resources.md
  site/src/content/docs/commands/zarf_package_publish.md
  site/src/content/docs/commands/zarf_package_pull.md
  site/src/content/docs/commands/zarf_package_remove.md
  site/src/content/docs/commands/zarf_package_sign.md
Due: none

fix: skeleton packages drop non-host-arch components
  src/pkg/packager/load/import.go
  src/pkg/packager/load/import_test.go
  src/pkg/packager/load/load.go
  src/pkg/packager/publish.go
Due: goimports, lint

fix: retain all architecture variants in skeleton packages
  src/internal/api/v1alpha1/validate.go
  src/pkg/packager/load/import.go
  src/test/e2e/10_component_flavor_test.go
Due: goimports, lint

test: cover multi-arch skeleton publish
  src/pkg/packager/publish_test.go
  src/pkg/packager/testdata/skeleton-multiarch/sub/zarf.yaml
  src/pkg/packager/testdata/skeleton-multiarch/zarf.yaml
Due: goimports, lint

inptu validation
  src/pkg/archive/archive.go
Due: goimports, lint

chore(deps): bump syft to v1.46.0
  go.mod
  go.sum
Due: none

chore(deps): introduce 7 day cooldown period for dependabot
  .github/dependabot.yaml
Due: none

feat(verification)!: behavior updates for verification logic (#5011)
  site/src/content/docs/commands/zarf_init.md
  site/src/content/docs/commands/zarf_package_deploy.md
  site/src/content/docs/commands/zarf_package_inspect_definition.md
  site/src/content/docs/commands/zarf_package_inspect_documentation.md
  site/src/content/docs/commands/zarf_package_inspect_images.md
  site/src/content/docs/commands/zarf_package_inspect_manifests.md
  site/src/content/docs/commands/zarf_package_inspect_sbom.md
  site/src/content/docs/commands/zarf_package_inspect_values-files.md
  site/src/content/docs/commands/zarf_package_mirror-resources.md
  site/src/content/docs/commands/zarf_package_publish.md
  site/src/content/docs/commands/zarf_package_pull.md
  site/src/content/docs/commands/zarf_package_remove.md
  site/src/content/docs/commands/zarf_package_sign.md
  src/cmd/initialize.go
  src/cmd/package.go
  src/config/lang/english.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/layout/package_test.go
  src/pkg/packager/load_test.go
  src/test/e2e/11_oci_pull_inspect_test.go
  src/test/e2e/31_checksum_and_signature_test.go
  src/test/e2e/34_custom_init_package_test.go
Due: check-docs-and-schema, goimports, lint

chore(deps): introduce 7 day cooldown period for dependabot (#5022)
  .github/dependabot.yaml
Due: none

fix extractor logic
  src/pkg/archive/archive.go
Due: goimports, lint

archive
  src/pkg/archive/archive.go
Due: goimports, lint

chore(deps): bump syft to v1.46.0 (#5021)
  go.mod
  go.sum
Due: none

feat: add component filtering by variable
  adr/0027-component-only-variable.md
  examples/component-only-variable/zarf.yaml
  src/api/internal/v1beta1/component.go
  src/api/v1alpha1/component.go
  src/cmd/initialize.go
  src/cmd/package.go
  src/internal/api/v1alpha1/validate.go
  src/pkg/lint/rules.go
  src/pkg/packager/deploy.go
  src/pkg/packager/dev.go
  src/pkg/packager/filters/variable.go
  src/pkg/packager/filters/variable_test.go
  src/pkg/packager/lint.go
  src/pkg/packager/load/import.go
  src/pkg/schema/zarf-v1alpha1-schema.json
  src/pkg/variables/variables.go
  src/test/e2e/51_component_only_variable_test.go
  src/test/packages/51-component-only-variable/blank-file.txt
  src/test/packages/51-component-only-variable/zarf.yaml
  zarf.schema.json
Due: check-docs-and-schema, goimports, lint

Update examples/longhorn/values.yaml
  examples/longhorn/values.yaml
Due: none

feat(schema): update v1beta1 types (#4704)
  src/api/internal/v1beta1/component.go
  src/api/internal/v1beta1/package.go
  src/api/internal/v1beta1/package_test.go
  src/api/internal/v1beta1/translate.go
  src/api/internal/v1beta1/translate_test.go
  src/api/v1alpha1/package.go
  src/api/v1beta1/component.go
  src/api/v1beta1/component_config.go
  src/api/v1beta1/component_test.go
  src/api/v1beta1/deprecated.go
  src/api/v1beta1/package.go
  src/api/v1beta1/package_test.go
  src/pkg/schema/generate.go
  src/pkg/schema/zarf-v1beta1-component-schema.json
  src/pkg/schema/zarf-v1beta1-package-schema.json
Due: goimports, lint

implement API conversions
  src/api/convert/convert.go
  src/api/convert/convert_test.go
  src/api/v1alpha1/package.go
  src/api/v1alpha1/package_test.go
  src/api/v1beta1/component.go
  src/api/v1beta1/component_config.go
  src/api/v1beta1/convert.go
  src/api/v1beta1/package.go
  src/api/v1beta1/package_test.go
  src/cmd/internal.go
  src/cmd/internal_convert.go
  src/cmd/internal_convert_test.go
  src/internal/api/types/package.go
  src/internal/api/v1alpha1/convert.go
  src/internal/api/v1alpha1/roundtrip_test.go
  src/internal/api/v1beta1/convert.go
  src/internal/api/v1beta1/roundtrip_test.go
  src/pkg/schema/zarf-v1beta1-component-schema.json
  src/pkg/schema/zarf-v1beta1-package-schema.json
Due: check-docs-and-schema, goimports, lint

feat: reduce docker daemon pull storage footprint (#5017)
  src/pkg/archive/archive.go
  src/pkg/archive/archive_test.go
  src/pkg/images/pull.go
Due: goimports, lint

feat(security): support project vulnerability scanning and vex statements
  .github/workflows/scan-nightly-cve.yml
  .grype.yaml
  .vex/zarf.openvex.json
  go.mod
  go.sum
Due: none

feat: add oprhan script and Make targets
  Makefile
  hack/check-vex-orphans.sh
Due: none

feat: add vex to release artifacts and init package
  .goreleaser.yaml
  zarf.yaml
Due: none

chore: document process for security and contribution
  .github/SECURITY.md
  site/src/content/docs/contribute/vulnerability-management.mdx
Due: none

convert
  src/api/convert/convert_test.go
  src/internal/api/v1beta1/convert.go
  src/internal/api/v1beta1/roundtrip_test.go
Due: goimports, lint

fix: do not run grype multiple times
  .github/workflows/scan-nightly-cve.yml
  Makefile
Due: none

test: migrate existing ignore to vex to test the vex linting make target
  .grype.yaml
  .vex/zarf.openvex.json
Due: none

fix docs site to handle v1beta1 schema
  site/astro.config.ts
  site/hack/build-versions.mjs
  site/package.json
  site/src/components/SchemaItemProperties.astro
  site/src/components/SchemaReference.astro
  site/src/lib/schema.ts
Due: none

v1beta1 package
  site/src/content/docs/schema/v1beta1-package.mdx
Due: none

fix: adjudicate known false-positives in VEX
  .vex/zarf.openvex.json
  Makefile
Due: none

zarf dev convert
  src/cmd/dev.go
  src/cmd/dev_convert.go
  src/cmd/internal.go
Due: check-docs-and-schema, goimports, lint

upgrade-schema
  src/cmd/dev.go
  src/cmd/dev_convert.go
  src/cmd/internal_convert_test.go
Due: check-docs-and-schema, goimports, lint

Path conditions:
  check-docs-and-schema: any of: ^src/(config|cmd)/ and \.go$
  goimports: any of: \.go$
  lint: any of: \.go$
