Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

check-docs-and-schema:
  name: Check for outdated docs and Zarf schema
  entry: make test-docs-and-schema
  language: system
  pass_filenames: false

goimports:
  name: goimports
  entry: golangci-lint fmt
  language: golang
  pass_filenames: false

lint:
  name: golangci-lint go lint
  entry: golangci-lint run
  language: golang
  pass_filenames: false

updates
  src/api/v1beta1/package.go
  v1beta1-loading-plan.md
Due: goimports, lint

generic
  src/api/convert/convert.go
  src/pkg/packager/layout/oci.go
  src/pkg/packager/layout/package.go
Due: goimports, lint

feat: deprecate sbom viewer (#5046)
  src/pkg/packager/layout/viewer/styles.css
  src/pkg/packager/layout/viewer/template.gohtml
Due: none

feat(v1beta1): split target into create time selector and deploy time target (#5042)
  src/api/v1beta1/component.go
  src/api/v1beta1/component_config.go
  src/pkg/schema/zarf-v1beta1-component-schema.json
  src/pkg/schema/zarf-v1beta1-package-schema.json
Due: goimports, lint

fix: implicit port handling
  src/pkg/transport/transport.go
  src/pkg/transport/transport_test.go
Due: goimports, lint

fix: deduplicate chart load
  src/internal/packager/helm/repo.go
Due: goimports, lint

fix: rename transport to ocitransport
  src/cmd/root.go
  src/internal/agent/hooks/common.go
  src/internal/packager/helm/repo.go
  src/pkg/images/pull.go
  src/pkg/images/push.go
  src/pkg/ocitransport/ocitransport.go
  src/pkg/ocitransport/ocitransport_test.go
  src/pkg/packager/load/import.go
  src/pkg/utils/oci_artifacts.go
Due: check-docs-and-schema, goimports, lint

fix: network test measurement
  src/internal/packager/helm/template_test.go
Due: goimports, lint

fix: remove TemplateChart test
  src/internal/packager/helm/template_test.go
Due: goimports, lint

account for new fields
  src/api/convert/convert_test.go
  src/internal/api/v1beta1/convert.go
  src/internal/api/v1beta1/roundtrip_test.go
Due: goimports, lint

fix: handle cache + change in registry state test
  src/internal/agent/hooks/common.go
  src/internal/agent/hooks/common_test.go
  src/pkg/images/common.go
  src/pkg/images/push.go
  src/test/testutil/registry.go
Due: goimports, lint

fix: scheme upgrade test and handling
  src/internal/agent/hooks/common.go
  src/internal/agent/hooks/common_test.go
  src/test/testutil/registry.go
Due: goimports, lint

docs(search): load pages from currently selected version (#5035)
  site/astro.config.ts
  site/package-lock.json
  site/src/components/MarkdownContent.astro
  site/src/components/Search.astro
  site/src/lib/version.ts
Due: none

updater schema
  src/pkg/schema/zarf.schema.json
  zarf.schema.json
Due: none

fix: rename ocitransport to ocischeme
  src/cmd/root.go
  src/internal/agent/hooks/common.go
  src/internal/packager/helm/repo.go
  src/pkg/images/pull.go
  src/pkg/images/push.go
  src/pkg/ocischeme/ocischeme.go
  src/pkg/ocischeme/ocischeme_test.go
  src/pkg/packager/load/import.go
  src/pkg/utils/oci_artifacts.go
Due: check-docs-and-schema, goimports, lint

chore: update go version
  go.mod
Due: none

fix: update for go changes
  src/pkg/archive/archive.go
Due: goimports, lint

fix: remove global transportNegotiator
  src/internal/agent/hooks/common.go
  src/internal/agent/hooks/common_test.go
Due: goimports, lint

fix: remove retry-on-failure
  src/internal/agent/hooks/common.go
Due: goimports, lint

fix: remove tests no longer required
  src/internal/agent/hooks/common_test.go
  src/test/testutil/registry.go
Due: goimports, lint

fix: move trim
  src/pkg/archive/archive.go
Due: goimports, lint

chore: update go version (#5050)
  go.mod
  src/pkg/archive/archive.go
Due: goimports, lint

feat(ocischeme)!: support per-host transport negotiation for plain http (#5047)
  src/cmd/root.go
  src/internal/agent/hooks/common.go
  src/internal/packager/helm/repo.go
  src/internal/packager/helm/template.go
  src/pkg/images/common.go
  src/pkg/images/pull.go
  src/pkg/images/pull_test.go
  src/pkg/images/push.go
  src/pkg/ocischeme/ocischeme.go
  src/pkg/ocischeme/ocischeme_test.go
  src/pkg/packager/find_images.go
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/load/import.go
  src/pkg/utils/oci_artifacts.go
Due: check-docs-and-schema, goimports, lint

fix: update oras-go and mitigate auto-unpack (#5049)
  go.mod
  go.sum
  src/pkg/zoci/pull.go
  vendor/modules.txt
  vendor/oras.land/oras-go/v2/.goreleaser.yaml
  vendor/oras.land/oras-go/v2/CODEOWNERS
  vendor/oras.land/oras-go/v2/OWNERS.md
  vendor/oras.land/oras-go/v2/README.md
  vendor/oras.land/oras-go/v2/RELEASES.md
  vendor/oras.land/oras-go/v2/content/file/file.go
  vendor/oras.land/oras-go/v2/content/oci/storage.go
  vendor/oras.land/oras-go/v2/content/reader.go
  vendor/oras.land/oras-go/v2/internal/cas/memory.go
  vendor/oras.land/oras-go/v2/internal/graph/memory.go
  vendor/oras.land/oras-go/v2/internal/syncutil/once.go
  vendor/oras.land/oras-go/v2/registry/remote/auth/cache.go
  vendor/oras.land/oras-go/v2/registry/remote/auth/client.go
  vendor/oras.land/oras-go/v2/registry/remote/auth/scope.go
  vendor/oras.land/oras-go/v2/registry/remote/credentials/internal/config/config.go
  vendor/oras.land/oras-go/v2/registry/remote/credentials/registry.go
  vendor/oras.land/oras-go/v2/registry/remote/manifest.go
  vendor/oras.land/oras-go/v2/registry/remote/referrers.go
  vendor/oras.land/oras-go/v2/registry/remote/repository.go
Due: goimports, lint

add viper for cache
  src/cmd/internal.go
  src/cmd/root.go
  src/cmd/viper.go
Due: check-docs-and-schema, goimports, lint

make docs and schema
  site/src/content/docs/commands/zarf_tools_helm.md
  site/src/content/docs/commands/zarf_tools_kubectl.md
  site/src/content/docs/commands/zarf_tools_monitor.md
  site/src/content/docs/commands/zarf_tools_registry.md
  site/src/content/docs/commands/zarf_tools_registry_catalog.md
  site/src/content/docs/commands/zarf_tools_registry_copy.md
  site/src/content/docs/commands/zarf_tools_registry_delete.md
  site/src/content/docs/commands/zarf_tools_registry_digest.md
  site/src/content/docs/commands/zarf_tools_registry_login.md
  site/src/content/docs/commands/zarf_tools_registry_logout.md
  site/src/content/docs/commands/zarf_tools_registry_ls.md
  site/src/content/docs/commands/zarf_tools_registry_manifest.md
  site/src/content/docs/commands/zarf_tools_registry_prune.md
  site/src/content/docs/commands/zarf_tools_registry_pull.md
  site/src/content/docs/commands/zarf_tools_registry_push.md
  site/src/content/docs/commands/zarf_tools_registry_version.md
  site/src/content/docs/commands/zarf_tools_sbom.md
  site/src/content/docs/commands/zarf_tools_sbom_attest.md
  site/src/content/docs/commands/zarf_tools_sbom_cataloger.md
  site/src/content/docs/commands/zarf_tools_sbom_cataloger_list.md
  site/src/content/docs/commands/zarf_tools_sbom_config.md
  site/src/content/docs/commands/zarf_tools_sbom_config_locations.md
  site/src/content/docs/commands/zarf_tools_sbom_convert.md
  site/src/content/docs/commands/zarf_tools_sbom_login.md
  site/src/content/docs/commands/zarf_tools_sbom_scan.md
  site/src/content/docs/commands/zarf_tools_sbom_version.md
  site/src/content/docs/commands/zarf_tools_yq.md
  site/src/content/docs/commands/zarf_tools_yq_completion.md
  site/src/content/docs/commands/zarf_tools_yq_eval-all.md
  site/src/content/docs/commands/zarf_tools_yq_eval.md
Due: none

feat(cmd): add viper option for cache (#5051)
  site/src/content/docs/commands/zarf_tools_helm.md
  site/src/content/docs/commands/zarf_tools_kubectl.md
  site/src/content/docs/commands/zarf_tools_monitor.md
  site/src/content/docs/commands/zarf_tools_registry.md
  site/src/content/docs/commands/zarf_tools_registry_catalog.md
  site/src/content/docs/commands/zarf_tools_registry_copy.md
  site/src/content/docs/commands/zarf_tools_registry_delete.md
  site/src/content/docs/commands/zarf_tools_registry_digest.md
  site/src/content/docs/commands/zarf_tools_registry_login.md
  site/src/content/docs/commands/zarf_tools_registry_logout.md
  site/src/content/docs/commands/zarf_tools_registry_ls.md
  site/src/content/docs/commands/zarf_tools_registry_manifest.md
  site/src/content/docs/commands/zarf_tools_registry_prune.md
  site/src/content/docs/commands/zarf_tools_registry_pull.md
  site/src/content/docs/commands/zarf_tools_registry_push.md
  site/src/content/docs/commands/zarf_tools_registry_version.md
  site/src/content/docs/commands/zarf_tools_sbom.md
  site/src/content/docs/commands/zarf_tools_sbom_attest.md
  site/src/content/docs/commands/zarf_tools_sbom_cataloger.md
  site/src/content/docs/commands/zarf_tools_sbom_cataloger_list.md
  site/src/content/docs/commands/zarf_tools_sbom_config.md
  site/src/content/docs/commands/zarf_tools_sbom_config_locations.md
  site/src/content/docs/commands/zarf_tools_sbom_convert.md
  site/src/content/docs/commands/zarf_tools_sbom_login.md
  site/src/content/docs/commands/zarf_tools_sbom_scan.md
  site/src/content/docs/commands/zarf_tools_sbom_version.md
  site/src/content/docs/commands/zarf_tools_yq.md
  site/src/content/docs/commands/zarf_tools_yq_completion.md
  site/src/content/docs/commands/zarf_tools_yq_eval-all.md
  site/src/content/docs/commands/zarf_tools_yq_eval.md
  src/cmd/internal.go
  src/cmd/root.go
  src/cmd/viper.go
Due: check-docs-and-schema, goimports, lint

fix: update and change file reference
  .github/SECURITY.md
  .github/workflows/scan-nightly-cve.yml
  .goreleaser.yaml
  .grype.yaml
  .vex/zarf.cli.openvex.json
  Makefile
  hack/check-vex-orphans.sh
  site/src/content/docs/contribute/vulnerability-management.mdx
  zarf.yaml
Due: none

fix: update contributor guidance
  site/src/content/docs/contribute/vulnerability-management.mdx
Due: none

fix(mTLS): prevent negotiation when portforward with mTLS
  src/internal/agent/hooks/common.go
  src/internal/agent/hooks/common_test.go
  src/internal/agent/hooks/flux-ocirepo.go
  src/pkg/images/push.go
Due: goimports, lint

fix: explicit plainhttp where possible
  src/internal/agent/hooks/common.go
  src/pkg/images/push.go
Due: goimports, lint

fix: deterministic evaluation of plainhttp when possible
  src/internal/agent/hooks/common.go
  src/pkg/images/push.go
  src/pkg/ocischeme/ocischeme.go
  src/pkg/ocischeme/ocischeme_test.go
Due: goimports, lint

fix: filter by pods not terminating
  src/pkg/cluster/tunnel.go
  src/pkg/cluster/tunnel_test.go
Due: goimports, lint

chore: upgrade oras-go to v2.6.2
  go.mod
  go.sum
  vendor/golang.org/x/sync/semaphore/semaphore.go
  vendor/modules.txt
  vendor/oras.land/oras-go/v2/content/file/utils.go
  vendor/oras.land/oras-go/v2/content/reader.go
  vendor/oras.land/oras-go/v2/errdef/errors.go
  vendor/oras.land/oras-go/v2/registry/remote/repository.go
  vendor/oras.land/oras-go/v2/registry/remote/utils.go
Due: goimports, lint

group and fix codeql scan
  .github/dependabot.yaml
  .github/workflows/scan-codeql.yml
Due: none

remove vendor from dependabot
  .github/dependabot.yaml
Due: none

fix oci redirect
  src/internal/packager/helm/repo.go
  src/internal/packager/helm/repo_test.go
Due: goimports, lint

fix(helm): create registry client for https to oci redirect
  src/internal/packager/helm/repo.go
  src/internal/packager/helm/repo_test.go
Due: goimports, lint

chore(dependabot): remove vendor keyword from dependabot.yaml (#5066)
  .github/dependabot.yaml
Due: none

Path conditions:
  check-docs-and-schema: any of: ^src/(config|cmd)/ and \.go$
  goimports: any of: \.go$
  lint: any of: \.go$
