Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: check-merge-conflict
      - id: detect-aws-credentials
        args:
          - "--allow-missing-credentials"
      - id: detect-private-key
        exclude: "src/test/e2e/29_config_file_test.go"
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                src/internal/packager/images/testdata/.*|
                site/src/content/docs/commands/.*
            )$
      - id: fix-byte-order-marker
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
        exclude: site/src/content/docs/commands/.*
  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.4
    hooks:
      - id: fix-smartquotes
  - repo: local
    hooks:
      - id: check-docs-and-schema
        name: Check for outdated docs and Zarf schema
        entry: make test-docs-and-schema
        files: "^src/(config|cmd)/"
        types: [go]
        language: system
        pass_filenames: false
      - id: goimports
        name: goimports
        entry: golangci-lint fmt
        types: [go]
        language: golang
        pass_filenames: false
      - id: lint
        name: golangci-lint go lint
        entry: golangci-lint run
        types: [go]
        language: golang
        pass_filenames: false

fix: provide inejctor configuration options
  injector-demo.yaml
  packages/zarf-registry/chart/templates/injector-daemonset.yaml
  packages/zarf-registry/chart/values.yaml
  packages/zarf-registry/injector-nodeport.yaml
  packages/zarf-registry/values.yaml
  packages/zarf-registry/zarf.yaml
  site/src/content/docs/commands/zarf_init.md
  src/cmd/initialize.go
  src/pkg/cluster/injector.go
  src/pkg/cluster/injector_test.go
  src/pkg/packager/deploy.go
  src/pkg/packager/deploy_test.go
Due: check-docs-and-schema, goimports, lint

feat: introduce conversions between API versions (#4823)
  src/api/convert/convert.go
  src/api/convert/convert_test.go
  src/api/v1alpha1/package.go
  src/api/v1alpha1/package_test.go
  src/api/v1beta1/component.go
  src/api/v1beta1/component_config.go
  src/api/v1beta1/package.go
  src/api/v1beta1/package_test.go
  src/cmd/dev.go
  src/cmd/dev_upgrade.go
  src/cmd/dev_upgrade_test.go
  src/internal/api/types/package.go
  src/internal/api/v1alpha1/convert.go
  src/internal/api/v1alpha1/roundtrip_test.go
  src/internal/api/v1beta1/convert.go
  src/internal/api/v1beta1/roundtrip_test.go
  src/pkg/schema/zarf-v1beta1-component-schema.json
  src/pkg/schema/zarf-v1beta1-package-schema.json
  src/pkg/schema/zarf.schema.json
  src/test/testutil/fuzz.go
  zarf.schema.json
Due: check-docs-and-schema, goimports, lint

WIP
  src/api/api.go
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/assemble/assemble_test.go
  src/pkg/packager/filters/diff.go
  src/pkg/packager/filters/diff_test.go
Due: goimports, lint

WIP
  src/api/api_test.go
Due: goimports, lint

fix(dev): exclude test images in find-image functionality
  site/src/content/docs/commands/zarf_dev_find-images.md
  site/src/content/docs/ref/dev.mdx
  src/config/lang/english.go
  src/pkg/packager/find_images.go
  src/pkg/packager/find_images_test.go
  src/pkg/packager/testdata/find-images/helm-chart/chart/templates/post-install-hook.yaml
Due: check-docs-and-schema, goimports, lint

variables to values
  examples/config-file/simple-configmap.yaml
  examples/config-file/values.yaml
  examples/config-file/zarf-config.toml
  examples/config-file/zarf-config.yaml
  examples/config-file/zarf.yaml
  examples/helm-charts/package-values.yaml
  examples/helm-charts/zarf.yaml
  examples/package-flavors/pod.yaml
  examples/package-flavors/values.yaml
  examples/package-flavors/zarf.yaml
Due: none

ca
  examples/config-file/deploy-values.yaml
  examples/config-file/simple-configmap.yaml
  examples/config-file/values.yaml
Due: none

feat: support skeleton package values
  site/src/content/docs/ref/package-values.mdx
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/assemble/assemble_test.go
  src/pkg/packager/load/import.go
  src/pkg/packager/load/import_test.go
  src/pkg/packager/skeleton_values_test.go
Due: goimports, lint

package definition
  src/internal/pkgcfg/pkgcfg.go
  src/internal/pkgcfg/pkgcfg_test.go
  src/pkg/packager/layout/oci.go
  src/pkg/packager/layout/package.go
  src/pkg/zoci/fetch.go
Due: goimports, lint

fix(verify): honor configured temp dir for embedded trusted root
  src/pkg/packager/layout/package.go
Due: goimports, lint

chore: simplify
  src/pkg/packager/layout/package.go
Due: goimports, lint

fix: add version requirement
  site/src/content/docs/ref/package-values.mdx
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/assemble/assemble_test.go
  src/pkg/packager/load/import.go
Due: goimports, lint

docs: re-iterate precdence
  site/src/content/docs/ref/package-values.mdx
Due: none

feat(find-images): exclude images from Helm tests (#5128)
  site/src/content/docs/commands/zarf_dev_find-images.md
  site/src/content/docs/ref/dev.mdx
  src/config/lang/english.go
  src/pkg/packager/find_images.go
  src/pkg/packager/find_images_test.go
  src/pkg/packager/testdata/find-images/helm-chart/chart/templates/post-install-hook.yaml
Due: check-docs-and-schema, goimports, lint

fix(verify): honor configured temp dir for embedded trusted root (#5144)
  src/pkg/packager/layout/package.go
Due: goimports, lint

skip schema validation
  src/pkg/packager/load/load.go
  src/pkg/packager/load/load_test.go
Due: goimports, lint

load test
  src/pkg/packager/load/load_test.go
  src/pkg/packager/load/testdata/v1beta1-invalid-values/values.schema.json
  src/pkg/packager/load/testdata/v1beta1-invalid-values/values.yaml
  src/pkg/packager/load/testdata/v1beta1-invalid-values/zarf.yaml
Due: goimports, lint

skip required removed
  src/pkg/packager/create.go
  src/pkg/packager/load/load.go
  src/pkg/packager/publish.go
Due: goimports, lint

fix values precedence
  src/pkg/packager/load/import_v1beta1.go
  src/pkg/packager/load/import_v1beta1_test.go
  src/pkg/packager/load/testdata/import-v1beta1/nested/components/app-values.yaml
  src/pkg/packager/load/testdata/import-v1beta1/nested/components/app.yaml
  src/pkg/packager/load/testdata/import-v1beta1/nested/components/base/base.yaml
  src/pkg/packager/load/testdata/import-v1beta1/nested/components/child/child-values.yaml
  src/pkg/packager/load/testdata/import-v1beta1/nested/components/child/child.txt
  src/pkg/packager/load/testdata/import-v1beta1/nested/components/child/child.yaml
Due: goimports, lint

schema test
  src/pkg/packager/load/import_v1beta1_test.go
  src/pkg/packager/load/testdata/import-v1beta1/nested/components/app.schema.json
  src/pkg/packager/load/testdata/import-v1beta1/nested/components/app.yaml
  src/pkg/packager/load/testdata/import-v1beta1/nested/components/child/child.schema.json
  src/pkg/packager/load/testdata/import-v1beta1/nested/components/child/child.yaml
Due: goimports, lint

renames
  src/pkg/packager/load/import_v1beta1.go
  src/pkg/packager/load/import_v1beta1_merge.go
Due: goimports, lint

setvalues
  src/internal/api/v1beta1/validate.go
  src/internal/api/v1beta1/validate_test.go
Due: goimports, lint

schema check
  src/pkg/lint/schema.go
  src/pkg/packager/load/import_v1beta1.go
  src/pkg/packager/load/import_v1beta1_test.go
  src/pkg/schema/schema.go
Due: goimports, lint

new api version
  src/api/v1beta1/component.go
  src/internal/api/v1beta1/validate.go
  src/internal/api/v1beta1/validate_test.go
  src/pkg/schema/schema_test.go
  src/pkg/schema/zarf-v1beta1-component-schema.json
  src/pkg/schema/zarf-v1beta1-package-schema.json
  src/pkg/schema/zarf.schema.json
  zarf.schema.json
Due: goimports, lint

fix shasums
  hack/examples-checksums/zarf-package-component-actions-amd64.txt
Due: none

ease pkgcfg use
  src/api/api.go
  src/internal/pkgcfg/pkgcfg.go
Due: goimports, lint

simplify imports
  src/pkg/packager/load/import_v1beta1.go
  src/pkg/packager/load/import_v1beta1_test.go
Due: goimports, lint

detect api version
  src/cmd/dev_upgrade.go
  src/cmd/dev_upgrade_test.go
Due: check-docs-and-schema, goimports, lint

import and schema fixes
  src/pkg/lint/schema.go
  src/pkg/packager/load/import_v1beta1_merge.go
  src/pkg/packager/load/load.go
  src/pkg/packager/load/load_test.go
Due: goimports, lint

lintas
  src/cmd/dev.go
Due: check-docs-and-schema, goimports, lint

fix: decouple injector from seed-registry
  src/pkg/cluster/injector.go
  src/pkg/packager/deploy.go
  src/pkg/packager/deploy_test.go
Due: goimports, lint

clearer error message
  src/pkg/packager/load/import_v1beta1.go
  src/pkg/packager/load/import_v1beta1_test.go
Due: goimports, lint

move test
  src/pkg/lint/schema_test.go
  src/pkg/schema/schema_test.go
Due: goimports, lint

fix: skeleton packages included only one architecture per component
  src/internal/api/v1alpha1/validate.go
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/load/import.go
  src/pkg/packager/load/import_test.go
  src/pkg/packager/load/load.go
  src/pkg/packager/load/testdata/import/multi-arch/source/zarf.yaml
  src/pkg/packager/load/testdata/import/multi-arch/zarf.yaml
  src/pkg/packager/publish.go
Due: goimports, lint

fix: revert docs - no added value
  site/src/content/docs/ref/package-values.mdx
Due: none

fix: add docs for create with skeleton import with values
  src/pkg/packager/create_test.go
Due: goimports, lint

fix: rework the skeleton file access
  src/pkg/packager/load/import.go
Due: goimports, lint

fix: use a tempdir for the oci skeleton files
  src/cmd/dev.go
  src/pkg/packager/create.go
  src/pkg/packager/dev.go
  src/pkg/packager/find_images.go
  src/pkg/packager/inspect.go
  src/pkg/packager/lint.go
  src/pkg/packager/load/import.go
  src/pkg/packager/load/import_test.go
  src/pkg/packager/load/load.go
  src/pkg/packager/publish.go
  src/pkg/packager/skeleton_values_test.go
Due: check-docs-and-schema, goimports, lint

wip: tempdir with cleanup
  src/cmd/dev.go
  src/pkg/packager/assemble/assemble_test.go
  src/pkg/packager/create.go
  src/pkg/packager/dev.go
  src/pkg/packager/find_images.go
  src/pkg/packager/inspect.go
  src/pkg/packager/lint.go
  src/pkg/packager/load/import.go
  src/pkg/packager/load/import_test.go
  src/pkg/packager/load/load.go
  src/pkg/packager/load/load_test.go
  src/pkg/packager/publish.go
  src/pkg/packager/skeleton_values_test.go
  src/pkg/packager/values_preflight_test.go
Due: check-docs-and-schema, goimports, lint

feat: migrate to inmemory parsing during import reoslve
  src/cmd/dev.go
  src/pkg/packager/assemble/assemble.go
  src/pkg/packager/assemble/assemble_test.go
  src/pkg/packager/create.go
  src/pkg/packager/dev.go
  src/pkg/packager/find_images.go
  src/pkg/packager/inspect.go
  src/pkg/packager/lint.go
  src/pkg/packager/load/import.go
  src/pkg/packager/load/import_test.go
  src/pkg/packager/load/load.go
  src/pkg/packager/load/load_test.go
  src/pkg/packager/packager.go
  src/pkg/packager/publish.go
  src/pkg/packager/skeleton_values_test.go
  src/pkg/packager/values_preflight_test.go
  src/pkg/value/schema.go
  src/pkg/value/value.go
Due: check-docs-and-schema, goimports, lint
