Repository zarf-dev/zarf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docs-and-schema, goimports, lint

check-docs-and-schema:
  name: Check for outdated docs and Zarf schema
  entry: make test-docs-and-schema
  language: system
  pass_filenames: false

goimports:
  name: goimports
  entry: golangci-lint fmt
  language: golang
  pass_filenames: false

lint:
  name: golangci-lint go lint
  entry: golangci-lint run
  language: golang
  pass_filenames: false

better test
  src/test/e2e/48_multi_platform_image_test.go
  src/test/packages/48-multi-platform-image/zarf.yaml
Due: goimports, lint

feat(sign): align signing and verification to cosign
  site/src/content/docs/commands/zarf_package_sign.md
  site/src/content/docs/commands/zarf_package_verify.md
  src/cmd/package.go
  src/config/lang/english.go
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/layout/package_test.go
  src/pkg/packager/load.go
  src/pkg/packager/load_test.go
  src/pkg/packager/publish.go
  src/pkg/packager/publish_test.go
  src/pkg/packager/pull.go
  src/pkg/utils/cosign.go
  src/test/e2e/12_package_signing_test.go
Due: check-docs-and-schema, goimports, lint

chore(docs): update comments and language
  src/pkg/utils/cosign.go
  src/test/e2e/12_package_signing_test.go
Due: goimports, lint

better tests
  src/pkg/images/pull_test.go
Due: goimports, lint

nested index
  src/pkg/images/pull_test.go
Due: goimports, lint

unpack implementation and test
  src/pkg/images/unpack.go
  src/pkg/images/unpack_test.go
  src/test/e2e/48_multi_platform_image_test.go
Due: goimports, lint

improve unpack tests
  src/pkg/images/unpack_test.go
Due: goimports, lint

simplify unpack greatly
  src/pkg/images/unpack.go
Due: goimports, lint

fix annotation ref
  src/pkg/images/unpack.go
  src/pkg/images/unpack_test.go
  src/test/e2e/48_multi_platform_image_test.go
Due: goimports, lint

add dot
  src/pkg/images/unpack.go
Due: goimports, lint

add test
  src/pkg/packager/layout/assemble.go
  src/pkg/packager/layout/assemble_test.go
Due: goimports, lint

simplify test
  src/test/e2e/48_multi_platform_image_test.go
Due: goimports, lint

unnecessary comment
  src/pkg/zoci/pull.go
Due: goimports, lint

udpate docs and schema
  site/src/content/docs/commands/zarf_dev_lint.md
Due: none

layers from manifest children
  src/pkg/zoci/pull.go
Due: goimports, lint

fix(cosign): implement non-prompting passfunc
  src/pkg/utils/cosign.go
Due: goimports, lint

add entry check
  src/pkg/zoci/pull.go
Due: goimports, lint

use new in dev
  src/pkg/packager/dev.go
Due: goimports, lint

new with wait
  src/pkg/packager/dev.go
Due: goimports, lint

feat: add OCI support for Argo CD sources
  examples/argocd/baseline/values.yaml
  examples/argocd/oci-helm/values.yaml
  examples/argocd/oci-manifests/values.yaml
  examples/argocd/zarf.yaml
  packages/zarf-agent/chart/templates/webhook.yaml
  src/internal/agent/hooks/argocd-application.go
  src/internal/agent/hooks/argocd-application_test.go
  src/internal/agent/hooks/argocd-applicationset.go
  src/internal/agent/hooks/argocd-appproject.go
  src/internal/agent/hooks/argocd-appproject_test.go
  src/internal/agent/hooks/argocd-repository.go
  src/internal/agent/hooks/argocd-repository_test.go
  src/internal/agent/hooks/common.go
  src/internal/agent/hooks/flux-gitrepo.go
  src/internal/agent/hooks/flux-ocirepo.go
  src/test/e2e/22_git_and_gitops_test.go
  src/test/external/ext_in_cluster_test.go
  src/test/external/ext_out_cluster_test.go
Due: goimports, lint

feat: add extraObjects and repoServer to values
  examples/argocd/values/values.yaml
  examples/argocd/zarf.yaml
  src/test/e2e/22_git_and_gitops_test.go
  src/test/external/ext_in_cluster_test.go
  src/test/external/ext_out_cluster_test.go
Due: goimports, lint

feat: remove checks for operations
  src/internal/agent/hooks/argocd-application.go
  src/internal/agent/hooks/argocd-application_test.go
  src/internal/agent/hooks/argocd-applicationset.go
  src/internal/agent/hooks/argocd-appproject.go
  src/internal/agent/hooks/argocd-repository.go
Due: goimports, lint

test: add unit tests for shouldMutateURL function and improve documentation
  src/internal/agent/hooks/argocd-application.go
  src/internal/agent/hooks/argocd-application_test.go
  src/internal/agent/hooks/argocd-repository.go
Due: goimports, lint

feat: add available service check for project and repo
  src/internal/agent/hooks/argocd-application.go
  src/internal/agent/hooks/argocd-applicationset.go
  src/internal/agent/hooks/argocd-appproject.go
  src/internal/agent/hooks/argocd-appproject_test.go
  src/internal/agent/hooks/argocd-repository.go
  src/internal/agent/hooks/argocd-repository_test.go
  src/internal/agent/hooks/common.go
Due: goimports, lint

feat: update to new state handling
  src/internal/agent/hooks/argocd-application.go
  src/internal/agent/hooks/argocd-application_test.go
Due: goimports, lint

build: enable values feature for argocd example
  Makefile
Due: none

Update src/test/external/ext_out_cluster_test.go
  src/test/external/ext_out_cluster_test.go
Due: goimports, lint

Update src/test/external/ext_in_cluster_test.go
  src/test/external/ext_in_cluster_test.go
Due: goimports, lint

Update src/test/e2e/22_git_and_gitops_test.go
  src/test/e2e/22_git_and_gitops_test.go
Due: goimports, lint

ensure clean paths
  src/pkg/packager/layout/package.go
  src/pkg/packager/layout/package_test.go
Due: goimports, lint

match with schema
  src/api/v1alpha1/component.go
  src/api/v1alpha1/package.go
  src/pkg/lint/schema_test.go
  src/pkg/schema/zarf-v1alpha1-schema.json
  zarf.schema.json
Due: goimports, lint

feat(sign): support for embedded TrustedRoot
  RELEASES.md
  hack/refresh-trusted-root.sh
  src/pkg/utils/cosign.go
  src/pkg/utils/embedded_trusted_root.json
  src/pkg/utils/trustedroot.go
  src/pkg/utils/trustedroot_test.go
Due: goimports, lint

feat(sign): enable keyless signing and verification
  site/src/content/docs/commands/zarf_package_sign.md
  src/cmd/package.go
  src/config/lang/english.go
  src/pkg/packager/layout/package.go
  src/pkg/packager/layout/package_test.go
  src/pkg/utils/cosign.go
  src/pkg/utils/keyless.go
  src/pkg/utils/keyless_test.go
  src/test/e2e/12_package_signing_test.go
Due: check-docs-and-schema, goimports, lint

fix(options): deprecate duplicitive fields
  site/src/content/docs/commands/zarf_package_sign.md
  site/src/content/docs/commands/zarf_package_verify.md
  src/cmd/package.go
  src/pkg/packager/layout/package.go
  src/pkg/utils/cosign.go
  src/pkg/utils/cosign_test.go
  src/test/e2e/12_package_signing_test.go
Due: check-docs-and-schema, goimports, lint

fix(flags): review flags that can be further hidden based on utility
  site/src/content/docs/commands/zarf_package_sign.md
  site/src/content/docs/commands/zarf_package_verify.md
  src/cmd/package.go
  src/test/e2e/12_package_signing_test.go
Due: check-docs-and-schema, goimports, lint

fix(flags): trustedroot flag is not operational... yet
  site/src/content/docs/commands/zarf_package_verify.md
  src/cmd/package.go
  src/test/e2e/12_package_signing_test.go
Due: check-docs-and-schema, goimports, lint

fix(sigstore): retrieve identity/issuer from bundle
  src/pkg/utils/keyless.go
  src/pkg/utils/keyless_test.go
Due: goimports, lint

fix(cmd): explicit opt-in for cosign options/flags
  site/src/content/docs/commands/zarf_package_verify.md
  src/cmd/package.go
  src/config/lang/english.go
  src/test/e2e/12_package_signing_test.go
Due: check-docs-and-schema, goimports, lint

feat(sign): implement keyless signing options explicitly
  site/src/content/docs/commands/zarf_package_sign.md
  site/src/content/docs/commands/zarf_package_verify.md
  src/cmd/package.go
  src/config/lang/english.go
  src/pkg/feature/feature.go
  src/pkg/packager/layout/package.go
Due: check-docs-and-schema, goimports, lint

Path conditions:
  check-docs-and-schema: any of: ^src/(config|cmd)/ and \.go$
  goimports: any of: \.go$
  lint: any of: \.go$
